Source: univention-postgrey
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>> 7),
  univention-config-dev,
  ucslint-univention
Standards-Version: 3.8.2

Package: univention-postgrey
Architecture: all
Depends: ${misc:Depends},
 univention-base-files,
 postgrey
Description: UCS Postfix gray-listing configuration
 This packages adds specific configuration, espcially client whitelist
 definitions, to the package postgrey.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
