/**
 * $Horde: ingo/themes/screen.css,v 1.1.2.2 2007-12-20 14:06:13 jan Exp $
 */

/* Menu bottom margin, added for BC. */
#menu {
    margin-bottom: 8px;
}

/* Added for BC. */
.hidden {
    display: none;
}
