Source: univention-mozilla-firefox
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.8.2
Build-Depends: debhelper,
 univention-config-dev,
 ucslint-univention

Package: univention-mozilla-firefox
Architecture: all
Depends: ${misc:Depends},
 univention-config,
 firefox-esr
Description: UCS - Mozilla Firefox support
 This package contains the univention-config configuration
 manager, primarily used by the UCS base configuration.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
