Source: shim
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7.0), gnu-efi (>= 3.0q), sbsigntool, libnss3-tools, quilt, openssl
Standards-Version: 3.7.3

Package: shim
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, gnu-efi
Description: boot loader to chain-load signed boot loaders under Secure Boot
 This package provides a minimalist boot loader which allows verifying
 signatures of other UEFI binaries against either the Secure Boot DB/DBX or
 against a built-in signature database.  Its purpose is to allow a small,
 infrequently-changing binary to be signed by the UEFI CA, while allowing
 an OS distributor to revision their main bootloader independently of the CA.
