Source: univention-server
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper,
 univention-config-dev,
 ucslint-univention
Standards-Version: 3.5.2

Package: univention-server-master
Architecture: all
Pre-Depends: univention-ssl,
 shell-univention-lib (>= 3.0.1-1),
 python-univention-lib (>= 3.0.1-1),
Recommends: univention-nagios-client,
 openssh-server,
 python-univention-license,
 univention-saml,
 univention-server-overview,
Depends: ${misc:Depends},
 univention-role-server-common (= ${source:Version}) | univention-container-role-server-common (= ${source:Version}),
 univention-ldap-acl-master,
 univention-ldap-server,
 univention-heimdal-kdc,
 univention-directory-notifier,
 nscd,
 univention-license-import,
 univention-bind,
 univention-management-console-module-udm,
 univention-directory-manager-rest,
 univention-management-console-module-ipchange,
 univention-management-console,
Description: UCS - master domain controller
 This package installs a UCS master domain controller.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-server-backup
Architecture: all
Recommends: univention-nagios-client,
 univention-bind,
 openssh-server,
 python-univention-license,
 univention-saml,
 univention-server-overview,
Pre-Depends: univention-config (>= 7.0.25)
Depends: ${misc:Depends},
 univention-role-server-common (= ${source:Version}) | univention-container-role-server-common (= ${source:Version}),
 univention-ssl,
 univention-ldap-acl-master,
 univention-ldap-server,
 univention-directory-replication,
 univention-heimdal-kdc,
 univention-directory-notifier,
 nscd,
 univention-license-import,
 univention-management-console-module-udm,
 univention-directory-manager-rest,
 univention-management-console-module-ipchange,
 univention-management-console,
 shell-univention-lib (>= 3.0.1-1),
 python-univention-lib (>= 3.0.1-1),
Description: UCS - backup domain controller
 This package installs a UCS backup domain controller.
 Unlike slave domain controllers, backup domain controllers
 can be promoted to master domain controllers.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-server-slave
Architecture: all
Recommends: univention-management-console,
 univention-bind,
 openssh-server,
 univention-nagios-client
Depends: ${misc:Depends},
 univention-role-server-common (= ${source:Version}) | univention-container-role-server-common (= ${source:Version}),
 univention-ldap-acl-slave,
 univention-ldap-server,
 univention-heimdal-kdc,
 nscd,
 univention-directory-replication,
 shell-univention-lib (>= 3.0.1-1),
 python-univention-lib (>= 3.0.1-1)
Description: UCS - slave domain controller
 This package installs a UCS slave domain controller.
 Unlike backup domain controllers, slave domain controllers
 cannot be promoted to master domain controllers.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-server-member
Architecture: all
Recommends: univention-management-console,
 openssh-server,
 univention-nagios-client
Depends: ${misc:Depends},
 univention-role-server-common (= ${source:Version}) | univention-container-role-server-common (= ${source:Version}),
 univention-heimdal-member,
 shell-univention-lib (>= 3.0.1-1),
 python-univention-lib (>= 3.0.1-1)
Description: UCS - member server
 This package installs a UCS member server.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-role-server-common
Architecture: all
Depends: ${misc:Depends},
 univention-role-common (= ${source:Version}),
 univention-maintenance,
 univention-directory-listener,
 univention-ldap-client,
 univention-home-mounter,
 univention-quota,
 univention-directory-manager-tools,
 univention-ifplugd | univention-network-manager,
 univention-mail-postfix | mail-transport-agent,
 univention-nfs-server,
 ntp | ntp-server,
 rdate,
 ntpdate,
 python-dns,
Recommends: univention-portal
Conflicts: univention-container-role-server-common (>= 12.0.0-10)
Description: UCS system server role common dependencies and files
 This package contains common files used by all server system roles.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-container-role-server-common
Architecture: all
Depends: ${misc:Depends},
 univention-container-role-common (= ${source:Version}),
 univention-directory-listener,
 univention-ldap-client,
 univention-directory-manager-tools,
 univention-ifplugd | univention-network-manager,
 univention-mail-postfix | mail-transport-agent,
Conflicts: univention-role-server-common (>= 12.0.0-10)
Description: UCS system server role common dependencies and files
 This package contains common files used by all server system roles.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-role-common
Architecture: all
Depends: ${misc:Depends},
 univention-config,
 univention-join,
 univention-updater,
 univention-archive-key,
 univention-grub,
 univention-appcenter,
 univention-policy-tools,
 univention-admin-diary-client,
 univention-system-setup,
 univention-firewall,
 univention-pkgdb-tools,
 shell-univention-lib (>= 1.0.25-1),
 python-univention-lib (>= 1.0.25-1)
Recommends: vim,
 emacs24,
 less,
 elinks,
 wget,
 nmap,
 zip,
 man-db,
 unzip,
 eject,
 locate,
 univention-network-common,
Description: UCS system role common dependencies and files
 This package contains common files used by all system roles.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-container-role-common
Architecture: all
Depends: ${misc:Depends},
 univention-config,
 univention-join,
 univention-updater,
 univention-archive-key,
 univention-policy-tools,
 univention-appcenter,
 univention-admin-diary-client,
 univention-docker-container-mode,
 shell-univention-lib (>= 1.0.25-1),
 python-univention-lib (>= 1.0.25-1)
Description: UCS system role common dependencies and files
 This package contains common files used by all system roles
 which will be installed in a container, for example docker.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-basesystem
Architecture: all
Recommends: openssh-server
Depends: ${misc:Depends},
 univention-updater,
 univention-grub,
 univention-archive-key,
 univention-firewall,
 univention-ifplugd | univention-network-manager,
 rdate,
 ntpdate,
Description: UCS - Basesystem
 This is a Meta-package, that sets up a UCS Basesystem
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
