Source: univention-server
Section: univention
Priority: standard
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper,
 univention-config-dev,
 ucslint
Standards-Version: 3.5.2

Package: univention-server-master
Architecture: all
Pre-Depends: univention-ssl
Recommends: univention-nagios-client,
 openssh-server,
 python-univention-license
Depends: ${misc:Depends},
 univention-config-registry,
 univention-join,
 univention-ldap-server,
 univention-maintenance,
 univention-showload,
 univention-heimdal-kdc,
 univention-directory-notifier,
 univention-directory-listener,
 univention-updater,
 nscd,
 univention-policy-tools,
 univention-ldap-client,
 univention-ldap-acl-master,
 ntp | ntp-server,
 univention-home-mounter,
 univention-nfs-server,
 univention-license-import,
 univention-mail-postfix| mail-transport-agent,
 univention-quota,
 univention-pkgdb-tools,
 univention-directory-manager-tools,
 univention-system-setup,
 univention-bind,
 univention-firewall,
 univention-grub,
 univention-archive-key,
 univention-ifplugd | univention-network-manager,
 univention-management-console-module-udm,
 univention-management-console-module-ipchange,
 univention-management-console,
 shell-univention-lib (>= 1.0.25-1),
 python-univention-lib (>= 1.0.25-1)
Conflicts: exim
Description: UCS - master domain controller
 This package installs a UCS master domain controller.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-server-backup
Architecture: all
Recommends: univention-nagios-client,
 univention-bind,
 openssh-server,
 python-univention-license
Pre-Depends: univention-config (>= 7.0.25)
Depends: ${misc:Depends},
 univention-config-registry,
 univention-join,
 univention-ssl,
 univention-ldap-server,
 univention-directory-replication,
 univention-maintenance,
 univention-showload,
 univention-heimdal-kdc,
 univention-directory-notifier,
 univention-directory-listener,
 univention-updater,
 nscd,
 univention-policy-tools,
 univention-ldap-client,
 univention-ldap-acl-master,
 ntp | ntp-server,
 univention-home-mounter,
 univention-nfs-server,
 univention-license-import,
 univention-mail-postfix | mail-transport-agent,
 univention-quota,
 univention-pkgdb-tools,
 univention-directory-manager-tools,
 univention-system-setup,
 univention-firewall,
 univention-grub,
 univention-archive-key,
 univention-ifplugd | univention-network-manager,
 univention-management-console-module-udm,
 univention-management-console-module-ipchange,
 univention-management-console,
 shell-univention-lib (>= 1.0.25-1),
 python-univention-lib (>= 1.0.25-1)
Conflicts: exim
Description: UCS - backup domain controller
 This package installs a UCS backup domain controller.
 Unlike slave domain controllers, backup domain controllers
 can be promoted to master domain controllers.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-server-slave
Architecture: all
Recommends: univention-management-console,
 univention-bind,
 openssh-server,
 univention-nagios-client
Depends: ${misc:Depends},
 univention-config-registry,
 univention-join,
 univention-ldap-server,
 univention-maintenance,,
 univention-showload,
 univention-heimdal-kdc,
 univention-directory-listener,
 univention-updater,
 nscd,
 univention-policy-tools,
 univention-directory-replication,
 univention-ldap-client,
 univention-ldap-acl-slave,
 univention-home-mounter,
 univention-nfs-server,
 ntp | ntp-server,
 univention-mail-postfix | mail-transport-agent,
 univention-quota,
 univention-pkgdb-tools,
 univention-directory-manager-tools,
 univention-system-setup,
 univention-firewall,
 univention-grub,
 univention-archive-key,
 univention-ifplugd | univention-network-manager,
 shell-univention-lib (>= 1.0.25-1),
 python-univention-lib (>= 1.0.25-1)
Conflicts: exim
Description: UCS - slave domain controller
 This package installs a UCS slave domain controller.
 Unlike backup domain controllers, slave domain controllers
 cannot be promoted to master domain controllers.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-server-member
Architecture: all
Recommends: univention-management-console,
 openssh-server,
 univention-nagios-client
Depends: ${misc:Depends},
 univention-config-registry,
 univention-join,
 univention-showload,
 univention-maintenance,
 univention-heimdal-member,
 univention-directory-listener,
 univention-updater,
 univention-policy-tools,
 univention-policy-tools,
 univention-ldap-client,
 univention-home-mounter,
 univention-nfs-server,
 univention-mail-postfix | mail-transport-agent,
 univention-quota,
 univention-pkgdb-tools,
 univention-directory-manager-tools,
 univention-system-setup,
 univention-firewall,
 univention-grub,
 univention-archive-key,
 univention-ifplugd | univention-network-manager,
 shell-univention-lib (>= 1.0.25-1),
 python-univention-lib (>= 1.0.25-1)
Conflicts: exim
Description: UCS - member server
 This package installs a UCS member server.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-mobile-client
Architecture: all
Conflicts: univention-application-server
Recommends: univention-management-console,
 openssh-server,
 univention-nagios-client
Depends: ${misc:Depends},
 univention-policy-tools,
 univention-updater,
 ldap-utils,
 univention-x-core,
 univention-join,
 libnss-passwdcache,
 libpam-passwdcache,
 menu,
 univention-directory-listener,
 univention-heimdal-member,
 univention-ldap-client,
 nscd,
 vim,
 bind9-host,
 strace,
 anacron,
 univention-ifplugd | univention-network-manager,
 univention-mail-postfix | mail-transport-agent,
 nfs-common,
 univention-directory-policy,
 univention-printclient,
 univention-pkgdb-tools,
 univention-gdm-sessions,
 univention-directory-manager-tools,
 univention-firewall,
 univention-grub,
 univention-system-setup,
 hibernate,
 acpid,
 univention-archive-key,
 shell-univention-lib (>= 1.0.25-1),
 python-univention-lib (>= 1.0.25-1)
Description: UCS - Mobile Client
 This is a Meta-package, that sets up a UCS mobile client
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-managed-client
Architecture: all
Conflicts: univention-application-server,
 univention-fat-client,
 univention-fat-client-small
Replaces: univention-fat-client,
 univention-fat-client-small
Provides: univention-fat-client,
 univention-fat-client-small
Recommends: univention-management-console,
 openssh-server,
 univention-nagios-client
Depends: ${misc:Depends},
 univention-policy-tools,
 univention-updater,
 ldap-utils,
 univention-x-core,
 univention-join,
 libnss-passwdcache,
 libpam-passwdcache,
 menu,
 univention-directory-listener,
 univention-heimdal-member,
 univention-ldap-client,
 nscd,
 vim,
 bind9-host,
 strace,
 anacron,
 univention-ifplugd | univention-network-manager,
 univention-mail-postfix | mail-transport-agent,
 nfs-common,
 univention-directory-policy,
 univention-printclient,
 univention-pkgdb-tools,
 univention-gdm-sessions,
 univention-directory-manager-tools,
 univention-firewall,
 univention-grub,
 univention-system-setup,
 acpid,
 univention-archive-key,
 shell-univention-lib (>= 1.0.25-1),
 python-univention-lib (>= 1.0.25-1)
Description: UCS - Managed Client
 This is a Meta-package, that sets up a UCS managed client
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-basesystem
Architecture: all
Recommends: openssh-server
Depends: ${misc:Depends},
 univention-updater,
 univention-grub,
 univention-archive-key,
 univention-firewall,
 univention-ifplugd | univention-network-manager
Description: UCS - Basesytem
 This is a Meta-package, that sets up a UCS Basesystem
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
