Source: univention-directory-manager-modules
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.5.5
Build-Depends: debhelper (>> 7),
 ucslint,
 python2.6-dev,
 python-support,
 univention-config-dev

Package: python-univention-directory-manager
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 python-univention (>> 6.0.21),
 python-univention-heimdal (>= 4.0.1-1),
 makepasswd,
 python-m2crypto,
 python-smbpasswd,
 shell-univention-lib,
 python-univention-directory-manager-cli (= ${binary:Version})
Provides: ${python:Provides}
Replaces: python-univention-lib (<< 1.0.15-1)
Description: UCS - Modules for administration tools
 This package contains the Python modules that implement the
 features of UCS Directory Manager.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: python-univention-directory-manager-cli
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 shell-univention-lib,
 python-univention (>> 5.0.5),
 python-univention-lib (>= 1.0.25-1)
Provides: ${python:Provides}
Description: UCS - Modules for administration tools
 This package contains the Python modules for the command line client that
 implement the features of UCS Directory Manager.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-directory-manager-tools
Architecture: all
Depends: ${misc:Depends},
 python-univention-directory-manager (= ${binary:Version})
Description: UCS - Command-line based administration tools
 This package contains command-line based programs to
 manage UCS.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
