Source: univention-directory-manager-modules
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.5.5
Build-Depends: debhelper,
 ucslint-univention,
 python2.7-dev,
 python-all,
 python3-all,
 dh-python,
 univention-config-dev

Package: python-univention-directory-manager
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 python (>= 2.7),
 python-pyasn1-modules,
 python-univention (>= 12.0.0-12),
 python-univention-heimdal (>= 4.0.1-1),
 univention-admin-diary-client (>= 1.0.0-29),
 makepasswd,
 python-m2crypto,
 python-smbpasswd,
 shell-univention-lib,
 python-imaging,
 python-univention-lib (>= 8.0.0-6),
 python-univention-license,
 python-univention-directory-manager-cli (= ${binary:Version}),
 iso-codes,
 python-ipaddr,
 python-lazy-object-proxy,
 python-dateutil,
 python-six,
 python-support,
Provides: ${python:Provides}
Breaks: python-univention-directory-manager-rest (<< 9.0.16-5)
Replaces:
 python-univention-directory-manager-rest (<< 9.0.16-5),
 python-univention-lib (<< 1.0.15-1),
Description: UCS - Modules for administration tools
 This package contains the Python modules that implement the
 features of UCS Directory Manager.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: python-univention-directory-manager-cli
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 shell-univention-lib,
 python-univention (>> 5.0.5),
 python-univention-lib (>= 7.0.0-14)
Provides: ${python:Provides}
Description: UCS - Modules for administration tools
 This package contains the Python modules for the command line client that
 implement the features of UCS Directory Manager.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: python3-univention-directory-manager
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
 python3,
 python3-pyasn1-modules,
 python3-univention (>= 10.0.4-2),
 python3-univention-heimdal (>= 4.0.1-1),
 univention-admin-diary-client (>= 1.0.0-29),
 makepasswd,
 python3-m2crypto,
 python3-smbpasswd,
 shell-univention-lib,
 python3-pil,
 python3-univention-lib (>= 7.0.0-14),
 python3-univention-license,
 python3-univention-directory-manager-cli (= ${binary:Version}),
 iso-codes,
 python3-ipaddr,
 python3-lazy-object-proxy,
 python3-dateutil,
 python3-six,
Provides: ${python3:Provides}
Description: UCS - Modules for administration tools
 This package contains the Python 3 modules that implement the
 features of UCS Directory Manager.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: python3-univention-directory-manager-cli
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
 shell-univention-lib,
 python3-univention,
 python3-univention-lib
Provides: ${python3:Provides}
Description: UCS - Modules for administration tools
 This package contains the Python 3 modules for the command line client that
 implement the features of UCS Directory Manager.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-directory-manager-tools
Architecture: all
Depends: ${misc:Depends},
 python-univention-directory-manager (= ${binary:Version})
Description: UCS - Command-line based administration tools
 This package contains command-line based programs to
 manage UCS.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
