.umc .umcGrid .dgrid .dgrid-cell.field-cpuUsage .dijitProgressBar,
.umc .umcGrid .dgrid .dgrid-cell.field-memUsed .dijitProgressBar {
	display: block;
	line-height: 20px;
	font-size: 12px;
}

.umc .umcGrid .dgrid .dgrid-cell.field-cpuUsage .dijitProgressBarLabel,
.umc .umcGrid .dgrid .dgrid-cell.field-memUsed .dijitProgressBarLabel {
	display: block;
}

.umc .umcGrid .dgrid .dgrid-cell.field-vnc {
	text-overflow: clip;
}

.umc .umcGrid .dgrid .dgrid-header .field-start,
.umc .umcGrid .dgrid .dgrid-header .field-vnc {
	text-align: center;
}

.umc .umcGrid .dgrid .dgrid-cell.field-start .dijitButtonText,
.umc .umcGrid .dgrid .dgrid-cell.field-vnc .dijitButtonText {
	padding: 0px;
}

.tree-description {
	text-overflow: ellipsis;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	/* expando tree icon: 24px + 32 px
	*  node icon: 16 px + 5 px
	*  cpu | mem: ca 100 px
	*/
	max-width: calc( 100% - 24px - 32px - 16px - 5px - 90px);
	line-height: 32px;
	vertical-align: middle;
}

.node-ressources {
	display: inline-block;
	float: right;
	padding-right: 5px;
	line-height: 32px;
	vertical-align: middle;
}

.uvmm-tree-icon {
	line-height: 32px;
	vertical-align: middle;
}
