Source: univention-xnumlock
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper, univention-config-dev
Standards-Version: 3.5.2

Package: univention-xnumlock
Architecture: any
Depends: ${shlibs:Depends}, gdm, numlockx
Description: UCS - active numlock on login
 This package enables 'numlock' on login.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
