Source: univention-app-appliance
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.8.2
Build-Depends: debhelper (>= 7.0.50~),
 ucslint-univention,
 univention-config-dev,
 stylus,
 python-all,
 python-support,
 univention-ucs-translation-template,
 univention-management-console-dev

Package: python-univention-app-appliance
Architecture: all
Depends: ${python:Depends}
Provides: ${python:Provides}
Description: UCS - python modules for app appliance configuration
 This package provides the python modules for setting up UCS App Appliances.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: python3-univention-app-appliance
Architecture: all
Depends: ${python3:Depends}
Provides: ${python3:Provides}
Description: UCS - python 3 modules for app appliance configuration
 This package provides the python modules for setting up UCS App Appliances.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-app-appliance
Architecture: all
Description: UCS - app appliance configuration
 This package provides UCS App Appliances with configuration and branding.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
Pre-Depends: python-univention-app-appliance (= ${binary:Version})
Depends: ${misc:Depends},
 univention-welcome-screen,
 python-requests,
 phantomjs
