[Desktop Entry]
Type=Link
URL=trash:/
Encoding=UTF-8
Icon=trashcan_full
EmptyIcon=trashcan_empty
Name=Trash
Name[af]=Gemors
Name[ar]=سلة النفايات
Name[az]=Zibil
Name[be]=Сметніца
Name[bg]=Кошче
Name[bn]=আবর্জনা
Name[br]=Pod-lastez
Name[bs]=Smeće
Name[ca]=Paperera
Name[cs]=Koš
Name[csb]=Kòsz
Name[cy]=Sbwriel
Name[da]=Affald
Name[de]=Mülleimer
Name[el]=Κάδος απορριμμάτων
Name[en_GB]=Wastebin
Name[eo]=Rubujo
Name[es]=Papelera
Name[et]=Prügikast
Name[eu]=Zaborra
Name[fa]=زباله
Name[fi]=Roskakori
Name[fr]=Corbeille
Name[fy]=Jiskefet
Name[ga]=Bruscar
Name[gl]=Lixo
Name[he]=אשפה
Name[hi]=रद्दी
Name[hr]=Otpad
Name[hsb]=Papjernik
Name[hu]=Szemétkosár
Name[is]=Rusl
Name[it]=Cestino
Name[ja]=ごみ箱
Name[kk]=Өшірілгендер
Name[km]=ធុងសំរាម
Name[ko]=쓰레기통
Name[lo]=ຖັງຂີ້ເຫຍື່ອ
Name[lt]=Šiukšliadėžė
Name[lv]=Miskaste
Name[mk]=Корпа
Name[mn]=Хогийн сав
Name[ms]=Sampah
Name[mt]=Skart
Name[nb]=Papirkurv
Name[nds]=Affalltünn
Name[ne]=रद्दीटोकरी
Name[nl]=Prullenbak
Name[nn]=Papirkorg
Name[nso]=Seswaraditlakala
Name[pa]=ਰੱਦੀ
Name[pl]=Kosz
Name[pt]=Lixo
Name[pt_BR]=Lixo
Name[ro]=Gunoi
Name[ru]=Корзина
Name[se]=Ruskalihtti
Name[sk]=Kôš
Name[sl]=Smeti
Name[sr]=Смеће
Name[sr@Latn]=Smeće
Name[sv]=Skräp
Name[ta]=குப்பை
Name[te]=చెత్త బుట్ట
Name[tg]=Ахлотдон
Name[th]=ถังขยะ
Name[tr]=Çöp
Name[tt]=Çüplek
Name[uk]=Смітник
Name[uz]=Чиқиндилар қутиси
Name[ven]=Tshikha
Name[vi]=Thùng rác
Name[wa]=Batch
Name[xh]=Inkukumo
Name[zh_CN]=回收站
Name[zh_TW]=資源回收桶
Name[zu]=Izibi
Comment=Contains removed files
Comment[af]=Bevat verwyder lêers
Comment[ar]=تحتوي على الملفات المحذوفة
Comment[az]=Silinmiş faylları daxil edir
Comment[be]=Утрымлівае выдаленыя файлы
Comment[bg]=Изтрити файлове
Comment[bn]=মুছে ফেলা ফাইল থাকে
Comment[bs]=Sadrži izbrisane datoteke
Comment[ca]=Conté els fitxers esborrats
Comment[cs]=Obsahuje odstraněné soubory
Comment[csb]=Zamëkô w se remniãté lopczi
Comment[cy]=Yn cynnwys ffeiliau sydd wedi eu gwaredu
Comment[da]=Indeholder fjernede filer
Comment[de]=Enthält gelöschte Dateien
Comment[el]=Περιέχει σβησμένα αρχεία
Comment[eo]=Enhavas forigitajn dosierojn
Comment[es]=Contiene archivos borrados
Comment[et]=Sisaldab eemaldatud faile
Comment[eu]=Kendutako fitxategiak dauzka
Comment[fa]=شامل پرونده‌های حذف‌شده
Comment[fi]=Sisältää poistettuja tiedostoja
Comment[fr]=Contient les fichiers supprimés
Comment[fy]=Befettet fuortsmieten triemmen
Comment[gl]=Contén ficheiros borrados
Comment[he]=מכילה קבצים שהוסרו
Comment[hi]=मिटाई गई फ़ाइलों को रखता है
Comment[hr]=Sadrži izbrisane datoteke
Comment[hu]=Itt találhatók a törölt fájlok
Comment[is]=Inniheldur fjarlægðar skrár
Comment[it]=Contiene i file cestinati
Comment[ja]=削除されたファイルを保持しています
Comment[kk]=Өшірілген файлдар үшін
Comment[km]=ផ្ទុក​ឯកសារ​ដែល​បាន​យកចេញ
Comment[ko]=지워진 파일을 담고 있습니다
Comment[lo]=ທີ່ສຳລັບເກັບແຟ້ມຂອງເຈົ້າທີ່ຕ້ອງການລືບ
Comment[lt]=Čia yra ištrintos bylos
Comment[lv]=Satur aizvāktos failus
Comment[mk]=Содржи отстранети датотеки
Comment[mn]=Усгагдсан файлууд агуулагдана
Comment[ms]=Mengandungi fail yang dibuang
Comment[mt]=Fih fajls mormija
Comment[nb]=Inneholder slettede filer
Comment[nds]=Dor sünd wegdaan Dateien binnen
Comment[ne]=हटाएका फाइल समावेश गर्छ
Comment[nl]=Bevat de verwijderde bestanden
Comment[nn]=Inneheld sletta filer
Comment[nso]=Ena le difaele tseo di tlositswego
Comment[pa]=ਹਟਾਈਆਂ ਫਾਇਲ਼ਾਂ ਰੱਖਦਾ ਹੈ
Comment[pl]=Zawiera usunięte pliki
Comment[pt]=Contém os ficheiros apagados
Comment[pt_BR]=Contém arquivos removidos
Comment[ro]=Conţine fişiere şterse
Comment[ru]=Содержит удалённые файлы
Comment[se]=Dáppe leat bálkestuvvon fiillat
Comment[sk]=Obsahuje  mazané súbory
Comment[sl]=Vsebuje odstranjene datoteke
Comment[sr]=Садржи уклоњене фајлове
Comment[sr@Latn]=Sadrži uklonjene fajlove
Comment[sv]=Innehåller borttagna filer
Comment[ta]=நீக்கப்பட்ட கோப்புகள் உள்ளது
Comment[tg]=Файлҳои нобудшуда дорад
Comment[th]=ที่สำหรับเก็บแฟ้มที่คุณต้องการลบ
Comment[tr]=Silinmiş dosyaları içerir
Comment[tt]=Beterelgän biremnär yatu urını
Comment[uk]=Містить вилучені файли
Comment[uz]=Олиб ташланган файллардан иборат
Comment[ven]=Ina faela dzo bviswaho
Comment[vi]=Chứa tập tin đã vứt
Comment[xh]=Iqulathe iifayile ezisusiweyo
Comment[zh_CN]=保存临时删除的文件
Comment[zh_TW]=包含刪除的檔案
Comment[zu]=Iqukethe amafayela agudluziwe
OnlyShowIn=KDE
