Source: univention-client-basesystem
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>> 3.0.0), debootstrap, univention-debootstrap
Standards-Version: 3.5.2

Package: univention-client-basesystem
Architecture: all
Depends: nfs-kernel-server, fontconfig
Conflicts: univention-client-login, univention-client-pam, univention-client-pam-heimdal, univention-client-devices
Description: UCS - thin client base system
 This package contains the root filesystem for Univention
 Thin Clients.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
