
.umc .dijitSliderBar {
  border-style: solid;
  outline: 1px;
}
.umc .dijitSliderFocused .dijitSliderBar {
  border-color: #769dc0;
}
.umc .dijitSliderHover .dijitSliderBar {
  border-color: #769dc0;
}
.umc .dijitSliderDisabled .dijitSliderBar {
  background-image: none;
  border-color: #d3d3d3;
}
.umc .dijitRuleLabelsContainerH {
  padding: 2px 0;
}
.umc .dijitSlider .dijitSliderProgressBarH, .umc .dijitSlider .dijitSliderLeftBumper {
  background-image: url("images/sliderHorizontal.png");
  background-repeat: repeat-x;
  background-position: 0 -20px;
  border-color: #b5bcc7;
  background-color: #cfe5fa;
}
.umc .dijitSlider .dijitSliderRemainingBarH, .umc .dijitSlider .dijitSliderRightBumper {
  background-image: url("images/sliderHorizontal.png");
  background-repeat: repeat-x;
  background-position: 0 -11px;
  border-color: #b5bcc7;
  background-color: #ffffff;
}
.umc .dijitSliderRightBumper {
  border-right: solid 1px #b5bcc7;
}
.umc .dijitSliderLeftBumper {
  border-left: solid 1px #b5bcc7;
}
.umc .dijitSliderHover .dijitSliderProgressBarH, .umc .dijitSliderHover .dijitSliderLeftBumper {
  background-position: 0 -20px;
  background-color: #abd6ff;
  border-color: #769dc0;
}
.umc .dijitSliderHover .dijitSliderRemainingBarH, .umc .dijitSliderHover .dijitSliderRightBumper {
  background-position: 0 0;
  background-color: #ffffff;
  border-color: #769dc0;
}
.umc .dijitSliderFocused .dijitSliderProgressBarH, .umc .dijitSliderFocused .dijitSliderLeftBumper {
  background-position: 0 -30px;
  background-color: #abd6ff;
  border-color: #769dc0;
}
.umc .dijitSliderFocused .dijitSliderRemainingBarH, .umc .dijitSliderFocused .dijitSliderRightBumper {
  background-position: 0 -9px;
  background-color: #ffffff;
  border-color: #769dc0;
}
.umc .dijitSliderDisabled .dijitSliderProgressBarH, .umc .dijitSliderDisabled .dijitSliderLeftBumper {
  background-color: #d3d3d3;
  
  background-image: none;
}
.umc .dijitSliderDisabled .dijitSliderRemainingBarH, .umc .dijitSliderDisabled .dijitSliderRightBumper {
  background-color: #efefef;
}
.umc .dijitRuleLabelsContainerV {
  padding: 0 2px;
}
.umc .dijitSlider .dijitSliderProgressBarV, .umc .dijitSlider .dijitSliderBottomBumper {
  background-image: url("images/sliderVertical.png");
  background-repeat: repeat-y;
  background-position: -36px 0;
  border-color: #b5bcc7;
  background-color: #cfe5fa;
}
.umc .dijitSlider .dijitSliderRemainingBarV, .umc .dijitSlider .dijitSliderTopBumper {
  background-image: url("images/sliderVertical.png");
  background-repeat: repeat-y;
  background-position: -3px 0;
  border-color: #b5bcc7;
  background-color: #ffffff;
}
.umc .dijitSliderBottomBumper {
  border-bottom: solid 1px #b5bcc7;
}
.umc .dijitSliderTopBumper {
  border-top: solid 1px #b5bcc7;
}
.umc .dijitSliderHover .dijitSliderProgressBarV, .umc .dijitSliderHover .dijitSliderBottomBumper {
  background-position: -36px 0;
  background-color: #abd6ff;
}
.umc .dijitSliderHover .dijitSliderRemainingBarV, .umc .dijitSliderHover .dijitSliderTopBumper {
  background-position: 0 0;
  background-color: #ffffff;
}
.umc .dijitSliderFocused .dijitSliderProgressBarV, .umc .dijitSliderFocused .dijitSliderBottomBumper {
  background-position: -56px 0;
  background-color: #abd6ff;
}
.umc .dijitSliderFocused .dijitSliderRemainingBarV, .umc .dijitSliderFocused .dijitSliderTopBumper {
  background-position: -18px 0;
  background-color: #ffffff;
}
.umc .dijitSliderDisabled .dijitSliderProgressBarV, .umc .dijitSliderDisabled .dijitSliderBottomBumper {
  background-color: #d3d3d3;
  
}
.umc .dijitSliderDisabled .dijitSliderRemainingBarV, .umc .dijitSliderDisabled .dijitSliderTopBumper {
  background-color: #efefef;
}
.umc .dijitSliderImageHandleH {
  border: 0;
  width: 18px;
  height: 16px;
  background-image: url("images/sliderThumbs.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.umc .dijitSliderHover .dijitSliderImageHandleH {
  background-position: -18px 0;
}
.umc .dijitSliderFocused .dijitSliderImageHandleH {
  background-position: -36px 0;
}
.umc .dijitSliderProgressBarH .dijitSliderThumbHover {
  background-position: -36px 0;
}
.umc .dijitSliderProgressBarH .dijitSliderThumbActive {
  background-position: -36px 0;
}
.umc .dijitSliderReadOnly .dijitSliderImageHandleH, .umc .dijitSliderDisabled .dijitSliderImageHandleH {
  background-position: -54px 0;
}
.umc .dijitSliderImageHandleV {
  border: 0;
  width: 18px;
  height: 16px;
  background-image: url("images/sliderThumbs.png");
  background-repeat: no-repeat;
  background-position: -289px 0;
}
.umc .dijitSliderHover .dijitSliderImageHandleV {
  background-position: -307px 0;
}
.umc .dijitSliderFocused .dijitSliderImageHandleV {
  background-position: -325px 0;
}
.umc .dijitSliderProgressBarV .dijitSliderThumbHover {
  background-position: -325px 0;
}
.umc .dijitSliderProgressBarV .dijitSliderThumbActive {
  background-position: -325px 0;
}
.umc .dijitSliderReadOnly .dijitSliderImageHandleV, .umc .dijitSliderDisabled .dijitSliderImageHandleV {
  background-position: -343px 0;
}
.umc .dijitSliderButtonContainerH {
  padding: 1px 3px 1px 2px;
}
.umc .dijitSliderButtonContainerV {
  padding: 3px 1px 2px 1px;
}
.umc .dijitSliderDecrementIconH,
.umc .dijitSliderIncrementIconH,
.umc .dijitSliderDecrementIconV,
.umc .dijitSliderIncrementIconV {
  background-image: url('images/commonFormArrows.png');
  background-repeat: no-repeat;
  background-color: #efefef;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: solid 1px #b5bcc7;
  font-size: 1px;
}
.umc .dijitSliderDecrementIconH, .umc .dijitSliderIncrementIconH {
  height: 12px;
  width: 9px;
}
.umc .dijitSliderDecrementIconV, .umc .dijitSliderIncrementIconV {
  height: 9px;
  width: 12px;
}
.umc .dijitSliderActive .dijitSliderDecrementIconH,
.umc .dijitSliderActive .dijitSliderIncrementIconH,
.umc .dijitSliderActive .dijitSliderDecrementIconV,
.umc .dijitSliderActive .dijitSliderIncrementIconV,
.umc .dijitSliderHover .dijitSliderDecrementIconH,
.umc .dijitSliderHover .dijitSliderIncrementIconH,
.umc .dijitSliderHover .dijitSliderDecrementIconV,
.umc .dijitSliderHover .dijitSliderIncrementIconV {
  
  border: solid 1px #769dc0;
  background-color: #ffffff;
}
.umc .dijitSliderDecrementIconH {
  background-position: -357px 50%;
}
.umc .dijitSliderActive .dijitSliderDecrementIconH.umc .dijitSliderHover .dijitSliderDecrementIconH {
  background-position: -393px 50%;
}
.umc .dijitSliderIncrementIconH {
  background-position: -251px 50%;
}
.umc .dijitSliderActive .dijitSliderIncrementIconH.umc .dijitSliderHover .dijitSliderIncrementIconH {
  background-position: -283px 50%;
}
.umc .dijitSliderDecrementIconV {
  background-position: -38px 50%;
}
.umc .dijitSliderActive .dijitSliderDecrementIconV.umc .dijitSliderHover .dijitSliderDecrementIconV {
  background-position: -73px 50%;
}
.umc .dijitSliderIncrementIconV {
  background-position: -143px 49%;
}
.umc .dijitSliderActive .dijitSliderIncrementIconV.umc .dijitSliderHover .dijitSliderIncrementIconV {
  background-position: -178px 49%;
}
.umc .dijitSliderButtonContainerV .dijitSliderDecrementButtonHover,
.umc .dijitSliderButtonContainerH .dijitSliderDecrementButtonHover,
.umc .dijitSliderButtonContainerV .dijitSliderIncrementButtonHover,
.umc .dijitSliderButtonContainerH .dijitSliderIncrementButtonHover {
  background-color: #cfe5fa;
}
.umc .dijitSliderButtonContainerV .dijitSliderDecrementButtonActive,
.umc .dijitSliderButtonContainerH .dijitSliderDecrementButtonActive,
.umc .dijitSliderButtonContainerV .dijitSliderIncrementButtonActive,
.umc .dijitSliderButtonContainerH .dijitSliderIncrementButtonActive {
  background-color: #abd6ff;
  border-color: #769dc0;
}
.umc .dijitSliderButtonInner {
  visibility: hidden;
}
.umc .dijitSliderDisabled .dijitSliderBar {
  border-color: #d3d3d3;
}
.umc .dijitSliderReadOnly *, .umc .dijitSliderDisabled * {
  border-color: #d3d3d3;
  color: #818181;
}
.umc .dijitSliderReadOnly .dijitSliderDecrementIconH, .umc .dijitSliderDisabled .dijitSliderDecrementIconH {
  background-position: -321px 50%;
  background-color: #efefef;
}
.umc .dijitSliderReadOnly .dijitSliderIncrementIconH, .umc .dijitSliderDisabled .dijitSliderIncrementIconH {
  background-position: -215px 50%;
  background-color: #efefef;
}
.umc .dijitSliderReadOnly .dijitSliderDecrementIconV, .umc .dijitSliderDisabled .dijitSliderDecrementIconV {
  background-position: -3px 49%;
  background-color: #efefef;
}
.umc .dijitSliderReadOnly .dijitSliderIncrementIconV, .umc .dijitSliderDisabled .dijitSliderIncrementIconV {
  background-position: -107px 49%;
  background-color: #efefef;
}
.dj_ie6 .umc .dijitSlider .dijitSliderProgressBarH,
.dj_ie6 .umc .dijitSlider .dijitSliderLeftBumper,
.dj_ie6 .umc .dijitSlider .dijitSliderRemainingBarH,
.dj_ie6 .umc .dijitSlider .dijitSliderRightBumper,
.dj_ie6 .umc .dijitSlider .dijitSliderProgressBarV,
.dj_ie6 .umc .dijitSlider .dijitSliderTopBumper,
.dj_ie6 .umc .dijitSlider .dijitSliderRemainingBarV,
.dj_ie6 .umc .dijitSlider .dijitSliderBottomBumper {
  background-image: none;
}
