Source: univention-sasl
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>> 7), 
  univention-config-dev, 
  ucslint
Standards-Version: 3.8.2

Package: univention-sasl
Architecture: all
Depends: sasl2-bin, univention-config-registry
Description: univention sasl
 configuration for sasl2
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
