Source: univention-serverview
Section: univention
Priority: extra
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends-Indep: debhelper (>= 4), univention-config-dev
Standards-Version: 3.5.10

Package: univention-serverview-agents
Architecture: all
Depends: univention-baseconfig, univention-snmpd, univention-snmp, lsb-release, srvmagt-agents, srvmagt-scs, srvmagt-eecd, srvmagt-mods-src, pciutils, univention-serverview-modules-2.6.18 | univention-serverview-modules-2.6.18-64gb | univention-serverview-modules-mobileclient-2.6.18 | univention-serverview-modules-mobileclient-2.6.18-64gb | univention-serverview-modules-managedclient-2.6.18 | univention-serverview-modules-managedclient-2.6.18-64gb | srvmagt-modules, gawk
Conflicts: univention-srvmagt
Replaces: univention-srvmagt
Description: simple configuration for Fujitsu Siemens Computers ServerView Agents and Deamons
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

