# SPDX-FileCopyrightText: 2025 Univention GmbH
# SPDX-License-Identifier: AGPL-3.0-only

# Default configuration file for granting access to roles in UDM.
# Realized with a (DSL domain specific language) using extended BNF grammar and a LALR (Look-Ahead Left <- Right) parser.
# Comments (#) are everywhere allowed.
# This rule file must be converted into Guardian rules
# via the script "/usr/share/univention-directory-manager-tools/univention-configure-udm-authorization".
#
# access by <who> [to <what> [grant <access>]+ ]+
#     Access by one or more roles (specified by <who>)
#     to a set of objects for the given UDM object type (specified by <what>)
#     (optionally further restricted by conditions)
#     is granted for common actions on UDM object types or permissions for property manipulation (specified by <access>)
#
# `access by <who>` clause
#     `access by` clauses describe the actor roles which permissions are granted to. Multiple can be specified.
#      A optional context may be given.
#      A optional `description` can describe the achievement of the rule for a human operator.
#      Example: `access by role="udm:default-roles:..." context="udm:contexts:..." description="Role may do xyz"`
#
# `to <what>` clause
#     `to` clauses describe the target object and the the granted permissions based on UDM object types and is effectively transformed into a capability.
#     Optional `condition`s can be specified via `if="<NAMED_CONDITION>"`, or `position[.scope]="<DN>" | "{context}"` where `scope="base|one|subtree|children"`
#     A given `position` condition can use `{ldap_base}` as placeholder, which is replaced with the real LDAP base DN.
#     A given `position` condition can use `{context}` as placeholder, which is replaced with the context specified for the role.
#     An optional `description` and `name` for the `to` clause can be given, which indicate the metadata of the capability
#     Example: `to objecttype="users/user" position="cn=users,{ldap_base}"`
#
# `grant <access>` clauses
#     `grant` clauses are the actually granted permissions for the capability
#     `properties` can be any UDM property for the given UDM object type (or the wildcard "*" placeholder to allow access to every property)
#     `permission` can by any of read|search|write|readonly|writeonly|none (or the wildcard "*")
#     `actions` can be any of search|read|create|modify|rename|remove|move|report-create (or the wildcard "*")
#     Example: `grant actions="create"` and `grant properties="..." permission="write"`.

named-condition "is-self"
  condition="guardian:builtin:target_is_self"

# unused examples for "named conditions", which can be used as if="$name"
# these allow every possible guardian condition
# we abstracted commonly used conditions away, like position="cn=users,{ldap_base}"

#named-condition "in-global-users-container"  # unused example
#  condition="udm:conditions:target_position_in"  # the guardian condition name
#  parameters position.subtree="cn=users"  # any key value pair which the guardian condition requires

# Domain Administrators
access by role="udm:default-roles:domain-administrator"
  description="Domain Admins are allowed to do anything in the whole domain"
  to objecttype="*"
    grant actions="*"
    grant properties="*" permission="write"

# Domain Users
access by role="udm:default-roles:domain-user"
  description="Domain Users are allowed to read everything non-sensible"

  to objecttype="users/user" if="is-self"
    grant actions="search,read"
    grant properties="*" permission="read"

# Self service permissions
access by role="udm:default-roles:self-service-profile"
  description="Self service users are allowed to modify the properties of the own user object specified in UCR variable `self-service/udm_attributes`"
  to objecttype="users/user" if="is-self"
    grant actions="modify"
    grant properties="jpegPhoto,e-mail,phone,roomnumber,departmentNumber,country,homeTelephoneNumber,mobileTelephoneNumber,homePostalAddress" permission="write"

# Every role
access
  by role="udm:default-roles:organizational-unit-admin"
  # by role="udm:default-roles:domain-administrator"
  by role="udm:default-roles:domain-user"
  by role="udm:default-roles:self-service-profile"
  by role="udm:default-roles:helpdesk-operator"
  by role="udm:default-roles:linux-ou-client-manager"
  description="Everyone is allowed to read the LDAP base and certain internal objects"

  # LDAP Base
  to objecttype="container/dc" position.base="{ldap_base}"
    grant actions="search,read"
    grant properties="*" permission="read"

# Every context role
access
  by role="udm:default-roles:organizational-unit-admin" context="udm:contexts:position"
  by role="udm:default-roles:helpdesk-operator" context="udm:contexts:position"
  by role="udm:default-roles:linux-ou-client-manager" context="udm:contexts:position"

  to objecttype="container/cn" position.subtree="{context}"
    description="Allow to read the container structure of the OU"
    grant actions="search,read"
    grant properties="*" permission="read"

access
  by role="udm:default-roles:organizational-unit-admin" context="udm:contexts:position"
  by role="udm:default-roles:helpdesk-operator" context="udm:contexts:position"

  # for handling of users and groups we need to grant permissions on policies applying to them
  to objecttype="policies/desktop"
    grant actions="search,read"
    grant properties="*" permission="read"

  to objecttype="policies/pwhistory"
    grant actions="search,read"
    grant properties="*" permission="read"

  to objecttype="policies/umc"
    grant actions="search,read"
    grant properties="*" permission="read"



# Organizational Unit Administrators
access by role="udm:default-roles:organizational-unit-admin" context="udm:contexts:position"
  description="Organizational Unit Adminstrators can administrate users and groups in their OU"

  to objecttype="container/ou" position.subtree="{context}"
    grant actions="search,read"
    grant properties="*" permission="read"

  # mail/domain permission in global mail container
  to objecttype="mail/domain" position.subtree="cn=domain,cn=mail,{ldap_base}"
    grant actions="search,read"
    grant properties="*" permission="read"

  # user permissions in OU
  to objecttype="users/user" position.subtree="{context}"
    description="Write user object in own OU" name="users-user-ou-write"
    grant actions="search,read,create,modify,rename,remove,move"
    grant properties="username,lastname,firstname" permission="write"
    grant properties="password,serviceSpecificPassword" permission="writeonly"
    grant properties="guardianRoles" permission="none"
    grant properties="guardianInheritedRoles" permission="none"
    grant properties="*" permission="write"

  # group permissions in OU
  to objecttype="groups/group" position.subtree="{context}"
    grant actions="search,read,create,modify,rename,remove,move"
    grant properties="name" permission="write"
    grant properties="password,serviceSpecificPassword" permission="writeonly"
    grant properties="guardianMemberRoles" permission="none"
    grant properties="guardianInheritedRoles" permission="none"
    grant properties="*" permission="write"

  # example to allow only write to certain property values (must remove the above rule=none):
  # to objecttype="groups/group" position.subtree="{context}"
  #   grant properties="guardianMemberRoles" permission="write"
  # to objecttype="groups/group" position.subtree="{context}"
  #   grant properties="guardianMemberRoles" values.not-equals=["udm:default-roles:domain-user"] permission="none"
  # to objecttype="groups/group" position.subtree="{context}"
  #   grant properties="guardianMemberRoles" values.equals=["udm:default-roles:domain-administrator"] permission="none"

access by role="udm:default-roles:helpdesk-operator" context="udm:contexts:position"
  description="Helpdesk Operators are only allowed to set passwords of users underneath of a certain OU specified in the context udm:contexts:position"

  to objecttype="container/ou" position.subtree="{context}"
    grant actions="search,read"
    grant properties="*" permission="read"

  # user permissions in OU
  to objecttype="users/user" position.subtree="{context}"
    grant actions="search,read,modify"  # modify,rename,remove,move
    grant properties="overridePWHistory,overridePWLength,unlock,password" permission="write"
    grant properties="password" permission="writeonly"
    grant properties="homeSharePath" permission="write"  # UDM in UMC always set a default value from the template

  # group permissions in OU
  to objecttype="groups/group" position.subtree="{context}"
    grant actions="search,read"
    grant properties="name" permission="read"

access by role="udm:default-roles:linux-ou-client-manager" context="udm:contexts:position"
  description="Join Clients Administrators are allowed to create/join linux computers into the domain, and set their corresponding password."

  to objecttype="container/ou" position.subtree="{context}"
    grant actions="search,read"
    grant properties="*" permission="read"

  # linux computer permissions in context OU
  to objecttype="computers/linux" position.subtree="{context}"
    grant actions="search,read,create,modify,rename,remove,move"
    grant properties="*" permission=write  # FIXME: can put the client into Domain Administrators

  # group permissions in OU-specific groups only
  to objecttype="groups/group" position.subtree="{context}"
    grant actions="search,read,create,modify,rename,remove,move"
    grant properties="*" permission="read"
    grant properties="hosts" permission="write"
