.umc .umcUDMSearchForm .umcLabelPane.umcSearchFormElementBeforeSubmitButton {
	margin-right: -6.5em;
	padding-right: 6.5em;
}
.umc .umcUDMSearchForm .umcLabelPane.umcSearchFormSubmitButton {
	padding-right: 0;
	width: 3.2em;
}

.umc .umcUDMLicenseIcon,
.umc .umcUDMLicenseImportIcon {
	height: 150px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 20px;
}

.umc .umcUDMLicenseIcon {
	background-image: url(udm/license.svg);
}

.umc .umcUDMLicenseImportIcon {
	background-image: url(udm/license-import.svg);
	margin-top: 35px;
}

.umc .umcUDMDetailPageWarning {
	border-top: 2px black solid;
	margin-bottom: 1em;
	padding-top: 1em;
}

@media (max-width: 549px) {
	.umc .umcUDMLicenseImportIcon {
		margin-top: 0px;
	}
}

.umc .umcUDMLicenseTitlePane {
	margin-top: 2em;
}

.umc .umcUdmLicenseImportDialog textarea {
	height: 150px;
	font-size: 1em;
}

.umc .udmDetailPage .umcPageNav .umcImage img {
	max-height: 250px;
}

.umc .umcUdmNewObjectDialog .dijitStackContainer {
	height: auto !important;
}

.umc .umcUdmDialogPage .umcActivationLeaveFieldFreeMessage {
	display: none;
}

@media (max-width: 991px) {
	/* force the tree to have a fixed height in UDM modules */
	.umc .umcModuleUDM .dijitTree {
		height: 200px !important;
	}
}

