#!/usr/bin/make -f
#
# Univention Configuration Registry
#  rules file for the debian package
#
# Copyright (C) 2004-2009 Univention GmbH
#
# http://www.univention.de/
#
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 2 as
# published by the Free Software Foundation.
#
# Binary versions of this file provided by Univention to you as
# well as other copyrighted, protected or trademarked materials like
# Logos, graphics, fonts, specific documentations and configurations,
# cryptographic keys etc. are subject to a license agreement between
# you and Univention.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

version=`dpkg-parsechangelog | grep "Version" | sed -e 's/Version: //'`
copyrightyear=`date +%Y`

PACKAGE_NAME=python-univention-config-registry
MODULE_NAME=univention-config-registry

PYVERS=$(shell pyversions -vr)

configure: configure-stamp
configure-stamp:
	dh_testdir
	aclocal
	autoconf
	automake -a
	./configure --prefix=/usr
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp: $(PYVERS:%=build-ext-%)
	dh_testdir
	touch $@
build-ext-%:
	dh_testdir
	PYTHON=python$* make
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp build-ext-2.4
	rm -f *~
	test -f Makefile && make distclean || true
	find -name Makefile.in -o -name Makefile | xargs rm -f
	rm -f aclocal.m4 config.* install-sh missing mkinstalldirs
	dh_clean

D=$(CURDIR)/debian/univention-config-registry

install: install-stamp
install-stamp: build-stamp $(PYVERS:%=install-ext-%)
install-ext-%:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	PYTHON=$* make install DESTDIR=`pwd`/debian/tmp

	install -m 755 scripts/jitter debian/univention-config/usr/sbin
	install -m 755 scripts/univention-set-logfile-permissions debian/univention-config/usr/sbin
	install -m 755 scripts/ldapsearch-wrapper debian/univention-config/usr/bin
	install -m 755 scripts/ldapsearch-decode64 debian/univention-config/usr/bin
	install -m 755 scripts/univention-keyboardmapping debian/univention-config/usr/bin

	cat scripts/univention-sysinfo | sed -e "s/@%@package_version@%@/${version}/;s/@%@copyright_lastyear@%@/${copyrightyear}/" > univention-sysinfo_tmp
	install -m 755 univention-sysinfo_tmp debian/univention-config/usr/bin/univention-sysinfo
	rm univention-sysinfo_tmp*

	cat python/univention/config_registry.py | sed -e "s/@%@package_version@%@/${version}/;s/@%@copyright_lastyear@%@/${copyrightyear}/" > python/univention/config_registry.py_tmp

	install -d debian/python-univention-config-registry/usr/lib/python$*/site-packages/univention/
	install -m 0644 python/univention/__init__.py debian/python-univention-config-registry/usr/lib/python$*/site-packages/univention/__init__.py
	install -m 0644 python/univention/info_tools.py debian/python-univention-config-registry/usr/lib/python$*/site-packages/univention/info_tools.py
	install -m 0644 python/univention/config_registry_info.py debian/python-univention-config-registry/usr/lib/python$*/site-packages/univention/config_registry_info.py
	install -m 0644 python/univention/service_info.py debian/python-univention-config-registry/usr/lib/python$*/site-packages/univention/service_info.py
	install -m 0644 python/univention/config_registry.py_tmp debian/python-univention-config-registry/usr/lib/python$*/site-packages/univention/config_registry.py
	install -m 0644 python/univention/baseconfig.py debian/python-univention-config-registry/usr/lib/python$*/site-packages/univention/baseconfig.py
	install -m 0644 python/univention_baseconfig.py debian/python-univention-config-registry/usr/lib/python$*/site-packages/univention_baseconfig.py

	install -m 755 python/univention-config-registry debian/univention-config/usr/sbin
	install -m 755 python/univention-install-config-registry debian/univention-config-dev/usr/bin
	install -m 755 python/univention-install-config-registry-info debian/univention-config-dev/usr/bin
	install -m 755 python/univention-install-service-info debian/univention-config-dev/usr/bin
	rm python/univention/config_registry.py_tmp*

	install -d debian/univention-config-registry/usr/share/univention-config-registry
	install -m 644 scripts/init-autostart.lib debian/univention-config-registry/usr/share/univention-config-registry/
	install -m 755 etc/X11/Xsession.d/33-univention-environment debian/univention-config-registry/etc/X11/Xsession.d/33-univention-environment
	install -m 644 etc/bash_completion.d/univention-config-registry debian/univention-config-registry/etc/bash_completion.d/univention-config-registry

	install -m 755 univention-directory-policy/nfsmounts.py debian/univention-config-registry/usr/lib/univention-directory-policy/nfsmounts
	install -m 755 univention-directory-policy/univention-policy-update-config-registry.py debian/univention-config-registry/usr/lib/univention-directory-policy/univention-policy-update-config-registry
	install -m 755 univention-directory-policy/univention-config-registry-policy-encoding debian/univention-config-registry/usr/lib/univention-directory-policy/univention-config-registry-policy-encoding

	chmod 755 python/univention-install-config-registry python/univention-install-config-registry-info

	./python/univention-install-config-registry
	./python/univention-install-config-registry-info
	./python/univention-install-service-info


binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_movefiles
	dh_installdocs
	dh_installexamples
	dh_installmenu
	dh_installcron
	dh_installman
	dh_installinfo
	dh_installchangelogs
	dh_install --sourcedir=debian/tmp
	dh_pycentral --no-package=univention-config-registry -Nunivention-config -Nunivention-config-dev -Nlibunivention-config0 -Nlibunivention-config-dev -n
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
