Source: univention-phantomjs
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.8.2
XS-Python-Version: 2.7
Build-Depends: debhelper (>= 7.0.50~),
 build-essential, g++ (>=4.7), flex, bison, gperf, ruby, perl, git,
 libsqlite3-dev, libfontconfig1-dev, libicu-dev, libfreetype6,
 libssl-dev, libpng-dev, libjpeg-dev, python, libx11-dev, libxext-dev

Package: univention-phantomjs
Architecture: all
Description: PhantomJS headless browser
 This package provides PhantomJS a headless browser
 .
 This is a statical linked version of PhantomJS for Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 coporate environments. For more information about UCS,
 refer to: http://www.univention.de/
Depends: ${misc:Depends},
