Source: univention-java
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.5.5
Build-Depends: debhelper

Package: univention-java
Architecture: any
Depends: sun-java6-jre, sun-java6-bin, sun-java6-plugin [i386], ia32-sun-java6-bin [amd64], ia32-sun-java6-plugin [amd64]
Description: UCS - Java support
 This package provides Java support for UCS.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
