Source: univention-java
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.8.2
Build-Depends: debhelper, ucslint-univention

Package: univention-java
Architecture: all
Depends: default-jre
Description: UCS - Java support
 This package provides Java support for UCS.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
