Source: univention-snmp
Section: univention
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.8.2
Build-Depends: debhelper,
 univention-config-dev,
 ucslint

Package: univention-snmp
Architecture: all
Depends: ${misc:Depends},
 univention-config-registry,
 snmp
Description: UCS - SNMP client configuration
 This package contains the configuration for the
 snmp package.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
