<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE chapter [
	<!ENTITY % extensions SYSTEM "../../stylesheets/macros.ent" >
	<!ENTITY % DocBookDTD PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN"
	"http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd">
	<!ENTITY % entities SYSTEM "../../stylesheets/macros-en.ent" >
	%extensions;
	%DocBookDTD;
	%entities;
]>
<chapter id="chap:app">
	<title>App Center
		<indexterm><primary>App center</primary></indexterm>
	</title>
	<para>
		The Univention App Center provides a platform for software vendors and an
		easy-to-use entry point for &ucsUCS; users to extend their environment with
		business software.
	</para>
	<para>
		The documentation how to develop Apps for Univention App Center can be found in the <ulink url="https://wiki.univention.de/index.php?title=Category:App_Center_Developer_Guide">App Center Developer Guide</ulink>
	</para>

</chapter>
<!-- vim:set ts=2 sw=2 noet ft=docbk:-->
