Source: univention-log-collector
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.8.2
Build-Depends: debhelper,
 univention-config-dev,
 ucslint-univention,
 python-support

Package: univention-log-collector-server
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 gzip,
 univention-config-registry,
 python-openssl,
 python-univention-lib (>= 1.0.25-1)
Description: UCS log-file Collector Server
 UCS log-file collector - receives log-files via SSL connection.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-log-collector-client
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 univention-config-registry,
 python-openssl,
 python-univention-lib (>= 1.0.25-1)
Description: UCS log-file Collector Client
 UCS log-file collector - Sends log-files via SSL connection to logging host.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
