/* height */
td.global_head_spacer {
height:19px;
}
/* background */
tr.global_head {
background-color:#CC0033;
}
td.global_menu_slogan{
line-height:30px;
}
/* padding */
table.global{
padding:0px;
}
/* border */
table.global,
table.global_menu{
border:0px;
border-width:0px;
border-style:none;
border-spacing:0px;
margin: 0px;
}

body{
margin-left:0px;
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
        color: #cc0033;
	}

table.global_menu{
vertical-align:top;
}

#tools {
        position:absolute;
        top: 150px;
        left: 845px;
        width: 170px;
        height: 120px;
        z-index: 10;
	}

#text{
        position: relative;
        margin: 20px 0 0 10px;
        padding: 0 50px 0 100px;
        border: 0;
	}
#text .links {
	font-size: 17px/21px;
	}
