Source: univention-kvm-virtio
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper,
 ucslint,
 wget,
 ca-certificates,
Standards-Version: 3.8.2

Package: univention-kvm-virtio
Architecture: all
Description: UCS - KVM VirtIO windows driver
 This packages provides a CDROM and a floppy image
 with VirtIO windows driver.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
