Source: univention-ftp
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.5.5
Build-Depends: debhelper, univention-config-dev

Package: univention-ftp
Architecture: all
Depends: heimdal-servers
Description: UCS - FTP configuration
 This package provides FTP-configuration for UCS.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
