# The hmvloader boots into the VMX environment
# The virtual hardware is emulated by qemu-dm
kernel = "/usr/lib/xen-3.1.0-1/boot/hvmloader"
builder = 'hvm'
device_model = '/usr/lib/xen-3.1.0-1/bin/qemu-dm'

memory = 256 # FIXME, configurable
name = 'ucsX'# FIXME, configurable

# Restart guests after reboot
on_reboot = 'restart'

#acpi=0 # FIXME, potentially configurable, depending on testing
#apic=0 # FIXME, potentially configurable, depending on testing
#pae=0 # FIXME, potentially configurable, depending on testing

# FIXME, configurable
disk = ['file:/var/lib/xen/ucsX/disk,hda,w',
        'file:/root/winxp.iso,ioemu:hdc:cdrom,r']

# FIXME, MAC needs to be configurable
vif = [ 'type=ioemu', 'mac =00:16:3E:27:1F:A6' ]

# a == floppy disk
# c == hard disc
# d == CD-ROM
boot = 'd' # FIXME, configurable

# Enable SDL display
sdl = 1 # FIXME, configurable

# Enable VNC display
vnc = 0
vncpasswd="univention" # FIXME, configurable

vnclisten = "0.0.0.0" # FIXME, configurable
vncviewer=0
vncconsole=1

# Enabling this is problematic in combination with Windows
usb = 0

stdvga = 1

# Disable sound, not relevant for most use cases
audio = 0