/**
 * $Horde: kronolith/themes/bluewhite/screen.css,v 1.4.10.6 2007-12-20 14:13:03 jan Exp $
 */

/* Alternating styles. item0, item1 are deprecated. */
.rowEven {
    background: #eee;
}
.rowOdd {
    background: #fff;
}

.legend {
    color: #000;
}
.day {
    background-color: #e9e9e9;
}
.day:hover {
    background-color: #fff;
}
a.newEvent {
    background-color: #e9e9e9;
}
a.newEvent:hover {
    background-color: #fff;
}
