Source: univention-portal
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends:
 debhelper,
 node-stylus,
 univention-config-dev,
 univention-debhelper,
 univention-l10n-dev,
Standards-Version: 3.9.5

Package: univention-portal
Architecture: all
Depends:
 netcat-openbsd,
 python-requests,
 python-tornado,
 python-univention-appcenter,
 python-univention-directory-manager,
 univention-config,
 univention-directory-listener,
 univention-directory-manager-tools,
 univention-management-console-server,
 ${misc:Depends},
Description: Univention Portal - Central portal web page for a UCS domain
 Univention Portal is a web interface which allows a central view
 to a UCS domain with all installed Apps and services. Univention
 Portal is configurable, i.e., any and multiple servers can be
 configured to be show a portal. Portal entries can be configured
 to be accessible only on specific hosts. Univention Portal is also
 customisable with a logo and background image.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-portal-test
Architecture: all
Depends:
 univention-portal,
 ${misc:Depends},
Description: Univention Portal - JavaScript unit tests
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
