<fieldset class="${baseClass}">
	<legend 
		dojoAttachEvent="onclick:_onTitleClick, onkeypress:_onTitleKey,onmouseenter:_handleHover, onmouseleave:_handleHover" 
		tabindex="0"
		dojoAttachPoint="legendNode,focusNode,titleBarNode"
		>
		<img src="${_blankGif}" alt="" dojoAttachPoint="arrowNode" class="dijitArrowNode" role="presentation"
		><span dojoAttachPoint="arrowNodeInner" class="dijitArrowNodeInner"></span
		><span dojoAttachPoint="legendTextNode,titleNode" class="umcGroupBoxLegendNode"></span>
	</legend>
	<div class="umcGroupBoxContentOuter" dojoAttachPoint="hideNode" role="presentation">
		<div class="dijitReset" dojoAttachPoint="wipeNode" role="presentation">
			<div class="umcGroupBoxContentInner" dojoAttachPoint="containerNode" role="region" id="${id}_pane" tabindex="-1">
			</div>
		</div>
	</div>
</fieldset>

