/*group basics*/
* {
	padding: 0;
	margin: 0;
}

.container {
	width: 100%;
	max-width: 1313px;
	padding: 0 10px 0 25px;
}

a:hover, a:active, a:focus {
	color: #575756;
	text-decoration: none;
}
/*end*/

/* group noscript */

#header-right .dropdown,
#site-header .nav-tabs {
	display: none;
}

/*end*/

/*group header*/
#site-header {
	background: url(../img/backgrounds/header_bg.png) no-repeat center top #d4d5d6;
	overflow: visible;
}

#site-header .container {
	position: relative;
	overflow: visible;
}

#site-title {
	margin-top: 30px;
	margin-bottom: 15px;
	height: 38px;
	background: url(../img/elements/logo.png) no-repeat;
}

#header-claim {
	font-size: 18px;
	line-height: 1.35em;
	color: #575756;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 25px;
}

#header-claim .server-address {
	font-weight: bold;
}

#header-right {
	position: absolute;
	right: 25px;
	top: 0;
}

#header-right ul {
	float: right;
}

#header-right .dropdown {
	margin-bottom: 55px;
}

#header-right .dropdown button,
#header-right .dropdown button:hover,
#header-right .dropdown button:active {
	border-radius: 0 0 4px 4px;
	border: none;
	float: right;
	background-color: #fdfdfd;
}

#header-right .dropdown button .button-text {
	float: left;
	margin-right: 10px;
}

#header-right .dropdown button .arrow {
	background: url("../img/elements/white-arrow.png") no-repeat scroll 0 3px transparent;
	border-radius: 2px 2px 2px 2px;
	display: block;
	float: right;
	height: 15px;
	padding-top: 18px;
	width: 16px;
}

.nav {
	font-size: 18px;
	font-weight: normal;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	background-color: #878787;
	color: #fff;
}

.dropdown-menu {
	/*top: 32px;*/
	clear: both;
	min-width: 0;
	position: relative;
}

/*end*/

/*group tabs*/
#site-header .nav-tabs {
	clear: both;
}

#site-header .nav-tabs li {
	padding: 0 15px 0 0;
	width: 50%;
}

ul.nav.nav-tabs li a {
	color: #fff;
	background-color: #808285;
	text-align: center;
	padding: 12px 15px;
	moz-border-radius: 10px 10px 0 0;
	webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}

ul.nav.nav-tabs li.active a {
	background-color: #fff;
	color: #000;
}
/*end*/

/*group content*/
#content {
	padding-top: 35px;
	padding-bottom: 15px;
}

#content li {
	list-style: none;
	width: 50%;
	padding: 0 15px 15px 0;
	float: left;
}

#content li .wrapper {
	height: 100px;
	display: block;
	height: 100px;
	width: 100%;
	padding: 15px;

	border-radius: 10px 10px 10px 10px;
	moz-border-radius: 10px 10px 10px 10px;
	webkit-border-radius: 10px 10px 10px 10px;

	background: rgb(239,239,239); /* Old browsers */
	background: -moz-radial-gradient(circle, rgba(255,255,255,1), rgba(239,239,239,1));
	background: -webkit-radial-gradient(circle, rgba(255,255,255,1), rgba(239,239,239,1));
	background: -o-radial-gradient(circle, rgba(255,255,255,1), rgba(239,239,239,1));
	background: -ms-radial-gradient(circle, rgba(255,255,255,1), rgba(239,239,239,1));
	background: radial-gradient(circle, rgba(255,255,255,1), rgba(239,239,239,1));
	/*ignore the filter as IE9 will otherwise not display box transitions and round borders*/
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ffffff',GradientType=1 );*/

	transition: box-shadow 0.5s;
	-webkit-transition: box-shadow 0.5s; /* Safari */
}

#content li .wrapper:hover {
	box-shadow: inset -2px -2px 5px rgba(0,0,0,0.4);
	text-decoration: none;
}

#content .title {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	display: block;
	padding-top: 5px;
}

#content .text {
	color: #575756;
}

#content .icon {
  border-radius: 10px 10px 10px 10px;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: block;
  float: left;
  height: 70px;
  width: 70px;
  margin-right: 25px;
  background: no-repeat scroll center center transparent;
}

#content li#no-service {
	display: none;
}

#content li.warning {
	margin: 50px auto;
	float: none;
	width: 350px;
}

#content li.warning .wrapper {
	height: auto;
	text-align: center;
	padding: 15px 25px;
}

#content li.warning .wrapper:hover {
	box-shadow: none;
}

#content li.warning .icon {
	width: 90px;
	height: 100px;
	background: url(../img/elements/hint.png) no-repeat center center;
	margin-left: auto;
	margin-right: auto;
	float: none;

	border-radius: none;
	box-shadow: none;
}

#content li.warning .title {
	padding-top: 5px;
	padding-bottom: 10px;
}

#content li.warning a {
	color: #d50633;
}

#content li.warning a:hover {
	text-decoration: underline;
}

/*end*/

/*group footer*/
#footer {
	background: url("../img/backgrounds/footer_bg.png") no-repeat center top #D4D5D6;
	margin: 0 auto;
	height: 140px;
}

#wrap {
	margin-bottom: -140px;
}

#footer div.container {
	padding-top: 25px;
}

#footer ul {
	padding: 0 10px 25px 10px;
	width: 50%;
	float: left;
	margin-left: auto;
	margin-right: auto;
}

#footer li {
	list-style: none;
}

#footer a {
	color: #575756;
	background: url("../img/elements/red_arrow.png") no-repeat scroll 0 5px transparent;
	padding-left: 15px;
	display: block;
}

#footer a:hover {
	text-decoration: underline;
}
/*end*/

/*group responsive*/
@media (max-width: 990px) {
	.nav  li {
		width: 49%;
	}

	.nav  li:last-child {
		float: right;
	}

	#content li {
		width: 100%;
	}

	#footer {
		background: url(../img/backgrounds/footer_bg_mobile.png) no-repeat #D4D5D6; 
		height: auto;
	}
}

@media (max-width: 600px) {
	.container {
		padding: 0 0px 0 15px;
	}

	#site-header {
		padding-top: 0;
		background: url(../img/backgrounds/header_bg_mobile.png) no-repeat center top #D4D5D6; 
	}

	#header-right {
		right: 15px;
	}

	#header-right p {
		margin-bottom: 25px;
	}

	#site-title {
		margin-bottom: 15px;
	}

	#content {
		padding-top: 20px;
		padding-bottom: 5px;
	}

	#footer {
		background: url(../img/backgrounds/footer_bg_mobile.png) no-repeat #D4D5D6; 
	}

	#footer ul {
		width: 100%;
	}

	#footer ul:last-child {
		clear: both;
	}
}

@media (max-width: 520px) {
	#site-header {
		height: 100%;
		/*padding-top: 20px;*/
		background: url(../img/backgrounds/header_bg_mobile.png) no-repeat center top #D4D5D6; 
		overflow: hidden;
	}

	#header-right .dropdown {
		/*top: -200px;*/
		/*position: absolute;*/
	}

	#site-header ul.nav.nav-tabs li,
	#site-header ul.nav.nav-tabs li:last-child {
		width: 100%;
		margin-left: 0;
		float: none;
		margin-bottom: 10px;
	}

	ul.nav.nav-tabs li a {
		border-radius: 10px;
	}

	#content {
		padding-top: 15px;
		padding-bottom: 0;
		display: flex;
	}

	#content li .title,
	#content li .text {
		font-size: 13px;
		line-height: 16px;
	}

	#footer {
		background: url(../img/backgrounds/footer_bg_mobile.png) no-repeat #D4D5D6; 
	}

	#footer div.container {
		padding-top: 20px;
	}

	#footer li {
		float: none;
		width: 100%;
		display: block;
	}
}

@media (max-width: 375px) {
	.container {
		padding: 0 0 0 10px;
	}

	#site-header .nav-tabs li {
		padding: 0 10px 0 0;
	}

	#site-title {
		background: url("../img/elements/logo_mobile.png") no-repeat scroll 0 0 transparent;
		height: 27px;
		padding-top: 5px;
		margin-bottom: 5px;
	}

	#header-claim,
	ul.nav.nav-tabs li a {
		font-size: 16px;
	}

	#header-claim {
		margin-bottom: 15px;
	}

	#header-right .btn {
		font-size: 12px;
		padding: 2px 8px;
	}

	#header-right .dropdown-menu {
		font-size: 12px;
	}

	#header-right .dropdown button .arrow {
		background-position: 0px 1px;
	}

	#header-right {
		right: 10px;
	}

	#content li {
		padding: 0 10px 10px 0;
	}

	#footer ul {
		width: 100%;
		padding-bottom: 15px;
	}
}
