.cache/
.pybuild/
build/
*.buildinfo
*.egg-info/
*/*/debian/debhelper-build-stamp
*/*/debian/files
*/*/debian/.debhelper/
*/*/debian/*.debhelper
*/*/debian/*.debhelper.log
*/*/debian/*.substvars
*/*/debian/*/
!*/*/debian/patches/
!*/*/debian/source/
!*/*/debian/po/
.*.sw?
*.mo
!*/*/conffiles/**/*.mo
*.pot
*.py[co]
doc/*/*.xml.err.d
doc/*/*.xml.err
doc/*/*codeclimate.json
generated-config-*.yml
