Source: univention-runit
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper, ucslint-univention
Standards-Version: 3.7.2

Package: univention-runit
Architecture: all
Depends: runit
Description: UCS - service supervision
 This packages provides process supervision for several
 UCS services. See the runit package for details.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
