Source: univention-ldap-addressbook-sync
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 4.0.0), univention-config-dev
Standards-Version: 3.5.2

Package: univention-ldap-addressbook-sync
Architecture: all
Depends: univention-directory-listener, univention-kolab2
Description: UCS LDAP addressbook synchronisation
 This package provides a Univention Directory Listener module
 that synchronizes the LDAP addressbook into a shared IMAP folder.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
