/* Sticky footer styles
-------------------------------------------------- */

@import "variables";

/* Wrapper for page content to push down footer */
#wrapper {
	min-height: 100%;
	padding-bottom: 85px;
}

/* Site footer with content */
#footer {
	//height: 20px;
	width: 100%;
	//margin-top: -20px;
	clear: both;
	//position: relative;
	position: absolute;
	bottom: 0px;

	li {
		display: inline;
		//padding-right: 1em;
	}

	ul {
		padding-left: 1em;

		a {
			text-decoration: none;
			color: $primary-color;
		}
		a:hover {
			color: $text-color;
		}
		li {
			//float: left;
			border-right: 1px solid $primary-color;
			padding: 0 0.5em;
			margin: -2px;
		}
		li:last-child {
			border: none;
		}
	}
}

