#!/usr/bin/make -f
#
# xserver-xorg-transition
#  rules file for the debian package
#
# Copyright (C) 2011-2012 Univention GmbH
#
# http://www.univention.de/
#
# All rights reserved.
#
# The source code of the software contained in this package
# as well as the source package itself are made available
# under the terms of the GNU Affero General Public License version 3
# (GNU AGPL V3) as published by the Free Software Foundation.
# 
# Binary versions of this package provided by Univention to you as
# well as other copyrighted, protected or trademarked materials like
# Logos, graphics, fonts, specific documentations and configurations,
# cryptographic keys etc. are subject to a license agreement between
# you and Univention and not subject to the GNU AGPL V3.
# 
# In the case you use the software under the terms of the GNU AGPL V3,
# the program is provided in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU Affero General Public License for more details.
# 
# You should have received a copy of the GNU Affero General Public
# License with the Debian GNU/Linux or Univention distribution in file
# /usr/share/common-licenses/AGPL-3; if not, see
# <http://www.gnu.org/licenses/>.

override_dh_auto_build:
	ucslint
	dh_auto_build

override_dh_gencontrol:
	set -e ; for p in `dh_listpackages`; do \
		case $$p in \
			xserver-xorg-video-i810*)	dpkg-gencontrol -p$$p -Tdebian/$$p.substvars -Pdebian/$$p -v2:2.4.1-1 ;; \
			xserver-xorg-video-cyrix*)	dpkg-gencontrol -p$$p -Tdebian/$$p.substvars -Pdebian/$$p -v1:1.1.0-9 ;; \
			xserver-xorg-video-imstt*)	dpkg-gencontrol -p$$p -Tdebian/$$p.substvars -Pdebian/$$p -v1:1.1.0-8 ;; \
			xserver-xorg-video-nsc*)	dpkg-gencontrol -p$$p -Tdebian/$$p.substvars -Pdebian/$$p -v1:2.8.3-5 ;; \
			xserver-xorg-video-v4l*)	dpkg-gencontrol -p$$p -Tdebian/$$p.substvars -Pdebian/$$p -v1:0.2.0-5 ;; \
			xserver-xorg-video-vga*)	dpkg-gencontrol -p$$p -Tdebian/$$p.substvars -Pdebian/$$p -v1:4.1.0-9 ;; \
			*)                     dpkg-gencontrol -p$$p -Tdebian/$$p.substvars -Pdebian/$$p ;; \
			esac ; \
		done
%:
	dh $@
