Source: univention-installer
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.5.2
Build-Depends: debhelper, libparted1.7-dev, gettext

Package: univention-installer
Architecture: any
Depends: univention-installer-modules
Conflicts: univention-server-master, univention-server-backup, univention-server-slave, univention-server-member
Description: univention installer envoirnment
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-installer-modules
Architecture: all
Description: univention installer modules
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
