Source: univention-management-console-module-reboot
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7.0.50~),
 dh-python,
 ucslint-univention,
 univention-management-console-dev (>= 11.0.4-37),
 python-all,
 python3-all,
Standards-Version: 3.5.2

Package: univention-management-console-module-reboot
Architecture: all
Depends: ${python:Depends}, ${python3:Depends},
 univention-management-console-server (>= 11.0.4-37),
 univention-directory-manager-tools (>> 7.0.147)
Description: UMC module for reboot
 This package contains the UMC module for the reboot section
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
