#!/usr/bin/make -f
#
# Univention New SID
#  rules file for the debian package
#
# SPDX-FileCopyrightText: 2004-2025 Univention GmbH
# SPDX-License-Identifier: AGPL-3.0-only

%:
	dh $@ --parallel --sourcedirectory=src
