Source: univention-ucs-translation-template
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7.0.50~),
 ucslint-univention,
 dh-python,
 python-all,
 python3-all,
 univention-config-dev
Standards-Version: 3.8.2

Package: univention-ucs-translation-template
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, ${python3:Depends},
 univention-management-console-dev,
 python-debian,
 python3-debian,
 python-magic,
 python3-magic,
 python-polib,
 python3-polib,
 python-lxml,
 python3-lxml,
 python-univention-config-registry,
 python3-univention-config-registry
Description: UCS Management Console translation files
 This package contains tools to build localization data.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-l10n-tools
Architecture: all
Depends: ${misc:Depends}
Description: Helper tools for localization of UCS
 This package contains tools to register a new localization of UCS.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

