@import "../variables";

/* Header elements */

.umc .umcHeader {
	min-height: 96px;
	padding: 0;
	overflow: auto;

	.dijitTextBox {
		background-color: transparent;
	}

	/* do not treat formatted elements differently */
	.dijitButtonText * {
		vertical-align: baseline;
	}

	.umcHeaderLeft {
		background: url(../images/univention.svg) no-repeat 10px 12px;
		height: 50px;
		padding-right: 25px;
	}

	.umcHeaderCenter {
		width: 150px;
		position: absolute;
		left: 50%;
		margin-left: -(@width / 2);
	}

	.umcHeaderRight {
		text-align: right;
		padding-top: 5px;
		padding-left: 25px;

		@media (max-width: 549px) {
			padding-left: 0;
		}

		/* enable text-overflow=ellipsis for hostname */
		.dijitDropDownButton {
			max-width: 100%;

			.dijitButtonNode {
				max-width: 100%;
			}

			.dijitButtonText {
				max-width: 100%;
				text-overflow: ellipsis;
				overflow: hidden;
				margin-right: -20px;
				padding-right: 24px;
				margin-left: -20px;
				padding-left: 24px;
			}

			&.dijitDisabled .dijitButtonNode {
				.dijitIcon {
					opacity: 1 !important;
				}
				.dijitButtonText {
					padding-right: 0;
					margin-right: 0;
				}
			}
		}

		/* style for user and host information */
		.umcHeaderText {
			background: none;
			filter: none;
			box-shadow: none;
			padding: 9px 0 5px 0;
			margin: 0;
		}

		.dijitDropDownButton {
			.dijitArrowButtonInner {
				icon-image(0, 0, "../");
			}

			#umcMenuHelp, #umcMenuSettings {
				.dijitArrowButtonInner {
					display: none;
				}
			}
		}

		/* special style for buttons */
		.dijitDropDownButton.dijitDropDownButtonHover,
		.dijitButton.dijitButtonHover {
			box-shadow(none);
		}

		.dijitDropDownButton,
		.dijitButton {
			margin: 0;
			display: block;
			//height: 24px;
			padding: 0 0 5px 0;
			border: none;
			background: none;
			filter: none;
		}

		.dijitDropDownButton, .umcLiveSearchSidebar {
			padding-left: 1em;
		}

		.dijitDropDownButtonHover .dijitArrowButtonInner {
			background-position: -20px 0;
			opacity: 0.66;
		}

		.dijitDropDownButtonActive .dijitArrowButtonInner {
			background-position: -20px 0;
			opacity: 1;
		}
	}

	.dijitButtonNode {
		height: auto !important;
		background: none;
		filter: none;
		border-radius: 0;
		border: none;
		padding: 0;
		box-shadow: none;
	}

	.dijitDropDownButton[widgetid=umcMenuHost],
	.dijitDropDownButton[widgetid=umcMenuUsername] {
		display: inline-block;
		text-align: left;
		padding-right: 2px;

		.dijitDownArrowButton {
			text-align: left;
		}

		&.dijitDisabled {
			.dijitIcon {
				opacity: 1 !important;
			}
			.dijitButtonText {
				padding-right: 0;
			}
		}
	}

	@media (max-width: 549px) {
		.dijitDropDownButton[widgetid=umcMenuHost] {
			max-width: 60%;
			float: left;
		}
		.dijitDropDownButton[widgetid=umcMenuUsername] {
			max-width: 40%;
		}
		.umcLiveSearchSidebar {
			max-width: 40%;
			margin-top: -6.9em;
		}
	}

	.umcLiveSearchSidebar {
		float: right;
		text-align: left;
		margin-bottom: 1em;
		.dijitTextBox {
			//TODO: can later be removed
			width: 100%;
			margin-right: 0;

			.umcInlineLabel {
				color: $text-color;
			}
		}
		.umcLiveSearchSidebarRadioButtonGroup {
			display: none;
		}

	}

	#umcMenuUsername,
	#umcMenuHost {
		outline: none;
	}

	#umcMenuUsername .dijitButtonText,
	#umcMenuHost .dijitButtonText {
		display: inline-block;
		background: none;
		filter: none;
		box-shadow: none;
		color: $text-color;
		font-size: $font-size-medium;
		opacity: 1 !important; /*overwrite generic disabled rule*/
	}

	.dijitDisabled #umcMenuHost .dijitArrowButtonInner {
		width: 0;
	}

	.dijitButton.umcBackToOverview {
		display: block;

		.dijitButtonNode {
			padding-top: 6px;
			display: block;

			.dijitButtonText {
				font-size: 1em;
				display: block;
				visibility: hidden;
				margin-top: 0.5em;
			}
		}
	}
	.umcBackToOverview.dijitActive,
	.umcBackToOverview.dijitHover {
		.dijitButtonNode .dijitButtonText {
			visibility: visible;
		}
	}
}

/* special stylings depending on device class */

@media (max-width: 500px) {
	.col-xxs-12 {
		width: 100%;
	}
}

@media (min-width: 1755px) {
	.col-xlg-4 {
		width: 33.33333333%;
	}
	.col-xlg-push-3 {
		left: 25%;
	}
	.col-xlg-pull-4 {
		right: 33.33333333%;
	}
}

/**
 * style the main container of UMC
 */
.umc .umcTopContainer .dijitTabContainerTop {
	clear: both;
}

