@import "../variables";

/* Header elements */

.umc .umcHeader {
	height: 96px;
	padding: 0;

	.dijitTextBox {
		background-color: transparent;
	}

	/* do not treat formatted elements differently */
	.dijitButtonText * {
		vertical-align: baseline;
	}

	.umcHeaderLeft {
		background: url(../images/univention.svg) no-repeat 10px 12px;
		height: 50px;
	}

	.umcHeaderRight {
		padding-top: 5px;
	}

	.umcHeaderRight {
		.umcHeaderRightTop {
			display: inline-block;
			float: right;
		}
		.umcHeaderRightTop > * {
			width: 100%;
		}
		/* style for user and host information */
		.umcHeaderText {
			display: block;
			float: left;
			background: none;
			filter: none;
			box-shadow: none;
			padding: 9px 0 5px 0;
			margin: 0;
			//height: 24px;
		}

		.dijitDropDownButton {
			#umcMenuHelp, #umcMenuSettings {
				.dijitArrowButtonInner {
					display: none;
				}
			}
		}

		/* special style for buttons */
		.dijitDropDownButton.dijitDropDownButtonHover,
		.dijitButton.dijitButtonHover {
			box-shadow(none);
		}

		.dijitDropDownButton,
		.dijitButton {
			margin: 0;
			display: block;
			float: right;
			//height: 24px;
			padding: 0 0 5px 0;
			border: none;
			background: none;
			filter: none;
		}
	}

//	.dijitButton .dijitButtonNode {
//		padding-right: 7px;
//	}

	.dijitButtonNode {
		height: auto !important;
		background: none;
		filter: none;
		border-radius: 0;
		border: none;
		padding: 0;
		box-shadow: none;
	}

	.umcHeaderRightTop {//,
	//span[widgetid=umcMenuUsername].dijitDropDownButton,
	//span[widgetid=umcMenuHost].dijitDropDownButton {
		/* alignment with other elements */
		margin-right: -10px;
		//margin-bottom: 0.5em;
	}

	.umcLiveSearchSidebar {
		float: right;
		margin-bottom: 1em;
		//marign-top: 0.25em;
		clear: both;
		.dijitTextBox {
			//TODO: can later be removed
			width: 100%;
			margin-right: 0;
			//font-size: $font-size-buttons;
			//font-size: $font-size-medium;

			.umcInlineLabel {
				color: $text-color;
			}
		}
		.umcLiveSearchSidebarRadioButtonGroup {
			display: none;
		}
	}

	#umcMenuUsername,
	#umcMenuHost {
		outline: none;
	}

	#umcMenuUsername .dijitButtonText,
	#umcMenuHost .dijitButtonText {
		display: inline-block;
		background: none;
		filter: none;
		box-shadow: none;
		color: $text-color;
		font-size: $font-size-medium;
	}

	.dijitDisabled #umcMenuHost .dijitArrowButtonInner {
		width: 0;
	}

	.dijitButton.umcBackToOverview {
		display: block;

		.dijitButtonNode {
			padding-top: 16px;
			display: block;

			.dijitButtonText {
				font-size: 1em;
				display: block;
				visibility: hidden;
				margin-top: 0.5em;
			}
		}
	}
	.umcBackToOverview.dijitActive,
	.umcBackToOverview.dijitHover {
		.dijitButtonNode .dijitButtonText {
			visibility: visible;
		}
	}
}

//.dj_ie8 .umc .umcHeader,
//.has-mozilla .umc .umcHeader {
//	.umcHeaderRight {
//		.umcHeaderText {
//			padding: 10px 0 5px 0;
//		}
//	}
//}

/* special stylings depending on device class */

@media (max-width: 500px) {
	.col-xxs-12 {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.umc .umcHeader .dijitButton.umcBackToOverview .dijitButtonNode {
		padding-top: 0;
	}
}

/**
 * style the main container of UMC
 */
.umc .umcTopContainer .dijitTabContainerTop {
	clear: both;
}

//.umc .umcTopContainer {
////	height: 100%;
////	width: 960px;
////	width: 100%;
////	margin: 0 auto;
//
//	.SingleChild-child {
//		border: none !important;
//	}
//
//	.dijitTabContainerTabListNested {
//		background-color: #ededee;
//		border: none;
//		border-top: 1px solid #fff;
//		display: block;
//
//		.dijitTabChecked {
//			background-color: #000000;
//		}
//	}
//
//	.dijitTabContainerNested .dijitTabContainerTop-container {
//		float: left;
//		max-width: 80%!important;
//		position: static!important;
//	}
//	.dijitTabContainerNested .dijitTabContainerTop-tabs {
//		float: left;
//		width: auto!important;
//		position: static!important;
//		.dijitTabInnerDiv {
//			background: none;
//			border-right: 1px solid #fff;
//		}
//
//		.dijitTabContent {
//			display: block;
//			padding: 5px 7px;
//			border-bottom: thin solid #000000;
//		}
//		.dijitTabChecked .dijitTabContent {
//			//padding: 5px 7px;
//			background-color: #000000;
//		}
//
//		.dijitTabChecked .dijitTabContent .tabLabel {
//			color: #fff;
//		}
//
//		.dijitTabHover .dijitTabContent {
//			border: none;
//		}
//
//		.dijitTabHover .dijitTabInnerDiv {
//			background-color: #ddd;
//		}
//
//		.dijitTabActive .dijitTabContent {
//			border: none;
//		}
//
//		.dijitTabContainerTop-tabs {
//			border: none;
//		}
//	}
//}
//
//.umc .umcBackToOverview {
//	background: none;
//	border: 0 none;
//	box-shadow: none;
//}
//.umc .umcBackToOverview .dijitButtonNode {
//	background-image: url('../icons/24x24/up.png');
//	background-repeat: no-repeat;
//	background-size: 16px;
//	padding-top: 16px;
//	background-position: top center;
//}
//.umc .umcBackToOverview .dijitButtonText {
//	visibility: hidden;
//}
//.umc .umcBackToOverview.dijitFocus .dijitButtonText,
//.umc .umcBackToOverview.dijitHover .dijitButtonText {
//	visibility: visible;
//}
//
//.umc .umcMainTabController {
//	height: 30px;
//	z-index: 3;
//	background-color: #e5e5e5;
//
//	.dijitTab {
//		padding: 7px;
//		padding-left: 2em;
//		height: 16px;
//		float: left;
//		background-image: url('layout/images/bg-tab.svg');
//		background-repeat: repeat-x;
////		background-size: ;
//		border: 0 none;
//		border-left: thin solid #d3d3d3;
//		border-right: thin solid #d3d3d3;
//		.dijitTabCloseButton {
//			visibility: hidden;
//		}
//	}
//	.dijitTab.dijitTabHover, .dijitTab.dijitTabChecked {
//		background-image: none;
//		.dijitTabCloseButton {
//			visibility: visible;
//		}
//	}
