/*
 * Copyright 2014 Univention GmbH
 *
 * http://www.univention.de/
 *
 * All rights reserved.
 *
 * The source code of this program is made available
 * under the terms of the GNU Affero General Public License version 3
 * (GNU AGPL V3) as published by the Free Software Foundation.
 *
 * Binary versions of this program provided by Univention to you as
 * well as other copyrighted, protected or trademarked materials like
 * Logos, graphics, fonts, specific documentations and configurations,
 * cryptographic keys etc. are subject to a license agreement between
 * you and Univention and not subject to the GNU AGPL V3
 *
 * In the case you use this program under the terms of the GNU AGPL V3,
 * the program is provided in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Publi
 * License with the Debian GNU/Linux or Univention distribution in file
 * /usr/share/common-licenses/AGPL-3; if not, see
 * <http://www.gnu.org/licenses/>.
 */


@import "../variables";

.umc .umcLabelPane {
	padding-bottom: 1em;
}

/* mobile first: $xxs-max */
.umcSize-OneThird { width: (100% / 3);}
.umcSize-Half { width: (100% / 2); }
.umcSize-TwoThirds { width: (100% / 1.5);}
.umcSize-One,
.umcSize-FourThirds,
.umcSize-OneAndAHalf,
.umcSize-FiveThirds,
.umcSize-Two { width: 100%;}

/* possible permutation of elements for mobile */
.umcSize-OneThird:first-child + .umcSize-OneThird + .umcSize-OneThird,
.umcSize-OneThird:first-child + .umcSize-OneThird,
.umcSize-OneThird:first-child + .umcSize-Half,
.umcSize-OneThird:first-child + .umcSize-TwoThirds,
.umcSize-Half:first-child + .umcSize-Half,
.umcSize-TwoThirds:first-child + .umcSize-OneThird {
	padding-left: 1em;
}

@media (min-width: $xs-min){
	.umcSize-OneThird { width: (100% / 6);}
	.umcSize-Half { width: (100% / 4);}
	.umcSize-TwoThirds { width: (100% / 3);}
	.umcSize-One { width: (100% / 2);}
	.umcSize-FourThirds,
	.umcSize-OneAndAHalf,
	.umcSize-FiveThirds,
	.umcSize-Two { width: 100%;}

	/* overwriting mobile padding-left */
	.umc {
		.umcLabelPane {
			padding-left: 0;
			padding-right: 1em;
		}
		.umcLabelPane:last-child {
			padding-right: 0;
		}
	}
}

/* going back to mobile sizes for .umcPageNav if $md-min */
@media (min-width: $md-min) {
	.umcPageNav {
		.umcSize-OneThird { width: (100% / 3);}
		.umcSize-Half { width: (100% / 2); }
		.umcSize-TwoThirds { width: (100% / 1.5);}
		.umcSize-One,
		.umcSize-FourThirds,
		.umcSize-OneAndAHalf,
		.umcSize-FiveThirds,
		.umcSize-Two { width: 100%;}
		/* possible permutation */
		.umcSize-OneThird:first-child + .umcSize-OneThird + .umcSize-OneThird,
		.umcSize-OneThird:first-child + .umcSize-OneThird,
		.umcSize-OneThird:first-child + .umcSize-Half,
		.umcSize-OneThird:first-child + .umcSize-TwoThirds,
		.umcSize-Half:first-child + .umcSize-Half,
		.umcSize-TwoThirds:first-child + .umcSize-OneThird {
			padding-left: 1em;
		}
	}
}
