@import "../variables";

.umc .umcModuleHeader {
	width: 100%;
	min-height: 90px;
	margin-bottom: 2em;
	padding-top: 25px;
	.umcModuleHeaderWrapper {
		margin: auto;
	}

	.umcModuleHeaderSticky {
		position: fixed;
		top: 0;
		font-size: 0.7em;
		z-index: 900;
	}

	.dijitButton {
		padding-top: 0.9em;
		.dijitButtonNode {
			background: none;
			border-radius: 0;
			border: none;
			padding: 0;
			box-shadow: none;

			.dijitButtonText {
				display: none;
				position: absolute;
				color: #ffffff;
				width: 300px;
				padding-right: 0;
				//margin-left: -140px;
				margin-left: -280px;
				text-align: right;
			}
			.dijitIcon {
				display: block;
				width: 20px;
				margin: auto;
			}
		}
	}
	.dijitButton.dijitButtonHover .dijitButtonText {
		display: inherit;
	}
}

.umc .umcModuleTitle {
	font-size: $font-size-large;
	color: $text-color-dark-background;
	font-weight: bold;
}

.umc .umcModule {
	background-color: #ffffff;
	.umcModuleWrapper {
		margin: 0 auto;
		padding: 0;
	}

	.umcTree {
		max-height: 500px;
		min-height: 250px;
	}
}

.umc .umcPageHelpText {
	margin-bottom: 1.5em;

}
.umc .umcPageNav .umcPageHeader:first-child h1 {
	margin-top: 0;
}

