@import "variables";

.umc .umcNotificationContainer {
	position: relative;
	margin: 0;
	padding: 0;
	height: 0;
	overflow: visible;
	z-index: 20;
}

.umc .umcNotification {
	position: relative;
	display: block;
	margin: 0 5px 5px auto; // right align
	overflow: hidden;
	background-color: rgba(65, 65, 66, 0.8);
	width: 200px;
	color: $text-color-dark-background;
	border-radius: 4px;
	box-shadow: 0 0px 10px rgba(0,0,0,0.25)
	padding: 6px 10px;
	left: 0;

	a {
		color: $grey-medium;
	}

	a:hover {
		color: white;
	}

	.umcNotificationTitle {
		font-weight: bold;
		border-bottom: solid 1px white;
		padding-bottom: 0.4em;
		margin-bottom: 0.4em;
	}

	.umcNotificationMessage {
		max-height: 500px;
	}

//	.umcNotificationCloseButton {
//		background: none;
//		border: none;
//		font-size: 100%;
//
//		/* account for right alignment with the message time stamp */
//		padding-right: 0;
//		margin-right: 6px;
//
//		.dijitButtonNode {
//			padding-right: 0;
//
//			.dijitButtonText {
//				padding-left: 0;
//				padding-right: 0;
//			}
//		}
//	}
}

.umc .umcNotificationHidden {
	left: 195px;
	transition-duration: .75s;
	transition-property: left;

	.umcNotificationMessage {
		max-height: 0;
		transition-duration: .75s;
		transition-property: max-height;
	}
}

.umc .umcNotification:hover {
	left: 0;
	.umcNotificationMessage {
		max-height: 500px;
	}
}
