Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper, linux-source-2.6.18
Source: avm-capi-fcpci-modules
Standards-Version: 3.5.2

Package: avm-capi-fcpci-modules-2.6.18-ucs57-686
Architecture: i386
Depends: linux-image-2.6.18-ucs57-686
Description: AVM CAPI modules for FritzCard PCI
