Source: univention-showload
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>> 7), ucslint

Package: univention-showload
Architecture: all
Depends: httpd
Description: UCS - load balancing server
 This package contain the UCS load balancing server.
 .
 Load balancing server script that considers the average
 system load of the past 15 minutes. It can be queried by
 pointing any web browser to
 http://<server-ip>/cgi-bin/univention-showload.cgi
 The smaller the returned value is (min. 0), the less
 load your server has.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
