Source: univention-radius
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper, univention-config-dev, ucslint
XS-Python-Version: 2.6, 2.7

Package: univention-radius
Architecture: any
Depends: univention-config-registry,
 freeradius,
 freeradius-ldap,
 freeradius-utils,
 univention-ssl,
 univention-config
Description: freeradius 802.1X integration package for Univention Corporate Server
 Sets up a freeradius RADIUS server to support 802.1X authenticators
Replaces: ucs-school-radius-802.1x
Provides: ucs-school-radius-802.1x
Conflicts: ucs-school-radius-802.1x
