#!/usr/bin/make -f
# SPDX-License-Identifier: AGPL-3.0
# Copyright (C) 2004-2019 Univention GmbH

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	install -d debian/univention-ssl/var/lib/univention-baseconfig/files/etc/ssl
	install -d debian/univention-ssl/var/www
	install -m 644 make-certificates.sh debian/univention-ssl/usr/share/univention-ssl/
	install -m 0755 ssl-sync debian/univention-ssl/usr/share/univention-ssl/
	install -m 0755 gencertificate.py debian/univention-ssl/usr/lib/univention-directory-listener/system
	install -m 0755 univention-certificate debian/univention-ssl/usr/sbin/
	install -m 0755 univention-certificate-check-validity debian/univention-ssl/usr/sbin/

	univention-install-config-registry
	univention-install-config-registry-info

binary-arch: build install
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installcron
	dh_installchangelogs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
