Source: univention-celery
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>> 7),
 univention-config-dev,
 ucslint-univention,
Standards-Version: 3.8.2

Package: univention-celery
Architecture: all
Depends: python-univention-config-registry,
 python-univention-directory-manager,
 rabbitmq-server (>=3.3.5-1),
 celeryd (>=3.1.13-3),
 python-celery (>=3.1.13-3),
 ${misc:Depends}
Description: Celery integration package
 Code to administer and use Celery.
 .
 For more information about UCS,
 refer to: http://www.univention.de/
