Source: univention-celery
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends:
 debhelper,
 univention-config-dev,
Standards-Version: 3.8.2

Package: univention-celery
Architecture: all
Depends:
 python-celery,
 rabbitmq-server,
 ${misc:Depends},
Description: Celery integration package
 Code to administer and use Celery.
 .
 For more information about UCS,
 refer to: https://www.univention.de/
