Source: firefox-en
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.8.2
Build-Depends: debhelper, bzip2, unzip, ucslint-univention

Package: firefox-en
Architecture: i386 amd64
Depends: libstdc++6, ia32-libs [amd64], ia32-libs-gtk [amd64], ttf-dejavu | ttf-dustin, libasound2, libdbus-glib-1-dev, libgconf2-4
Conflicts: mozilla-firefox, iceweasel, firefox-de
Breaks: firefox (<< 1:10)
Provides: www-browser
Description: lightweight web browser based on Mozilla (English version)
 Firefox is a redesign of the Mozilla browser component, similar to
 Galeon, K-Meleon and Camino, but written using the XUL user interface
 language and designed to be lightweight and cross-platform.

