product: ucs
release: "5.0"
version: [6]
scope: ucs_5.0-0-errata5.0-6
src: univention-system-setup
fix: 13.0.10-2
desc: |
 This update addresses the following issues:
 * The UDM-CLI is now restarted  after setting the ldap base during system setup.
bug: [57039]
