product: ucs
release: "5.0"
version: [6]
scope: ucs_5.0-0-errata5.0-6
src: univention-directory-manager-rest
fix: 10.0.7-9
desc: |
 This update addresses the following issues:
 * UDM REST now supports a different LDAP base for each UDM
   module. This is a requirement for the blocklist feature.
bug: [57039]
