@charset "UTF-8";

/* @group main */

*
{
	margin: 0;
	padding: 0;
}

html
{
	background: url(/style/background.png) repeat #cdcdc8;
	height: 100%;
}

body
{
	font-family: "Lucida Grande", Arial, "Nimbus Sans L", sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 17px;
	color: #5d5e5d;
	height: 100%;
}

body.component
{
	background: url(/style/wrapper-component-bg.png) repeat-y 10px 0;
}

body.login, body.start,
body.component-menuless
{
	background: url(/style/wrapper-bg.png) repeat-y 10px 0;
}

a, a:link, a:active, a:visited
{
	color: #5d5e5d;
	outline: none;
	cursor:pointer;
	text-decoration: underline;
}

h1, h2, h3
{
	font-weight: normal;
	font-size: 21pt;
}

h2
{
	font-size: 18px;
}

h3
{
	font-size: 15px;
	margin: 24px 0 24px 24px;
}

h3.form
{
	margin-bottom: 0;
}

.clear
{
	clear: both;
}
/* @end main */

/* @group wrapper */

div#wrapper
{
	width: 1050px;
	margin-left: 10px;
	height: auto;
}

.component div#wrapper
{
	background: url(/style/wrapper-component-bg.png) repeat-y 0 0;
}

.start div#wrapper, .login div#wrapper,
.component-menuless div#wrapper
{
	background: url(/style/wrapper-bg.png) repeat-y 0 0;
}

/* @group header */

div#header
{
	height: 150px;
	width: 1000px;
	position: absolute;
	top:0;
	left:10px;
}

.component div#header
{
	background: url(/style/header-component.png) no-repeat top left;
}

.start div#header, .login div#header, 
.component-menuless div#header
{
	background: url(/style/header-start.png) no-repeat top left;
}

div#header .header-title
{
	color: #c00000;
	font-size: 15px;
	font-weight: normal;
	position: absolute;
	top: 77px;
	left: 57px;
}

div#header .header-title a
{
	color: #c00000;
	text-decoration: none;
}

div#header .hide
{
	display: none;
}

/* @group user-menu */

div#user-menu
{
	width: 500px;
	height: 105px;
	position: absolute;
	right: 18px;
	top: 18px;
}

div#user-menu ul.options
{
	list-style: none;
	height: 24px;
	position: absolute;
	bottom: 10px;
	right: 0;
}
div#user-menu ul.options td.button_link
{
padding-bottom:12px;
}

div#user-menu .options li
{
	height: 24px;
	float: left;
}

div#user-menu .options li.profile
{
	padding-right: 10px;
}

div#user-menu .options li a
{
	padding-left: 5pt;
	display: block;
	padding-top: 4px;
	text-decoration: underline;
}

div#user-menu .options li a
{
	padding-left: 5pt;
	display: block;
	padding-top: 4px;
	text-decoration: underline;
}

/* @group info */

div#info
{
	position: absolute;
	right: 0;
	top: 10px;
	color: #a5a5a5;
}

div#info ul
{
	list-style: none;
	float: right;
}

div#info li
{
	height: 14px;
	float: left;
}

div#info li a
{
	color: #a5a5a5;
	text-decoration: underline
}

div#info .spacer
{
	width: 1px;
	background: #5d5e5d;
	margin: 3px 10px 0 10px;
}

div#info .session
{
	margin-top: 5px;
	display: block;
	float: right;
}

div#info .name
{
	color: #5d5e5d;
}
/* @end info */

/* @end user-menu */

/* @end header */

/* @group menu */

div#menu
{
	width: 167px;
	padding: 24px;
	padding-bottom: 0;
	float: left;
}

div#menu ul
{
	width: 167px;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 150px;
}

div#menu li
{
	width: 167px;
	height: 24px;
	margin:0 0 24px;
	background-position: top left;
	background-repeat: no-repeat;
}

div#menu li.submenu
{
	margin-left: 25px;
}
div#menu li.submenu
{
	height: auto;
}

div#menu .submenu ul
{
	margin-left: 24px;
}

div#menu li a
{
	display: block;
	padding-top: 4px;
	font-size: 15px;
	padding-left: 48px;
	text-decoration: underline;
}


/* @end menu */

/* @group content-wrapper */

div#content-wrapper-error
{
	border: 3px solid  #c00000;
	margin-top: 24px;
	margin-left: 24px;
	float: left;
	height: auto;
	width: 734px;
}

div#content-wrapper-error h3, div#content-wrapper-error p
{
	margin: 12px 24px;
}

div#content-wrapper-top
{
	width: 739px;
	margin-left: 24px;
	height: 1px;
	float: left;
	margin-top: 126px;
}

.component div#content-wrapper-top
{
	position: relative;
}

div#content-wrapper-relative
{
	width: 739px;
	margin-left: 24px;
	height: auto;
	float: left;
	margin-top: 24px;
}

.component div#content-wrapper-relative
{
	position: relative;
}

.login div#content-wrapper, .start div#content-wrapper
{
	width: 948px;
	border: 1px solid #cdcdc8;
	border-top: none;
}
.component-menuless div#content-wrapper
{
	width: 948px;
}

div#content-wrapper
{
	width: 739px;
	margin-left: 24px;
	/*margin-top: 10px;*/
	height: auto;
	float: left;
	margin-top: 150px;
}

.component div#content-wrapper
{
	position: relative;
}


div#content-head
{
	height: 42px;
	background: url(/style/content-head-bg.png) repeat;
	border-bottom: 1px solid #cdcdc8;
}

div#content-head.line-2
{
	height: 80px;
}

.start div#content-head, .login div#content-head
{
	border-bottom-width: 10px;
}

div#content-head h2
{
	color: #ffffff;
	font-weight: normal;
	font-size: 18px;
	padding: 10px;
}
.login div#content-head .tabs
{
	list-style: none;
	min-height: 32px;
	height: auto !important;
	height: 32px;
	background: #ffffff;
}

.component-menuless div#content-head .tabs
{
	width: 948px;
}
div#content-head .tabs
{
	list-style: none;
	width: 739px;
	min-height: 32px;
	height: auto !important;
	height: 32px;
	background: #ffffff;
}

div#content-head .line-2
{
	height: 70px;
}

div#content-head .line-2 li
{
	margin-top: 4px;
}

div#content-head .tabs li
{
	height: 30px;
	background: #cdcdc8;
	margin-right: 3px;
	min-width: 90px;
	width: auto;
	text-align: center;
	float: left;
}

div#content-head .tabs a,
div#content-head .tabs p
{
	padding: 6px 10px 0 10px;
	text-decoration: none;
	display: block;
}

div#content-head .tabs li.active a
{
	color: #ffffff;
}

div#content-head .tabs li.active
{
	background: url(/style/content-head-bg.png) repeat;
	color: #ffffff;
}

div#content
{
	width: 737px;
	border: 1px solid #cdcdc8;
	font-size: 13px;
}

.component-menuless div#content
{
	width: 947px;
	border: 1px solid #cdcdc8;
	font-size: 13px;
}

div#usertext,
div#waittext
{
	margin: 24px;
}
div#waitdialog .submit
{
	margin-left: 24px;
}

div.refreshframe {
	border:1px solid #000000; 
	margin: 1px; 
	background: #F8F8F8 none repeat scroll 0 0;
	font-size: 10px;
}

div.refreshframecontent {
	background: #F8F8F8 none repeat scroll 0 0;
}

div.usertext .submit,
div.usertext .cancel
{
	margin-left: 24px;
}

div#waittext
{
	background: url(/icon/loading.gif) no-repeat top left;
}
div#waittext p
{
	padding-left: 32px;
	line-height: 16pt;
}

div.error
{
	border: 3px solid  #c00000;
	margin: 24px auto;
}

.login div.error
{
	width: 541px;
}

div.error h3, div.error p
{
	margin: 12px 24px;
}

.login div#content
{
	width: 547px;
	margin: 24px auto;
}

.start div#content
{
	border: none;
	margin: 24px;
}

div#content li a
{
	color: #c00000;
}
div#content p a
{
	color: #c00000;
}
div#content-wrapper-error p a
{
	color: #c00000;
}

div#content p.inline
{
	margin: 24px;
}

div#content p.type
{
	margin-top: 0;
	font-size: 8pt;
}

div#content li a
{
	text-decoration: underline;
}

div#content h2
{
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 8px;
	margin-top: 24px;
}

div#content h2.inline
{
	color: #c00000;
	margin-left: 24px;
}

div#content ul
{
	list-style: none;
	margin: 24px;
}

.start div#content ul
{
	margin-left: 0;
	width: 902px;
}

.component div#content li a.h-link, .component div#content li p, .component div#content li h2,
.component-menuless div#content li a.h-link, .component-menuless div#content li p, .component-menuless div#content li h2
{
	padding-left: 48px;
}

.component div#content li h2.h-link,
.component-menuless div#content li h2.h-link
{
	padding-left: 0;
}

.start div#content li
{
	
	margin: 24px 0;
}

.start div#content .link
{
	display: block;
	float: left;
	width: 298px;
	font-size: 13px;
	height: 24px;
}

.start div#content .link a
{
	padding-left: 48px;
}

.start div#content .list
{
	width: 580px;
	float: right;
	font-size: 13px;
}

div#content li.assistance
{
	background: url(/icon/wizards.png) top left no-repeat;
}

div#content li.umc
{
	background: url(/icon/univention_management_console.png) top left no-repeat;
}

div#content li.udm
{
	background: url(/icon/udm.png) top left no-repeat;
}

div#content li.navigation
{
	background: url(/icon/navigation.png) top left no-repeat;
}

div#content li.license
{
	background: url(/icon/license.png) top left no-repeat;
}

div#content li.furtherinformation
{
	background: url(/icon/further_information.png) top left no-repeat;
}


div#content li.nagios
{
	background: url(/style/nagios.png) top left no-repeat;
}

div#content li.colab
{
	background: url(/style/colab.png) top left no-repeat;
}

div#content li.cert-import
{
	background: url(/style/cert.png) top left no-repeat;
}

div#content li.cert-delete
{
	background: url(/icon/cert-del.png) top left no-repeat;
}

/* @end content-container */

/* @group form-item */

form#login .form-wrapper
{
	width: 255px;
	margin: 0 auto;
}

form .form-wrapper
{
	width: 689px;
	margin: 0 auto;
}

form div.about
{
	font-size: 8pt;
}

form h3.about
{
	margin-bottom: 12px;
}

div.about div.col
{
margin:0;
width:225px;
}
div.col
{
	width: 305px;
	margin: 0;
}

div.about div.right
{
	margin-left: 24px;
	width: 370px;
}

form#lang
{
	position: absolute;
	width: 230px;
	height: 105px;
	position: absolute;
	right: 30px;
	top: 55px;
}

form#lang select
{
	width: 150px;
	float: right;
}

div.form-item
{
	margin-top: 15px;
}
div.form-right
{
	padding-left:480px;
}

div.margin
{
	margin-bottom: 0;
}

div.col
{
	float: left;
	margin-right: 35px;
}

div.right
{
	margin-left: 72px;
}

div.center
{
	width: 487px;
}

div.center .cancel
{
	float: right;
	margin-left: 0;
	margin-right: 10px;
	font-size: 8pt;
}

div.col span
{
	display: block;
	float: left;
	margin-top: 24px;
}

div.col .cancel
{
	margin-left: 0;
}

div.col .spacer
{
	border-right: solid 1px #cdcdc8;
	padding-right: 5px;
	margin-right: 5px;
}

div.col .submit
{
	float: left;
	margin-left: 15px;
	margin-top: 20px;
}


.form-item label
{
	display: block;
	margin-bottom: 3px;
}

.form-item label.float
{
	float: right;
	width: 255px;
	margin-left: 15px;
	font-size: 8pt;
}
.login .form-item input.text, .login .form-item select.text
{
	width: 255px;
}

.form-item input.text, .form-item select.text
{
	width: 300px;
}

div.about .form-item textarea.text
{
	width: 225px;
}

div.about .left
{
	float: left;
}

div.about .submit
{
	margin: 0;
	/*float: right;*/
}

div.about div.margin
{
	margin-top: 15px;
}

.component .form-item input.text, .component .form-item select.text
{
	width: 300px;
}

.form-iten input#ssl-check
{
	float: left;
	width: auto;
}

.login .form-item .cancel
{
	padding-top: 3px;
}

.form-item .cancel
{
	float: left;
}

.form-item .cancel,
.cancel
{
	margin-left: 10px;
	text-decoration: underline;
}

.form-item .submit
{
	float: right;
}
.form-item .submit,
.submit
{
	width: 107px;
	height: 29px;
	display: block;
	background: url(/style/button.png) no-repeat top left;
	padding: 2px 0 0 0;
}

.form-item .submit span,
.submit span
{
	display: block;
	width: 105px;
	margin: 0 auto;
	text-align: center;
}

.submit a
{
	display: block;	
	color: #ffffff;
	font-size: 13px;
	text-decoration: underline;
}

div#content li a.h-link
{
	text-decoration: underline;
}

.form-item a
{
	text-decoration: underline;
}
/* @end form-item */
/* @start table */
div.search-result
{
	margin: 24px;
}

span.search_result
{
	background-position: top left;
	background-repeat: no-repeat;
}

span.search_result span a
{
	padding-left: 24px;
}

div.search-result table
{
	text-align: left;
	width: 100%;
}

div.search-result tr.header
{
	font-weight: bold;
}
div.search-result td
{
	color: #666666;
	padding: 3px 0;
	min-width: 50px;
}

div.search-result .check
{
	width: 24px;
}

div.search-result .name
{
	width: 175px;
}

div.search-result .float
{
	width: 151px;
}

div.search-result .edit
{
	width: 175px;
	color: #cdcdc8;
}

div.search-result table .form-item
{
	margin: 0;
}

div.search-result table .check input
{
	margin-bottom: 3px;
}

div.search-result input#edit-options, div.search-result .float
{
	float: left;
	margin-left: 24px;
}
/* @end table */

/* @end wrapper */

table.content
{
	height:auto;
	width:960px;
}
td.overview
{
	padding:0 16px 16px 0;
}

td.overview a
{
	display: block;
	color: #c00000;
	font-size: 13px;
	text-decoration: underline;
}

.button_padding {
	padding: 0px 16px 10px 0px;
}

table.button_right{
	float:right;
}

table.button_center{
	/* float:center; # 'center' is not a valid value for 'float' */
}


/* padding */
table.tabs,
table.notebook,
table.notebook_pressed
{
padding:0px;
height: 30px;
}
table.notebook,
table.notebook_pressed
{
border:0px;
border-width:0px;
border-style:none;
border-spacing:0px;
margin:0px;
}

table.tabs
{
margin-bottom:2px;
}

table.content_header
{
width: 737px;
}


table.tabs,
table.notebook,
table.notebook_pressed{
background-color:#FFFFFF;
}

tr.tab,
tr.tab_on,
tr.notebook,
tr.notebookcloseablestart,
tr.notebookcloseableend,
tr.notebook_on,
tr.notebook_oncloseablestart,
tr.notebook_oncloseableend{
border:0px;
border-width:0px;
border-style:none;
border-spacing:0px;
}

tr.tab,
tr.tab_on,
tr.notebook,
tr.notebookcloseablestart,
tr.notebookcloseableend,
tr.notebook_on,
tr.notebook_oncloseablestart,
tr.notebook_oncloseableend{
padding:0px;
}

/* align */
tr.tab,
tr.tab_on,
tr.notebook,
tr.notebookcloseablestart,
tr.notebookcloseableend,
tr.notebook_on,
tr.notebook_oncloseablestart,
tr.notebook_oncloseableend{
text-align:left;
vertical-align:middle;
}

tr.tab,
tr.tab_on,
tr.notebook,
tr.notebookcloseablestart,
tr.notebookcloseableend,
tr.notebook_on,
tr.notebook_oncloseablestart,
tr.notebook_oncloseableend{
background-color:#FFFFFF;
}
/* height */
tr.tab,
tr.tab_on,
tr.notebook,
tr.notebookcloseablestart,
tr.notebookcloseableend,
tr.notebook_on,
tr.notebook_oncloseablestart,
tr.notebook_oncloseableend{
height:22px;
}

td.notebook,
td.notebookcloseablestart,
td.notebookcloseableend,
td.notebook_oncloseablestart,
td.notebook_oncloseableend,
td.notebook_on,
td.notebook_spacer,
td.notebook_pressed
{
border-width:0px;
border-style:none;
border:0px;
vertical-align:top;
}

td.tab,
td.tab_on
{
	border-left-width: 3px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-color: #FFFFFF;
	border-style:solid;
}

td.tab,
td.tab_normal,
td.tab_on,
td.tab_first,
td.tab_on_first
{
	vertical-align:top;
	min-width: 90px;
	text-align:center;
}

td.tab,
td.tab_normal,
td.tab_first,
td.tab_on_first,
td.tab_on,
td.tab_on_close,
td.tab_close,
td.notebook,
td.notebook_on,
td.notebook_oncloseablestart,
td.notebook_oncloseableend,
td.notebook_spacer,
td.notebook_pressed
{
text-align:left;
vertical-align:middle;
}

td.tab,
td.tab_on,
td.tab_normal,
td.tab_first,
td.tab_on_first,
td.notebook,
td.notebookcloseablestart,
td.notebookcloseableend,
td.notebook_on,
td.notebook_oncloseablestart,
td.notebook_oncloseableend,
td.notebook_pressed,
td.notebook_spacer{
background-color:#FFFFFF;
}

td.tab,
td.tab_first,
td.tab_normal,
td.tab_close,
td.border {
background-color:#CDCDC8;
}

td.tab_on_close,
td.tab_on_first,
td.tab_on {
background-color:#CC0033;
}
a.notebook_closeablestart,
a.notebook_oncloseablestart,
a.notebookcloseablestart,
a.notebook,
a.notebook_on{
padding-left:10px;
padding-right:10px;
}
a.notebook_closeableend,
a.notebook_oncloseableend,
a.notebookcloseableend
{
padding-right:10px;
}

a.notebook_oncloseablestart:active, a.notebook_oncloseablestart:hover, a.notebook_on:active, a.notebook_on:hover {
color:#FFFFFF;
}

.notebook_on,
.notebook_oncloseablestart,
.notebook_oncloseableend,
.tab_on_first,
.tab_on  {
color:#FFFFFF;
cursor:pointer;
}

.tab,
.notebook,
.notebookcloseablestart,
.notebookcloseableend
{
color:#666666;
}
img.note{
width:18px;
height:26px;
border:0px;
vertical-align:top;
margin:0px;
}

img.warn{
vertical-align:top;
float:none;
display:inline;
}

img.notebookcloseablestart,
img.notebookcloseableend,
img.notebook_oncloseablestart,
img.notebook_oncloseableend
{
padding-top:2px;
padding-left:7px;
}

div#content-wrapper .advanced-head
{
	position: absolute;
	right: 0;
/*
	right:230px;
	top:-61px;
*/
}

.longtext
{
	width:295px !important;
	height:70px;
}

div.advanced-head-position
{
	padding-top:3px;
}
div#content-wrapper .advanced-head-text
{
	/* color:#c00000;
	font-size: 14pt; */
	font-size: 13px;
	height: 30px;
}

div#content-wrapper .advanced-head-space
{
	padding-top:12px;
}

td.notebook_pressed
{
	border-bottom:10px solid #CC0033;;
	width: 1000px;
}

td.tab,
td.tab_normal,
td.tab_on_first,
td.tab_first,
td.tab_on
{
text-align:center;
}

td.login_layout_button
{
	padding-top: 12px;
}
div#logout_message
{
	padding-top:24px;
	padding-left:24px;
	padding-right:24px;
	padding-bottom:12px;
}
table.logout
{
	margin-top:24px;
	margin-left:24px;
	margin-right:24px;
	margin-bottom:12px;
}

select, input
{
	color:#5D5E5D;
	border-width:1px;
}
td.tab_layout_bottom_space
{
	text-align: center;
}

select option
{
	padding-left:3px;
}

td.note_layout_text
{
	padding-bottom: 24px;
}


td.tab_layout label{
	display: block;
}

td.tab_layout{
	width:340px;
	padding-bottom: 18px;
	vertical-align: top;
}

td.tab_layout_info{
	width:340px;
	padding-bottom: 18px;
	vertical-align: top;
	color: #C00000;
	font-size: 15px;
}

table.multi{
border-spacing:0px !important;
border-collapse:collapse;
/* margin-top:10px;*/
}

td.multi_add,
td.multi_add_top,
td.multi_remove,
td.multi_remove_img{
border-style:solid;
border-width:0px 0px 0px 1px;
border-collapse:collapse;
}

td.multi_add_top{
border-width:1px 0px 0px 1px;
}
td.multi_add,
td.multi_add_top,
td.multi_remove,
td.multi_remove_img{
padding-left:3px;
}
td.multi_add,
td.multi_add_top,
td.multi_remove,
td.multi_remove_img{
text-align:center;
vertical-align:middle;
}
td.multi_spacer{
height:1px;
}
td.multi_add,
td.multi_add_top,
td.multi_remove,
td.multi_remove_img{
width:20px;
}
td.multi_add,
td.multi_add_top
{
background-color:#CCCCCC;
}
td.multi_remove,
td.multi_remove_img
{
background-color:#FFFFFF;
}
td.multi_remove_img,
td.global_left{
background-repeat:repeat-x;
background-position:bottom;
}

td.multi_remove_img{
background-image:url(multi_background.gif);
}

table.wizard_layout_right,
table.wizard_layout_left,
table.browse_layout_right,
table.browse_layout_left
{
width: 100%;
}
table.wizard_layout_left,
tr.wizard_layout_left,
table.browse_layout_left,
tr.browse_layout_left
{
float: left;
margin-right: auto;
margin-left: 10px;
}
table.wizard_layout_right,
tr.wizard_layout_right,
table.browse_layout_right,
tr.browse_layout_right
{
float: right;
margin-left: auto;
margin-right: 10px;
}
.browse_layout_header,
.wizard_layout_header
{
	padding:20px 0 20px 0;
}

td.umc_list_head span.h4
{
padding-left: 0px;
text-align: center;
}

td.umc_list_element img.icon
{
padding-right: 8px;
}

.umc_nowrap {
	white-space: nowrap;
}

.umc_mini_padding {
	padding-left: 2px;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 0px;
	width: 100%;
}

.umc_listing {
	list-style-type: disc !important;
	margin: 5px 5px 5px 24px !important;
}

span.h4
{
	font-size: 16px;
	padding-bottom: 10px;
	padding-left: 10px;
}
td.wizard_layout,
td.wizard_layout_bottom,
td.browse_layout,
td.browse_layout_bottom {
padding:5px 0px 0px 10px;
min-width:120px;
}
td.wizard_layout_inner,
td.browse_layout_inner {
padding:0px 0px 0px 0px;
}
td.wizard_layout_bottom,
td.wizard_layout_inner,
td.wizard_layout_right,
td.browse_layout_bottom,
td.browse_layout_inner,
td.browse_layout_right {
vertical-align:bottom;
}
td.wizard_layout_icon
{
padding-bottom:20px;
padding-left:20px;
padding-top:20px;
}

.mselect,
.mselect_warn{
height:70px;
width:305px;
}

table.policy_choice
{
	margin-top: 24px;
	margin-bottom: 24px;
	width: 680px;
}
td.tab_description
{
	width: 340px;
}
td.tab_description span.h5
{
	font-size: 18px;
	color: #C00000;
}
.header_checkbox
{
	float: right;
	padding-top:6px;
}

td.cancel span.cancel
{
	/* padding-right: 24px;*/
	margin-left: 0px;
}
td.okcancel
{
	padding-left: 15px;
	padding-top:6px;
}
td.cancel
{
padding-left: 335px;
}
.dojo_switchbutton
{
	background:#FFFFFF none repeat scroll 0 0;
}
.dojo_switchbutton, .button_icon_switch {
	border:0 none;
}

td.leftright
{
	padding-left:30px;
}

.button_icon_switch
{
	padding-left: 5px;
	padding-right: 5px;
}

div#add_select .dijitComboBox
{
	position: absolute;
	right:0;
	top:6px;
}

div#add_select .dijitComboBox
{
/*background-image:none !important;*/
/*background-image: url(/icon/submods/add-small.png) !important;*/
/* background-position:left top;*/
/* background-repeat:no-repeat;*/
/*border: 0;*/
/* font-size:13px;
line-height:normal;*/
width:260px;
}

div#add_select .dijitArrowButtonInner
{
/* background-image: url(/icon/submods/add-small.png) !important;*/
/* border: 0;*/
/* background: transparent;*/
/* background-position:left top;*/
/*font-size:13px;*/
}
div#add_select .dijitButtonNode
{
/* background: none;*/
border: 0;
}

/*
div#add_select div.dijitArrowButton
{
float:left
}
*/

/*
div#add_select .dijitTextBoxFocused, 
div#add_select .dijitComboBoxFocused, 
div#add_select .dijitSpinnerFocused, 
div#add_select .dijitInlineEditorFocused input {
	background-color:#FFFFFF !important;
}
*/


table.inner_table
{
	width:947px;
	margin-left:-4px;
	margin-top:-4px;
}
table.content_main_menuless
{
	width:947px;
	/*margin-left:-4px;*/
	/*margin-top:-6px;*/
}


/* ################################## */


/* category-stuff for umc, based on webiste-design */

#category {
        border: 0;
        z-index: 100;
		min-height: 35px;
		width:947px;
        background: #EEEEEE; }
#categorycenter {
        border: 0;
        color: #666666;
        z-index: 100;
        background: #EEEEEE;
		float: left;
}

#category .categoryitemnormal {
	float: left;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	padding: 2px 3px 5px 8px;
	white-space: nowrap;
}

#category .categoryitem {
    padding: 0px 8px 0px 0px;
    background: #EEEEEE;
}
#category .categoryitem-active {
	white-space: nowrap;
	padding-left: 0px !important;
	padding-right: 9px;
	background: #F8F8F8;
}
#category .categoryitem-active a {
	padding-left: 18px;
    background: #F8F8F8 url(category_activearrow.gif) no-repeat 0px -5px;
    color: #CC0033;
}

#category .categoryitemcloseablestart {
		padding-left: 3px;
        background: #EEEEEE;
}
#category .categoryitemcloseableend {
		position: relative;
		top: 2px;
        background: #EEEEEE;
		padding-right: 6px;
}
#category .imgcategoryitemcloseableend {
        padding: 0;
		height: 13px !important;
        background: #EEEEEE;
}
#category .categoryitem-activecloseable .categoryitem-activecloseable {
}
#category .categoryitemactivecloseable a {
        border-left: 1px solid #FFFFFF;
        background: #F8F8F8 url(category_activearrow.gif) no-repeat 0px -5px;
        color: #CC0033;
}
#category .categoryitemactivecloseableend {
	padding-left: 0px !important;
    background: #F8F8F8 !important;
    color: #CC0033;
	position: relative;
	top: 2px;
}
#category .imgcategoryitemactivecloseableend {
    background: #EE0000 none !important;
	height: 13px !important;
    color: #CC0033;
}
#category .categoryitemactivecloseablestart {
	padding-right: 0px !important;
	padding-left: 18px !important;
	border-right: none !important;
    color: #CC0033;
}

#categoryend {
        width: 1px;
        background: #EEEEEE;
        /*background:  #FFFFFF url(category_end.gif);*/
}
#categorystart {
        width: 1px;
        background: #EEEEEE;
        /*background: #FFFFFF url(category_start.gif);*/
}

/* desktop-icon like buttons */

table.desktop {
	background-color:#FFFFFF;
        margin:10px;
	width:930px;
	height:160px;
}

table.desktopicon {
	background-color:#FFFFFF;
	width:64px;
	margin:10px;
}
tr.desktopicon, tr.desktop {
	background-color:#FFFFFF;
}
td.desktopicon, td.desktop {
	background-color:#FFFFFF;
	margin-left:20px;
}
tr.desktopicon,td.desktopicon {
	text-align:center;
}
td.desktopicon input.button_icon {
	width: 48px;
}
table.desktopicon td.desktopicon_description
{
	min-width:110px;
	max-width:110px;
}
table.desktopicon td.desktopicon td.button_icon
{
	padding-right: 10px;
}

.button_icon_link {
	float: left;
}

.button_icon {
    border: none;
}


/* listings generated in UMC */

.umc_frame {
	margin: 8px;
	padding: 10px;
}

.umc_frame .h4 {
    padding-bottom: 5px;
    padding-bottom: 5px;
	color:#C00000;
	font-size:18px;
}

td.umc_list_element table.button td.button_icon input.button_icon
{
	padding-top: 5px;
}

/* cols and rows */
.umc_list_element,
.umc_list_element_part_left,
.umc_list_element_part_right,
.umc_list_element_number,
.umc_list_head_first,
.umc_list_head_second,
.umc_list_head {
	padding-right: 16px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.umc_list_head {
	font-weight: bold;
}

.umc_list_element_narrow {
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.umc_list_element_number {
    text-align: right;
}

.umc_list_element_right {
    float: right;
}

td.umc_list_head,
td.umc_list_head_second {
	text-align:left;
    border-bottom: 1px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.umc_list_inactive {
font-weight:normal;
color:#aaaaaa;
}

td.umc_list_element_part_left {
	text-align: right;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 0px;
}

td.umc_list_element_part_right {
	vertical-align: baseline;
	text-align: left;
	padding-left: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.umc_infobox_col {
        font-weight: normal;
        padding: 5px;
        vertical-align: middle;
        white-space: normal;
}

#tools_overview  {
        position:absolute;
        top: 120px;
        left: 895px;
        width: 170px;
        height: 120px;
        z-index: 10;
        }

#welcome_overview  {
        text-align: center;
        font-size: 21px;
        font-weight: bold;
        color: #000000;
        margin: 10px 0 10px 0;
}
/* desktop-icon like buttons */

table.desktop {
	background-color:#FFFFFF;
        margin:10px;
	width:930px;
	height:160px;
}

table.desktopicon {
	background-color:#FFFFFF;
	width:64px;
        margin:10px;
}
tr.desktopicon, tr.desktop {
	background-color:#FFFFFF;
}
td.desktopicon, td.desktop {
	background-color:#FFFFFF;
	margin-left:20px;
}
tr.desktopicon,td.desktopicon {
	text-align:center;
}

/* listings generated in UMC */

.umc_frame {
	margin: 8px;
	padding: 10px;
}

.umc_frame .h4 {
    padding-bottom: 5px;
    padding-bottom: 5px;
}

/* cols and rows */
.umc_list_element,
.umc_list_element_part_left,
.umc_list_element_part_right,
.umc_list_element_number,
.umc_list_head_first,
.umc_list_head_second,
.umc_list_head {
	padding-right: 16px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.umc_list_element_number {
    text-align: right;
}

.umc_list_head span.h5,
.umc_list_head_second span.h5
{
        font-weight: bold;
}

td.umc_list_head,
td.umc_list_head_second {
	text-align:left;
    border-bottom: 1px solid white;
    padding-top: 15px;
    padding-bottom: 5px;
}

.umc_list_inactive {
font-weight:normal;
color:#aaaaaa;
}

td.umc_list_element label
{
	display:block;
}

td.umc_list_element_part_left {
	text-align: right;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 0px;
}

td.umc_list_element_part_right {
	vertical-align: baseline;
	text-align: left;
	padding-left: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.umc_tree_item_current {
	background: #eeeeee;
	border: 1px solid #dddddd;
}

td.umc_tree_view_item_level1 {
	vertical-align: baseline;
	text-align: left;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 10px;
}

td.umc_tree_view_item_level2 {
	vertical-align: baseline;
	text-align: left;
	padding-left: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 10px;
}

td.umc_tree_view_item_level3 {
	vertical-align: baseline;
	text-align: left;
	padding-left: 44px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 10px;
}

table.umc_tree_view_table {
	width: 100%;
	/* Bad hack for UVMM view */
    margin-left: -10px;
    margin-top: -12px;
}

td.umc_tree_table_treeview {
	vertical-align: top;
	min-width: 270px;
	/* width: 10px;*/
}

td.umc_tree_table_separator {
	background: #eeeeee;
	width: 5px;
}

.umc_tree_table_dialog {
	vertical-align: top;
	width: 100%;
	padding-left: 3px;
}

.umc_module_description {
	margin-bottom: 10px;
	padding-left: 8px;
	padding-right: 15px;
}

.umc_section {
	margin: 0px;
	padding: 0px;
}

.umc_section_title {
    color: #C00000;
}

.umc_hidden {
	visibility: collapse;
}

.umc_visible {
	visibility: visible;
}

.umc_infobox_col {
        font-weight: normal;
        padding: 5px;
        vertical-align: middle;
        white-space: normal;
}

.umc_title {
	font-size: 16px;
	font-weight: bold;
	padding: 11px 10px 10px 0;
}

div.umc_progressbar {
	font-size: 12px;
}

p.umc_dialog_button {
	width: 100%;
	text-align: right;
}
#tools_overview  {
        position:absolute;
        top: 120px;
        left: 895px;
        width: 170px;
        height: 120px;
        z-index: 10;
        }

#welcome_overview  {
        text-align: center;
        font-size: 21px;
        font-weight: bold;
        color: #000000;
        margin: 10px 0 10px 0;
}

p.online_help {
		margin: 10px;
		text-align: justify;
}

.dijitDialogTitleBar {
	color: white;
	background: none repeat scroll 0 0 #CC0033 !important;
}

.dijitDialog {
	border: 1px solid #CDCDC8 !important;
}

.uvmm_table {
	padding: 3px;
}

.uvmm_settings_table {
	padding-right: 16px;
	padding-bottom: 3px;
	padding-top: 3px;
}

.uvmm_frame {
	padding: 0px;
	margin: 0px;
}

.umc_no_padding_right {
	padding-right: 0px !important;
	padding-bottom: 3px;
	padding-top: 3px;
	padding-left: 0px;
}
	
table#treeview-table.umc_list_element {
	padding-right: 6px;
}
/* get a better VM state */
tbody tr.uvmm_table td.uvmm_table table.uvmm_table tbody tr.uvmm_table td.uvmm_table table.umc_section {
	width: 100%;
}

/* force dojo calendar widgets to display a calendar icon */
.dijitDateTextBox .dijitArrowButton .dijitArrowButtonInner {
	background-image: url('icon-1day.gif') !important;
	background-position: 0 0 !important;
	width: 15px;
	height: 15px;
}

