Source: univention-bacula
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>> 3.0.0),
 ucslint,
 univention-config-dev
Standards-Version: 3.8.2

Package: univention-bacula
Architecture: all
Depends: univention-postgresql,
 bacula,
 bacula-client,
 bacula-server,
 bacula-common,
 bacula-director-pgsql,
 bacula-common-pgsql,
 bacula-sd-pgsql,
 ${misc:Depends}
Description: UCS - Bacula package
 This packages provides the meta packages for the backup software bacula.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

