Source: univention-sudo
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>> 7),
 ucslint-univention,
 univention-config-dev
Standards-Version: 3.5.2

Package: univention-sudo
Architecture: all
Depends: ${shlib:Depends},
 ${misc:Depends},
 sudo
Description: UCS sudo rules
 This package installs default rules for the sudo command.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
