/* ContentPane 
 *	
 * .dijitContentPane
 * 	set padding for basic content pane
 * 	
 * Nested layouts:
 * 
 * .dijitTabContainerTop-dijitContentPane,
 * .dijitTabContainerLeft-dijitContentPane,
 * .dijitTabContainerBottom-dijitContentPane,
 * .dijitTabContainerRight-dijitContentPane
 * 	set background-color and padding of ContentPanes nested within TabContainer (can do top, left, bottom, or right) or Accordion Container
 *
 * .dijitAccordionContainer-dijitContentPane
 * 	set background-color and padding of ContentPane nested within Accordion
 *
 * .dijitSplitContainer-dijitContentPane, 
 *	set background-color and padding of ContentPane nested within a SplitContainer 
 *
 * .dijitBorderContainer-dijitContentPane
 *	set background-color and padding of ContentPane nested within a BorderContainer 
 */

@import "../variables"

.umc .dijitContentPane
	padding: 8px
		

/* nested layouts */
.umc .dijitTabContainerTop-dijitContentPane,
.umc .dijitTabContainerLeft-dijitContentPane,
.umc .dijitTabContainerBottom-dijitContentPane,
.umc .dijitTabContainerRight-dijitContentPane,
.umc .dijitAccordionContainer-dijitContentPane
	background-color: $pane-background-color
	padding: 8px		

.umc .dijitSplitContainer-dijitContentPane,
.umc .dijitBorderContainer-dijitContentPane
	background-color: $pane-background-color		
	padding: 8px
