/* TabContainer 
 * 
 * Styling TabContainer means styling the TabList and Its content container  (dijitTitlePane)
 * 
 * Tab List: (including 4 kinds of tab location)
 * 		.dijitTabContainerTop-tabs     - tablist container at top
 * 		.dijitTabContainerBottom-tabs  - tablist container at bottom
 * 		.dijitTabContainerLeft-tabs    - tablist container at left
 * 		.dijitTabContainerRight-tabs   - tablist container at right
 * 
 * Tab Strip Button:
 * 		.dijitTabStripIcon - tab strip button icon
 * 		.dijitTabStripMenuIcon - down arrow icon position
 * 		.dijitTabStripSlideLeftIcon - left arrow icon position
 * 		.dijitTabStripSlideRightIcon - right arrow icon position
 * 
 * 		.tabStripButtonDisabled - styles for disabled tab strip buttons
 * 
 * Tab Button:
 * 		.dijitTabContainerTop-tabs .dijitTab     - styles for top tab button container
 * 		.dijitTabContainerBottom-tabs .dijitTab  - styles for bottom tab button container
 * 		.dijitTabContainerLeft-tabs .dijitTab    - styles for left tab button container
 * 		.dijitTabContainerRight-tabs .dijitTab   - styles for right tab button container
 * 
 * 		.dijitTabContainerTop-tabs .dijitTabChecked .dijitTab
 * 				- styles for selected status of top tab button
 * 		same to Bottom, Left, Right Tabs
 * 
 * 		.dijitTabHover .dijitTab   - styles when mouse hover on tab buttons
 * 		.dijitTabActive .dijitTab  - styles when mouse down on tab buttons
 * 		.dijitTabChecked .dijitTab  - styles when on buttons of selected tab
 * 
 * 		.dijitTabCloseButton - the close action buttons lie at the right top of each tab button on closable tabs
 * 		.dijitTabCloseButtonHover - styles when mouse hover on close action button
 * 		.dijitTabCloseButtonActive - styles when mouse down on close action button
 * 
 * Tab Button: (checked status)
 * 
 * Tab Content Container:
 * 		.dijitTabContainerTop-dijitContentPane
 * 		.dijitTabContainerBottom-dijitContentPane
 * 		.dijitTabContainerLeft-dijitContentPane
 * 		.dijitTabContainerRight-dijitContentPane - for background and padding
 * 
 * Nested Tabs:
 * 		.dijitTabContainerNested - Container for nested tabs
 * 		.dijitTabContainerTabListNested - tab list container for nested tabs
 */

@import "../variables"

unselected-tab-gradient($direction)
	// white line, dark line, then fade from light to dark
	//alpha-white-gradient($direction, (1 0px), (1 1px), (0.1 2px), (0.6 7px), (0 100%))
	vertical-gradient-and-filter($tab-gradient-top-color, $tab-gradient-bottom-color)

topBottom-selected-tab-gradient($direction)
	//alpha-white-gradient($direction, (1 0px), (1 1px), (0 2px), (1 7px))	// white line, blue line, remainder white

/*** styling of top container ***/
.umc .dijitTabContainerTop-tabs
	border: none
	background-color: rgba(0, 0, 0, 0.05)

/*** some common features ***/
.umc .dijitTabPaneWrapper
	background:$pane-background-color

.umc .dijitTabPaneWrapper,
.umc .dijitTabContainerTop-tabs,
.umc .dijitTabContainerBottom-tabs,
.umc .dijitTabContainerLeft-tabs,
.umc .dijitTabContainerRight-tabs
	/* todo: add common class name for this div */
	border-color: $border-color

.umc .dijitTabCloseButton
	icon-image(0, 0, "../", "-small", 12px, 12px)
	//background: url("../" + $image-layout-tab-close) no-repeat
	//width: 14px
	//height: 14px
	//margin-left: 5px
	//margin-right:-5px
	position: absolute
	top: 8px
	right: 8px

.umc .dijitTabChecked .dijitTabCloseButton,
.umc .dijitTabHover .dijitTabCloseButton,
.umc .dijitTabActive .dijitTabCloseButton
	icon-image(0, 0, "../", "-small-white", 12px, 12px)

.umc .dijitTab .dijitTabCloseButtonHover
	background-position: -12px 0
	opacity: 1

.umc .dijitTab .dijitTabCloseButtonActive
	background-position: -12px 0
	opacity: 0.66

.umc .dijitTabSpacer
	/* set the spacer invisible.  note that height:0 doesn't work on IE/quirks, it's still 10px. */
	display: none

.clar .dijitTab .tabPanel
	margin-right: 18px
	margin-left: 3px

.umc .dijitTab
	transition-property: color, background-image
	transition-duration(.35s)
	color: rgba(40, 40, 40, 0.54)
	font-weight: 500
	font-size: $font-size-subheading
	padding: 0.25em

.umc .dijitTabHover
	transition-duration(.15s)
	color: rgba(40, 40, 40, 0.8)

.umc .dijitTabActive
	color: rgba(40, 40, 40, 0.8)
	transition-duration(.1s)

.umc .dijitTabChecked
	// selected tab
	color: rgba(40, 40, 40, 1)

.umc .dijitTabDisabled
	background-color: $tab-disabled-background-color

.umc .tabStripButton
	background-color: transparent
	border: none

/*** end common ***/

/*************** top tab ***************/
.umc .dijitTabContainerTop-tabs .dijitTab
	/* unselected (and not hovered/pressed) tab */
	//top: 1px	/* used for overlap */
	margin-right: 2px
	padding: 4px 28px 7px 10px
	border-bottom-width: 0
	min-width: 120px
	text-align: center
	font-weight: normal

	// gradient (CSS gradient, with backup image for IE6-9)
	//background-image: url("images/tabTopUnselected.png")
	background-repeat: repeat-x
	unselected-tab-gradient(top)

	box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.04)
	top: 0

.umc .dijitTabContainerTop-tabs .dijitTabChecked
	/* selected tab */
	//padding-bottom: 4px
	//padding-top: 9px

	// gradient (CSS gradient, with backup image for IE6-9)
	//background-image: url("images/tabTopSelected.png")
	//topBottom-selected-tab-gradient(top)

	//box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.05)
/** end top tab **/

/*************** bottom tab ***************/
.umc .dijitTabContainerBottom-tabs .dijitTab
	/* unselected (and not hovered/pressed) tab */
	//top: -1px	/* used for overlap */
	margin-right: 1px
	padding: 2px 3px 7px 3px
	border-top-width: 0
	min-width: 60px
	text-align: center

	// gradient (CSS gradient, with backup image for IE6-9)
	background-image: url("images/tabBottomUnselected.png")
	background-repeat: repeat-x
	background-position: bottom
	unselected-tab-gradient(bottom)

	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04)

/* selected tab */
.umc .dijitTabContainerBottom-tabs .dijitTabChecked
	//padding-bottom: 9px
	//padding-top: 4px

	// gradient (CSS gradient, with backup image for IE6-9)
	//background-image: url("images/tabBottomSelected.png")
	//topBottom-selected-tab-gradient(bottom)

	//box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05)

/** end bottom tab **/

/*************** left tab ***************/
.umc .dijitTabContainerLeft-tabs .dijitTab
	/* unselected (and not hovered/pressed) tab */
	left: 1px	/* used for overlap */
	margin-bottom: 1px
	padding: 2px 3px 7px 3px

	// gradient (CSS gradient, with backup image for IE6-9)
	background-image: url("images/tabLeftUnselected.png")
	background-repeat: repeat-y
	unselected-tab-gradient(left)

/* selected tab */
.umc .dijitTabContainerLeft-tabs .dijitTabChecked
	//border-right-width: 0
	//padding-right: 9px

	// gradient (CSS gradient, with backup image for IE6-9)
	//background-image: url("images/tabLeftSelected.png")
	//alpha-white-gradient(left, (0.5 0px), (1 30px))  // 1/2 inch blue gradient, remainder white

	//box-shadow: -1px 0 2px rgba(0, 0, 0, .05)

/** end left tab **/

/*************** right tab ***************/
.umc .dijitTabContainerRight-tabs .dijitTab
	/* unselected (and not hovered/pressed) tab */
	left: -1px	/* used for overlap */
	margin-bottom: 1px
	padding: 2px 3px 7px 3px

	// gradient (CSS gradient, with backup image for IE6-9)
	background-image: url("images/tabRightUnselected.png")
	background-repeat: repeat-y
	background-position: right
	unselected-tab-gradient(right)

.umc .dijitTabContainerRight-tabs .dijitTabChecked
	/* selected tab */
	//padding-left: 5px
	//border-left-width: 0

	// gradient (CSS gradient, with backup image for IE6-9)
	//background-image: url("images/tabRightSelected.png")
	//alpha-white-gradient(right, (0.5 0px), (1 30px))	// 1/2 inch blue gradient, remainder white

	//box-shadow: 1px 0 2px rgba(0, 0, 0, 0.07)

/** end right tab **/

/** round corner **/
//.umc .dijitTabContainerTop-tabs .dijitTab
//	border-radius: 2px 2px 0 0
//
//.umc .dijitTabContainerBottom-tabs .dijitTab
//	border-radius: 0 0 2px 2px
//
//.umc .dijitTabContainerLeft-tabs .dijitTab
//	border-radius: 2px 0 0 2px
//
//
//.umc .dijitTabContainerRight-tabs .dijitTab
//	border-radius: 0 2px 2px 0
//

/************ left/right scroll buttons + menu button ************/
.umc .tabStripButton
	background-color:$button-background-color
	border: 1px solid $border-color

.umc .dijitTabListContainer-top .tabStripButton
	padding: 4px 3px
	margin-top:7px
	//alpha-white-gradient(top, (1 0px), (0.1 1px), (0.6 6px), (0 100%))	// to match unselected tab, but had to tweak numbers

.umc .dijitTabListContainer-bottom .tabStripButton
	padding:4px 3px
	margin-bottom:7px
	//alpha-white-gradient(bottom, (1 0px), (0.1 1px), (0.6 6px), (0 100%))	// to match unselected tab, but had to tweak numbers

.umc .tabStripButtonHover
	background-color:$hovered-background-color

.umc .tabStripButtonActive
	background-color:$pressed-background-color

.umc .dijitTabStripIcon
	height:15px
	width:15px
	margin: 0 auto
	background:url("../" + $image-form-button-arrows) no-repeat -75px 50%
	background-color: transparent

.umc .dijitTabStripSlideRightIcon
	background-position: -24px 50%

.umc .dijitTabStripMenuIcon
	background-position: -51px 50%


/*disabled styles for tab strip buttons*/
.umc .dijitTabListContainer-top .tabStripButtonDisabled,
.umc .dijitTabListContainer-bottom .tabStripButtonDisabled
	background-color:$tab-disabled-background-color
	border:1px solid $border-color	/* to match border of TabContainer itself */

.umc .tabStripButtonDisabled .dijitTabStripSlideLeftIcon
	background-position:-175px 50%

.umc .tabStripButtonDisabled .dijitTabStripSlideRightIcon
	background-position: -124px 50%

.umc .tabStripButtonDisabled .dijitTabStripMenuIcon
	background-position: -151px 50%
 
/* Nested Tabs */
.umc .dijitTabContainerNested .dijitTabListWrapper
	height: auto

.umc .dijitTabContainerNested .dijitTabContainerTop-tabs
	border-bottom:solid 1px $border-color
	padding:2px 2px 4px

.umc .dijitTabContainerTabListNested .dijitTab
	background-color:rgba(255, 255, 255, 0)
	border: none
	padding: 4px
	border-color: rgba(118,157,192,0)
	transition-property: background-color, border-color
	transition-duration(.3s)
	//border-radius: 2px
	top: 0/* to override top: 1px/-1px for normal tabs */
	box-shadow: none

	// CSS gradient with fallback to image for IE
	background-image: url("images/tabNested.png") repeat-x
	//alpha-white-gradient((0.61 0%), (0 17%), (0 83%), (0.61 100%))

.umc .dijitTabContainerTabListNested .dijitTabHover
	background-color: $nestedtab-hovered-background-color
	border:solid 1px $nestedtab-hovered-border-color
	padding: 3px	// 4px above padding - 1px compensation for border
	transition-duration(.2s)

.umc .dijitTabContainerTabListNested .dijitTabHover .tabLabel
	text-decoration: none

.umc .dijitTabContainerTabListNested .dijitTabActive
	border:solid 1px $nestedtab-selected-border-color
	padding: 3px
	transition-duration(.1s)

.umc .dijitTabContainerTabListNested .dijitTabChecked
	padding: 3px
	border:solid 1px $selected-border-color
	background-color:$selected-background-color

.umc .dijitTabContainerTabListNested .dijitTabChecked .tabLabel
	text-decoration: none
	background-image:none

.umc .dijitTabPaneWrapperNested
	border: none/* prevent double border */


.umc .dijitTabContainer .dijitTab,
.umc .dijitTabContainer .tabStripButton
	// IE6 can't handle background-image and background-color on same node
	_background-image: none

