.umc-diagnostic.dgrid {
	overflow: hidden;
	height: auto;
	border: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}
.umc-diagnostic.dgrid .dgrid-selected {
	background-color: var(--bgc-content-container);
}
.umc-diagnostic.dgrid .dgrid-scroller {
	outline: none;
	position: relative;
	overflow: visible;
}

.umc-diagnostic-content {
	font-size: var(--font-size-4);
}
.umc-diagnostic-description {
	white-space: pre-wrap;
	word-wrap: break-word;
}
.umc-diagnostic-buttonrow {
	margin-top: calc(2 * var(--layout-spacing-unit));
}
.umc-diagnostic .diagnostic-critical span.dijitTitlePaneTextNode::before {
	color: var(--font-color-error)
}
.umc-diagnostic .diagnostic-conflict span.dijitTitlePaneTextNode::before {
	color: var(--font-color-warning)
}
.umc-diagnostic .diagnostic-warning  span.dijitTitlePaneTextNode::before {
	color: var(--font-color-warning)
}
.umc-diagnostic .diagnostic-problemfixed span.dijitTitlePaneTextNode::before {
	color: var(--font-color-success)
}
.umc-diagnostic .diagnostic-success span.dijitTitlePaneTextNode::before {
	color: var(--font-color-success)
}
.umc-diagnostic .diagnostic-problem span.dijitTitlePaneTextNode::before {
	color: var(--font-color-warning)
}
