/**
 * $Horde: turba/themes/silver/screen.css,v 1.1.2.1 2008-03-27 17:56:28 jan Exp $
 */

table#addressbook-list th.sortup {
    background: #ccc url("graphics/za.png") center left no-repeat;
}
table#addressbook-list th.sortdown {
    background: #ccc url("graphics/az.png") center left no-repeat;
}
