Source: univention-samba
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>> 3.0.0), univention-config-dev
Standards-Version: 3.5.2

Package: univention-samba
Architecture: all
Pre-Depends: samba (>= 3.0.20) | samba-bdc
Depends: univention-config-registry (>= 0.07), univention-ldap-client (>= 1.4), univention-directory-manager-tools, smbclient | smbclient-bdc, univention-directory-listener, rsync, univention-ssh, univention-shares, expect, python2.4-libxml2
Description: UCS - Samba domain controller
 This package contains the configuration for the Samba
 domain controller. It provides authentication, file and
 print services for Windows computers.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-samba-ha
Architecture: all
Depends: univention-samba, univention-heartbeat
Description: UCS - Samba domain controller
 This package contains the configuration for the Samba
 domain controller in a heartbeat-failover situation. 
 It provides authentication, file and print services for 
 Windows computers.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-samba-slave-pdc
Architecture: all
Depends: univention-samba
Description: UCS - Samba domain controller (as slave)
 With this package, the Samba domain controller is
 configured as a slave to another master domain controller.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-samba-bdc
Architecture: all
Depends: univention-samba, samba-bdc
Conflicts: samba
Description: UCS - Samba domain controller (as bdc)
 With this package, the Samba domain controller is
 configured as a bdc to another nt pdc domain controller.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
