Source: univention-directory-policy
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper, univention-config-dev
Standards-Version: 3.5.2

Package: univention-directory-policy
Architecture: all
Depends: univention-config-registry, netcat
Conflicts: univention-ldap-policy (<<1.1.1)
Description: UCS - Directory Policy handler
 This package manages the scripts in /usr/lib/univention-directory-policy
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-ldap-policy
Architecture: any
Depends: univention-directory-policy
Description: Transition package
 Package to ease upgrading from old package
 univention-ldap-policy to the new package.  This package
 can be purged at anytime once the
 univention-directory-policy package has been installed.
