/* define properties for floating buttons with margins */
div.modLaunchButton {
	width: 130px !important;
	/*height: 80px !important;*/
	white-space: normal !important; /* allow wrapping of text in button */
	margin: 5px !important;
    background-position: 8 center;
	background-repeat: no-repeat;
    padding-left:80px;
    height:80px;
	list-style: none;
	float: left;
	text-align: left;
}

div.modLaunchButton div {
	padding-top:30px;
	/*position: absolute;
	width:80px;*/
}

div.modLaunchButtonHover {
	border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	background-color: #eee;
}

div.modLaunchButtonClick {
	background-color: #e8e8e8;
}

/* define all module icons 64x64 */
.icon64-users,
.icon64-cups,
.icon64-modutils,
.icon64-nagios,
.icon64-quota,
.icon64-vnc,
.icon64-ucr,
.icon64-services,
.icon64-softmon,
.icon64-sysinfo,
.icon64-join,
.icon64-packages,
.icon64-update,
.icon64-mrtg,
.icon64-update,
.icon64-top,
.icon64-reboot {
	background: no-repeat;
	width: 64px;
	height: 64px;
}

.icon64-users {
	background-image: url('../images/icons/64x64/users.png');
}
.icon64-cups {
	background-image: url('../images/icons/64x64/cups.png');
}
.icon64-modutils {
	background-image: url('../images/icons/64x64/modutils.png');
}
.icon64-nagios {
	background-image: url('../images/icons/64x64/nagios.png');
}
.icon64-quota {
	background-image: url('../images/icons/64x64/quota.png');
}
.icon64-vnc {
	background-image: url('../images/icons/64x64/vnc.png');
}
.icon64-ucr {
	background-image: url('../images/icons/64x64/ucr.png');
}
.icon64-services {
	background-image: url('../images/icons/64x64/services.png');
}
.icon64-softmon {
	background-image: url('../images/icons/64x64/softmon.png');
}
.icon64-sysinfo {
	background-image: url('../images/icons/64x64/sysinfo.png');
}
.icon64-join {
	background-image: url('../images/icons/64x64/join.png');
}
.icon64-packages {
	background-image: url('../images/icons/64x64/packages.png');
}
.icon64-update {
	background-image: url('../images/icons/64x64/update.png');
}
.icon64-mrtg {
	background-image: url('../images/icons/64x64/mrtg.png');
}
.icon64-update {
	background-image: url('../images/icons/64x64/update.png');
}
.icon64-top {
	background-image: url('../images/icons/64x64/top.png');
}
.icon64-reboot {
	background-image: url('../images/icons/64x64/reboot.png');
}
.icon64-groupadmin {
	background-image: url('../images/icons/64x64/groupadmin.png');
}
.icon64-roomadmin {
	background-image: url('../images/icons/64x64/roomadmin.png');
}
.icon64-classes {
	background-image: url('../images/icons/64x64/classes.png');
}
.icon64-teachers {
	background-image: url('../images/icons/64x64/teachers.png');
}
.icon64-pupils {
	background-image: url('../images/icons/64x64/pupils.png');
}

/* define all module icons 32x32 */
.icon32-users,
.icon32-cups,
.icon32-modutils,
.icon32-nagios,
.icon32-quota,
.icon32-vnc,
.icon32-ucr,
.icon32-services,
.icon32-softmon,
.icon32-sysinfo,
.icon32-join,
.icon32-packages,
.icon32-update,
.icon32-mrtg,
.icon32-update,
.icon32-top,
.icon32-reboot {
	background: no-repeat;
	width: 32px;
	height: 32px;
}

.icon32-users {
	background-image: url('../images/icons/32x32/users.png');
}
.icon32-cups {
	background-image: url('../images/icons/32x32/cups.png');
}
.icon32-modutils {
	background-image: url('../images/icons/32x32/modutils.png');
}
.icon32-nagios {
	background-image: url('../images/icons/32x32/nagios.png');
}
.icon32-quota {
	background-image: url('../images/icons/32x32/quota.png');
}
.icon32-vnc {
	background-image: url('../images/icons/32x32/vnc.png');
}
.icon32-ucr {
	background-image: url('../images/icons/32x32/ucr.png');
}
.icon32-services {
	background-image: url('../images/icons/32x32/services.png');
}
.icon32-softmon {
	background-image: url('../images/icons/32x32/softmon.png');
}
.icon32-sysinfo {
	background-image: url('../images/icons/32x32/sysinfo.png');
}
.icon32-join {
	background-image: url('../images/icons/32x32/join.png');
}
.icon32-packages {
	background-image: url('../images/icons/32x32/packages.png');
}
.icon32-update {
	background-image: url('../images/icons/32x32/update.png');
}
.icon32-mrtg {
	background-image: url('../images/icons/32x32/mrtg.png');
}
.icon32-update {
	background-image: url('../images/icons/32x32/update.png');
}
.icon32-top {
	background-image: url('../images/icons/32x32/top.png');
}
.icon32-reboot {
	background-image: url('../images/icons/32x32/reboot.png');
}

/* define all module icons 24x24 */
.icon24-cups,
.icon24-users,
.icon24-modutils,
.icon24-nagios,
.icon24-quota,
.icon24-vnc,
.icon24-ucr,
.icon24-services,
.icon24-softmon,
.icon24-sysinfo,
.icon24-join,
.icon24-packages,
.icon24-update,
.icon24-mrtg,
.icon24-update,
.icon24-top,
.icon24-reboot {
	background: no-repeat;
	width: 24px;
	height: 24px;
}

.icon24-users {
	background-image: url('../images/icons/24x24/users.png');
}
.icon24-cups {
	background-image: url('../images/icons/24x24/cups.png');
}
.icon24-modutils {
	background-image: url('../images/icons/24x24/modutils.png');
}
.icon24-nagios {
	background-image: url('../images/icons/24x24/nagios.png');
}
.icon24-quota {
	background-image: url('../images/icons/24x24/quota.png');
}
.icon24-vnc {
	background-image: url('../images/icons/24x24/vnc.png');
}
.icon24-ucr {
	background-image: url('../images/icons/24x24/ucr.png');
}
.icon24-services {
	background-image: url('../images/icons/24x24/services.png');
}
.icon24-softmon {
	background-image: url('../images/icons/24x24/softmon.png');
}
.icon24-sysinfo {
	background-image: url('../images/icons/24x24/sysinfo.png');
}
.icon24-join {
	background-image: url('../images/icons/24x24/join.png');
}
.icon24-packages {
	background-image: url('../images/icons/24x24/packages.png');
}
.icon24-update {
	background-image: url('../images/icons/24x24/update.png');
}
.icon24-mrtg {
	background-image: url('../images/icons/24x24/mrtg.png');
}
.icon24-update {
	background-image: url('../images/icons/24x24/update.png');
}
.icon24-top {
	background-image: url('../images/icons/24x24/top.png');
}
.icon24-reboot {
	background-image: url('../images/icons/24x24/reboot.png');
}


/* define all module icons 16x16 */
.icon16-users,
.icon16-cups,
.icon16-modutils,
.icon16-nagios,
.icon16-quota,
.icon16-vnc,
.icon16-ucr,
.icon16-services,
.icon16-softmon,
.icon16-sysinfo,
.icon16-join,
.icon16-packages,
.icon16-update,
.icon16-mrtg,
.icon16-update,
.icon16-top,
.icon16-reboot,
.icon16-univention {
	background: no-repeat;
	width: 16px;
	height: 16px;
}

.icon16-users {
	background-image: url('../images/icons/16x16/users.png');
}
.icon16-cups {
	background-image: url('../images/icons/16x16/cups.png');
}
.icon16-modutils {
	background-image: url('../images/icons/16x16/modutils.png');
}
.icon16-nagios {
	background-image: url('../images/icons/16x16/nagios.png');
}
.icon16-quota {
	background-image: url('../images/icons/16x16/quota.png');
}
.icon16-vnc {
	background-image: url('../images/icons/16x16/vnc.png');
}
.icon16-ucr {
	background-image: url('../images/icons/16x16/ucr.png');
}
.icon16-services {
	background-image: url('../images/icons/16x16/services.png');
}
.icon16-softmon {
	background-image: url('../images/icons/16x16/softmon.png');
}
.icon16-sysinfo {
	background-image: url('../images/icons/16x16/sysinfo.png');
}
.icon16-join {
	background-image: url('../images/icons/16x16/join.png');
}
.icon16-packages {
	background-image: url('../images/icons/16x16/packages.png');
}
.icon16-update {
	background-image: url('../images/icons/16x16/update.png');
}
.icon16-mrtg {
	background-image: url('../images/icons/16x16/mrtg.png');
}
.icon16-update {
	background-image: url('../images/icons/16x16/update.png');
}
.icon16-top {
	background-image: url('../images/icons/16x16/top.png');
}
.icon16-reboot {
	background-image: url('../images/icons/16x16/reboot.png');
}
.icon16-univention {
	background-image: url('../images/icons/16x16/univention.png');
}

.icon64-printermoderation {
	background-image: url( '../images/icons/64x64/printermoderation.png' );
}

.icon64-helpdesk {
	background-image: url( '../images/icons/64x64/helpdesk.png' );
}

.icon64-distribution {
	background-image: url( '../images/icons/64x64/distribution.png' );
}

.icon64-reservation {
	background-image: url( '../images/icons/64x64/reservation.png' );
}

.icon32-printermoderation {
	background-image: url( '../images/icons/32x32/printermoderation.png' );
}

.icon32-helpdesk {
	background-image: url( '../images/icons/32x32/helpdesk.png' );
}

.icon32-distribution {
	background-image: url( '../images/icons/32x32/distribution.png' );
}

.icon32-reservation {
	background-image: url( '../images/icons/32x32/reservation.png' );
}

.icon24-printermoderation {
	background-image: url( '../images/icons/24x24/printermoderation.png' );
}

.icon24-helpdesk {
	background-image: url( '../images/icons/24x24/helpdesk.png' );
}

.icon24-distribution {
	background-image: url( '../images/icons/24x24/distribution.png' );
}

.icon24-reservation {
	background-image: url( '../images/icons/24x24/reservation.png' );
}

.icon16-printermoderation {
	background-image: url( '../images/icons/16x16/printermoderation.png' );
}

.icon16-helpdesk {
	background-image: url( '../images/icons/16x16/helpdesk.png' );
}

.icon16-distribution {
	background-image: url( '../images/icons/16x16/distribution.png' );
}

.icon16-reservation {
	background-image: url( '../images/icons/16x16/reservation.png' );
}

.icon64-proxysettings {
	background-image: url( '../images/icons/64x64/proxysettings.png' );
}

.icon32-proxysettings {
	background-image: url( '../images/icons/32x32/proxysettings.png' );
}

.icon24-proxysettings {
	background-image: url( '../images/icons/24x24/proxysettings.png' );
}

.icon16-proxysettings {
	background-image: url( '../images/icons/16x16/proxysettings.png' );
}

