/* import other style sheets */
/*@import url('icons.css');*/
/*@import url('button.css');*/

/* general definitions */
html, body
{
	height: 100%;
    width: 100%; 
	height: 100%;
    border: 0; 
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
	overflow: hidden;
	background: url('../images/mainBackground.png') repeat-x 0px 0px;
}

/* define properties for floating buttons with margins */
div.modLaunchButton {
	width: 130px !important;
	/*height: 80px !important;*/
	white-space: normal !important; /* allow wrapping of text in button */
	margin: 5px !important;
    background-position: 8 center;
	background-repeat: no-repeat;
    padding-left:80px;
    height:80px;
	list-style: none;
	float: left;
	text-align: left;
}

div.modLaunchButton div {
	padding-top:30px;
	/*position: absolute;
	width:80px;*/
}

div.modLaunchButtonHover {
	border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	background-color: #eee;
}

div.modLaunchButtonClick {
	background-color: #e8e8e8;
}

/* the header element with univention logo */
.umcHeader
{
	background: url('../images/header.png') no-repeat 0px 0px;
	padding: 20px 20px !important;
	/*color: #d50029;*/
	/*font-family: tahoma,arial,verdana,sans-serif;*/
	/*font-size: 11px;*/
	height: 80px;
	text-align: right;
}

.dijitTabPane {
	overflow: auto;
}

.umcSubmitButton {
	font-weight: bold !important;
}

/* hack to make the header buttons not look like buttons :) */
.umcHeaderButton .dijitButtonNode {
	background: none !important;
	border: none !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

/* hack for the drop-down buttons in the grid :) */
.umcDisplayNone {
	display: none !important;
}

/* more hacks for the module widget */
.umcModulePane {
	padding: 8px;
}

.umcNoBorder {
	border: 0px !important;
}

.umcNoPadding {
	padding: 0px !important;
}

/* fix for bug with form submission: http://bugs.dojotoolkit.org/ticket/12331 */
.dijitOffScreen { 
	visibility: visible !important; 
}

/* hack the popup menu for data grids for:
   popup above the cell
   popup below the cell */
.umcGridRowPopupBelow {
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25) !important;
	-moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25) !important;
	-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25) !important;
}
.umcGridRowMenuBelow {
	border-top: 0 !important;
	background-color: #dcedfb !important;
}
.umcGridRowPopupAbove {
	box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.25) !important;
	-moz-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.25) !important;
	-webkit-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.25) !important;
}
.umcGridRowMenuAbove {
	border-bottom: 0 !important;
	background-color: #dcedfb !important;
}

/* hack the grid */

.dojoxGridCell {
	border: none !important;
}

.dojoxGridRowOdd {
	background-color: #e0edf4;
}

/* hacks for the toaster */
.dijitToasterContainer {
	width: 300px;
	/*clip: none !important;*/
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.dijitToasterContent {
	font: 12px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
	text-align: center;
	color: #000;
	background: url('../images/toasterHeader.png') repeat-x 0px 0px;
	border: 1px solid #999; 
	border-top: none;
	background-color: #e8e8e8;
}
.dijitToasterContent, 
.dijitToasterContainer {
	border-radius: 0px 0px 8px 8px;
	-moz-border-radius: 0px 0px 8px 8px;
	-webkit-border-radius: 0px 0px 8px 8px;
}
.dijitToasterMessage {
	color: #000;
}

/* some icons */
.icon16-univention {
	background: no-repeat;
	width: 16px;
	height: 16px;
	background-image: url('../images/icons/16x16/univention.png');
}

