Source: univention-management-console-module-mrtg
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7.0.50~),
 ucslint-univention,
 dh-python,
 univention-management-console-dev (>= 11.0.4-37),
 python-all,
 python3-all,
Standards-Version: 3.7.2

Package: univention-management-console-module-mrtg
Architecture: all
Depends: univention-management-console-server (>= 11.0.4-37),
 univention-directory-manager-tools (>> 7.0.147),
 ${python:Depends}, ${python3:Depends},
Description: UMC module for system statistics
 This package contains the UMC module for the system statistics section
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
