Source: univention-management-console-module-appcenter
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7.0.50~),
 python-support,
 ucslint-univention,
 univention-config-dev,
 univention-management-console-dev,
 python-all
Standards-Version: 3.8.2
XS-Python-Version: 2.6, 2.7

Package: univention-management-console-module-appcenter
Architecture: all
Depends: univention-management-console-server,
 python-univention-lib,
 shell-univention-lib (>= 3.0.12-4),
 python-univention-directory-manager (>=9.0.22-13),
 python-univention-appcenter,
 univention-config,
 univention-updater,
 univention-management-console-module-lib
Replaces: univention-management-console-module-packages (<< 2.0.55-1)
Breaks: univention-management-console-module-packages (<< 2.0.55-1)
Description: UMC module for software management
 This package contains the UMC module for the package management.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-management-console-module-packages
Architecture: all
Depends: univention-management-console-module-appcenter
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.

Package: univention-management-console-module-apps
Architecture: all
Depends: univention-management-console-module-appcenter,
 python-polib
Description: UMC module for application overview
 This package contains an introduction for every installed app.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: python-univention-appcenter
Architecture: all
Depends: python-univention-config-registry
Description: Library for the Univention App Center.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
