Source: univention-management-console
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7.0.50~),
 ucslint-univention,
 python2.7-dev,
 dh-python,
 python-polib,
 univention-config-dev,
 univention-ucs-translation-template,
Standards-Version: 3.7.2

Package: univention-management-console
Architecture: all
Depends: ${misc:Depends},
 python-univention-management-console (= ${source:Version}),
 univention-management-console-server (= ${source:Version}),
 univention-management-console-web-server (>= 5.0.5),
 univention-management-console-module-lib,
 univention-management-console-module-top,
 univention-management-console-module-reboot,
 univention-management-console-module-mrtg,
 univention-management-console-module-ucr,
 univention-management-console-module-join,
 univention-management-console-module-updater,
 univention-management-console-module-setup,
 univention-management-console-module-services,
 univention-management-console-module-sysinfo,
 univention-management-console-module-appcenter,
 univention-management-console-module-apps,
 univention-management-console-module-diagnostic,
 univention-management-console-module-passwordchange,
Recommends:
 univention-management-console-module-quota
Description: UCS Management Console - Web based computer administration tool
 UCS Management Console is a web based program to manage computers.
 It has an extensible architecture, using modules to implement
 its features. This package contains the web-frontend, which
 can be installed to provide access to one or several daemons.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-management-console-server
Architecture: all
Depends: ${misc:Depends},
 univention-directory-manager-tools (>> 7.0.147),
 python-univention-management-console (= ${source:Version}),
 univention-base-files,
 shell-univention-lib (>= 1.0.10-1),
 python-daemon,
 python-univention-lib (>= 1.0.25-1),
 pam-saml,
 cy2-saml,
Description: UCS Management Console - server
 UCS Management Console is a web based program to manage computers.
 It has an extensible architecture, using modules to implement
 its features. This package contains the backend-daemon, which
 can be installed on any UCS-system to provide functionalities
 for univention-management-console
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: python-univention-management-console
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 python-univention-config-registry,
 python-univention-lib (>= 1.0.80),
 python-univention-directory-manager (>=9.0.75-1),
 univention-join,
 python-univention,
 python-cryptography,
 python-openssl,
 python-pam,
 python-polib,
 python-notifier (>= 0.9.5-1),
 python-six,
Provides: ${python:Provides}
Description: UCS Management Console - Python 2 Modules
 UCS Management Console is a web based program to manage computers.
 It has an extensible architecture, using modules to implement
 its features. This package contains the backend-daemon, which
 can be installed on any UCS-system to provide functionalities
 for univention-management-console
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: python3-univention-management-console
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
 python3-univention-config-registry,
 python3-univention-lib,
 python3-univention-directory-manager,
 univention-join,
 python3-univention,
 python3-cryptography,
 python3-openssl,
 python3-pam,
 python3-polib,
 python3-notifier,
 python3-six,
Provides: ${python3:Provides}
Description: UCS Management Console - Python 3 Modules
 UCS Management Console is a web based program to manage computers.
 It has an extensible architecture, using modules to implement
 its features. This package contains the backend-daemon, which
 can be installed on any UCS-system to provide functionalities
 for univention-management-console
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-management-console-dev
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 python-univention-config-registry,
 python-polib,
 univention-ucs-translation-template (>> 6.0.0-6),
 gettext,
 devscripts,
 imagemagick | inkscape
Description: UCS Management Console - development files
 UCS Management Console is a web based program to manage computers. It has
 an extensible architecture, using modules to implement its
 features. This package contains development files helping to implement
 and package own UMC module
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-management-console-doc
Architecture: all
Depends: ${misc:Depends},
 univention-doc
Description: UCS Management Console - documentation
 UCS Management Console is a web based program to manage computers. It has
 an extensible architecture, using modules to implement its
 features. This package contains the documentation for the architecture,
 protocols and API
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-management-console-frontend
Architecture: all
Depends: ${misc:Depends},
 univention-apache,
 univention-web-js,
 univention-web-style,
 univention-management-console-login,
Breaks: univention-management-console-module-sysinfo (<< 7),
Description: UCS Management Console - Web based computer administration tool
 UCS Management Console is a web based program to manage computers.
 It has an extensible architecture, using modules to implement
 its features. This package contains the AJAX web-frontend
 application. It is written using the Dojo Toolkit and allows to
 access the univention management console web-services through
 the web browser.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-management-console-web-server
Architecture: all
Depends: ${misc:Depends},
 univention-management-console-frontend,
 univention-management-console-server,
 python-univention-management-console (= ${source:Version}),
 univention-base-files,
 curl,
 openssl,
 python-cherrypy3,
 python-daemon,
 python-ipaddr,
 python-pysaml2,
 python-defusedxml,
 univention-saml-schema,
 shell-univention-lib
Description: UCS Management Console - Web server
 UCS Management Console is a web based program to manage computers.
 It has an extensible architecture, using modules to implement
 its features. This package contains the web server providing
 HTTP access to the UMC server.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-management-console-login
Architecture: all
Depends: ${misc:Depends},
 univention-apache,
 univention-web-js,
 univention-web-style,
Description: UCS Management Console - Login page
 UCS Management Console is a web based program to manage computers.
 It has an extensible architecture, using modules to implement
 its features. This package contains the generic login page.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

