Source: univention-management-console
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7.0.50~),
 ucslint,
 python2.6-dev,
 python-support,
 python-polib,
 univention-config-dev
Standards-Version: 3.7.2

Package: univention-management-console
Architecture: all
Depends: ${misc:Depends},
 python-univention-management-console (= ${source:Version}),
 univention-management-console-server (= ${source:Version}),
 univention-management-console-web-server,
 univention-management-console-module-top,
 univention-management-console-module-reboot,
 univention-management-console-module-mrtg,
 univention-management-console-module-ucr,
 univention-management-console-module-join,
 univention-management-console-module-updater,
 univention-management-console-module-setup,
 univention-management-console-module-services,
 univention-management-console-module-sysinfo,
 univention-management-console-module-packages,
 univention-management-console-module-quota
Description: UCS Management Console - Web based computer administration tool
 UCS Management Console is a web based program to manage computers.
 It has an extensible architecture, using modules to implement
 its features. This package contains the web-frontend, which
 can be installed to provide access to one or several daemons.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-management-console-server
Architecture: all
Depends: ${misc:Depends},
 univention-directory-manager-tools (>> 7.0.147),
 python-univention-management-console (= ${source:Version}),
 shell-univention-lib (>= 1.0.10-1),
 python-daemon,
 python-univention-lib (>= 1.0.25-1)
Description: UCS Management Console - server
 UCS Management Console is a web based program to manage computers.
 It has an extensible architecture, using modules to implement
 its features. This package contains the backend-daemon, which
 can be installed on any UCS-system to provide functionalities
 for univention-management-console
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: python-univention-management-console
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 python-univention-config-registry,
 python-univention-lib,
 univention-join,
 python-univention,
 python-pyopenssl,
 python-pam,
 python-polib,
 python-notifier (>= 0.9.5-1)
Provides: ${python:Provides}
Description: UCS Management Console - Python Modules
 UCS Management Console is a web based program to manage computers.
 It has an extensible architecture, using modules to implement
 its features. This package contains the backend-daemon, which
 can be installed on any UCS-system to provide functionalities
 for univention-management-console
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-management-console-dev
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 python-univention-config-registry,
 python-polib,
 gettext,
 inkscape | imagemagick
Description: UCS Management Console - development files
 UCS Management Console is a web based program to manage computers. It has
 an extensible architecture, using modules to implement its
 features. This package contains development files helping to implement
 and package own UMC module
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
