#!/usr/bin/make -f
#
# Univention Management Console
#  rules file for the debian package
#
# Copyright (C) 2004, 2005, 2006, 2007 Univention GmbH
#
# http://www.univention.de/
#
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 2 as
# published by the Free Software Foundation.
#
# Binary versions of this file provided by Univention to you as
# well as other copyrighted, protected or trademarked materials like
# Logos, graphics, fonts, specific documentations and configurations,
# cryptographic keys etc. are subject to a license agreement between
# you and Univention.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

version=`dpkg-parsechangelog | grep "Version" | sed -e 's/Version: //'`
copyrightyear=`date +%Y`

PACKAGE_NAME=python-univention-management-console
MODULE_NAME=univention-management-console
# DESTDIR=debian/tmp

PYVERS=$(shell pyversions -vr)

build: build-stamp
build-stamp: $(PYVERS:%=build-ext-%)
build-ext-%:
	dh_testdir
	touch $@
	make
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -rf *~ debian/tmp debian/*~ debian/files* debian/substvars
	make clean
	rm -f build-stamp
	dh_clean

install: build-stamp $(PYVERS:%=install-ext-%)
install-ext-%:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	make PACKAGE=univention-management-console-themes install-images
	make PACKAGE=univention-management-console install-frontend
	make PACKAGE=univention-management-console install-locales-frontend
	make PACKAGE=python-univention-management-console install-modules
	make PACKAGE=python-univention-management-console install-locales-backend

	echo -n "`date +"%d.%m.%Y"`" > debian/univention-management-console/usr/share/univention-management-console/frontend/builddate
	cat debian/changelog | head -1 > debian/univention-management-console/usr/share/univention-management-console/frontend/buildversion
	install -m 0744 vnc/*.jar debian/univention-management-console/usr/share/univention-management-console/www/vnc/
	install -m 0744 vnc/*.php debian/univention-management-console/usr/share/univention-management-console/www/vnc/
	install -m 0744 vnc/univention-vnc-setpassword debian/univention-management-console/usr/share/univention-management-console/
	install -m 0744 univention-create-acls debian/univention-management-console/usr/share/univention-management-console/


	install -m 0744 usr/sbin/univention-management-console-proxy.py debian/univention-management-console-proxy/usr/sbin/univention-management-console-proxy
	install -m 0744 usr/sbin/univention-management-console-server.py debian/univention-management-console-server/usr/sbin/univention-management-console-server
	install -m 0744 usr/sbin/univention-management-console-client.py debian/univention-management-console-server/usr/sbin/univention-management-console-client
	install -m 0744 usr/sbin/univention-management-console-module.py debian/univention-management-console-server/usr/sbin/univention-management-console-module

	install -m 0755 34univention-management-console-server.inst debian/univention-management-console-server/usr/lib/univention-install/
	install -m 0755 35univention-management-console-proxy.inst debian/univention-management-console-proxy/usr/lib/univention-install/

	install -m644 icons/32x32/* debian/univention-management-console/usr/share/univention-webui-style/icon/applications/32x32
	install -m644 icons/64x64/* debian/univention-management-console/usr/share/univention-webui-style/icon/applications/64x64
	install -m644 icons/128x128/* debian/univention-management-console/usr/share/univention-webui-style/icon/applications/128x128
	install -m644 icons/scalable/* debian/univention-management-console/usr/share/univention-webui-style/icon/applications/scalable

	touch debian/univention-management-console-server/etc/runit/univention-management-console-server/down
	ln -s /usr/share/univention-runit/sleep-dynamic debian/univention-management-console-server/etc/runit/univention-management-console-server/finish

	touch debian/univention-management-console-proxy/etc/runit/univention-management-console-proxy/down
	ln -s /usr/share/univention-runit/sleep-dynamic debian/univention-management-console-proxy/etc/runit/univention-management-console-proxy/finish

	univention-install-config-registry
	univention-install-config-registry-info

binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installchangelogs -i
	dh_pycentral -Nunivention-management-console -Nunivention-management-console-server -Nunivention-management-console-themes -Nunivention-management-console-proxy
	dh_installdocs -i
	dh_installexamples -i
	dh_installinit --no-start -r
	dh_installman -i
	dh_link -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary-arch: build install
	dh_pycentral

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
