[Unit]
Description=Univention Management Console Server
After=network.target remote-fs.target
Wants=slapd.service

[Service]
Type=exec
PIDFile=/var/run/umc-server.pid
ExecStart=/usr/sbin/univention-management-console-server start
ExecStop=/usr/sbin/univention-management-console-server stop
ExecReload=/usr/sbin/univention-management-console-server reload
User=root
Group=root

[Install]
WantedBy=multi-user.target
