[Unit]
Description=Obsolete Univention Management Console Web Server

[Service]
Type=oneshot
ExecStart=echo "Deprecated. Use systemctl start univention-management-console-server"
ExecStop=echo "Deprecated. Use systemctl stop univention-management-console-server"
User=root
Group=root

[Install]
WantedBy=multi-user.target
