[Unit]
Description=Univention Management Console Server
After=network.target remote-fs.target
Wants=slapd.service

[Service]
Type=exec
KillMode=mixed
UMask=0077
LimitNOFILE=64512
ExecStart=/usr/sbin/univention-management-console-server
ExecReload=/bin/kill -SIGUSR1 $MAINPID
User=root
Group=root

[Install]
WantedBy=multi-user.target
Alias=univention-management-console-web-server.service
