[Unit]
Description=Univention Management Console Web Server
After=network.target remote-fs.target univention-management-console-server.service
Before=apache2.service

[Service]
Type=exec
UMask=0077
ExecStart=/usr/sbin/univention-management-console-web-server
ExecReload=/bin/kill -SIGUSR1 $MAINPID
User=root
Group=root

[Install]
WantedBy=multi-user.target
