Section: univention
Priority: optional
Maintainer: __KMAINT__ <__KEMAIL__>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2
Source: srvmagt-modules-__KVERS__

Package: srvmagt-modules-__KVERS__
Architecture: i386
Depends: srvmagt-modules-__KVERS__
Description: fujitsu-siemens (FSC)-related modules for hardware-monitoring
 and -management. Allows snmp-tools (fsc provides serverview) to monitor
 many components of compatible FSC-hardware.
