Source: univention-nagios
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 4.0.0), univention-config-dev, python, python-all-dev, python-central
Standards-Version: 3.5.2
XS-Python-Version: all

Package: univention-nagios-server
Architecture: any
Depends: nagios2, nagios2-common, nagios2-doc, nagios-images, univention-nagios-client, nagios-plugins, nagios-nrpe-plugin, libapache2-mod-auth-pam, python-univention-directory-manager, univention-directory-listener
XB-Python-Version: ${python:Versions}
Conflicts: univention-management-console (<<0.9.34-6)
Description: UCS: nagios server support
 This package installs the required packages to allow monitoring
 clients by nagios.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-nagios-client
Architecture: any
Depends: nagios-plugins, nagios-nrpe-server, sed, grep, coreutils, cron, raidutils, python-univention-directory-manager |python2.4-univention-admin , univention-directory-listener
XB-Python-Version: ${python:Versions}
Description: UCS: nagios client support
 This package installs the required packages to allow clients
 to be monitored by nagios.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
