Source: univention-join
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.5.2
Build-Depends: debhelper,
 ucslint-univention,
 univention-config-dev,
 dh-python,
 univention-management-console-dev,

Package: univention-join
Architecture: all
Depends: ${misc:Depends},
 univention-directory-manager-tools (>> 7.0.147),
 univention-admin-diary-client (>= 1.0.0-44),
 univention-config,
 shell-univention-lib (>= 3.0.26-28),
 univention-ssh (>= 3.0.1-2),
 univention-ssl (>= 13.0.0-5),
 iputils-ping,
 tofrodos,
 ldap-utils,
 python-univention-lib (>= 1.0.25-1)
Breaks: univention-ldap-server (<< 14.0.2-35),
Description: UCS - join domains
 This packages allows for the joining of UCS computers to a
 UCS domain.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-management-console-module-join
Architecture: all
Depends: ${misc:Depends},
 ${python:Depends},
 ${python3:Depends},
 python-dnspython,
 univention-directory-manager-tools (>> 7.0.147),
 univention-management-console-server (>= 11.0.4-37),
 univention-join (= ${source:Version}),
 univention-updater,
 univention-management-console-module-lib (>= 3.0.0-1),
 python-notifier,
Description: UMC module for system join
 This package contains the UMC module for system join actions.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
