Source: univention-client-kernel-image
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper
Standards-Version: 3.5.2

Package: univention-client-kernel-image
Architecture: all
Depends: univention-client-kernel-image-2.6.28.2-univention.thinclient.9
Description: UCS - Linux kernel for thin clients
 This package installs the Linux kernel for thin clients
 (on the server).
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
