Source: univention-system-setup
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.5.2
Build-Depends: debhelper

Package: univention-system-setup
Architecture: all
Depends: univention-installer-modules, python2.4, python2.4-apt, univention-ipcalc
Description: univention system setup tools
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-system-setup-boot
Architecture: all
Provides: univention-setup-boot
Depends: univention-system-setup
Conflicts: univention-setup-boot (<= 1.0.2)
Replaces: univention-setup-boot
Description: starting univention-system-setup on next boot
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-setup
Architecture: any
Depends: univention-setup
Description: Transition package
 Package to ease upgrading from old package
 univention-setup to the new package.  This package
 can be purged at anytime once the
 univention-system-setup package has been installed.
