#!/usr/bin/make -f
#
# Univention System Setup
#  rules file for the debian package
#
# Copyright 2004-2019 Univention GmbH
#
# https://www.univention.de/
#
# All rights reserved.
#
# The source code of this program is made available
# under the terms of the GNU Affero General Public License version 3
# (GNU AGPL V3) as published by the Free Software Foundation.
#
# Binary versions of this program provided by Univention to you as
# well as other copyrighted, protected or trademarked materials like
# Logos, graphics, fonts, specific documentations and configurations,
# cryptographic keys etc. are subject to a license agreement between
# you and Univention and not subject to the GNU AGPL V3.
#
# In the case you use this program under the terms of the GNU AGPL V3,
# the program is provided in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public
# License with the Debian GNU/Linux or Univention distribution in file
# /usr/share/common-licenses/AGPL-3; if not, see
# <https://www.gnu.org/licenses/>.

override_dh_auto_build:
	dh-umc-module-build
	univention-l10n-build de
	dh_auto_build
	msgfmt -o usr/share/locale/de/LC_MESSAGES/univention-system-setup-scripts.mo usr/share/locale/de/LC_MESSAGES/univention-system-setup-scripts.po

override_dh_auto_install:
	dh-umc-module-install
	univention-l10n-install de
	univention-install-config-registry
	dh_auto_install

override_dh_install:
	dh_install -X.svn

override_dh_installinit:
	dh_installinit -punivention-system-setup-boot --no-start -u"defaults 93"
	dh_installinit -punivention-system-setup-boot-prepare --no-start -u"defaults 15"

override_dh_fixperms:
	dh_fixperms
ifneq ($(wildcard debian/*/usr/lib/univention-system-setup/),)
	find debian/*/usr/lib/univention-system-setup/ -type f -exec chmod +x {} +
endif

override_dh_auto_test:
	ucslint
	run-parts -a -v tests

%:
	dh $@ --with 'python2,python3'


debian/po/templates.pot: debian/po/POTFILES.in
	cd debian && debconf-updatepo --msgid-bugs-address='Univention GmbH <packages@univention.de>'
