access by role="udm:default-roles:role"

  to objecttype="container/dc" position.base="ldap_base"
    grant actions="search,read"
    grant properties="*" permission="read"

  to objecttype="container/dc" position.base="context=udm:contexts:position"
    grant actions="search,read,create,modify"
    grant properties="*" permission="write"

  to objecttype="container/dc" position.base="cn=internal"
    grant actions="search,read"
    grant properties="*" permission="read"
