Source: univention-webui
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper, python2.4, python-xml
Standards-Version: 3.5.5

Package: univention-webui
Architecture: all
Conflicts: univention-admin (<< 2.16-21), univention-console (<< 1.3-2)
Depends: univention-webui-style, univention-apache, php5-gd, gsfonts
Description: Univention WebUI - Web based user interface
 Univention WebUI is a web based user interface for Univention Admin and Univention Console.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
