#!/usr/bin/make -f
#
# Univention Webui
#  rules file for the debian package
#
# Copyright (C) 2004, 2005, 2006 Univention GmbH
#
# http://www.univention.de/
#
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 2 as
# published by the Free Software Foundation.
#
# Binary versions of this file provided by Univention to you as
# well as other copyrighted, protected or trademarked materials like
# Logos, graphics, fonts, specific documentations and configurations,
# cryptographic keys etc. are subject to a license agreement between
# you and Univention.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir
	touch build-stamp

D=$(CURDIR)/debian/univention-webui

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -rf ${D}
	@find modules -name '*.pyo' -exec rm \{\} \;
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	make install DESTDIR=${D}/usr/share/univention-webui/modules/
	install -m644 webui/*.* $(D)/usr/share/univention-webui/www/
	install -m644 webui/includes/*.* $(D)/usr/share/univention-webui/www/includes/

	msgfmt -o modules/locale/de/LC_MESSAGES/univention-webui-modules.mo modules/locale/de/LC_MESSAGES/univention-webui-modules.po
	msgfmt -o webui/locale/de/LC_MESSAGES/univention-webui.mo webui/locale/de/LC_MESSAGES/univention-webui.po
	install -m 0644 modules/locale/de/LC_MESSAGES/univention-webui-modules.mo debian/univention-webui/usr/share/locale/de/LC_MESSAGES/univention-webui-modules.mo
	install -m 0644 webui/locale/de/LC_MESSAGES/univention-webui.mo debian/univention-webui/usr/share/locale/de/LC_MESSAGES/univention-webui.mo

	find ${D} -name CVS | xargs rm -rf

binary-arch: build install

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
