/*
 * Copyright 2015-2022 Univention GmbH
 *
 * https://www.univention.de/
 *
 * All rights reserved.
 *
 * The source code of this program is made available
 * under the terms of the GNU Affero General Public License version 3
 * (GNU AGPL V3) as published by the Free Software Foundation.
 *
 * Binary versions of this program provided by Univention to you as
 * well as other copyrighted, protected or trademarked materials like
 * Logos, graphics, fonts, specific documentations and configurations,
 * cryptographic keys etc. are subject to a license agreement between
 * you and Univention and not subject to the GNU AGPL V3.
 *
 * In the case you use this program under the terms of the GNU AGPL V3,
 * the program is provided in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License with the Debian GNU/Linux or Univention distribution in file
 * /usr/share/common-licenses/AGPL-3; if not, see
 * <https://www.gnu.org/licenses/>.
 */

.umc .updaterDialog .dijitDialogPaneContent .umcText {
	max-height: 400px;
	overflow: auto;
}

.umc .updaterDialog .dijitDialogPaneContent .umcText td +td {
	white-space: nowrap;
	vertical-align: top;
}

.umc .umcUpdaterWarningText {
	min-height: 30px;
	margin-top: calc(2 * var(--layout-spacing-unit));
	padding: 0 calc(2 * var(--layout-spacing-unit)) 0 calc(6 * var(--layout-spacing-unit));
	position: relative;
	color: var(--font-color-error);
}

.umc .umcUpdaterWarningTextIcon {
	position: absolute;
	font-size: 1.3rem;
	top: calc(50% - 0.65rem);
	left: calc(2 * var(--layout-spacing-unit));
}

.umc .umcUpdaterLogViewer {
	margin-bottom: calc(4 * var(--layout-spacing-unit));
}

.umc .umcUpdaterLogViewer .umcText {
	font-family: monospace;
	overflow: auto;
	white-space: pre-wrap;
}
