/*
 * SPDX-FileCopyrightText: 2015-2026 Univention GmbH
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.umc .updaterDialog .dijitDialogPaneContent .umcText {
	max-height: 400px;
	overflow: auto;
}

.umc .updaterDialog .dijitDialogPaneContent .umcText td +td {
	white-space: nowrap;
	vertical-align: top;
}

.umc .umcUpdaterWarningText {
	min-height: 30px;
	margin-top: calc(2 * var(--layout-spacing-unit));
	padding: 0 calc(2 * var(--layout-spacing-unit)) 0 calc(6 * var(--layout-spacing-unit));
	position: relative;
	color: var(--font-color-error);
}

.umc .umcUpdaterWarningTextIcon {
	position: absolute;
	font-size: 1.3rem;
	top: calc(50% - 0.65rem);
	left: calc(2 * var(--layout-spacing-unit));
}

.umc .umcUpdaterLogViewer {
	margin-bottom: calc(4 * var(--layout-spacing-unit));
}

.umc .umcUpdaterLogViewer .umcText {
	font-family: monospace;
	overflow: auto;
	white-space: pre-wrap;
}
