html, body
{
	height: 100%;
    width: 100%;
    border: 0;
	margin: 0;
	padding: 0;
	font: 12px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
	color: #414142;
}

html {
	background: url(../img/bg/page.png) repeat-y scroll center center #EEEEEF;
}

div#content h2 {
	font-weight: normal;
	line-height: 1em;
	margin-top: 0;
	margin-bottom: 0;
	padding: 75px 0 10px 0;
	border-bottom: 1px solid #989A9C;
	font-size: 28px;
}

div#header {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height: 34px;
	background: url(../img/bg/top.png) repeat-x scroll center top transparent;
	color: #FFFFFF;
}

div#header img { border: 0 none; }

div#header div#header-wrapper {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 7px;
	max-width: 961px;
	margin-right: auto;
	margin-left: auto;
	text-align: right;
}

div#header div#header-wrapper div#header-left {
	float: left;
	margin-left: 10px;
}

div#content {
	line-height: 30px;
	margin-left: auto;
	margin-right: auto;
	max-width: 901px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #ffffff;
	background-repeat: repeat-y;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -80px;
}

div#content a {
	margin-right: 15px;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	-webkit-background-size: 16px 16px;
	-moz-background-size: 16px 16px;
}

div#content h1 {
	font-weight: bold;
	line-height: 1em;
	margin-top: 0;
	padding: 75px 0 10px 0;
	border-bottom: 1px solid #989A9C;
	font-size: 20px;
}

div#content h2 {
	border-bottom: none;
	font-size: 16px;
	font-weight: bold;
	padding: 20px 0 5px 0;
}

div#content img {
	border: 0 none;
	height: 16px;
	width: 16px;
	margin-right: 3px;
}

div#content table td:first-child {
	padding-right: 60px;
}

div#language {
	float: right;
}

div#header div#language p {
	margin-top: 1px;
}

div#header div#language img {
	padding-left: 5px;
}


div#content div#categories a {
	background-image: url(../img/ucs.png);
}

div#content span#back {
	float: right;
	font-size: 16px;
	padding: 75px 0 0 0;
}

div#content span#back a {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.htmlLink {
	background-image: url(../img/html.png);
}

.pdfLink {
	background-image: url(../img/pdf.png);
}
