<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Checkout current ucs-test from SVN and build&#xd;
&lt;https://forge.univention.org/svn/dev/branches/ucs-3.0/ucs/test/ucs-test&gt;</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>svn+ssh://svnsync@billy/var/svn/dev/branches/ucs-3.0/ucs/test/ucs-test</remote>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <browser class="hudson.plugins.websvn2.WebSVN2RepositoryBrowser">
      <url>https://billy.knut.univention.de/websvn/listing.php/?repname=dev</url>
      <baseUrl>https://billy.knut.univention.de/websvn/</baseUrl>
      <repname>repname=dev&amp;</repname>
    </browser>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
  </scm>
  <quietPeriod>30</quietPeriod>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec># Immer 30 Minuten nach Mitternacht
30 0 * * *</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>rm -f *.deb *.dsc *.changes
(cd ucs-test &amp;&amp; dpkg-buildpackage -uc -us -b -rfakeroot)
rm -rf repo
mkdir repo
ln *.deb repo/
dpkg-scanpackages repo | gzip -9 &gt;repo/Packages.gz</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>repo/*</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.Fingerprinter>
      <targets>*.deb</targets>
      <recordBuildArtifacts>false</recordBuildArtifacts>
    </hudson.tasks.Fingerprinter>
    <hudson.plugins.ircbot.IrcPublisher>
      <targets class="java.util.Collections$EmptyList"/>
      <strategy>ALL</strategy>
      <notifyOnBuildStart>false</notifyOnBuildStart>
      <notifySuspects>false</notifySuspects>
      <notifyCulprits>false</notifyCulprits>
      <notifyFixers>false</notifyFixers>
      <notifyUpstreamCommitters>false</notifyUpstreamCommitters>
      <buildToChatNotifier class="hudson.plugins.im.build_notify.SummaryOnlyBuildToChatNotifier"/>
      <matrixMultiplier>ONLY_CONFIGURATIONS</matrixMultiplier>
      <channels/>
    </hudson.plugins.ircbot.IrcPublisher>
  </publishers>
  <buildWrappers/>
</project>