Source: univention-management-console-module-udm
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7.0.50~),
 python-support,
 univention-config-dev,
 univention-management-console-dev,
 ucslint-univention,
 python-all
Standards-Version: 3.5.2

Package: univention-management-console-module-udm
Architecture: all
Depends: ${misc:Depends},
 univention-directory-manager-tools (>= 9.0.16-1),
 univention-management-console-server,
 univention-directory-reports,
 python-tornado,
 python-mimeparse,
Provides: univention-directory-manager
Replaces: univention-directory-manager (<< 9.0.0)
Description: UMC module for UCS Directory Manager
 This package contains the UMC module for UCS Directory Manager.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
