#!/usr/bin/make -f
#
# Univention Bind
#  rules file for the debian package
#
# SPDX-FileCopyrightText: 2001-2026 Univention GmbH
# SPDX-License-Identifier: AGPL-3.0-only

override_dh_installsystemd:
	dh_installsystemd --name=univention-bind-ldap --no-enable --no-start --no-stop-on-upgrade

override_dh_auto_build:
	$(MAKE) -C dlz
	dh_auto_build

override_dh_auto_clean:
	$(MAKE) -C dlz clean
	dh_auto_clean

%:
	dh $@ --with ucr
