Source: extended-attribute
Section: univention
Priority: optional
Maintainer: John Doe <user@example.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.2

Package: extended-attribute
Architecture: all
Depends: shell-univention-lib (>= 2.0.25),
 ${misc:Depends}
Description: Example package for an Extended Attribute
 This purpose of this package is to describe the structure of a Debian
 packages. It also documents
 .
  * the structure of a Debian/Univention package
  * installation process.
  * content of packages
  * format and function of control files
 .
 For more information about UCS, refer to:
 https://www.univention.de/
