Source: univention-uefi
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 8),
 univention-config-dev,
 ucslint-univention
Standards-Version: 3.9.4

Package: univention-uefi
Architecture: all
Depends: ${misc:Depends}, efibootmgr, shim, grub-efi, grub-efi-amd64
Description: Meta package for UEFI support on UCS Systems
 This meta package installs all required packages for UEFI support on
 an UCS system.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-uefi-secureboot
Architecture: all
Depends: ${misc:Depends}, univention-uefi (= ${source:Version}), shim-signed, grub-efi-amd64-signed
Description: Meta package for UEFI SecureBoot support on UCS Systems
 This meta package installs all required packages for UEFI SecureBoot 
 support on an UCS system.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
