
.umc .dijitProgressBar {
  margin: 2px 0 2px 0;
}
.umc .dijitProgressBarEmpty {
  
  background: #ffffff url("images/progressBarEmpty.png") repeat-none left;
  border-color: #769dc0;
}
.umc .dijitProgressBarTile {
  
  background: #abd6ff url("images/progressBarFull.png") repeat-x top;
}
.dj_ie6 .umc .dijitProgressBarTile {
  background-image: none;
}
.umc .dijitProgressBarFull {
  border-right: 1px solid #769dc0;
}
.umc .dijitProgressBarLabel {
  
  color: #000000;
}
.umc .dijitProgressBarIndeterminate .dijitProgressBarTile {
  
  background: #efefef url("images/progressBarAnim.gif") repeat-x top;
}
