.dj_ie8 .umc .umcComboBox .dijitInputInner {
	padding-top: 5px;
}

/*.umc .umcLabelPaneLabeNodeTop {
	float: right;
	padding-left: 5px;
	margin-right: 10px;
}*/

.umcLoginDialogFormContainer .umcLabelPane {
	position: relative;
	top: -100px;
}

.umcLoginDialogFormContainer {
	height: 195px;
}
