Source: univention-passwd-cache
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>> 3.0.0),
 ucslint-univention,
 libpam0g-dev
Standards-Version: 3.5.2

Package: libnss-passwdcache
Architecture: any
Depends: ${shlibs:Depends}
Suggests: univention-pam
Recommends: libpam-passwdcache
Description: UCS - NSS password cache
 The included network nameswitch (NSS) module uses
 entries from the passwd, shadow and group database
 cache created by libpam-passwdcache.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: libpam-passwdcache
Architecture: any
Depends: ${shlibs:Depends},
 libpam-runtime
Suggests: univention-pam
Recommends: libnss-passwdcache
Description: UCS - PAM password cache
 The included pluggable authentication module (PAM) caches
 entries from the from the passwd, shadow and group
 databases.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
