Source: univention-ooffice2
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>> 3.0.0),
 univention-config-dev,
 ucslint
Standards-Version: 3.8.2

Package: univention-ooffice2
Architecture: all
Depends: ${misc:Depends},
 openoffice.org,
 openoffice.org-core,
 openoffice.org-l10n-de,
 openoffice.org-l10n-en-us,
 openoffice.org-kde,
 libpaper-utils,
 openoffice.org-help-de,
 openoffice.org-help-en-us,
 openoffice.org-style-crystal
Conflicts: univention-ooffice-mimelnk,
 univention-ooffice (<< 1.0.2)
Description: UCS - Openoffice.org 2
 This package installs Openoffice.org 2, including German
 language support.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-ooffice
Architecture: all
Depends: ${misc:Depends},
 univention-ooffice2
Description: UCS - Openoffice.org transition package
 Package to ease upgrading from old package
 univention-ooffice to the new package. This package
 can be purged at anytime once the univention-ooffice2
 package has been installed.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
