Source: univention-group-membership-cache
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.9.8
Build-Depends:
 debhelper,

Package: univention-group-membership-cache
Architecture: all
Depends:
 ${misc:Depends},
Description: UCS - Group cache
 This package holds a cache for user and group membership (including nested
 groups) so that software does not need to query the LDAP database.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
