#!/usr/bin/make -f
#
# Univention LDAP Listener
#  rules file for the debian package
#
# Copyright (C) 2004, 2005, 2006 Univention GmbH
#
# http://www.univention.de/
#
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 2 as
# published by the Free Software Foundation.
#
# Binary versions of this file provided by Univention to you as
# well as other copyrighted, protected or trademarked materials like
# Logos, graphics, fonts, specific documentations and configurations,
# cryptographic keys etc. are subject to a license agreement between
# you and Univention.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

package=univention-ldap-listener

build:
	dh_testdir
	touch build-stamp
	cd src; $(MAKE) clean; $(MAKE) DB_CFLAGS="-I/usr/include/db3 -DWITH_DB3" DB_LDADD="-ldb3"; cd -

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	cd src; $(MAKE) clean; cd -

	dh_clean

install:
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	install -m 755 src/listener debian/univention-ldap-listener/usr/sbin/univention-ldap-listener
	install -m 755 src/dump debian/univention-ldap-listener/usr/sbin/univention-ldap-listener-dump
	install -m 755 src/verify debian/univention-ldap-listener/usr/sbin/univention-ldap-listener-verify
	
	install -m 755 src/listener-ctrl debian/univention-ldap-listener/usr/sbin/univention-ldap-listener-ctrl
	install -m 644 python/listener.py debian/univention-ldap-listener/usr/lib/python2.4/site-packages
	install -m 755 python/ldap_server.py debian/univention-ldap-listener/usr/lib/univention-ldap-listener/system
	install -m 755 03univention-ldap-listener.inst debian/univention-ldap-listener/usr/lib/univention-install/
	install -m 755 python/get_notifier_id.py debian/univention-ldap-listener/usr/share/univention-ldap-listener/

	touch debian/univention-ldap-listener/etc/runit/univention-ldap-listener/down
	univention-install-baseconfig
	ln -s /usr/share/univention-runit/sleep-dynamic debian/univention-ldap-listener/etc/runit/univention-ldap-listener/finish

	# add file to be used by univention-console
	echo "Univention-LDAP-Listener;univention-ldap-listener;/usr/sbin/univention-ldap-listener;50" > debian/univention-ldap-listener/etc/univention/daemons/univention-ldap-listener

	dh_install

binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_installchangelogs -a
	dh_installdocs -a
	dh_installexamples -a
	dh_installinit -a --no-start -r -u"defaults 50"
	dh_installman -a
	dh_link -a
	dh_compress -a
	dh_fixperms -a
	dh_shlibdeps -a
	dh_installdeb -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary-indep: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
