.umcImageUploader
	.umcImage
		display: flex
		align-items: center
		justify-content: center
		position: relative
		&Empty
			background: var(--color-grey8)

		img,
		&Empty__message
			position: absolute
			padding-bottom: 50%
			pointer-events: none

	.dijitButton
		margin-top: 0.5rem
	.dijitButton:not(:last-child)
		margin-right: 0.5rem
