.umcImage
	border-radius: 2px
	background: url(images/checkerboard-pattern.png)
	width: 100%
	padding-top: 50%

	img
		width: auto
		max-width: 100%
		height: auto
		max-height: 300px
		display: block
		margin: 0 auto
