@import "../variables"

.umc
	.umcMultiInput
		margin-bottom: 1.5em

		.umcMultiInputContainer
			position: relative

		/* add a padding to the last element of a row */
		.umcMultiInputContainer .umcMultiInputLastRowEntry
			$layoutrow--make-space-for-buttons(1)

		.umcMultiInputRemoveButton
			position: relative
			padding: 0 $labelpane-padding-right 0 $labelpane-padding-left
			bottom: $layoutrow-button-bottom
			margin: 0

		.umcMultiInputAddButton
			margin: 0 0 0 $labelpane-padding-left

	.umcMultiInputRowsLabelPane
		display: block
		padding-bottom: 0 !important

	.umcMultiInputContainer:not(:first-child) .umcLabelPane .umcLabelPaneLabelNode
		display: none
	.umcMultiInput--singleWidgetInRows .umcMultiInputContainer .umcLabelPane .umcLabelPaneLabelNode
		display: none

	// TODO check what this does
	.umcMultiInputDisabled .umcMultiInputContainer .umcMultiInputLastRowEntry
		padding-right: 0

