@require "../variables.styl"


.umcMultiObjectSelect__buttons
	margin-top: spacing(1)

	.dijitButton:not(:last-child)
		margin-right: spacing(1)

.umcMultiObjectSelect__detailDialog .umcLabelPane-umcMultiSelect
	margin-top: spacing(2)
