@require "../variables.styl"
@require "../buttons.styl"


.umcMultiUploader__buttons
	margin-top: spacing(1)

	.umcUploader
		margin-right: spacing(1)
		display: inline-block

.umcMultiUploader__progressText
	width: min-content
