@require "../variables.styl"


.umcMultiObjectSelect__buttons
	margin-top: 0.5rem

	.dijitButton:not(:last-child)
		margin-right: 0.5rem

.umcMultiObjectSelect__detailDialog .umcLabelPane-umcMultiSelect
	margin-top: spacing(1)
