@require "../HTMLElements.styl"


.ucsNotificationsButton.dijitChecked
	color: var(--color-primary)

.ucsNotifications
	overflow: auto
	position: fixed
	top: var(--layout-height-header)
	bottom: 0
	right: 0
	width: 80%
	max-width: 360px
	border: 0px solid var(--color-grey8)
	border-top-width: var(--layout-spacing-unit-small)
	background-color: var(--color-grey0)
	transition: transform cubic-bezier(0.4, 0, 0.6, 1) 0.15s
	z-index: 30
	transform: translate3d(110%, 0, 0)
	padding: 0 calc(2 * var(--layout-spacing-unit))
	display: flex
	flex-direction: column
	box-shadow: var(--box-shadow)

	&--open
		transform: translate3d(0, 0, 0)

.ucsNotifications__title
	margin: calc(2 * var(--layout-spacing-unit)) 0

$ucsNotificationBorderRadius = var(--border-radius-notification)
$ucsNotificationBgc = rgba(0, 0, 0, 0.4)
.ucsNotification
	background: $ucsNotificationBgc
	backdrop-filter: blur(20px)
	border-radius: $ucsNotificationBorderRadius
	padding: 16px
	font-size: var(--font-size-small)
	margin-bottom: 16px

	&--warning
		background: var(--color-error)
		a
			@extends a.sameColorInStates
		.ucsNotification__closeButton
			--button-icon-bgc-overlay-hover: rgba(0, 0, 0, 0.08)
			--button-icon-bgc-overlay-active: rgba(0, 0, 0, 0.16)

.ucsNotification__header
	display: flex
	align-items: center
	margin-bottom: 8px

.ucsNotification__logoWrapper
	flex: 0 0 auto
	width: 16px
	height: 16px
	border-radius: 2px
	background: var(--color-grey25)
	margin-right: 8px

.ucsNotification__title
	flex: 1 1 auto

.ucsNotification__closeButton
	flex: 0 0 auto
	font-size: var(--font-size-small)

.ucsNotification__content
	padding: 0 !important

.ucsNotificationPreview
	position: fixed
	top: calc(var(--layout-height-header) + 1rem)
	right: var(--layout-spacing-unit)
	width: 90vw
	max-width: 300px
	opacity: 0
	transition: opacity 0ms

	.ucsNotification
		position: relative
		// background: transparent
		margin: 0

	&--open
		opacity: 1

.ucsNotificationPreview__background--drained
	position: absolute
	top: 0
	left: 0
	bottom: 0
	right: 0
	overflow: hidden
	border-radius: $ucsNotificationBorderRadius
	// background: var(--color-grey25)

.ucsNotificationPreview__background--full
	height: 100%
	width: 100%
	border-radius: $ucsNotificationBorderRadius 0 0 $ucsNotificationBorderRadius
	background: $ucsNotificationBgc
	transition: width 0ms linear

	&.drained
		// width: 0 // no drain styling for now
		width: 100%

.ucsNotificationPreview__triangle
	display: none
	position: absolute
	top: -12px
	right: 72px
	width: 0
	height: 0
	border-left: 8px solid transparent
	border-right: 8px solid transparent
	border-bottom: 12px solid $ucsNotificationBgc
