.umcNotificationSnackbar
	pointer-events: none
	position: fixed
	bottom: 0
	left: 0
	right: 0
	z-index: 2
	display: flex
	justify-content: center

.umcSnackbarNotification
	--bgc: s('rgba(var(--color-grey0-rgb), 0.8)')
	--font-size: var(--font-size-small)
	pointer-events: auto
	border-radius: 8px
	min-width: 288px
	@media (max-width: @min-width)
		min-width: 100%
	max-width: 568px
	min-height: 48px
	padding: 1em
	color: var(--font-color-contrast-high)
	background-color: var(--bgc)
	box-shadow: var(--box-shadow)
	margin-bottom: calc(2 * var(--layout-spacing-unit))
	font-size: var(--font-size)
	position: relative

.umcSnackbarNotificationMessage
	transition: opacity 0s 0.3s

.umcSnackbarNotificationMessage
	display: grid
	grid-gap: 0.5em
	grid-template-columns: auto auto
	grid-template-areas: "text close"

.umcSnackbarNotification
	&Warning
		--bgc: var(--color-error)
	&Success
		--bgc: var(--color-primary)

	&Warning,
	&Success
		.umcSnackbarNotificationMessage
			grid-template-columns: min-content auto auto
			grid-template-areas: "icon text close"


.umcSnackbarNotificationMessageIcon
	grid-area: icon
	align-self: center

.umcSnackbarNotificationMessageText
	grid-area: text

.umcSnackbarNotificationMessageClose
	grid-area: close
	justify-self: end
	align-self: center
	font-size: 1rem

.umcSnackbarNotificationMessageActionButton
	grid-column: 1 / 3
	text-align: right
	text-transform: uppercase
	font-weight: 500
	height: 20px
	line-height: 20px
	border: none
	background-color: transparent
	color: green
	
/*
	&.multiLineWithActionButton	.umcSnackbarNotificationMessage .umcSnackbarNotificationMessageActionButton
		margin: 24px 0 0 0

	&.umcSnackbarNotificationWarning
		background-color: red

		.umcSnackbarNotificationMessage .umcSnackbarNotificationMessageActionButton
				color: inherit
*/
