@require "../variables.styl"


.umcPage:after
	content: ''
	display: block
	clear: both

.umcPageFooter
	display: flex
	justify-content: space-between

.umcPageFooterLeft,
.umcPageFooterRight
	display: flex
	grid-gap: spacing(2)
