.umc .umcPageNavContent
	.dijitTab
		color: var(--font-color-contrast-middle)
	.dijitTabChecked
		color: var(--font-color-contrast-high)
	.dijitTabChecked,
	.dijitTabHover
		.tabLabel
			text-decoration: underline
	.tabLabel--error
		color: var(--font-color-error)
