@require "../variables.styl"


.umcWizardCard
	padding: spacing(2) 0
	background-color: var(--bgc-content-container)
	border-radius: var(--border-radius-container)

	.umcPageFooter
		padding-top: spacing(2)

.umc .umcModule .umcWizard
	@extends .umcWizardCard
	margin: 0 spacing(2)
