Source: univention-appcenter
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7.0.50~),
 dh-python,
 ucslint-univention,
 univention-join,
 univention-ucs-translation-template,
 univention-config-dev,
 univention-management-console-dev (>= 11.0.4-37),
 python-debian,
 python-all,
 python3-all,
 ucslint,
 stylus
Standards-Version: 3.8.2

Package: univention-management-console-module-appcenter
Architecture: all
Depends: univention-management-console-server (>= 11.0.4-37),
 python-univention-lib,
 python-univention (>= 12.0.0-5),
 shell-univention-lib (>= 3.0.12-4),
 python-univention-directory-manager (>= 14.0.14-14),
 python-univention-appcenter (= ${source:Version}),
 univention-config,
 univention-updater,
 univention-management-console-module-lib,
 ${misc:Depends},
 ${python:Depends},
Replaces: univention-management-console-module-packages (<< 2.0.55-1)
Breaks: univention-management-console-module-packages (<< 2.0.55-1)
Description: UMC module for software management
 This package contains the UMC module for the package management.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-management-console-module-packages
Architecture: all
Depends: univention-management-console-module-appcenter (= ${source:Version}),
 ${misc:Depends},
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.

Package: univention-appcenter
Depends: python-univention-appcenter (= ${source:Version}),
 ${misc:Depends},
 ${python:Depends}
Recommends: univention-appcenter-docker
Replaces: python-univention-appcenter (<= 8.0.11-13)
Breaks: univention-ldap-server (<< 12.1.6-8),
 python-univention-appcenter (<= 8.0.11-13)
Architecture: all
Description: Tools for Univention App Center
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: python-univention-appcenter
Architecture: all
Depends: univention-ssh,
 univention-join (>= 10.0.0-12),
 univention-directory-manager-tools (>= 14.0.14-14),
 univention-admin-diary-client (>= 1.0.0-29),
 python-univention (>= 12.0.0-5),
 python-univention-config-registry,
 python-univention-directory-manager (>= 14.0.14-14),
 python-mysqldb,
 gnupg,
 zsync,
 python-ipaddr,
 ${misc:Depends},
 ${python:Depends},
Recommends: univention-appcenter
Provides: ${python:Provides}
Description: Library for Univention App Center
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: python3-univention-appcenter
Architecture: all
Depends: univention-ssh,
 univention-join,
 univention-directory-manager-tools,
 univention-admin-diary-client,
 python3-univention,
 python3-univention-config-registry,
 python3-univention-directory-manager,
 python3-mysqldb,
 gnupg,
 zsync,
 python-ipaddr,
 ${misc:Depends},
 ${python3:Depends},
Recommends: univention-appcenter
Provides: ${python3:Provides}
Description: Library for Univention App Center
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-appcenter-dev
Architecture: all
Depends: python-univention-appcenter-dev (>= 8.0.11-81)
 ${misc:Depends},
Description: Development tools for Univention App Center
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: python-univention-appcenter-dev
Architecture: all
Depends: univention-appcenter (= ${source:Version}),
 python-univention (>= 12.0.0-5),
 dpkg,
 apt-utils,
 zsync,
 ${misc:Depends},
 ${python:Depends},
Replaces: univention-appcenter-dev (<< 8.0.11-81)
Breaks: univention-appcenter-dev (<< 8.0.11-81)
Provides: ${python:Provides}
Description: Development tools for Univention App Center
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: python3-univention-appcenter-dev
Architecture: all
Depends: univention-appcenter (= ${source:Version}),
 python3-univention,
 dpkg,
 apt-utils,
 zsync,
 ${misc:Depends},
 ${python3:Depends},
Provides: ${python3:Provides}
Description: Development tools for Univention App Center
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-appcenter-docker
Architecture: all
Depends: python-univention-appcenter-docker (>= 8.0.11-81),
 ${misc:Depends},
Description: Docker integration for Univention App Center
 This package contains a Docker integration for certain apps
 of the Univention App Center.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: python-univention-appcenter-docker
Architecture: all
Depends: python-univention-appcenter (= ${source:Version}),
 univention-docker (>= 2.0.0-4),
 python-univention (>= 12.0.0-5),
 docker-compose,
 pass,
 python-ruamel.yaml,
 univention-apache,
 ${misc:Depends},
 ${python:Depends},
Replaces: univention-appcenter-docker (<< 8.0.11-81)
Breaks: univention-appcenter-docker (<< 8.0.11-81)
Provides: ${python:Provides}
Description: Docker integration for Univention App Center
 This package contains a Docker integration for certain apps
 of the Univention App Center.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: python3-univention-appcenter-docker
Architecture: all
Depends: python3-univention-appcenter,
 univention-docker,
 python3-univention,
 docker-compose,
 pass,
 python3-ruamel.yaml,
 univention-apache,
 ${misc:Depends},
 ${python3:Depends},
Provides: ${python3:Provides}
Description: Docker integration for Univention App Center
 This package contains a Docker integration for certain apps
 of the Univention App Center.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-management-console-module-apps
Architecture: all
Depends: univention-management-console-module-appcenter (= ${source:Version}),
 python-polib,
 ${misc:Depends},
 ${python:Depends},
Description: UMC module for application overview
 This package contains the overview page for every installed
 Univention App.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
