Source: univention-novnc
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 9),
 ucslint-univention,
 univention-config-dev,
Standards-Version: 3.8.3

Package: univention-novnc
Architecture: all
Depends: ${misc:Depends},
 novnc,
 systemd,
 python3-websockify,
 univention-base-files,
 univention-config,
Description: HTML5 VNC client integration into UVMM
 VNC client using HTML5 (WebSockets, Canvas) with encryption (wss://) support.
