Source: univention-doc
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.5.5
Build-Depends: debhelper,
 univention-config-dev,
 ucslint-univention,
 dh-python,
 python-all,
 python3-all,

Package: univention-doc
Architecture: all
Depends: python2.7,
 python-sphinx,
 ${misc:Depends},
 ${python:Depends},
 ${python3:Depends},
Description: tool to build source documentation
 This package contains scripts and configurations for HTML and PDF documentations build from our sources.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
