Source: univention-dependency-dummy
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.5.5
Build-Depends: debhelper (>= 7.0.50~),
 ucslint

Package: univention-dependency-dummy
Architecture: all
Provides: univention-system-setup,
 univention-grub
Description: temporary development package
 This package was build to provide a target for missing package dependencies.
 Please note: this package is designed for development only!
