<?xml version="1.0" encoding="UTF-8"?>
<umc version="2.0">
  <module icon="ucr/module" version="2.0">
	<name>Univention Configuration Registry</name>
	<description>Managing UCR variables</description>
	<command name="ucr/set" function="set" />
  </module>
</umc>
