Source: univention-x-core
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends:
 debhelper,
 ucslint-univention,
 univention-config-dev,
Standards-Version: 3.8.2

Package: univention-x-core
Architecture: all
Pre-Depends:
 univention-config,
Depends:
 ldap-utils,
 univention-policy-tools,
 x11-common,
 xbase-clients,
 xorg,
 xserver-xorg (>> 1:7.3),
 xserver-xorg-input-kbd,
 xserver-xorg-input-libinput,
 xserver-xorg-input-mouse,
 xserver-xorg-video-all,
 xserver-xorg-video-openchrome,
 ${misc:Depends},
Recommends:
 univention-kdm,
Conflicts:
 xserver-xfree86 (<< 6.8.2),
Description: UCS - X Window System
 This package contain a meta-package, that sets up a graphical login.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
