Source: univention-bootsplash
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>> 3.0.0), univention-config-dev
Standards-Version: 3.5.2

Package: univention-bootsplash
Architecture: all
Pre-Depends: univention-config-registry
Depends: bootsplash
Description: UCS - bootsplash
 Univention Bootsplash manages splashimages on bootup.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
