[Unit]
Description=Starting univention-welcome screen
ConditionKernelCommandLine=splash
Before=plymouth-quit.service
After=apache2.service

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=-/usr/bin/univention-welcome-screen
Type=forking
