Source: univention-xen
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7.0.50~),
 univention-config-dev
Standards-Version: 3.6.2

Package: univention-xen
Architecture: i386 amd64
Depends: ${misc:Depends}, ${perl:Depends},
 xen-4.1,
 libc6-xen [i386],
 univention-kernel-image-2.6.32-xen,
 bridge-utils
Suggests: xen-tools,
 wget
Description: UCS - Xen configuration and management subsystem
 This packages provides the basic configuration for the
 Xen virtualisation technology.
 .
 This meta package depends on all packages required for a Xen-4.1
 dom0 host system.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
