/*
 * Like what you see? Join us!
 * https://www.univention.com/about-us/careers/vacancies/
 *
 * Copyright 2017-2022 Univention GmbH
 *
 * https://www.univention.de/
 *
 * All rights reserved.
 *
 * The source code of this program is made available
 * under the terms of the GNU Affero General Public License version 3
 * (GNU AGPL V3) as published by the Free Software Foundation.
 *
 * Binary versions of this program provided by Univention to you as
 * well as other copyrighted, protected or trademarked materials like
 * Logos, graphics, fonts, specific documentations and configurations,
 * cryptographic keys etc. are subject to a license agreement between
 * you and Univention and not subject to the GNU AGPL V3.
 *
 * In the case you use this program under the terms of the GNU AGPL V3,
 * the program is provided in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License with the Debian GNU/Linux or Univention distribution in file
 * /usr/share/common-licenses/AGPL-3; if not, see
 * <https://www.gnu.org/licenses/>.
 */


.umc
	.umcLiveSearch
		padding: 0 var(--layout-spacing-unit)
		margin-bottom: calc(3 * var(--layout-spacing-unit))

	.umcGalleryPane
		clear: both

		.umcGalleryWrapperItem
			a
				text-decoration: none
				&:hover
					color: inherit

			@media (max-width: 549px)
				padding: var(--layout-spacing-unit)

		.umcGalleryItem
			&:hover
				background-color: var(--serveroverview-tile-hover-bgc)
				color: var(--serveroverview-tile-hover-color)


	#content
		h2
			text-align: left
			margin: calc(3 * var(--layout-spacing-unit)) var(--layout-spacing-unit) calc(2 * var(--layout-spacing-unit))

	#standby
		position: fixed
		top: var(--layout-height-header)
		left: 0
		right: 0
		bottom: 0
		display: flex
		align-items: center
		justify-content: center
		opacity: 0
		transition: opacity 250ms
		&.standbyShown
			opacity: 1
	#standbyBackground
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: var(--bgc-content-body)
		opacity: 0.8
