/*
 * SPDX-FileCopyrightText: 2017-2026 Univention GmbH
 * SPDX-License-Identifier: AGPL-3.0-only
 */


.umc
	.umcLiveSearch
		padding: 0 var(--layout-spacing-unit)
		margin-bottom: calc(3 * var(--layout-spacing-unit))

	.umcGalleryPane
		clear: both

		.umcGalleryWrapperItem
			a
				text-decoration: none
				&:hover
					color: inherit

			@media (max-width: 549px)
				padding: var(--layout-spacing-unit)

		.umcGalleryItem
			&:hover
				background-color: var(--serveroverview-tile-hover-bgc)
				color: var(--serveroverview-tile-hover-color)


	#content
		h2
			text-align: left
			margin: calc(3 * var(--layout-spacing-unit)) var(--layout-spacing-unit) calc(2 * var(--layout-spacing-unit))

	#standby
		position: fixed
		top: var(--layout-height-header)
		left: 0
		right: 0
		bottom: 0
		display: flex
		align-items: center
		justify-content: center
		opacity: 0
		transition: opacity 250ms
		&.standbyShown
			opacity: 1
	#standbyBackground
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: var(--bgc-content-body)
		opacity: 0.8
