Source: univention-printserver
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>> 7),
 univention-config-dev,
 univention-management-console-dev (>= 11.0.4-37),
 python-all,
 python3-all,
 dh-python,
 ucslint-univention,
Standards-Version: 3.8.2

Package: univention-printserver
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 univention-config (>= 8.0.2),
 univention-directory-manager-tools,
 cups,
 cups-client,
 cups-bsd,
 cups-browsed,
 printer-driver-gutenprint,
 univention-directory-listener,
 univention-printclient,
 openprinting-ppds,
 hp-ppd,
 printer-driver-all,
 printer-driver-c2050,
 printer-driver-c2esp,
 printer-driver-cjet,
 printer-driver-escpr,
 printer-driver-foo2zjs,
 printer-driver-gutenprint,
 printer-driver-hpcups,
 printer-driver-hpijs,
 printer-driver-m2300w,
 printer-driver-min12xxw,
 printer-driver-pnm2ppa,
 printer-driver-postscript-hp,
 printer-driver-ptouch,
 printer-driver-pxljr,
 printer-driver-sag-gdi,
 printer-driver-splix,
 hpijs-ppds,
 python-pexpect,
 shell-univention-lib,
 openprinting-ppds,
 univention-foomatic-ppds,
 univention-directory-manager-tools (>> 7.0.147),
 python-univention-lib (>= 1.0.25-1),
 python-ldap,
 univention-management-console-module-printers (= ${source:Version})
Conflicts: univention-management-console (<< 0.9.33-1)
Recommends: univention-nagios-cups
Description: UCS - print server
 This packages provides the printer configuration. Printers
 can be managed with UCS Directory Manager (UDM).
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-printserver-pdf
Architecture: all
Depends: ${python:Depends}, ${python3:Depends},
 ${misc:Depends},
 univention-directory-manager-tools (>> 7.0.147),
 univention-printserver,
 printer-driver-cups-pdf,
 shell-univention-lib
Description: UCS - print server addons for pdf pseudo printer
 This packages provides configs and settings for a PDF printer.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-management-console-module-printers
Architecture: all
Depends:
 ${misc:Depends},
 ${python:Depends}, ${python3:Depends},
 univention-directory-manager-tools (>> 7.0.147),
 univention-management-console-server (>= 11.0.4-37),
 python-lxml
Recommends: univention-printserver (= ${source:Version})
Description: UMC module for printer administration
 This package contains the UMC module for the administration
 of configured printers.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
