a, a:hover, a:focus {
	color: #619410;
}

#content {
	margin: 0 auto;
	width: 652px;
}

.welcome-image {
	position: relative;
	margin: 20px auto 30px;
	background-image: url("../welcome/welcome.png");
	background-repeat: no-repeat;
/*	width: 652px;*/
	height: 200px;
}

.welcome-url {
	position: absolute;
	top: 88px;
	left: 250px;
	width: 163px;
	height: 22px;
	line-height: 22px;
}

.welcome-url-alternative {
	position: absolute;
	top: 120px;
	left: 201px;
}

.welcome-url-alternative span,
.welcome-url-alternative a {
	display: block;
}

.welcome-text {
	display: block;
	margin: 0 auto;
	font-size: 1.1em;
	width: 652px;
	padding: 15px 10px;
}

.welcome-command span, .welcome-desktop span {
/*	display: none;*/
/*	visibility: hidden;*/
	transition: display 1s, visibility 1s;
}
.welcome-command:hover span, .welcome-desktop:hover span,
.welcome-command:focus span, .welcome-desktop:focus span {
/*	display: inline;*/
	visibility: visible;
}
.welcome-command > a {
	background-image: url("../welcome/command.svg");
}
.welcome-desktop > a {
	background-image: url("../welcome/desktop.svg");
}
.welcome-command > a, .welcome-desktop > a {
	background-repeat: no-repeat;
	background-size: 30px;
	padding: 5px 30px 0;
	line-height: 20px;
	display: block;
}

#welcome-appliance-logo {
	margin: 10px;
	height: 67px;
	width: 155px;
	position: absolute;
	left: 230px;
	top: 0;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
