Source: univention-system-activation
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7.0.50~),
 unzip,
 sed,
 python-support,
 ucslint,
 univention-config-dev,
 univention-dojo-dev,
 univention-management-console-dev,
 ucs-test-translation-template,
 stylus
Standards-Version: 3.8.2

Package: univention-system-activation
Architecture: all
Depends: ${misc:Depends},
 libapache2-mod-wsgi,
 univention-apache,
 python-ldap,
 sudo,
 ${python:Depends}
Description: Univention System Activation
 This package contains the system activation web service which is needed for
 Univention Corporate Server's virtual appliance images
