#!/usr/bin/make -f
#
# Univention System Activation
#  rules file for the debian package
#
# Copyright 2015 Univention GmbH
#
# http://www.univention.de/
#
# All rights reserved.

override_dh_auto_install:
	dh_auto_install
	univention-install-config-registry

override_dh_auto_test:
	dh_auto_test
	ucslint

%:
	dh $@
