Source: univention-antivir-web
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper, univention-config-dev

Package: univention-antivir-web
Architecture: all
Depends: univention-squid, dansguardian
Description: univention antivirus web
 univention antivirus web module
