Source: univention-desktop-server
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends-Indep: debhelper
Standards-Version: 3.5.5

Package: univention-application-server
Architecture: any
Depends: univention-ldap-client, rsh-server, menu | menu-xdg, arts, gnome-spell, aspell-de, gnome-desktop-data, , gnome-icon-theme, ${F:Java} gconf-editor
Conflicts: univention-desktop-applications
Recommends: univention-kde, univention-mozilla-firefox, univention-multimedia, univention-ooffice, univention-staroffice
Description: UCS - application server
 This meta-packages configures your UCS as an application
 server for Univention Thin Clients.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-file-server
Architecture: all
Depends: univention-samba
Description: UCS - file server
 This meta-packages installs a file server.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
