.umc .umcOverviewContainer .umcPageMain .firstSteps
	color: #fff
	background: #5a5a5a
	vertical-gradient-and-filter($text-color-lighter, $text-color)
	opacity: 0.8
	box-shadow: 0 0px 10px rgba(0,0,0,0.3)
	padding: 20px
	height: auto
	width: 100%
	max-width: 950px
	margin: 0 auto 30px

	.dijitTitlePaneTitle
		color: #fff
		border-top: 0
		padding: 0

		.firstStepsIcon
			background-image: url("../../dijit/themes/umc/images/info.svg");
			background-repeat: no-repeat
			background-size: 20px 20px
			width: 20px
			height: 20px
			float: left
			margin-right: 5px

	.dijitArrowNode
		background-image: url("../../dijit/themes/umc/images/icons-white.svg")

	.dijitCheckBox
		background-image: url("../../dijit/themes/umc/images/icons-small-white.svg")

	a
		color: white


vertical-gradient-and-filter($color-top, $color-bottom) {
	background: $color-top; /* old browsers */
	linear-gradient(to bottom, $color-top 0%, $color-bottom 100%); /* W3C */
	filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=%s, endColorstr=%s, gradientType=0)" % ($color-top $color-bottom); /* IE6-9 */
}

