Source: hosts
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends:
 debhelper-compat (= 13),
 univention-config-dev (>= 15.0.3),
Standards-Version: 4.3.0.3

Package: hosts
Architecture: all
Depends:
 ${misc:Depends},
Description: An example package to configure the host access
