[Unit]
Description=Univention System Setup on boot
After=univention-management-console-server.service
After=apache2.service
ConditionFileIsExecutable=/usr/share/univention-system-setup-boot/init

[Service]
Type=simple
RemainAfterExit=no
Restart=no
TimeoutSec=infinity
IgnoreSIGPIPE=no
KillMode=control-group
ExecStart=/usr/share/univention-system-setup-boot/init

[Install]
WantedBy=multi-user.target
Also=univention-system-setup-boot-prepare-ssh.service
Also=univention-system-setup-boot-prepare-ssl.service
