Source: ucs-windows-tools
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 7),
 python-all,
 python3-all,
 dh-python,
 univention-config-dev,
 ucslint-univention

Package: ucs-windows-tools
Architecture: all
Depends: ${python:Depends},
 ${python3:Depends},
 ${misc:Depends},
 python-univention (>= 12.0.0-5),
 winexe,
 smbclient
Provides: ${python:Provides}, ${python3:Provides}
Description: windows tool collection for UCS development - DEPRECATED
 This package contains tools to test UCS installations.
 .
 This package is only relevant for development and testing.
 DEPRECATED
