/*
 * Copyright 2017-2022 Univention GmbH
 *
 * https://www.univention.de/
 *
 * All rights reserved.
 *
 * The source code of this program is made available
 * under the terms of the GNU Affero General Public License version 3
 * (GNU AGPL V3) as published by the Free Software Foundation.
 *
 * Binary versions of this program provided by Univention to you as
 * well as other copyrighted, protected or trademarked materials like
 * Logos, graphics, fonts, specific documentations and configurations,
 * cryptographic keys etc. are subject to a license agreement between
 * you and Univention and not subject to the GNU AGPL V3
 *
 * In the case you use this program under the terms of the GNU AGPL V3,
 * the program is provided in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Publi
 * License with the Debian GNU/Linux or Univention distribution in file
 * /usr/share/common-licenses/AGPL-3 if not, see
 * <https://www.gnu.org/licenses/>.
 */

.umc
	#setupApplianceWizard
		margin-top: calc(6 * var(--layout-spacing-unit))

		.umcPageHelpText
			color: var(--font-color-contrast-middle)

		.umcChooseRoleBox
			cursor: pointer
			background-color: var(--bgc-content-body)
			border: medium solid @background-color
			border-radius: var(--border-radius-container)
			transition: border-color 100ms
			padding: calc(2 * var(--layout-spacing-unit))
			&:hover,
			&--selected
				border-color: var(--color-accent)
		.umcChooseRoleBox__headline
			font-weight: var(--font-weight-bold)
			font-size: var(--font-size-3)
			display: flex
			align-items: center
		.umcChooseRoleBox__tag
			margin-left: auto
			font-size: var(--font-size-4)
		.umcChooseRoleBox__content
			padding-top: var(--layout-spacing-unit)
			color: var(--font-color-contrast-middle)

	/* generic stylings for all setup pages */
	.umc-setup-page
		position: relative
		.umcPageIcon
			position: absolute
			bottom: 0
			left: 15px // bootstrap padding
			height: 100px
			width: 100px
			background-repeat: no-repeat
			background-size: contain
			background-position: left bottom

	// decrease width of container for wide screens
	@media (min-width: 1200px)
		#content
			width: 970px
	// adjustments for the icon in bottom left corner
	@media (max-width: 767px)
		.umc-setup-page .umcPageIcon
			height: 80px
			width: 80px
		#setupApplianceWizard .umcPageFooter
			margin-top: 60px

	// use full height for small screens
	@media (max-height: 800px)
		display: flex
		flex-direction: column
		max-height: 100vh

		.umcHeader
			flex: 0 0 auto
		#content
			flex: 1 1 auto
			display: flex
			min-height: 0%
		#setupApplianceWizard
			flex: 1 1 auto
			margin-top: calc(4 * var(--layout-spacing-unit))
			margin-bottom: @margin-top

			.umcWizardChildWrapper
				height: 100%
			.umc-setup-page
				height: 100%
				display: grid
				grid-template-columns: 1fr 2fr
				grid-template-rows: 1fr auto
				grid-template-areas: "nav main" "footer footer"

				> .umcPageNav
					width: 100%
					grid-area: nav
				> .umcPageMain
					width: 100%
					min-height: 0%
					grid-area: main
					overflow: auto
				> .umcPageFooter
					width: 100%
					grid-area: footer
	@media (max-height: 800px) and (max-width: 767px)
		#setupApplianceWizard
			.umc-setup-page
				grid-template-columns: 1fr
				grid-template-rows: auto 1fr auto
				grid-template-areas: "nav" "main" "footer"
	// use full width for small-ish screens
	@media (max-width: 991px)
		#content
			width: 100%
			padding: 0;
		#setupApplianceWizard
			margin-left: calc(4 * var(--layout-spacing-unit))
			margin-right: @margin-left


	/* specific stylings for various setup pages */
	.umc-setup-page-welcome
		.umcPageIcon
			background-image: url(welcome.svg)

		.setupCitySearch__searchIcon
			--button-size: 1.5rem
			margin-right: calc(2 * var(--layout-spacing-unit))
		.setupCitySearch__standbyCircle
			width: 1.5rem
			height: @width
			margin-right: calc(2 * var(--layout-spacing-unit))

		.city-match td
			padding-right: 0.5em
			padding-bottom: 0.25em

		.umc-ucssetup-wizard-change-locale-button
			margin-top: var(--layout-spacing-unit)

	.umc-setup-page-locale .umcPageIcon
		background-image: url(locale.svg)

	.umc-setup-page-required_ram .umcPageIcon
		background-image: url(warning.svg)

	.umc-setup-page-license .umcPageIcon
		background-image: url(license.svg)

	.umc-setup-page-network
		.umcPageIcon
			background-image: url(network.svg)

		@media (min-width: 768px) and (max-width: 991px)
			.umcSize-One
				width: 50%

	.umc-setup-page-role,
	.umc-setup-page-role-nonmaster-ad 
		.umcPageIcon
			background-image: url(domain.svg)

	.umc-setup-page-credentials-master
		.umcAccountInfoText
			margin-top: calc(2 * var(--layout-spacing-unit))

		.umcPageIcon
			background-image: url(account.svg)

	.umc-setup-page-credentials-ad,
	.umc-setup-page-credentials-nonmaster
		.umcPageIcon
			background-image: url(credentials.svg)

	.umc-setup-page-fqdn-master,
	.umc-setup-page-fqdn-nonmaster-all
		.umcPageIcon
			background-image: url(fqdn.svg)

	.umc-setup-page-validation,
	.umc-setup-page-error
		.umcPageIcon
			background-image: url(error.svg)

		li
			padding-bottom: 0.75em

	.umc-setup-page-summary
		.umcPageIcon
			background-image: url(summary.svg)

	.umc-setup-page-done .umcPageIcon
		background-image: url(done.svg)


	/* Virtual keyboard */
	.umcKeyboardIcon
		background-image: url(keyboard.svg)
		background-repeat: no-repeat
		background-size: contain
		width: 24px
		height: 24px
		margin-right: var(--layout-spacing-unit)
		cursor: pointer
	.umcKeyContainer
		display: grid
		grid-auto-flow: column
		justify-content: center
		gap: var(--layout-spacing-unit)
		margin-top: var(--layout-spacing-unit-small)


	.umcUCSSetupLicenseAgreement
		overflow: auto
		height: 350px !important


	.privacyStatementOverlay
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 100%
		background: var(--bgc-content-container)
		z-index: 1
		display: flex
		flex-flow: column
		transition: opacity 0.25s, visibility 0s
		opacity: 1

		&.privacyStatementOverlayHidden
			opacity: 0
			visibility: hidden
			transition: opacity 0.25s, visibility 0s 0.3s
			pointer-events: none

		&.privacyStatementOverlayLocalMode
			top: var(--layout-height-header)
			height: s("calc(100% - var(--layout-height-header))")

		.privacyStatementOverlayTitle
			padding: calc(3 * var(--layout-spacing-unit))
			font-size: var(--font-size-2)
			font-weight: var(--font-weight-bold)

		.privacyStatementOverlayContent
			flex-grow: 1
			overflow: auto
			padding: 0 calc(3 * var(--layout-spacing-unit))

			.privacyStatementOverlayTextWrapper
				column-width: 35em

		.privacyStatementOverlayFooter
			text-align: right

			.privacyStatementOverlayFooterButton
				margin: calc(3 * var(--layout-spacing-unit))

#standby
	position: fixed
	top: var(--layout-height-header)
	left: 0
	right: 0
	bottom: 0
	display: flex
	align-items: center
	justify-content: center
	opacity: 0
	transition: opacity 250ms
	&.standbyShown
		opacity: 1
#standbyBackground
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: var(--bgc-content-body)
	opacity: 1
