#!/usr/bin/make -f
#
#
#  rules file for the debian package
#
# SPDX-FileCopyrightText: 2015-2025 Univention GmbH
# SPDX-License-Identifier: AGPL-3.0-only

%:
	dh $@ --with python3,ucr,univention-l10n,univention-join,umc
