/*
 * Copyright 2014-2015 Univention GmbH
 *
 * http://www.univention.de/
 *
 * All rights reserved.
 *
 * The source code of this program is made available
 * under the terms of the GNU Affero General Public License version 3
 * (GNU AGPL V3) as published by the Free Software Foundation.
 *
 * Binary versions of this program provided by Univention to you as
 * well as other copyrighted, protected or trademarked materials like
 * Logos, graphics, fonts, specific documentations and configurations,
 * cryptographic keys etc. are subject to a license agreement between
 * you and Univention and not subject to the GNU AGPL V3.
 *
 * In the case you use this program under the terms of the GNU AGPL V3,
 * the program is provided in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License with the Debian GNU/Linux or Univention distribution in file
 * /usr/share/common-licenses/AGPL-3; if not, see
 * <http://www.gnu.org/licenses/>.
 */

.umcAppCenterGallery .umcGalleryItem {
	background-color: #eaeaea;
}
.umcAppCenterGallery .umcGalleryItemActive .umcUpdateIcon,
.umcAppCenterGallery .umcGalleryItem:hover .umcUpdateIcon {
	/* change icon color to white on hover */
	background-image: url("../../dijit/themes/umc/images/icons-white.svg");
}

.umcAppPage .umcAppButton {
	float: left;
}
.umcAppPage .umcAppButton.umcAppButtonFirstRow {
	margin-bottom: 15px;
}
.umcAppPage .umcAppButton.umcAppButtonFirstRow + .umcAppButton:not(.umcAppButtonFirstRow) {
	clear: left;
}

.categoryButton {
	background-color: transparent;
	border: 0;
	border-right: 1px solid lightgrey;
	padding: 0 0.4em 0 0;
	margin-right: 0.4em;
	text-decoration: underline;
	opacity: 0.66;
}

.categoryButton:first-child {
	padding-left: 0;
}
.categoryButton:last-child {
	border-right: 0;
}
.categoryButton:hover {
	opacity: 1;
}

.umcGalleryCategoryHeader {
	margin: 1em 5px 1em 5px;
	border-bottom: 0;
}

.umcGalleryButton {
	margin-top: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #b4b4b4;
}
.umcGalleryButton:last-child {
	border-bottom: 0;
}

#appWrapperDiv {
	float: left;
	height: 180px;
	width:25%;
}

#appInnerWrapper {
	background-color: #eaeaea;
	width:155px;
	height: 165px;
	padding: 0;
}
#appInnerWrapper div {
}

#border {
	background-image: url("../../dijit/themes/umc/icons/schablone.png");
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}

#appIcon {
	height: 55%;
	width: 100%;
	z-index: 0;
	top: 0;
	transition: opacity 0.5s;
	background-position: center center;
}
#appInnerWrapper.hover #appIcon {
	opacity: 0.2;
}

#hoverContainer {
	position: absolute;
	bottom: 0;
	width:100%;
	min-height: 45%;
}

#appContent {
	width: 100%;
	padding: 0.6em 0.3em 0.3em 0.6em;
	display: inline-block;
	transition: transform 0.5s;
}
#appInnerWrapper.hover #appContent {
	transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
}

#appHover {
	width: 100%;
	height: 45%;
	background-color: #6e6e6e;
	color: #fff;
	padding: 0.6em 0.3em 0.3em 0.6em;
	position: absolute;
	bottom: 0;
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transition: transform 0.5s;
}
#appHover span {
	font-size: 1.1em;
	display: block;
	padding-bottom: 0.3em;
}
#appInnerWrapper.hover #appHover {
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
}

#appContent .umcGalleryName {
	font-size: 1.3em;
	display: block;
	margin-bottom: 0.3em;
	margin-right: 0;
	transform: none;
	word-break: normal;
}

#appInnerWrapper.umcGalleryItem:hover .umcGalleryName {
	color: #5a5a5a !important;
}

#appContent .umcGalleryVendor {
	font-size: 1em;
	opacity: 0.8;
}

.umcGalleryPane .umcGalleryWrapperItem {
	float: left;
	padding-left: 20px;
}

.umc .dijitTitlePane.appDetailsPane .dijitTitlePaneTitle {
	color: #a9a9a9;
	border-top: 0;
	padding: 0.5em 0 0.5em 0;
}		
.umc .dijitTitlePane.appDetailsPane .dijitTitlePaneTitle .dijitTitlePaneTextNode {
	vertical-align: middle;
}
.umc .dijitTitlePane.appDetailsPane	.dijitTitlePaneTitle .dijitArrowNode {
	opacity: 0.66;
}	
.umc .dijitTitlePane.appDetailsPane .dijitTitlePaneTitleClosed .dijitArrowNode {
	background-position: -80px 0;
}
.umc .dijitTitlePane.appDetailsPane .dijitTitlePaneTitleClosed.dijitTitlePaneTitleHover .dijitArrowNode {
	background-position: -100px 0;
	opacity: 0.66;
}
.umc .dijitTitlePane.appDetailsPane .dijitTitlePaneTitleOpen .dijitArrowNode {
	background-position: 0px 0;
}
.umc .dijitTitlePane.appDetailsPane .dijitTitlePaneTitleOpen.dijitTitlePaneTitleHover .dijitArrowNode {
	background-position: -20px 0;
	opacity: 0.66;
}

.appcenterMetaCategory {
	margin-bottom: 3em;
	padding-bottom: 2em;
	border-bottom: 1px solid #c8c8c8;
}

.appcenterMetaCategory .umcText {
	font-size: 1.8em;
	padding-top: 0.4em;
	float: left;
}

.appcenterMetaCategory .dijitButton {
	float: right;
}

.appDetailsPageGrid {
	margin-bottom: 3em;
}

.appDetailsPageGrid .appDetailsPageGridContent {
	height: 105px !important;
}

.umc .umcAppPage .umcPageNav .icon {
	margin-bottom: 1em;
	width: 200px; 
	height: 120px;
	display: inline-block;
	margin-right: 20px;
	background-position: center center;
}

.umc .umcAppPage .umcPageNav .navHeaderButton {
	display: inline-block;
	vertical-align: top;
}

.umc .umcAppPage .umcPageNav .navHeaderButton .umcText {
	margin-bottom: 0.3em;
	color: #787878;
}

.umc .umcAppPage h1 {
	margin-bottom: 0.3em;
}

.umc .umcAppPage .mainHeader {
	display: block;
	font-size: 1.6em;
	font-weight: bold;
	margin-bottom: 0.4em;
}

.umc .umcAppPage .usage {
	margin-bottom: 2em;
}

.umc .umcAppPage .detailsContainer {
	background-color: #f0f0f0;
	margin: 0 -1000px;
	padding: 0 1000px;
}

.umc .umcAppPage .carouselWrapper {
	border-bottom: 1px solid #c8c8c8;
	padding: 1em 0;
	margin-bottom: 3em;
}

.umc .umcAppPage .carouselWrapper {
	border-bottom: 1px solid #c8c8c8;
	padding: 1em 0;
	margin-bottom: 3em;
}

.umc .umcAppPage .carousel {
	margin: auto;
	display: table;
}

.umc .umcAppPage .descriptionContainer {
	margin-bottom: 2em;
}

.umc .umcAppPage .descriptionContainer th {
	font-weight: bold;
	font-size: 1.6em;
	height: 30px;
	vertical-align: top;
}

.umc .umcAppPage .descriptionContainer td {
	vertical-align: top;
}

.umc .umcAppPage .descriptionContainer.longText td {
	vertical-align: top;
	-webkit-column-count: 2;
	-moz-column-count: 2;
}

.umc .umcAppPage .appDetailsPane {
	background-color: #f0f0f0;
	margin: 0 -1000px;
	padding: 0 1000px;
}

.umc .umcAppPage .appDetailsFooter {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

.dijitMenuSeparatorIconCell, .dijitMenuSeparatorLabelCell {
	padding: 0 !important;
}

@media screen and (max-width: 549px) {
	.umc .umcPage.umcAppCenter .umcSize-TwoThirds {
		width: 100%;
	}
}
