Source: univention-antivir-mail
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper, univention-config-dev

Package: univention-antivir-mail
Architecture: all
Depends: amavisd-new, univention-config-registry, univention-spamassassin, clamav, clamav-daemon | kav4fileservers | sophie
Description: univention antivirus mail
 univention antivirus mail module
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
