[Unit]
Description=BIND Domain Name Server with ldap backend
Documentation=man:named(8)
After=network.target slapd.service
Before=univention-bind-proxy.service
Requires=slapd.service univention-bind-proxy.service
BindsTo=univention-bind-proxy.service
Conflicts=univention-bind-samba4.service

[Service]
ExecStart=/usr/lib/univention-bind/ldap
ExecReload=/usr/sbin/rndc -p 55555 reload
ExecStop=/usr/sbin/rndc -p 55555 stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
