Source: univention-updater
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper, univention-config-dev, python2.4, python-all-dev, python-central
XS-Python-Version: 2.4

Package: univention-updater
Architecture: all
Depends: python2.4, dpkg-dev, univention-config-registry | univention-baseconfig, univention-directory-policy | univention-ldap-policy, univention-security-update, netcat, wget, apt-mirror, at
XB-Python-Version: ${python:Versions}
Description: UCS - system upgrading tool
 Univention Updater can upgrade your version of UCS.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
