Source: univention-spamassassin
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>> 7),
  univention-config-dev,
  ucslint-univention
Standards-Version: 3.8.2

Package: univention-spamassassin
Architecture: all
Depends: ${misc:Depends},
 univention-config,
 spamassassin (>= 3.0.4),
 spamc,
 python-univention-lib (>= 1.0.25-1)
Description: UCS - mail antispam
 This module provides anto-spam protection for mail using SpamAssassin.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
