Source: univention-kde
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper,
 univention-config-dev,
 ucslint-univention
Standards-Version: 3.8.2

Package: univention-kde
Architecture: all
Recommends: kde-l10n-de,
 okular,
 univention-mozilla-firefox,
 univention-x-core
Depends: ${misc:Depends},
 gettext,
 univention-config,
 univention-directory-manager-tools,
 kde-standard (>= 5:66),
 univention-kde-setdirs,
 univention-kdm,
Description: UCS - KDE desktop
 This package installs the KDE desktop.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-kde-setdirs
Architecture: all
Depends: ${misc:Depends},
 univention-config
Conflicts: univention-kde (<< 1.25)
Description: UCS - Set Profile Path
 This package sets the profile path for the user
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

