#!/usr/bin/make -f
#
# Univention KDE
#  rules file for the debian package
#
# Copyright 2004-2010 Univention GmbH
#
# http://www.univention.de/
#
# All rights reserved.
#
# The source code of this program is made available
# under the terms of the GNU Affero General Public License version 3
# (GNU AGPL V3) as published by the Free Software Foundation.
#
# Binary versions of this program provided by Univention to you as
# well as other copyrighted, protected or trademarked materials like
# Logos, graphics, fonts, specific documentations and configurations,
# cryptographic keys etc. are subject to a license agreement between
# you and Univention and not subject to the GNU AGPL V3.
#
# In the case you use this program under the terms of the GNU AGPL V3,
# the program is provided in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public
# License with the Debian GNU/Linux or Univention distribution in file
# /usr/share/common-licenses/AGPL-3; if not, see
# <http://www.gnu.org/licenses/>.

# This is the debhelper compatability version to use.

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	(cd profiles && find . ! -path "*.svn*" -type d -exec install  -d "../debian/univention-kde/usr/share/univention-kde-profiles/"{} \;)
	(cd profiles && find . ! -path "*.svn*" -type f -exec install {} "../debian/univention-kde/usr/share/univention-kde-profiles/"{} \;)

	install -m 0644 design/usr/share/wallpapers/{*png,*svg} debian/univention-kde/usr/share/wallpapers/

	# ksplash
	install -m 0644 design/usr/share/apps/ksplash/Themes/Univention/*{rc,png} debian/univention-kde/usr/share/apps/ksplash/Themes/Univention/
	install -m 0644 design/usr/share/apps/ksplash/Themes/Univention-green21/*{rc,png} debian/univention-kde/usr/share/apps/ksplash/Themes/Univention-green21/
	install -m 0644 design/usr/share/apps/ksplash/Themes/Univention-23/*{rc,png} debian/univention-kde/usr/share/apps/ksplash/Themes/Univention-23/

	# color scheme
	install -m 0644 design/usr/share/apps/kdisplay/color-schemes/UniventionGreen.kcsrc debian/univention-kde/usr/share/apps/kdisplay/color-schemes/
	install -m 0644 design/usr/share/apps/kdisplay/color-schemes/UniventionGreen21.kcsrc debian/univention-kde/usr/share/apps/kdisplay/color-schemes/
	install -m 0644 design/usr/share/apps/kdisplay/color-schemes/Univention23.kcsrc debian/univention-kde/usr/share/apps/kdisplay/color-schemes/

	# icons
	install -m 0644 design/usr/share/icons/crystalsvg-univention/128x128/apps/kmenu.png debian/univention-kde/usr/share/icons/crystalsvg-univention/128x128/apps/
	install -m 0644 design/usr/share/icons/crystalsvg-univention/16x16/apps/kmenu.png debian/univention-kde/usr/share/icons/crystalsvg-univention/16x16/apps/
	install -m 0644 design/usr/share/icons/crystalsvg-univention/22x22/apps/kmenu.png debian/univention-kde/usr/share/icons/crystalsvg-univention/22x22/apps/
	install -m 0644 design/usr/share/icons/crystalsvg-univention/32x32/apps/kmenu.png debian/univention-kde/usr/share/icons/crystalsvg-univention/32x32/apps/
	install -m 0644 design/usr/share/icons/crystalsvg-univention/48x48/apps/kmenu.png debian/univention-kde/usr/share/icons/crystalsvg-univention/48x48/apps/
	install -m 0644 design/usr/share/icons/crystalsvg-univention/64x64/apps/kmenu.png debian/univention-kde/usr/share/icons/crystalsvg-univention/64x64/apps/
	install -m 0644 design/usr/share/icons/crystalsvg-univention/scalable/apps/kmenu.svg debian/univention-kde/usr/share/icons/crystalsvg-univention/scalable/apps/
	install -m 0644 design/usr/share/icons/crystalsvg-univention/index.theme debian/univention-kde/usr/share/icons/crystalsvg-univention/index.theme

	install -m 0644 design/usr/share/icons/crystalsvg-univention-green21/128x128/apps/kmenu.png debian/univention-kde/usr/share/icons/crystalsvg-univention-green21/128x128/apps/
	install -m 0644 design/usr/share/icons/crystalsvg-univention-green21/16x16/apps/kmenu.png debian/univention-kde/usr/share/icons/crystalsvg-univention-green21/16x16/apps/
	install -m 0644 design/usr/share/icons/crystalsvg-univention-green21/22x22/apps/kmenu.png debian/univention-kde/usr/share/icons/crystalsvg-univention-green21/22x22/apps/
	install -m 0644 design/usr/share/icons/crystalsvg-univention-green21/32x32/apps/kmenu.png debian/univention-kde/usr/share/icons/crystalsvg-univention-green21/32x32/apps/
	install -m 0644 design/usr/share/icons/crystalsvg-univention-green21/48x48/apps/kmenu.png debian/univention-kde/usr/share/icons/crystalsvg-univention-green21/48x48/apps/
	install -m 0644 design/usr/share/icons/crystalsvg-univention-green21/64x64/apps/kmenu.png debian/univention-kde/usr/share/icons/crystalsvg-univention-green21/64x64/apps/
	install -m 0644 design/usr/share/icons/crystalsvg-univention-green21/scalable/apps/kmenu.svg debian/univention-kde/usr/share/icons/crystalsvg-univention-green21/scalable/apps/
	install -m 0644 design/usr/share/icons/crystalsvg-univention-green21/index.theme debian/univention-kde/usr/share/icons/crystalsvg-univention-green21/index.theme

	for i in 16x16 128x128 22x22 32x32 48x48 64x64; do install -m 0644 design/usr/share/icons/crystalsvg-univention-23/$$i/apps/kmenu.png debian/univention-kde/usr/share/icons/crystalsvg-univention-23/$$i/apps/; done
	install -m 0644 design/usr/share/icons/crystalsvg-univention-23/scalable/apps/kmenu.svg debian/univention-kde/usr/share/icons/crystalsvg-univention-23/scalable/apps/
	install -m 0644 design/usr/share/icons/crystalsvg-univention-23/index.theme debian/univention-kde/usr/share/icons/crystalsvg-univention-23/index.theme

	# themes
	install -m 0644 "design/usr/share/apps/kthememanager/themes/Plastik-Univention-Green/"{*png,*xml} "debian/univention-kde/usr/share/apps/kthememanager/themes/Plastik-Univention-Green/"
	install -m 0644 "design/usr/share/apps/kthememanager/themes/Plastik-Univention-Green21/"{*png,*xml} "debian/univention-kde/usr/share/apps/kthememanager/themes/Plastik-Univention-Green21/"
	install -m 0644 "design/usr/share/apps/kthememanager/themes/Plastik-Univention-23/"{*png,*xml} "debian/univention-kde/usr/share/apps/kthememanager/themes/Plastik-Univention-23/"

	install -m 0755 univention-kde-profile-builder debian/univention-kde/usr/bin/
	install -m 0755 univention-kde-profile-builder-dialog debian/univention-kde/usr/bin/

	install -m 0755 78univention-kde.inst debian/univention-kde/usr/lib/univention-install/
	install -m 0755 univention-set-kdedirs debian/univention-kde-setdirs/usr/share/univention-kde/
	univention-install-baseconfig

binary-arch: build install

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
