/**
 * $Horde: horde/themes/ie5mac.css,v 1.2.4.4 2007-12-20 15:04:04 jan Exp $
 *
 * CSS corrections for IE5/Mac.
 */

#menu li {
    width: 40px;
}
.tabset {
    white-space: nowrap;
}
.tabset li a {
    float: left;
}
#sidebarPanel {
    padding-bottom: 30px;
}
.header {
    clear: none;
}
.header ul {
    width: 1%;
    white-space: nowrap;
}
