/**
 * $Horde: horde/themes/safari.css,v 1.1.2.7 2007-12-20 15:04:04 jan Exp $
 *
 * CSS corrections for Safari.
 */

img {
    vertical-align: baseline;
}

.treeRow {
    overflow: visible;
    height: 20px;
}

.treeRow img {
    vertical-align: middle;
}

#menu {
    overflow: visible;
    height: 50px;
}
