/**
 * $Horde: horde/themes/screen.css,v 1.7.4.79 2009-01-27 14:33:59 jan Exp $
 */

/* Global default styles. */
* {
    /* Zero out all padding and margins to start with for better
     * cross-browser control. */
    padding: 0;
    margin: 0;
}

body {
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 75%;
    background: #fff;
    color: #000;
}

body.scrollbar-quirk {
    margin-right: 15px;
}

p {
    margin-bottom: 10px;
}

img, .img, .img:active, .img:hover, .img:visited, .image {
    border: none;
    vertical-align: middle;
    background: transparent;
}
/* This must be declared seperately or IE will ignore all of the selectors. */
input[type=image] {
    border: none;
    vertical-align: middle;
    background: transparent;
}

ins {
    background: #cfc;
}
del {
    background: #fcc;
}

br.spacer {
    line-height: 8px;
}

.box {
    padding: 3px;
    border: 1px dashed #999;
    background: #fff;
}
.solidbox {
    border: 1px solid #000;
}
.greybox {
    border: 1px solid #000;
    background: #e9e9e9;
}
.headerbox {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    background: #fff;
}
.roundedBox {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
.roundedTop {
    -moz-border-radius-topright: 15px;
    -moz-border-radius-topleft: 15px;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-top-left-radius: 15px;
}
.roundedBottom {
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
}
.header {
    text-align: left;
    font-weight: bold;
    font-size: 125%;
    padding: 3px;
}
.header a:hover, a.header:hover {
    color: #333;
}
.header img {
    vertical-align: bottom;
}
.header input, .header select {
    font-size: 80%;
}
.header .smallheader input, .header .smallheader select {
    font-size: 100%;
}
.header .button, .header .smallheader .button {
    font-size: 72%;
}

.nowrap {
    white-space: nowrap;
}
.clear {
    clear: both;
    line-height: 0;
    height: 0;
}

a {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.selected {
    background: #bbcbff;
}
.selected-over {
    background: #cef;
}

/* Table styles. */
table {
    border: none;
}
td, th {
    padding: 1px;
}
th {
    color: #333;
}
ul.linedRow {
    list-style-type: none;
}
.linedRow, tr.linedRow td, table.linedRow td, ul.linedRow li {
    color: #000;
    background: #fff;
    border-bottom: 1px solid #ddd;
}
table.linedRow, ul.linedRow {
    border-bottom: none;
}
.linedRowSelectedCol, td.linedRowSelectedCol, table.linedRow td.linedRowSelectedCol {
    color: #000;
    background: #f3f3f3;
    border-bottom: 1px solid #ddd;
}
.selectedRow, tr.selectedRow td {
    background: #ffc;
}
.selectedRow:hover, tr.selectedRow:hover td, .selectedRow-over, tr.selectedRow-over td {
    background: #ffd;
}
table.nopadding td, table.nopadding th {
    padding: 0;
}
.sortup {
    background: #bbcbff url("graphics/za.png") center left no-repeat;
    padding-left: 10px;
}
.sortdown {
    background: #bbcbff url("graphics/az.png") center left no-repeat;
    padding-left: 10px;
}
/* Alternating styles. item0, item1 are deprecated. */
.striped, .rowEven, .item0 {
    background-color: #eee;
}
.rowOdd, .item1 {
    background-color: #ddd;
}

.widget {
    font-size: 90%;
}

.light {
}
.smallheader {
    font-size: 100%;
    font-weight: bold;
    padding: 2px;
}
.header .smallheader {
    font-size: 80%;
}
.header .smallheader a.smallheader {
    font-size: 100%;
}
small, .small {
    font-size: 80%;
}
.control {
    color: #000;
    background: #ccc;
    border-bottom: 1px solid #999;
    padding: 1px;
}
.item {
    color: #000;
    background: #eee;
}
.accessKey {
    text-decoration: underline;
}
.text {
    color: #000;
    background: #fff;
}

/* Form styles. */
.form table {
    width: 100%;
    padding: 2px;
    border-collapse: collapse;
}
form[action^="https://"] input[type="submit"] {
    background-image: url("graphics/locked.png");
    background-position: 95% center;
    background-repeat: no-repeat;
    padding-right: 10%;
}
input[disabled], textarea[disabled] {
    background-color: #e9e9e9;
    color: #a8a8a8;
}
.htmlarea .statusBar .statusBarTree a {
    font: inherit;
}
.htmlarea table {
    width: auto;
}
.form-error {
    color: #f00;
}
input, select, textarea {
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 100%;
    font-weight: normal;
}
input {
    padding: 1px;
}
option {
    padding: 0 5px 0 3px;
}
.checkbox, .radio {
    border: 0;
    height: 14px;
    width: 14px;
    background: transparent;
}
.button {
    cursor: pointer;
    font-size: 90%;
    padding: 1px 6px;
}
a.button {
    padding: 2px 8px;
    font-weight: normal;
    text-decoration: none;
}

pre, code, .fixed {
    font-size: 100%;
    font-family: "Lucida Console",Courier,"Courier New";
}

/* Styles for email-like messages. */
.signature {
    color: #ccc;
}
.signature .fixed {
    color: #ccc;
    font-family: "Lucida Console",Courier,"Courier New";
}
.citation {
    margin: 1em 0;
    padding-left: 1em;
    border-left-width: 1px;
    border-left-style: solid;
}
.quoted1 {
    color: #606;
    border-color: #606;
}
.quoted2 {
    color: #077;
    border-color: #077;
}
.quoted3 {
    color: #900;
    border-color: #900;
}
.quoted4 {
    color: #009;
    border-color: #009;
}
.quoted5 {
    color: #b60;
    border-color: #b60;
}

/* Various popup and status layers. */
.notices {
    text-align: left;
    margin: .5em 8px;
    list-style-type: none;
}
.notices li, .notice {
    font-weight: bold;
    color: #000;
    background: #ffc;
    border: 1px solid #aaa;
    padding: 1px 1px 1px 5px;
}
.notices img, .notice img {
    margin-right: .5em;
}
.tooltip, div.nicetitle {
    color: #000;
    background: #ffc;
    border: 1px solid #000;
    padding: 5px;
    z-index: 1001;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
div.nicetitle {
    position: absolute;
    overflow: hidden;
    opacity: .90;
}
div.nicetitle pre {
    font-family: "Lucida Console",Courier,"Courier New";
}
.inProgress {
    font: 80% Geneva,Arial,Helvetica,sans-serif;
    padding: 2px;
    color: #fff;
    background: #f00;
}

/* Tree styles. */
.treeRow {
    overflow: hidden;
    min-height: 20px;
    clear: both;
}

/* Menu styles. */
#menu {
    overflow: hidden;
    min-height: 50px;
    margin-bottom: 8px;
}
#menu ul {
    padding: 5px;
}
#menu li {
    list-style-type: none;
    text-align: center;
    margin: 2px;
    float: left;
}
#menu li.separator {
    width: 40px;
}
#menu a {
    display: block;
    white-space: pre;
    font-size: 90%;
    text-decoration: none;
    padding: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#menu h1 {
    font-weight: bold;
    font-size: 150%;
    line-height: 48px;
    vertical-align: bottom;
}
#menu input, #menu select {
    margin-top: 16px;
}
#menuBottom {
    margin: -8px 0 0 0;
    padding: 4px;
    float: right;
    text-align: right;
    font-size: 90%;
    background: #eee;
}

/* Sidebar styles. */
.sidebar #menu {
    margin: 0;
}
#sidebarPanel {
    -moz-border-radius-bottomright: 15px;
    -webkit-border-bottom-right-radius: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    background: #eee;
    white-space: nowrap;
}
#sidebarPanel a, #sidebarPanel span {
    color: #000;
    white-space: pre;
    font-size: 90%;
    text-decoration: none;
}
#sidebarPanel a a, #sidebarPanel a span, #sidebarPanel span a, #sidebarPanel span span {
    font-size: 100%;
}
#sidebarPanel span.accessKey {
    text-decoration: underline;
}
#sidebarPanel span.toggle {
    cursor: pointer;
}
#sidebarPanel a:hover {
    color: #000;
}

/* Pager. */
.pager {
    text-align: center;
}

/* Tab styles. */
.tabset {
    float: left;
    width: 100%;
    font-weight: bold;
    background: url("graphics/tab_bottom.gif") repeat-x bottom;
}
.tabset ul {
    margin-top: 4px;
    padding-left: 8px;
    list-style: none;
}
.tabset li {
    float: left;
    margin: -3px 2px 0 0;
    white-space: nowrap;
}
.tabset li a {
    color: #000;
    background-color: #e9e9e9;
    padding: 2px 0.5em;
    display: block;
    border: 1px solid #000;
}
.tabset li a:hover {
    background-color: #fff;
}
.tabset li.activeTab a {
    border-bottom: 1px solid #000;
    background-color: #000;
    color: #fff;
}
.tabset li.activeTab a:hover {
}
.tabset img {
    display: block;
    float: left;
    padding-right: 2px;
}

/* Preferences. */
#services_prefs .header ul {
    float: right;
    text-align: right;
    font-size: 80%;
}
#services_prefs .header li {
    list-style: none;
    display: inline;
}
.prefsOverview div {
    float: left;
}
.prefsOverview div div {
    padding-left: 10px;
    width: 95%;
}
.prefsOverview h2 {
    font-size: 150%;
    font-weight: bold;
}
.prefsOverview dt a {
    display: block;
    padding: 2px;
    font-weight: bold;
    border: 1px solid #000;
    border-bottom: 1px solid #446;
    background: #e9e9e9;
}
.prefsOverview dd {
    padding: 2px;
    margin-bottom: 10px;
    color: #000;
    background: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}
div.prefsContainer {
    padding: 1em;
}
div.prefsContainer p {
    padding-top: 1em;
}

/* Block styles. */
.currentBlock {
    border: 2px solid red;
}
.blockIcons {
    padding-top: 5px;
    display:none;
}
.blockHeader:hover .blockIcons {
    display: block;
}
#googlesearch {
    padding: .3em;
}

/* Help styles. */
body.help_about, body.help_entry {
    margin: 0.5em;
}
.helplink {
    cursor: help;
}
.help {
    background: #fff;
    color: #000;
}
.help h1 {
    font-size: 125%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.help h2 {
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-size: 110%;
}
.help p {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}
.help em {
    display: block;
    padding: 5px;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}
.help em.helpTip {
    color: #090;
    background: #e0f0e0;
}
.help em.helpWarn {
    color: #900;
    background: #f0e0e0;
}

/* Source markup styles. */
ol.code-listing {
    overflow: hidden;
    color: #999;
    background-color: #fff;
    text-align: left;
    list-style-position: inside;
    list-style-type: decimal-leading-zero;
    white-space: nowrap;
    font-family: "Lucida Console",Courier,"Courier New";
    font-size: 100%;
}
ol.code-listing li {
    padding: 3px;
    white-space: pre;
    padding-left: .5em;
}
ol.code-listing .comment {
    color: #666;
}
ol.code-listing .default {
    color: #00b;
}
ol.code-listing .keyword {
    color: #070;
}
ol.code-listing .string {
    color: #d00;
}

table.lineNumbered * {
    font-family: "Lucida Console",Courier,"Courier New";
    font-size: 100%;
    line-height: 16px;
}
.lineNumbered th {
    background: #e9e9e9;
    border-right: 1px solid #e0e0e0;
    border-bottom: none;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
}
.lineNumbered td {
    vertical-align: top;
    width: 100%;
    white-space: pre;
    background: #fff;
    padding-left: 10px;
}
.parentheses {
    color: #2a6;
    font-weight: bold;
}
.comment {
    color: #aac;
}
.htag {
    color: #569;
    background: #d5d6da;
    font-weight: bold;
}
.metac {
    color: #0ff;
    background: #d5d6da;
}
.id {
    color: #e82;
    background: #e4e4e0;
}
.attr {
    color: #6af;
}
.value {
    color: #d46;
}
.color {
    color: #f57;
}
.eol {
    color: #26e;
}
.url {
    color: #962;
}
.file {
    color: #444;
    background: #fe4;
}
.class {
    font-style: italic;
}

/* Sound selection. */
ul.sound-list {
    list-style: none;
}
.sound-list li {
    height: 24px;
}
.sound-list embed {
    vertical-align: middle;
    height: 24px;
}


/* MIME styles. */
.mimeStatusMessage, .mimeStatusWarning, .mimeHeaders, .mimePartInfo {
    padding: 1px;
    margin-bottom: 2px;
    font-size: 90%;
}
.mimeStatusMessage {
    color: #000;
    background: #ffc;
    border: 1px solid #fff760;
    width: 100%;
}
.mimeStatusWarning {
    border: 1px solid #800;
    background: #e81222;
    color: #fff;
    width: 100%;
}
.mimeHeaders {
    border: 1px solid #ccc;
    background: #f9f9f9;
    width: 100%;
    font-family: "Lucida Console",Courier,"Courier New";
}
.mimePartInfo {
    border: 1px solid #ccc;
    background: #f9f9f9;
}
.mimePartInfo, .mimePartInfo a {
    color: #666;
}
.mimeStatusIcon {
    vertical-align: middle;
    width: 1%;
}
.download {
    padding: 2px 20px 2px 0;
    background: transparent url("graphics/download.png") center right no-repeat;
}

/* Calendar Popup. */
table.calendarPopup {
    border: 1px solid #ccc;
    background: #fff;
    width: 12em;
}
.calendarPopup thead {
    font-weight: bold;
}
.calendarPopup th {
    border-bottom: 1px solid #ccc;
}
.calendarPopup tbody {
    text-align: right;
}
.calendarPopup a {
    color: #000;
    display: block;
    padding: 2px;
}
.calendarPopup tbody a:hover {
    background: #ffc;
}
.calendarPopup .current {
    font-weight: bold;
    background: #eef;
}
.calendarPopup .today {
    font-weight: bold;
}

.hidden {
    display: none;
}

/* Redbox styles. */
#RB_overlay {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    background-color: #000;
    opacity: .6;
    filter: alpha(opacity=60);
}
#RB_loading {
    z-index: 101;
    width: 66px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    padding-bottom: 66px;
    text-align: center;
    background: url("graphics/redbox_spinner.gif") no-repeat bottom center;
}
#RB_window {
    z-index: 102;
    background-color: #fff;
    display: block;
    text-align: left;
    overflow: hidden;
    margin: 20px auto 0 auto;
    position: fixed;
    position: absolute;
}

/* Color picker styles. */
#color-picker {
    color: #999;
    background: #000;
    padding-bottom: 8px;
    border: 1px solid #111;
    width: 148px;
    height: 155px;
    z-index: 100;
}
#color-picker .north {
    background: #111;
    border-bottom: 1px solid #171717;
    font-size: 11px;
}
#color-picker .north div {
    color: #999;
    float: right;
    padding: 5px 7px;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
#color-picker .north div:hover {
    color: #fff;
}
#color-picker .south {
    margin: 32px 0 0 10px;
    cursor: crosshair;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
#color-picker .south img {
    height: 100%;
    width: 100%;
    position: relative;
    top: -8px;
    left: -1px;
}
#color-picker #color-picker-cursor {
    background: url("graphics/color-picker-cursor.gif") no-repeat;
    position: absolute;
    height: 9px;
    width: 9px;
    z-index: 101;
}
#color-picker #color-picker-cursor img {
    height: 100%;
    width: 100%;
    position: relative;
    top: -8px;
    left: -1px;
}
#color-picker #color-picker-hex {
    padding: 5px 0 4px 7px;
    cursor: text;
    float: left;
}
#color-picker #color-picker-hex:hover {
    color: #fff;
}
#color-picker #color-picker-resize {
    float: right;
    top: -14px;
    left: 7px;
    height: 14px;
    width: 14px;
    cursor: se-resize;
}

.leftAlign {
    text-align: left;
}
.rightAlign {
    text-align: right;
}
.leftFloat {
    float: left;
}
.rightFloat {
    float: right;
}

.togglequote {
    font-size: 80%;
    cursor: pointer;
    background: #ddd;
}
.togglequote:hover {
    text-decoration: underline;
}
.togglequoteparent {
    margin-bottom: 8px;
}
