#!/usr/bin/make -f
#
# Univention Directory Manager REST
#  rules file for the debian package
#
# SPDX-FileCopyrightText: 2019-2026 Univention GmbH
# SPDX-License-Identifier: AGPL-3.0-only

%:
	dh $@ --with python3,univention-l10n,ucr --buildsystem=pybuild
