/*
 * Copyright 2014-2022 Univention GmbH
 *
 * https://www.univention.de/
 *
 * All rights reserved.
 *
 * The source code of this program is made available
 * under the terms of the GNU Affero General Public License version 3
 * (GNU AGPL V3) as published by the Free Software Foundation.
 *
 * Binary versions of this program provided by Univention to you as
 * well as other copyrighted, protected or trademarked materials like
 * Logos, graphics, fonts, specific documentations and configurations,
 * cryptographic keys etc. are subject to a license agreement between
 * you and Univention and not subject to the GNU AGPL V3.
 *
 * In the case you use this program under the terms of the GNU AGPL V3,
 * the program is provided in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License with the Debian GNU/Linux or Univention distribution in file
 * /usr/share/common-licenses/AGPL-3; if not, see
 * <https://www.gnu.org/licenses/>.
 */

.appStatusIcon
	background-image: url("appcenter/statusIcons.svg")
	position: absolute
	left: 3.5rem
	bottom: 4.2rem
	width: 40px
	height: 40px
	filter: drop-shadow(4px 4px 3px rgba(0,0,0,0.5))

	&.appUpdateIcon
		left: 4.2rem
		background-position: 0 0

	&.appEndOfLifeIcon
		left: 4.2rem
		background-position: -80px 0

	&.appRecommendedAppIcon
		background-position: -160px 0

	&.appPopularAppIcon
		background-position: -240px 0

	&.appRecommendedAndPopularAppIcon
		background-position: -280px 0

	&.appVoteForApp
		background-position: -200px 0

	&.appUpdatePermissionsIcon
		left: 4.2rem
		background-position: -320px 0

.AppDetailsDialog__warning
	border-radius: var(--border-radius-container)
	display: flex
	align-items: center
	padding: var(--layout-spacing-unit)
	margin-bottom: calc(2 * var(--layout-spacing-unit))

	.featherIcon
		flex: 0 0 auto
		margin-right: var(--layout-spacing-unit)

	.dijitButton
		margin-top: var(--layout-spacing-unit)

.AppDetailsDialog__warning--hard
	background-color: var(--bgc-error)

.AppDetailsDialog__warning--soft
	background-color: var(--bgc-warning)


.umcAppDetailsContainerCard
	font-size: var(--font-size-4)
	background: var(--bgc-content-body)
	&:not(:last-child)
		margin-bottom: calc(2 * var(--layout-spacing-unit))

.umcAppDetailsContainerCard__header
	display: flex
	align-items: center
	margin-bottom: calc(2 * var(--layout-spacing-unit))

.umcAppDetailsContainerCard__header__main,
.umcAppDetailsContainerCard__header__secondary
	flex: 1 0 auto

.umcAppDetailsContainerCard__header__main
	margin-right: var(--layout-spacing-unit)

.umcAppDetailsContainerCard__header__secondary
	display: flex
	justify-content: flex-end

.umcAppDetailsContainerCard__header__host
	font-size: var(--font-size-5)

	&.umcAppDetailsContainerCard__header__main
		font-weight: var(--font-weight-bold)
		font-size: var(--font-size-3)


.umcAppDetailsContainerCard .umcAppMoreTitlePane
	margin-top: var(--layout-spacing-unit)


.umcAppDetailsPage
	.umcAppButton
		float: right

	.umcAppButton.umcAppButtonFirstRow
		margin-bottom: 15px

	.umcAppButton.umcAppButtonFirstRow + .umcAppButton:not(.umcAppButtonFirstRow)
		clear: left

	.umcAppButton.umcActionButton
		float: none

	.umcAppSidebarButton
		width: 100%

.umcAppMoreInfo
	table
		border-spacing: 1em 0.1em

.umcTiles
	background-color: var(--bgc-content-container)
	border-radius: var(--border-radius-container)
	margin-bottom: 2em

.umcTiles__header,
.umcTiles__actionBar
	display: flex
	align-items: center
	padding: calc(2 * var(--layout-spacing-unit))
	border-bottom: 2px solid var(--bgc-content-body)

.umcTiles__header
	h2
		flex: 1 0 auto

	.umcTiles__selectionToggleButton
		flex: 0 0 auto

.umcTiles__actionBar__buttons
	flex: 1 1 auto
	display: flex
	flex-wrap: wrap
	// gap: var(--layout-spacing-unit) // replace margin with this if supported in all browsers
	margin: calc(-1 * var(--layout-spacing-unit-small))
	> .ucsButton
		margin: var(--layout-spacing-unit-small)

.umcTiles__actionBar__text
	flex: 0 0 auto
	margin-left: var(--layout-spacing-unit)
	font-size: var(--font-size-4)
	color: var(--font-color-contrast-middle)

.umcTiles__collection
	display: grid
	grid-template-columns: repeat(auto-fill, 8rem)
	gap: calc(4 * var(--layout-spacing-unit)) var(--layout-spacing-unit)
	padding: calc(2 * var(--layout-spacing-unit))
	justify-content: space-between


.umcTile
	width: 8rem
	cursor: pointer
	position: relative

.umcAppInfo .umcTile
	cursor: default
.umcAppInfo__description
	margin: calc(4 * var(--layout-spacing-unit)) 0
	font-size: var(--font-size-4)
	text-align: center
.umcAppInfo__buttonWrapper
	width: 100%

.umcManageAppInstallationsDialogButtons
	display: grid
	grid-auto-flow: row
	gap: calc(2 * var(--layout-spacing-unit)) 0

.umcAppText
	display: flex

	.umcTile__box
		margin: 0
		border-radius: var(--border-radius-container)
		display: flex
		align-items: center
		justify-content: center
		height: var(--inputfield-size)
		width: @height
		flex: 0 0 auto
		background: var(--bgc-apptile-default)

	.umcTile__logo
		width: 80%
		height: 80%
		object-fit: contain

	.umcTile__name
		margin-left: var(--layout-spacing-unit)
		display: flex
		align-items: center


.umcTile__inner, .umcAppInfo
	display: flex
	flex-direction: column
	align-items: center
	border-radius: calc(2 * var(--border-radius-container))

.umcTile__box
	position: relative
	border-radius: calc(2 * var(--border-radius-container))
	display: flex
	align-items: center
	justify-content: center
	background: var(--bgc-apptile-default)
	width: 6rem
	height: @width
	margin-bottom: var(--layout-spacing-unit)

	.umcTile__logo
		width: 80%
		height: 80%
		object-fit: contain

.umcTile__name
	overflow: hidden
	text-overflow: ellipsis
	font-size: var(--font-size-4)
	text-align: center

.umcTile__inner
	position: relative
.umcTile__selectionBox
	position: absolute
	width: 100%
	height: 100%
	box-sizing: content-box
	border-radius: calc(2 * var(--border-radius-container))
	background-color: transparent
	transition: background-color 150ms, border-color 150ms
	padding-bottom: calc(2 * var(--layout-spacing-unit))
	border: 2px solid transparent
	top: calc(-2px - var(--layout-spacing-unit)) // width of border and half of padding-bottom
	left: -2px // width of border
.umcTiles__selectionMode
	.umcTile.selected
		.umcTile__selectionBox
			border-color: var(--color-accent)
			background-color: var(--bgc-appcenter-app-hover)
.umcTiles__collection
	.umcTile:hover
		.umcTile__selectionBox
			background-color: var(--bgc-appcenter-app-hover)
	.umcTile:active
		.umcTile__selectionBox
			background-color: var(--bgc-appcenter-app-active)

.umcAppChooseHostWizard
	border-radius: var(--border-radius-container)

.umcAppChooseHostWizard__removeExplanation
	margin-bottom: var(--layout-spacing-unit)

.umcAppCenterInstallDialog
	.umcPageHelpText
		font-size: var(--font-size-3)
		font-weight: var(--font-weight-bold)
		margin-bottom: 0.5em

.umc .umcAppDetailsPage
	.umcPageNav
		.icon
			margin-bottom: 1em
			width: 100%
			max-width: 550px
			height: 120px
			display: inline-block
			background-position: left center
			background-size: contain
			/* border instead of padding works with background-size:contain */
			border-right: solid transparent 20px

		.navContainer
			display: inline-block
			width: 100%
			border-top: 2px solid var(--bgc-content-body)
			padding: 0.8em 0

			.umcText
				margin-bottom: 0.3em
				color: #787878
			.umcAppStatusText, .umcContainerWidget
				display: block
				width: 100%
				@media screen and (min-width: 550px)
					display: inline-block
					width: 50%
			.umcAppStatusText
				vertical-align: top

			.umcEndOfLifeHelp
				display: inline-block
				position: relative
				left: 10px
				top: 1px

	.umcAppRatingIcon
		display: inline-block
		margin-right: 1em
		height: 3em
		width: 3em
		border-radius: var(--border-radius-container)

		svg
			width: 100%
			height: 100%
			padding: 20%
			fill: currentColor

	.umcAppRatingVendorSupported
		background-color: #93608b

	.umcAppRatingPopularityAward
		background-color: #f6aa42

	.umcAppRatingRecommendedApp
		background-color: #dd042d

	.umcAppRatingHelp
		display: inline-block
		position: relative

	h1
		margin-bottom: 0.3em

	.mainHeader
		display: flex
		align-items: center
		font-size: var(--font-size-2)
		margin-bottom: calc(2 * var(--layout-spacing-unit))

		.featherIcon
			margin-right: var(--layout-spacing-unit)

	.iconHeaderOpen
		background: transparent url("appcenter/icons/open.svg") repeat scroll
		background-size: contain
		background-repeat: no-repeat
		line-height: 1.4em
		padding-left: 1.7em

	.iconHeaderDownload
		background: transparent url("appcenter/icons/download.svg") repeat scroll
		background-size: contain
		background-repeat: no-repeat
		line-height: 1.4em
		padding-left: 1.7em

	.iconHeaderVote
		background: transparent url("appcenter/icons/vote.svg") repeat scroll
		background-size: contain
		background-repeat: no-repeat
		line-height: 1.4em
		padding-left: 1.7em

	.iconHeaderBuy
		background: transparent url("appcenter/icons/shopping_cart.svg") repeat scroll
		background-size: contain
		background-repeat: no-repeat
		line-height: 1.4em
		padding-left: 1.7em

	.iconHeaderInfo
		background: transparent url("appcenter/icons/info.svg") repeat scroll
		background-size: contain
		background-repeat: no-repeat
		line-height: 1.4em
		padding-left: 1.7em

	.iconHeaderBadges
		background: transparent url("appcenter/icons/shopping_bag.svg") repeat scroll
		background-size: contain
		background-repeat: no-repeat
		line-height: 1.4em
		padding-left: 1.7em

	.usage
		margin-bottom: 3em

	.umcAppDetailsPage__content__mainInfo
		background-color: var(--bgc-content-container)
		border-radius: var(--border-radius-container)
		padding: calc(4 * var(--layout-spacing-unit))

		h1, h2, h3
			margin-bottom: 0.7rem

			&:not(:first-child)
				margin-top: 1.4rem
				padding-top: 1.4rem
				border-top: 2px solid var(--bgc-content-body)
		ul, ol
			margin-bottom: 0.7rem


	.appDetailsSidebarElement
		background-color: var(--bgc-content-container)
		border-radius: var(--border-radius-container)
		padding: calc(3 * var(--layout-spacing-unit))
		color: var(--font-color-contrast-high)

		table
			td:first-child
				vertical-align: top
				color: var(--font-color-contrast-middle)
				padding-right: 12px

.AppLiveSearchSidebarDropDown
	.dijitMenuSeparatorIconCell, .dijitMenuSeparatorLabelCell
		padding: 3px 0

.umc
	.umcAppCenter .umcPageNav,
	.umcAppDetailsPage .umcPageNav
		margin-bottom: 1.5em

	.umcAppDetailsPage
		.umcPageMain
			margin-bottom: 2.25em

	.umcAppCenter .appLiveSearchSidebar
		border-radius: var(--border-radius-container)

		.umcSearchBox
			margin-bottom: calc(4 * var(--layout-spacing-unit))

		.appLiveSearchSidebarElement
			border-top-left-radius: var(--border-radius-container)
			border-top-right-radius: var(--border-radius-container)
			background-color: var(--bgc-content-container)
			padding: calc(2 * var(--layout-spacing-unit))

		.appLiveSearchSidebarElement + .appLiveSearchSidebarElement
			border-radius: 0
			border-top: 2px solid var(--bgc-content-body)

		.appLiveSearchSidebarElement:last-child
			border-bottom-left-radius: var(--border-radius-container)
			border-bottom-right-radius: var(--border-radius-container)

		.mainHeader
			display: block
			font-size: var(--font-size-4)
			font-weight: var(--font-weight-bold)
			margin-bottom: calc(2 * var(--layout-spacing-unit))

		.umcLabelPane
			padding-bottom: var(--layout-spacing-unit-small)

	.umcPage.umcAppCenter .umcSize-TwoThirds
		@media screen and (max-width: 549px)
			width: 100%

.umc .appInstallWizard__dryRunPage
	.umcPageMain
		min-height: 150px

.umc .appInstallWizard__detailsPage
	.dijitContentPane
		padding: 0

.umc .appInstallDialog__readmeTitle
	font-weight: var(--font-weight-bold)

.umc .appInstallDialog__readme
	max-height: 350px
	overflow-y: auto
	overflow-x: hidden
	padding: 0

.umc .umcModule[id^=umc_modules_appcenter_],
.umc .umcModule[id^=umc_modules_apps_]
	overflow: hidden

	.umcModuleContent
		overflow: visible

.imageGallery
	--local-idx: 0

.imageGallery__aspectRatio
	width: 100%
	padding-bottom: calc(100% / (16 / 9))
	position: relative

.imageGallery__viewport
	border-radius: var(--border-radius-container)
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	overflow: hidden
	display: flex
	align-items: center
	background-color: var(--bgc-content-container)

.imageGallery__carousel
	width: 100%
	height: 100%
	display: flex
	position: relative
	left: calc(-100% * var(--local-idx))
	transition: left 250ms

.imageGallery__carouselItem
	flex: 1 0 auto
	width: 100%
	height: 100%
	display: flex
	align-items: center
	justify-content: center

	img
		max-width: 100%
		max-height: 100%

.imageGallery__navButton
	position: absolute
	--bgc: var(--button-bgc)
	box-shadow: var(--box-shadow)
	&.dijit
		&Hover,
		&Focused
			--bgc: var(--button-bgc-hover)
		&Active
			--bgc: var(--button-bgc-active)

	&--left
		left: 1rem
	&--right
		right: 1rem

.imageGallery__carouselVideo__video
	width: 100%
	height: 100%

.imageGallery__carouselVideo__playButton
	--button-size: 3rem
	--button-icon-size: 1.5rem

.imageGallery__dotsWrapper
	width: 100%
	padding: 0.5rem 0
	display: flex
	justify-content: center

.imageGallery__dots
	position: relative
	display: grid
	grid-auto-flow: column
	gap: calc(2 * var(--layout-spacing-unit))

.imageGallery__dot
	width: 0.5rem
	height: @width
	border-radius: var(--border-radius-circles)
	background-color: var(--font-color-contrast-low)
	cursor: pointer

.imageGallery__dot--reticle
	position: absolute
	background-color: var(--font-color-contrast-high)
	left: calc(1.5rem * var(--local-idx))
	transition: left 250ms


.umcAppDetailsPage__content
	display: grid
	gap: calc(4 * var(--layout-spacing-unit))

.umcAppDetailsPage__content__supplementaryInfo
	display: grid
	gap: calc(4 * var(--layout-spacing-unit))

@media (min-width: 992px)
	.umcAppDetailsPage__content
		grid-template-columns: 8fr 4fr
		grid-template-rows: auto auto
		grid-template-areas: "imageGallery callToAction" "mainInfo supplementaryInfo"
		align-items: flex-start

	.umcAppDetailsPage__content__callToAction
		grid-area: callToAction

	.umcAppDetailsPage__content__imageGallery
		grid-area: imageGallery

	.umcAppDetailsPage__content__mainInfo
		grid-column: mainInfo
		grid-row: imageGallery / mainInfo
	.umcAppDetailsPage__content__imageGallery + .umcAppDetailsPage__content__mainInfo
		grid-row: mainInfo

	.umcAppDetailsPage__content__supplementaryInfo
		grid-area: supplementaryInfo
