/**
 * Theme by: Eric Jon Rostetter <eric.rostetter@physics.utexas.edu>
 * Please contact the theme's author for any missing style.
 *
 * $Horde: kronolith/themes/burntorange/screen.css,v 1.1.2.3 2007-12-20 14:13:03 jan Exp $
 */

.today {
    border-color: #c60;
}
