Source: univention-management-console-module-diagnostic
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends:
 debhelper,
 dh-python,
 python-all,
 python3-all,
 univention-config-dev (>= 15.0.3),
 univention-management-console-dev (>= 12.0.2),
Standards-Version: 3.7.2

Package: univention-management-console-module-diagnostic
Architecture: all
Depends:
 python-dateutil,
 python-dnspython,
 python-ipaddress,
 python-openssl,
 python-paramiko,
 python-pexpect,
 python-psutil,
 python-pyasn1,
 python-pycurl,
 python-requests,
 univention-management-console-server (>= 11.0.4-37),
 ${misc:Depends},
 ${python3:Depends},
 ${python:Depends},
Description: System Diagnosis UMC module
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
