Source: univention-server-overview
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 9),
 ucslint,
 stylus,
 univention-config-dev,
 univention-management-console-dev (>= 11.0.4-37),
 univention-ucs-translation-template,
 dh-python,
 python-all,
 python3-all,
Standards-Version: 3.9.5

Package: univention-server-overview
Architecture: all
Depends: ${python:Depends}, ${python3:Depends},
 ${misc:Depends},
 univention-management-console-server (>= 11.0.4-37),
 univention-join,
 python-univention-directory-manager,
Description: Univention Server Overview - Web interface for overview over all server in a UCS domain
 Univention Server Overview is a web based interface which gives a
 fine overview over all servers in a UCS domain.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
