AuthUserFile /dev/null
AuthGroupFile /dev/null
AuthName "Protected Area Statistics"
AuthType Basic
AuthPAM_Enabled on
AuthPAM_Service login
AuthBasicAuthoritative Off
Require user Administrator

SetenvIf Request_URI "(statistik/ucs.*\.png)$" allow
SetenvIf Request_URI "(statistic/ucs.*\.png)$" allow

Order allow,deny
Allow from env=allow
Satisfy any
