/*
 * SPDX-FileCopyrightText: 2017-2026 Univention GmbH
 * SPDX-License-Identifier: AGPL-3.0-only
 */

$ucs-green ?= #7ab51d
$header-color ?= #787878

.umc
	#content
		width: 100% !important

	.umcHeader
		background-color: $header-color

		.umcHeaderLeft
			height: 100%

			.univentionLogo
				background-image: url(/univention/js/dijit/themes/umc/images/univention-white.svg)
				background-repeat: no-repeat
				background-position: left center
				width: 160px
				height: 100%
				margin-left: 12px

	.umcWizard.umcInlineDialog
		max-width: 700px

		ol
			margin: 10px 0

		.umcPage
			.umcLabelPaneLabeNodeBottom
				display: none

			.umcPageNav
				margin-bottom: 0
