@import "../variables"

.umcAppGallery
	&:after
		content: ''
		display: block
		clear: both

	&.dgrid
		border: none
		height: auto
		overflow: visible

		.dgrid-scroller
			position: relative
			overflow: visible

	.umcGalleryWrapperItem
		$tile-color = #fff
		$tile-hover-color-primary = #878787
		$tile-hover-color-secondary = #6e6e6e

		cursor: pointer
		position: relative
		float: left
		width: 155px
		height: 165px
		padding: 0
		margin: 12px 40px 12px 0
		line-height: 1.25

		&:last-child
			margin-right: 0

		a
			outline: none

		.umcGalleryItem,
		.umcGalleryItem:hover
			box-shadow: none

		.appStatusIcon
			height: 40px
			width: 40px
			position: absolute
			top: -10px
			right: -10px
			z-index: 2
			transition: opacity 0.5s

			&.noStatus
				display: none

		.appStatusHoverIcon
			z-index: 3
			opacity: 0
			^[-1].hover ^[-1..-1]
				opacity: 1

		.cornerPiece
			width: 142px
			height: 152px
			position: absolute
			border-radius: 10px
			overflow: hidden
			background-color: $tile-color

			&.boxShadow
				material-shadow-common()
				material-shadow(1)

				.hoverBackground
					width: 142px
					height: 70px
					position: absolute
					z-index: 1
					transition: bottom 0.4s
					linear-gradient(to bottom, $tile-hover-color-primary 0%, $tile-hover-color-secondary 100%)
					background-color: $tile-hover-color-primary
					bottom: -70px
					^[-1].tr ^[-1..-1]
						bottom: -83px

			&.bl
				bottom: 0
				left: 0

			&.tr
				top: 0
				right: 0

		.appIcon
			margin: 10px
			width: (@width - 2 * @margin)
			height: (98px - 2 * @margin)
			position: absolute
			background: url("../images/ucs_logo_gray.svg") no-repeat center center
			background-size: contain
			z-index: 1
			transition: opacity 0.4s

		.appInnerWrapper
			cursor: pointer
			position: relative
			width: 100%
			height: 100%
			overflow: hidden
			background-color: transparent
			z-index: 1

			.contentWrapper
				width: 100%
				height: 100%
				position: absolute
				padding-top: 22px
				bottom: -70px
				transition: bottom 0.4s
				pointer-events: none

				.appContent
					width: 100%
					height: 70px
					padding: 0.3em 0.6em
					text-align: center

					.umcGalleryName
						color: $text-color
						height: 40px
						margin-bottom: 0.2em
						font-size: $font-size-subheading
						word-break: break-word
						word-wrap: break-word

					.umcGallerySubName
						color: $text-color-lightest
						white-space: nowrap
						text-overflow: ellipsis
						overflow: hidden

				.appHover
					width: 100%
					height: 70px
					padding: 8px
					color: #fff
					font-size: $font-size-caption

		&.hover
			.boxShadow
				.hoverBackground
					bottom: 0 !important

				&.tr
					.hoverBackground
						bottom: -13px !important;

			.contentWrapper
				bottom: 0

			.appIcon
				opacity: 0.05
		
		&:active
			.boxShadow
				material-shadow(2)

	@media (max-width: $xxs-max)
		wrapperHeight=material-grid(10)
		wrapperWidth=100%
		.umcGalleryWrapperItem
			width: wrapperWidth
			height: wrapperHeight
			margin: material-grid(1) 0
			
			.cornerPiece
				width: wrapperWidth
				height: wrapperHeight

				.hoverBackground
					display: none

				&.bl
					box-shadow: none


			.appIcon
				margin: material-grid(1)
				width: material-grid(8)
				height: material-grid(8)

			.appInnerWrapper
				.contentWrapper
					padding: 0 0 0 material-grid(10)
					height: wrapperHeight * 2
					bottom: - wrapperHeight

					.appContent
						width: wrapperWidth
						height: wrapperHeight
						padding: material-grid(1)
						text-align: left
						display: flex
						flex-direction: column
						justify-content: space-around

					.appHover
						height: wrapperHeight
						color: #282828
			&.hover
				.contentWrapper
					bottom: - wrapperHeight
				.appIcon
					opacity: 1

