@import "../variables"

/* GalleryPane */
.umcGalleryPane.dgrid
	overflow: hidden
	&.umcOverviewPane
		overflow: visible

	height: auto
	border: none

	.dgrid-scroller
		outline: none
		position: relative
		overflow: visible

	.dgrid-selected
		background-color: inherit

/* gallery header may be outside of gallerypane */
.umcGalleryCategoryHeader
	padding: 0 0 0.25em 0
	margin: 1em 5px 0.5em 5px
	font-size: $font-size-title
	font-weight: 500
	border-bottom: solid 1px $base-border-color
	// on the android tablet the border would only be displayed at width ~300px
	// this background image hack fixes the problem, see:
	//   http://stackoverflow.com/a/13550951
	background-image: url(../images/blank.png)

.umcGalleryCategoryHeader:first-child
	margin-top: 0

.umcGalleryPane
	// disable selection on touch devices
	// taken from: http://stackoverflow.com/a/11237968
	-webkit-touch-callout:none
	-webkit-user-select:none

	.umcGalleryWrapperItem
		padding: material-grid(1)

	.umcGalleryItem
		position: relative
		padding: material-grid(2)
		background-color: s('rgba(var(--color-grey0-rgb, 0.8))')
		background-color: var(--color-grey0)
		box-sizing: content-box
		transition: box-shadow 250ms, background-color 0.25s
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16)
		border-radius: var(--border-radius-container)

		// definitions in px instead of em due to size of image in px
		height: 80px
		overflow: hidden

		.umcGalleryName,
		.umcGalleryDescription
			transition: color 0.25s

		.umcGalleryName
			word-break: break-word
			margin-right: 24px
			max-height: 26px
			line-height: 1
			font-weight: 600
			font-size: var(--font-size-small)

		.umcGalleryDescription
			font-size: var(--font-size-small)
			padding-top: 8px
			max-height: 64px
			line-height: var(--font-lineheight-compact)
			word-wrap: break-word

		.umcGalleryIcon
			height: 78px
			width: 80px
			float: left
			background-position: center center
			/* make sure to have some spacing for SVG images with the property background-size=contain */
			border: 5px transparent solid

		/* if an icon is present, set a margin to the text elements */
		.umcGalleryIcon + .umcGalleryName,
		.umcGalleryIcon + .umcGalleryName + .umcGalleryDescription
			margin-left: 85px

		.umcGalleryStatusIcon
			position: absolute
			width: 20px
			height: 20px
			top: 5px
			left: auto
			right: 5px

		.umcFavoriteIconDefault
			position: absolute
			top: 0
			right: 20px
			width: 10px
			height: 10px
			line-height: 0

			polyline
				transition: fill 0.25s

		.umcGalleryContextIcon
			position: absolute
			top: 0.5rem
			right: 0.5rem
			--button-size: 1.5rem
			--button-icon-bgc-overlay-hover: rgba(0, 0, 0, 0.15)
			--button-icon-bgc-overlay-active: rgba(0, 0, 0, 0.20)

	.umcGalleryItem.touched,
	.umcGalleryItemActive,
	.umcGalleryItem:hover
		cursor: pointer

		.umcFavoriteIconDefault polyline
			fill: white

		&.umcGalleryCategory--contrastDark
			.umcGalleryName,
			.umcGalleryDescription
				color: var(--font-color-dark)
			.umcGalleryContextIcon
				color: var(--font-color-dark)

			.umcFavoriteIconDefault polyline
				fill: rgba(0, 0, 0, 0.87)

/*
.umcGalleryPane .umcGalleryItem:active
	material-shadow(2)
*/

// no left/right padding for full size item
@media (max-width: $xxs-max)
	.umcGalleryPane .umcGalleryWrapperItem
		padding-left: 0
		padding-right: 0
