@require "../variables"

@keyframes shake {
	10%, 90% {
		transform: translate(-1px, 0);
	}
	20%, 40%, 60%, 80% {
		transform: translate(2px, 0);
	}
	30%, 50%, 70% {
		transform: translate(-2px, 0);
	}
}

/* Header elements */

headerHeight = 48px
.umc .umcHeader
	background-color: var(--color-grey0)
	height: var(--layout-height-header)
	position: relative
	padding: 0
	overflow: hidden
	display: flex
	align-items: center

	.umcBackToOverviewButton
		--button-size: var(--layout-height-header)
		border-radius: 0

	$moduleTabBGCTransitionDur = 250ms
	.umcModuleTab
		display: inline-flex
		align-items: center
		padding: 0
		height: 100%
		--tabColor: transparent
		--seperatorColor: var(--color-grey8)
		&.contrastDark
			&.dijitTabChecked,
			&.dijitTabActive,
			&.dijitTabHover
				color: var(--font-color-dark)

		&.dijit
			&Hover,
			&Focused
				// --tabColor: rgba(255, 255, 255, 0.04)
				--tabColor: #272726
				z-index: 1
			&Checked
				--tabColor: var(--color-grey8)
				z-index: 2

		&:before,
		&:after
			content: ''
			display: block
			height: 1.2rem
			width: 1px
			background: var(--color-grey8)
			position: absolute
			z-index: -2
		&:before
			left: 0
		&:after
			right: 0

		.tabLabel
			outline: none

	.umcModuleTab__closeButton
		--button-size: 1.2rem
		--button-iconSize: 0.9rem
		--button-icon-bgc-overlay-hover: rgba(0, 0, 0, 0.08)
		--button-icon-bgc-overlay-active: rgba(0, 0, 0, 0.08)
		margin: 0 0.3rem 0 0.5rem
		.featherIcon
			transition: none

	.umcModuleTab__background__svg
		position: absolute
		bottom: 0
		height: 12px
		width: 12px
		fill: currentColor
		color: var(--tabColor)
		transition: color $moduleTabBGCTransitionDur

		&--left
			left: -@width
		&--right
			right: -@width

	.umcModuleTab__background
		transition: background-color $moduleTabBGCTransitionDur
		position: absolute
		top: 10px
		right: 0px
		bottom: 0
		left: 0px
		border-radius: 8px 8px 0 0
		background-color: var(--tabColor)
		z-index: -1

	.umcModuleTab .tabLabel
		margin: 0 0 0 0.5rem
		font-size: var(--font-size-small)
		max-width: 264px
		overflow: hidden
		text-overflow: ellipsis


	.umcMainTabController
		height: 100%

	.umcMoreTabsDropDownButton
		width: 30px
		height: 100%
		margin: 0

		.dijitIcon
			icon-image(-300, -20, '../', '-white')
			margin: ((headerHeight - 20px) / 2) 5px

		.dijitArrowButtonInner
			display: none

	.umcMoreTabsDropDownButton--invisible
		visibility: hidden

	.umcHeaderLeft
		position: absolute
		left: 0
		top: 0

	.umcHeaderRight
		display: flex
		align-items: center
		height: var(--layout-height-header)
		margin-right: spacing(2)
		position: absolute
		right: 0
		top: 0

		.ucsButton
			margin: 0 spacing(1, true)

	.umcLoginButton
		--button-size: var(--layout-height-header)

/* more tabs drop down menu */
.umc .umcMoreTabsMenuPopupWrapper
	margin: 3px 0 0 3px

.umc .umcMoreTabsDropDownMenuContent
	margin: 0
	background-color: #fff
	padding: material-grid(1) 0

	.dijitMenuItem
		transition-property: background-color, color
		transition-duration: 0.2s
		text-transform: uppercase

		.dijitMenuItemLabel
			text-align: center
			line-height: 32px
			padding: 0 material-grid(3)

		.dijitMenuItemIconCell,
		.dijitMenuArrowCell
			display: none

		&.dijitMenuItemSelected td,
		&.dijitMenuItemHover td
			background-color: inherit
/* more tabs drop down menu  END */


/* special stylings depending on device class */

@media (max-width: 500px)
	.col-xxs-12
		width: 100%

@media (min-width: 1755px)
	.col-xlg-4
		width: 33.33333333%

	.col-xlg-push-3
		left: 25%

	.col-xlg-pull-4
		right: 33.33333333%

/**
 * style the main container of UMC
 */
.umc .umcTopContainer .dijitTabContainerTop
	clear: both

.umc .umcHeader--umc
	.umcMainTabController
		background: inherit


// module search
.umcModuleSearchToggleButton.dijitChecked
	color: var(--color-primary)
.umcModuleSearch
	width: 95%
	max-width: calc(40 * var(--layout-spacing-unit))
	position: fixed
	top: "calc(%s + %s)" % (var(--layout-height-header) var(--layout-height-header-seperator))
	transition: right 250ms
	right: calc(-40 * var(--layout-spacing-unit))
	z-index: 1

	&--open
		right: 0

	.umcSearchBox
		background-color: var(--bgc-content-container)
	.umcSearchBox__searchButton
		display: none
// module search end
