@import "../variables"

#umcLoginDialog *
	overflow: hidden

.umc #umcLoginWrapper h1
	text-align: center
	margin-top: 1.5em
	margin-bottom: 2.5em


.umcLoginDialog
	background-color: #ffffff
	width: 313px
	min-height: 313px
	max-height: 550px
	transition: max-height 0.75s
	margin: 0 auto
	padding: 3px
	border: 0 none
	position: relative !important
	material-shadow(1)
	background-size: 100% 100%

	.umcLoginLogo img
		height: 120px
		width: @height
		margin: 53px auto 0
		display: block
		transition(margin-top 0.75s)

	.umcLoginFormWrapper
		max-height: 350px
		transition: max-height 0.75s, opacity 0.75s
		margin: 25px 15px 10px 15px
		opacity: 1

	.umcLoginForm
		$line-height = 1.75
		input
			padding: 0 10px
			margin: 0
			border: none
			outline: none
			background: transparent
			font-size: $font-size-title
			color: $text-color
			width: 100%
			line-height: $line-height
			height: 100%

		input[type=submit]
			font-size: 14px
			color: $ucs-green
			text-transform: uppercase
			text-align: right
			font-weight: 500
			line-height: 36px
			padding: 0 2px
			margin: 10px 0

		label
			margin-bottom: 10px
			position: relative
			border-bottom: 1px solid $base-border-color
			transition-property: background-color, border
			transition-duration(0.75s)
			box-sizing: content-box
			height: $font-size-title * $line-height

			&:focus,
			&:focus:before,
			&:focus:after
				border-color: $focused-border-color
				transition-duration: .1s

			&:hover,
			&:hover:before,
			&:hover:after
				border-color: $hovered-border-color
				transition-duration: .1s

			&:before,
			&:after
				content: ""
				position: absolute
				height: 5px
				bottom: 0

			&:before
				border-left: thin solid $base-border-color
				left: 0

			&:after
				right: 0
				border-right: thin solid $base-border-color

.umc.umcLoginLoading .umcLoginDialog
	max-height: 313px
	background-image: url("../images/login_bg.gif")

	.umcLoginLogo img
		margin-top: 85px

	.umcLoginFormWrapper
		max-height: 0
		opacity: 0


.umcLoginWarning,
.umcLoginWarning a
	color: $error-color

#umcLoginLinks
	transition: opacity .75s
	opacity: 1
	text-align: center
	margin: 3em 2em
	a
		margin: 0 1em
	p
		margin-bottom: 1.5em

	.umc.umcLoginLoading &
		opacity: 0

.umcLoginMessages,
.umcLoginNotices
	margin: 0 auto
	padding-bottom: 15px
	width: 313px
	font-size: 0.9em

	p
		margin: 0
		padding: 0

