@import "../variables"

$notification-transition ?= 0.75s

.umc .umcNotificationContainer
	position: absolute
	width: 210px
	right: 0
	top: 110px
	height: auto
	overflow: hidden
	display: inline-block

.umc .umcNotification
	position: relative
	display: block
	margin-bottom: 5px
	width: 200px
	color: $text-color-dark-background
	padding: 6px 10px
	left: 5px
	opacity: 1
	z-index: 20

	transition-duration: $notification-transition
	transition-property: left, opacity, color

	a
		color: $grey-medium

	a:hover
		color: white

	.umcNotificationTitle
		font-weight: bold
		border-bottom: solid 1px white
		padding-bottom: 0.4em
		margin-bottom: 0.4em
		transition-duration: $notification-transition
		transition-property: border-color

	.umcNotificationMessage
		max-height: 500px
		transition-duration: $notification-transition
		transition-property: max-height
		overflow: hidden
		word-wrap: break-word

	.umcNotificationCloseIcon
		icon-image(0, 0, "../", "-small-white", 12px, 12px)
		position: absolute
		right: 0
		top: 0
		margin: 0.7em 1.2em

	.umcNotificationCloseIcon:hover
		icon-image(-12, 0, "../", "-small-white", 12px, 12px)
		cursor: pointer

/* semi transparent background gradient via pseudo element 'after' */
.umc .umcNotification:after
	border-radius: 4px
	box-shadow: 0 0px 10px rgba(0,0,0,0.3)
	content: ""
	opacity: 0.8
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	vertical-gradient-and-filter($text-color-lighter, $text-color)
	z-index: -1

.umc .umcNotification.umcNotificationHidden
	left: 195px
	opacity: 0.66
	color: transparent
	transition-duration: $notification-transition
	transition-property: left, opacity, color
	transition-delay: 0, 0, 0.5s

	.umcNotificationMessage
		max-height: 0 !important
		transition-property: max-height
		transition-duration: $notification-transition

	.umcNotificationTitle
		border-color: transparent
		transition-property: border-color
		transition-duration: $notification-transition

.umc .umcNotificationRemove
	opacity: 0
	max-height: 0 !important
	margin: 0
	padding-bottom: 0
	padding-top: 0
	transition-duration: $notification-transition
	transition-property: opacity, max-height, margin, padding-top, padding-bottom

.umc .umcNotificationTransparent
	opacity: 0

/* styling of the snackbar notifications */
.umcNotificationSnackbar
	pointer-events: none
	position: fixed
	bottom: 0
	left: 0
	right: 0
	text-align: center

	.umcSnackbarNotification
		pointer-events: auto
		position: relative
		display: inline-block
		border-radius: 2px
		min-width: 288px
		@media (max-width: @min-width)
			min-width: 100%
		max-width: 568px
		min-height: 48px
		padding: 14px 24px
		color: white
		text-align: left
		background-color: #323232

		.umcNotificationFlexContainer
			display: flex
			justify-content: space-between
			transition: opacity 0s 0.3s

			.umcNotificationMessage
				line-height: 20px

			.umcNotificationActionButton
				text-transform: uppercase
				font-weight: 500
				height: 20px
				line-height: 20px
				margin: 0 0 0 48px
				border: none
				background-color: transparent
				color: $ucs-green
		
		&.multiLineWithActionButton	.umcNotificationFlexContainer
				flex-flow: column

				.umcNotificationMessage
					align-self: flex-start

				.umcNotificationActionButton
					align-self: flex-end
					margin: 24px 0 0 0

		&.umcSnackbarNotificationWarning
			background-color: $error-color

			.umcNotificationFlexContainer .umcNotificationActionButton
					color: inherit

/* styling of the notification dropdown menu */
.umc .umcNotificationPopupWrapper
	margin-top: 3px

$umcNotification-width = 300px
.umc .umcNotificationDropDown
	background-color: white
	overflow: hidden
	position: relative
	&.openTransition
		/* transition: width 0.22s 0.03s, height 0.22s */
		transition: width 0.22s 0.03s, height 0.22s, opacity 0.2s
	&.closeTransition
		/* transition: width 0.22s, height 0.22s 0.03s */
		transition: width 0.22s, height 0.22s 0.03s, opacity 0.2s
	&.noTransition
		transition: none

	.notificationsContainerWrapper
		overflow-y: auto
		overflow-x: hidden
		max-height: inherit

		.notificationsContainer
			padding-top: 0
			^[-2].hasNotifications ^[-2..-1]
				padding-top: 44px

	.noNotificationsText
		font-size: $font-size-subheading
		font-weight: 500
		text-align: center
		padding: 8px 0
		width: $umcNotification-width
		display: block
		^[-1].hasNotifications ^[-1..-1]
			height: 0
			padding: 0
	
	.removeAllNotificationsButton
		margin: 0
		text-align: center
		width: $umcNotification-width
		position: absolute
		z-index: 1
		top: 0
		background-color: white
		display: none
		^[-1].hasNotifications ^[-1..-1]
			display: block

		.dijitButtonNode
			width: 100%

		&.dijitButtonHover
			background-color: #dfdfdf

/* styling of the notifications inside the notification dropdown menu */
.umc .umcDropDownNotification
	$transition-duration = 0.25s

	width: $umcNotification-width
	overflow: hidden
	&:not(:last-child)
		border-bottom: 1px solid rgba(0, 0, 0, 0.12)

	.umcNotificationInnerWrapper

		padding: 8px 24px
		transition: background-color $transition-duration
		position: relative

		.umcNotificationTitle
			font-size: 16px
			font-weight: 500
			color: $text-color-lighter

		.umcNotificationMessageContainer
			margin-top: 8px
			position: relative
			max-height: 2.8em
			overflow: hidden
			transition: max-height $transition-duration
			color: $text-color-lightest

			.umcNotificationMessage
				position: absolute
				opacity: 1
				transition: opacity 0s $transition-duration

			.umcNotificationMessageClone
				opacity: 0
				transition: opacity 0s $transition-duration

		.umcNotificationCloseContainer
			position: absolute
			top: 3px
			right: 3px
			width: 30px
			height: 30px
			border-radius: 50%
			overflow: hidden

			.umcNotificationCloseIcon
				icon-image(-240, -80, '../')
				margin: 5px
				position: absolute

			.umcNotificationCloseCircle
				position: absolute
				width: @width
				height: @height
				border-radius: @border-radius
				transition-property: transform, background-color
				transition-duration: $transition-duration
				transform: scale(0)
				background-color: rgba(0, 0, 0, 0.24)

			.umcNotificationCloseCircleInk
				position: absolute
				border-radius: @border-radius
				opacity: 1
				transform: scale(0)
				transition: transform 0.25s, opacity 0.5s
				background-color: rgba(0, 0, 0, 0.2)

			&.umcNotificationCloseContainerHover
				.umcNotificationCloseCircle
					transform: scale(1)

	&.umcDropDownNotificationHover,
	&.umcDropDownNotificationFocused
		.umcNotificationInnerWrapper
			background-color: rgba(0, 0, 0, 0.12)

			.umcNotificationMessageContainer
				.umcNotificationMessage
					transition: opacity 0s 0s
					opacity: 0

				.umcNotificationMessageClone
					transition: opacity 0s 0s
					opacity: 1

	&.umcDropDownNotificationActive
		.umcNotificationInnerWrapper
			background-color: #eee

	&.umcDropDownNotificationWarning
		.umcNotificationInnerWrapper
			background-color: hsl(0, 100%, 95%)

			.umcNotificationTitle
				color: hsl(0, 100%, 25%)

		&.umcDropDownNotificationHover
			.umcNotificationInnerWrapper
				background-color: hsl(0, 100%, 92%)

		&.umcDropDownNotificationActive
			.umcNotificationInnerWrapper
				background-color: hsl(0, 100%, 95%)
