@import "../variables"

/* styling of the snackbar notifications */
.umcNotificationSnackbar
	pointer-events: none
	position: fixed
	bottom: 0
	left: 0
	right: 0
	text-align: center
	z-index: 2

	.umcSnackbarNotification
		pointer-events: auto
		position: relative
		display: inline-block
		border-radius: 2px
		min-width: 288px
		@media (max-width: @min-width)
			min-width: 100%
		max-width: 568px
		min-height: 48px
		padding: 14px 24px
		color: white
		text-align: left
		background-color: #323232
		material-shadow(1)

		.umcNotificationMessageContainer
			transition: opacity 0s 0.3s
			&:after
				content: ''
				display: inline-block
				clear: both

			.umcNotificationMessage
				float: left
				line-height: 20px

			.umcNotificationActionButton
				float: right
				text-transform: uppercase
				font-weight: 500
				height: 20px
				line-height: 20px
				margin: 0 0 0 48px
				border: none
				background-color: transparent
				color: $ucs-green
		
		&.multiLineWithActionButton	.umcNotificationMessageContainer .umcNotificationActionButton
			margin: 24px 0 0 0

		&.umcSnackbarNotificationWarning
			background-color: $error-color

			.umcNotificationMessageContainer .umcNotificationActionButton
					color: inherit

/* styling of the notification dropdown menu */
.umc .umcNotificationPopupWrapper
	margin-top: 3px

$umcNotification-width = 300px
.umc .umcNotificationDropDown
	background-color: white
	overflow: hidden
	position: relative
	&.openTransition
		transition: width 0.22s 0.03s, height 0.22s, opacity 0.3s
	&.closeTransition
		transition: width 0.22s, height 0.22s 0.03s, opacity 0.3s
	&.closeTransitionHeightOnly
		transition: height 0.22s, opacity 0.3s
	&.noTransition
		transition: none

	.notificationsContainerWrapper
		width: $umcNotification-width
		@media (max-width: 450px)
			width: 100%

		overflow-y: auto
		overflow-x: hidden

		margin-top: 0
		^[-1].hasNotifications ^[-1..-1]
			margin-top: 44px

	.noNotificationsText
		font-size: $font-size-subheading
		font-weight: 500
		text-align: center
		padding: 8px 0
		min-width: $umcNotification-width
		width: 100%
		display: block
		^[-1].hasNotifications ^[-1..-1]
			height: 0
			padding: 0
	
	.removeAllNotificationsButton
		margin: 0
		min-width: $umcNotification-width
		width: 100%
		position: absolute
		z-index: 1
		top: 0
		background-color: white
		display: none
		^[-1].hasNotifications ^[-1..-1]
			display: block

/* styling of the notifications inside the notification dropdown menu */
.umc .umcDropDownNotification
	$transition-duration = 0.25s

	/* width: $umcNotification-width */
	overflow: hidden
	&:not(:last-child)
		border-bottom: 1px solid rgba(0, 0, 0, 0.12)

	.umcNotificationInnerWrapper

		padding: 8px 24px
		transition: background-color $transition-duration
		position: relative

		.umcNotificationTitle
			font-size: 16px
			font-weight: 500
			color: $text-color-lighter

		.umcNotificationMessageContainer
			margin-top: 8px
			position: relative
			overflow: hidden
			transition: max-height $transition-duration
			color: $text-color-lightest

			&--truncated
				max-height: 2.8em

			.umcNotificationMessage
				position: absolute
				opacity: 1
				transition: opacity 0s $transition-duration
				pointer-events: none

			.umcNotificationMessageClone
				opacity: 0
				transition: opacity 0s $transition-duration

		.umcNotificationCloseContainer
			position: absolute
			top: 3px
			right: 3px
			width: 30px
			height: 30px
			border-radius: 50%
			overflow: hidden

			.umcNotificationCloseIcon
				icon-image(-240, -80, '../')
				margin: 5px
				position: absolute

			.umcNotificationCloseCircle
				position: absolute
				width: @width
				height: @height
				border-radius: @border-radius
				transition-property: transform, background-color
				transition-duration: $transition-duration
				transform: scale(0)
				background-color: rgba(0, 0, 0, 0.24)

			.umcNotificationCloseCircleInk
				position: absolute
				border-radius: @border-radius
				opacity: 1
				transform: scale(0)
				transition: transform 0.25s, opacity 0.5s
				background-color: rgba(0, 0, 0, 0.2)

			&.umcNotificationCloseContainerHover
				.umcNotificationCloseCircle
					transform: scale(1)

	&.umcDropDownNotificationHover,
	&.umcDropDownNotificationFocused
		.umcNotificationInnerWrapper
			background-color: rgba(0, 0, 0, 0.12)

			.umcNotificationMessageContainer
				.umcNotificationMessage
					transition: opacity 0s 0s
					opacity: 0

				.umcNotificationMessageClone
					transition: opacity 0s 0s
					opacity: 1

	&.umcDropDownNotificationActive
		.umcNotificationInnerWrapper
			background-color: #eee

	&.umcDropDownNotificationWarning
		.umcNotificationInnerWrapper
			background-color: hsl(0, 100%, 95%)

			.umcNotificationTitle
				color: hsl(0, 100%, 25%)

		&.umcDropDownNotificationHover
			.umcNotificationInnerWrapper
				background-color: hsl(0, 100%, 92%)

		&.umcDropDownNotificationActive
			.umcNotificationInnerWrapper
				background-color: hsl(0, 100%, 95%)

html.dj_edge,
html.dj_trident,
html.dj_ie,
html.dj_safari,
html.has-mozilla
	.umcNotificationCloseContainer
		right: 9px !important
