@import "../variables"

.umc .umcOverviewContainer
	padding: 48px 0 0

/* Category tabs */
.umc .umcCategoryBar
	text-align: center
	margin-bottom: material-grid(4)

.umc .umcCategoryBar .dijitButton
	min-width: 95px
	@media (max-width: 400px)
		min-width: 70px

	max-width: 160px
	margin: material-grid(1, true) 0
	position: relative
	vertical-align: top

	.dijitButtonNode
		box-shadow: none
		margin: auto
		padding: 0
		border: 0 none
		background: none
		filter: none
		display: block
		height: auto

		.dijitButtonContents
			overflow: visible

			.umcCategoryButtonCircleWrapper
				transition: transform 0.3s, opacity 0.3s
				opacity: 0.75
				transform: scale(0.8, 0.8)

				^[-3].dijitButtonSelected ^[-3..-1]
					opacity: 1
					transform: scale(1, 1)

				.circle
					height: 70px
					width: 70px
					border-radius: 50%
					display: inline-block
					material-shadow-common()
					material-shadow(1)

					^[-4].dijitButtonHover ^[-4..-1],
					^[-4].dijitButtonFocused ^[-4..-1]
						material-shadow(2)

					^[-4].dijitButtonSelected ^[-4..-1]
						material-shadow(3)

	.dijitButtonText
		display: block
		font-weight: normal
		text-transform: none
		color: $text-color-lightest
		margin-top: 1.5em
		white-space: pre-line
		letter-spacing: normal

	.dijitIcon
		display: block
		position: absolute
		top: 0
		width: 100%
		background-position: center top
		transition: transform 0.3s 0.0s
		transform: scale(0.8, 0.8)
		margin: 0

		^[-1].dijitButtonSelected ^[-1..-1]
			transform: scale(1, 1)


/* LiveSearchSidebar */
.umcLiveSearchSidebar
	.dijitButton
		font-size: 100%
		background: none
		filter: none
		border: none
		display: block
		margin: 0.4em 0 0 0
		padding: 0

		.dijitButtonContents
			outline: none

		.dijitButtonText
			text-decoration: none
			padding-left: 0.416em
			padding-right: 0.416em

	.umcButton.umcCategorySelected .dijitButtonText
		font-weight: bold

	.dijitButtonHover,
	.dijitButtonActive
		box-shadow(none)
		border-radius(5px)
		transition-duration(0.3s)

		.dijitButtonNode
			text-shadow: none
			background: none
			filter: none


.warning
	color: white
	margin: 0 auto 20px auto
	max-width: 500px
	min-height: 165px
	height: auto
	vertical-gradient-and-filter($text-color-lighter, $text-color)
	opacity: 0.8
	box-shadow: 0 0px 10px rgba(0,0,0,0.3)
	padding: 20px

	a
		color: white
		text-decoration: underline
		opacity: 0.8

	a:hover
		opacity: 1

	.title
		font-size: $font-size-title
		line-height: 1em
		font-weight: bold
		margin-bottom: 1em

	.icon
		background-image: url(../images/info.svg)
		background-repeat: no-repeat
		width: 110px
		height: 130px
		margin-right: 15px
		float: left

.warning.umc_ie
	min-height: 0px
	.icon
		background-image: url(../images/info.gif)

.warningWrapper
	position: absolute
	height: 100%
	width: 100%

.warningCenterer
	height: 50%
	margin-bottom: -156px

/*favorites category fade in/out*/
.umcCategoryBar .umcCategory-_favorites_
		opacity: 1
		transition: opacity 0.7s 0.3s, max-width 0.7s, min-width 0.7s

		&.favoritesHidden
			opacity: 0
			max-width: 0 !important
			min-width: 0
			transition: opacity 0.5s, max-width 0.7s 0.2s, min-width 0.7s 0.2s
