/*
 * SPDX-FileCopyrightText: 2013-2025 Univention GmbH
 * SPDX-License-Identifier: AGPL-3.0-only
 */

@require "../variables.styl"

//.umc.umcTouchDevices .dijitTabCloseButton
//	background: url("../$image-layout-tab-close-touch") no-repeat
//	width: 14px
//	height: 14px
//	padding: 10px 10px 10px 10px
//	margin: -10px -10px -10px -5px
//	background-position-y: 10px
//	background-position-x: 10px
//
