/*
 * Copyright 2014-2019 Univention GmbH
 *
 * https://www.univention.de/
 *
 * All rights reserved.
 *
 * The source code of this program is made available
 * under the terms of the GNU Affero General Public License version 3
 * (GNU AGPL V3) as published by the Free Software Foundation.
 *
 * Binary versions of this program provided by Univention to you as
 * well as other copyrighted, protected or trademarked materials like
 * Logos, graphics, fonts, specific documentations and configurations,
 * cryptographic keys etc. are subject to a license agreement between
 * you and Univention and not subject to the GNU AGPL V3
 *
 * In the case you use this program under the terms of the GNU AGPL V3,
 * the program is provided in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Publi
 * License with the Debian GNU/Linux or Univention distribution in file
 * /usr/share/common-licenses/AGPL-3 if not, see
 * <https://www.gnu.org/licenses/>.
 */

@import "../variables"

.umc .umcMultiInput
	margin-bottom: 1.5em

	.umcMultiInputContainer
		position: relative

	/* add a padding to the last element of a row */
	.umcMultiInputContainer .umcMultiInputLastRowEntry
		$layoutrow--make-space-for-buttons(1)

	.umcMultiInputRemoveButton
		umc-icon-button-aligned-to-textfield()
		padding: $labelpane-padding
		margin: 0

	.umcMultiInputAddButton
		margin: 0 0 0 $labelpane-padding-left

.umc .umcContainerWidget:last-child > .umcLabelPane .umcMultiInput
	margin-bottom: 0

.umc .umcLabelPane .umcTooltipIcon
	span.umcHelpIcon
		opacity: 0.6

	&:hover span.umcHelpIcon
		background-position: -60px -200px

	&:active span.umcHelpIcon
		background-position: -60px -200px
		opacity: 1

.umc .umcMultiInputDisabled .umcMultiInputContainer .umcMultiInputLastRowEntry
	padding-right: 0

.umc .umcLiveSearchSidebarRadioButtonGroup
	margin-top: 1.5em

.umc .umcMultiSelect
	border: 1px solid $border-color

.umc .umcProgressBar,
.umc .umcProgressInfo
	width: 400px
	> *
		width: 100%

.umc .umcProgressBar
	overflow: visible

	.umcProgressBarComponent
		height: 40px
		overflow: visible
		display: flex
		align-items: flex-end

	.umcProgressBarMessage
		height: 40px
		overflow: visible

.umc .umcSearchBox
	.umcSearchIcon
		margin: 0 material-grid(3, true) 0 0
		opacity: 1
		transition: opacity 0.25s

		&:hover
			opacity: 0.66

		&:active
			opacity: 1

	&.dijitDisabled .umcSearchIcon
		opacity: 0.3

