/*
 * Copyright 2014-2021 Univention GmbH
 *
 * https://www.univention.de/
 *
 * All rights reserved.
 *
 * The source code of this program is made available
 * under the terms of the GNU Affero General Public License version 3
 * (GNU AGPL V3) as published by the Free Software Foundation.
 *
 * Binary versions of this program provided by Univention to you as
 * well as other copyrighted, protected or trademarked materials like
 * Logos, graphics, fonts, specific documentations and configurations,
 * cryptographic keys etc. are subject to a license agreement between
 * you and Univention and not subject to the GNU AGPL V3
 *
 * In the case you use this program under the terms of the GNU AGPL V3,
 * the program is provided in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Publi
 * License with the Debian GNU/Linux or Univention distribution in file
 * /usr/share/common-licenses/AGPL-3 if not, see
 * <https://www.gnu.org/licenses/>.
 */

@require "../variables.styl"

.umc .umcContainerWidget:last-child > .umcLabelPane .umcMultiInput
	margin-bottom: 0

.umc .umcLabelPane .umcTooltipIcon
	span.umcHelpIcon
		opacity: 0.6

	&:hover span.umcHelpIcon
		background-position: -60px -200px

	&:active span.umcHelpIcon
		background-position: -60px -200px
		opacity: 1

.umc .umcLiveSearchSidebarRadioButtonGroup
	margin-top: 1.5em

.umc .umcProgressBar,
.umc .umcProgressInfo
	width: 460px
	min-height: 150px
	> *
		width: 100%

.umc .umcProgressDetails
	display: grid
	grid-template-columns: auto 4ch
	margin-top: spacing(2)

	.umcProgressPercentage
		color: var(--color-grey62);
		font-size: var(--font-size-small);
		justify-self: flex-end

.umc .umcProgressBar
	background-color: var(--color-grey0);
	border-radius: var(--border-radius-container);
	padding: spacing(4)
	overflow: visible

	.umcProgressBarComponent
		min-height: calc(2 * 1em * var(--font-lineheight-normal))
		font-size: var(--font-size-header2);
		font-weight: 600
		margin-bottom: spacing(2)
		display: flex
		align-items: end

	.umcProgressBarMessage
		min-height: calc(3 * 1em * var(--font-lineheight-normal))
		font-size: var(--font-size-small);
		color: var(--color-grey62);
