/*
 * SPDX-FileCopyrightText: 2014-2025 Univention GmbH
 * SPDX-License-Identifier: AGPL-3.0-only
 */

@require "../variables.styl"

.umc .umcContainerWidget:last-child > .umcLabelPane .umcMultiInput
	margin-bottom: 0

.umc .umcLabelPane .umcTooltipIcon
	span.umcHelpIcon
		opacity: 0.6

	&:hover span.umcHelpIcon
		background-position: -60px -200px

	&:active span.umcHelpIcon
		background-position: -60px -200px
		opacity: 1

.umc .umcLiveSearchSidebarRadioButtonGroup
	margin-top: 1.5em
