Source: univention-antivir-mail
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>> 7),
  univention-config-dev,
  ucslint-univention
Standards-Version: 3.8.2

Package: univention-antivir-mail
Architecture: all
Depends: ${misc:Depends},
 amavisd-new,
 univention-config,
 univention-spamassassin,
 clamav,
 clamav-daemon | kav4fileservers | sophie
Description: UCS anti virus mail configuration.
 UCS anti virus mail module.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
