Source: printusers
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.2

Package: printusers
Architecture: all
Depends: ${misc:Depends},
 univention-directory-listener,
Description: An example listener module for the developer guide
 This purpose of this package is to describe the structure of a Univention
 Directory Listener module package.
 .
 For more information about UCS, refer to:
 https://www.univention.de/
