Source: univention-kernel-image-2.6.18
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: univention-kernel-image-2.6.18
Architecture: any
Pre-Depends: univention-initrd, module-init-tools
Depends: linux-image-${F:KernelVersion}, xfsprogs
Conflicts: univention-kernel-image-2.6 (<<1.0.1), univention-kernel-image (<<1.0.1)
Description: UCS - Linux kernel
 This meta-package installs the current kernel image.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-image-2.6.18-xen
Architecture: any
Pre-Depends: univention-initrd, module-init-tools
Depends: linux-image-${F:KernelVersionXen}, xfsprogs
Description: UCS - Linux kernel
 This meta-package installs the current kernel image.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-image-2.6.18-64gb
Architecture: any
Pre-Depends: univention-initrd
Depends: linux-image-${F:KernelVersion64}, xfsprogs
Conflicts: univention-kernel-image-2.6-64gb (<<1.0.1), univention-kernel-image-64gb (<<1.0.1)
Description: UCS - Linux kernel
 This meta-package installs the current kernel image.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-headers-2.6.18
Architecture: any
Depends: linux-headers-${F:KernelVersion}
Description: UCS - Linux kernel headers
 This meta-package installs the current kernel headers.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-headers-2.6.18-64gb
Architecture: any
Depends: linux-headers-${F:KernelVersion64}
Description: UCS - Linux kernel headers
 This meta-package installs the current kernel headers.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-headers-2.6.18-xen
Architecture: any
Depends: linux-headers-${F:KernelVersionXen}
Description: UCS - Linux kernel headers
 This meta-package installs the current kernel headers.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-source-2.6.18
Architecture: any
Depends: linux-source-${F:KernelVersion}
Description: UCS - Linux kernel source
 This meta-package installs the current kernel source.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-source-2.6.18-64gb
Architecture: any
Depends: linux-source-${F:KernelVersion64}
Description: UCS - Linux kernel source
 This meta-package installs the current kernel source.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-avm-capi-fcpci-modules-2.6.18
Architecture: any
Depends: avm-capi-fcpci-modules-${F:KernelVersion}
Description: UCS - Linux kernel
 This meta-package installs the current AVM CAPI fcpci modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-cpqhealth-modules-2.6.18
Architecture: any
Depends: cpqhealth-modules-${F:KernelVersion}
Description: UCS - Linux kernel
 This meta-package installs the current cpqhealth modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-cpqhealth-modules-2.6.18-64gb
Architecture: any
Depends: cpqhealth-modules-${F:KernelVersion64}
Description: UCS - Linux kernel
 This meta-package installs the current cpqhealth modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-serverview-modules-2.6.18
Architecture: any
Depends: srvmagt-modules-${F:KernelVersion}
Description: UCS - Linux kernel
 This meta-package installs the current serverview modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-serverview-modules-2.6.18-64gb
Architecture: any
Depends: srvmagt-modules-${F:KernelVersion64}
Description: UCS - Linux kernel
 This meta-package installs the current serverview modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-fsc-srv-modules-2.6.18
Architecture: any
Depends: srvmagt-modules-${F:KernelVersion}
Description: UCS - Linux kernel
 This meta-package installs the current fsc-srv modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-fsc-srv-modules-2.6.18-64gb
Architecture: any
Depends: srvmagt-modules-${F:KernelVersion64}
Description: UCS - Linux kernel
 This meta-package installs the current fsc-srv modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-vmware-server-modules-2.6.18
Architecture: any
Depends: vmware-server-kernel-modules-${F:KernelVersion}
Description: UCS - Linux kernel
 This meta-package installs the current vmware-server modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-vmware-server-modules-2.6.18-64gb
Architecture: any
Depends: vmware-server-kernel-modules-${F:KernelVersion64}
Description: UCS - Linux kernel
 This meta-package installs the current vmware-server modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-vmware-player-modules-2.6.18
Architecture: any
Depends: vmware-kernel-modules-${F:KernelVersion}
Description: UCS - Linux kernel
 This meta-package installs the current vmware-player modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-vmware-player-modules-2.6.18-64gb
Architecture: any
Depends: vmware-kernel-modules-${F:KernelVersion64}
Description: UCS - Linux kernel
 This meta-package installs the current vmware-player modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-image-mobileclient-2.6.18
Architecture: any
Pre-Depends: univention-initrd, module-init-tools
Depends: linux-image-${F:KernelVersion}, xfsprogs
Description: UCS - Linux kernel
 This meta-package installs the current kernel image.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-image-mobileclient-2.6.18-64gb
Architecture: any
Pre-Depends: univention-initrd
Depends: linux-image-${F:KernelVersion64}, xfsprogs
Description: UCS - Linux kernel
 This meta-package installs the current kernel image.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-headers-mobileclient-2.6.18
Architecture: any
Depends: linux-headers-${F:KernelVersion}
Description: UCS - Linux kernel headers
 This meta-package installs the current kernel headers.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-headers-mobileclient-2.6.18-64gb
Architecture: any
Depends: linux-headers-${F:KernelVersion64}
Description: UCS - Linux kernel headers
 This meta-package installs the current kernel headers.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-source-mobileclient-2.6.18
Architecture: any
Depends: linux-source-${F:KernelVersion}
Description: UCS - Linux kernel source
 This meta-package installs the current kernel source.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-source-mobileclient-2.6.18-64gb
Architecture: any
Depends: linux-source-${F:KernelVersion64}
Description: UCS - Linux kernel source
 This meta-package installs the current kernel source.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-avm-capi-fcpci-modules-mobileclient-2.6.18
Architecture: any
Depends: avm-capi-fcpci-modules-${F:KernelVersion}
Description: UCS - Linux kernel
 This meta-package installs the current AVM CAPI fcpci modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-cpqhealth-modules-mobileclient-2.6.18
Architecture: any
Depends: cpqhealth-modules-${F:KernelVersion}
Description: UCS - Linux kernel
 This meta-package installs the current cpqhealth modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-cpqhealth-modules-mobileclient-2.6.18-64gb
Architecture: any
Depends: cpqhealth-modules-${F:KernelVersion64}
Description: UCS - Linux kernel
 This meta-package installs the current cpqhealth modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-serverview-modules-mobileclient-2.6.18
Architecture: any
Depends: srvmagt-modules-${F:KernelVersion}
Description: UCS - Linux kernel
 This meta-package installs the current serverview modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-serverview-modules-mobileclient-2.6.18-64gb
Architecture: any
Depends: srvmagt-modules-${F:KernelVersion64}
Description: UCS - Linux kernel
 This meta-package installs the current serverview modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-fsc-srv-modules-mobileclient-2.6.18
Architecture: any
Depends: srvmagt-modules-${F:KernelVersion}
Description: UCS - Linux kernel
 This meta-package installs the current fsc-srv modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-fsc-srv-modules-mobileclient-2.6.18-64gb
Architecture: any
Depends: srvmagt-modules-${F:KernelVersion64}
Description: UCS - Linux kernel
 This meta-package installs the current fsc-srv modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-vmware-server-modules-mobileclient-2.6.18
Architecture: any
Depends: vmware-server-modules-${F:KernelVersion}
Description: UCS - Linux kernel
 This meta-package installs the current vmware-server modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-vmware-server-modules-mobileclient-2.6.18-64gb
Architecture: any
Depends: vmware-server-modules-${F:KernelVersion64}
Description: UCS - Linux kernel
 This meta-package installs the current vmware-server modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-vmware-player-modules-mobileclient-2.6.18
Architecture: any
Depends: vmware-kernel-modules-${F:KernelVersion}
Description: UCS - Linux kernel
 This meta-package installs the current vmware-player modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-vmware-player-modules-mobileclient-2.6.18-64gb
Architecture: any
Depends: vmware-kernel-modules-${F:KernelVersion64}
Description: UCS - Linux kernel
 This meta-package installs the current vmware-player modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-image-managedclient-2.6.18
Architecture: any
Pre-Depends: univention-initrd, module-init-tools
Depends: linux-image-${F:KernelVersion}, xfsprogs
Description: UCS - Linux kernel
 This meta-package installs the current kernel image.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-image-managedclient-2.6.18-64gb
Architecture: any
Pre-Depends: univention-initrd
Depends: linux-image-${F:KernelVersion64}, xfsprogs
Description: UCS - Linux kernel
 This meta-package installs the current kernel image.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-headers-managedclient-2.6.18
Architecture: any
Depends: linux-headers-${F:KernelVersion}
Description: UCS - Linux kernel headers
 This meta-package installs the current kernel headers.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-headers-managedclient-2.6.18-64gb
Architecture: any
Depends: linux-headers-${F:KernelVersion64}
Description: UCS - Linux kernel headers
 This meta-package installs the current kernel headers.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-source-managedclient-2.6.18
Architecture: any
Depends: linux-source-${F:KernelVersion}
Description: UCS - Linux kernel source
 This meta-package installs the current kernel source.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-source-managedclient-2.6.18-64gb
Architecture: any
Depends: linux-source-${F:KernelVersion64}
Description: UCS - Linux kernel source
 This meta-package installs the current kernel source.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-avm-capi-fcpci-modules-managedclient-2.6.18
Architecture: any
Depends: avm-capi-fcpci-modules-${F:KernelVersion}
Description: UCS - Linux kernel
 This meta-package installs the current AVM CAPI fcpci modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-cpqhealth-modules-managedclient-2.6.18
Architecture: any
Depends: cpqhealth-modules-${F:KernelVersion}
Description: UCS - Linux kernel
 This meta-package installs the current cpqhealth modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-cpqhealth-modules-managedclient-2.6.18-64gb
Architecture: any
Depends: cpqhealth-modules-${F:KernelVersion64}
Description: UCS - Linux kernel
 This meta-package installs the current cpqhealth modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-serverview-modules-managedclient-2.6.18
Architecture: any
Depends: srvmagt-modules-${F:KernelVersion}
Description: UCS - Linux kernel
 This meta-package installs the current serverview modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-serverview-modules-managedclient-2.6.18-64gb
Architecture: any
Depends: srvmagt-modules-${F:KernelVersion64}
Description: UCS - Linux kernel
 This meta-package installs the current serverview modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-fsc-srv-modules-managedclient-2.6.18
Architecture: any
Depends: srvmagt-modules-${F:KernelVersion}
Description: UCS - Linux kernel
 This meta-package installs the current fsc-srv modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-fsc-srv-modules-managedclient-2.6.18-64gb
Architecture: any
Depends: srvmagt-modules-${F:KernelVersion64}
Description: UCS - Linux kernel
 This meta-package installs the current fsc-srv modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-vmware-server-modules-managedclient-2.6.18
Architecture: any
Depends: vmware-server-modules-${F:KernelVersion}
Description: UCS - Linux kernel
 This meta-package installs the current vmware-server modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-vmware-server-modules-managedclient-2.6.18-64gb
Architecture: any
Depends: vmware-server-modules-${F:KernelVersion64}
Description: UCS - Linux kernel
 This meta-package installs the current vmware-server modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-vmware-player-modules-managedclient-2.6.18
Architecture: any
Depends: vmware-kernel-modules-${F:KernelVersion}
Description: UCS - Linux kernel
 This meta-package installs the current vmware-player modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-vmware-player-modules-managedclient-2.6.18-64gb
Architecture: any
Depends: vmware-kernel-modules-${F:KernelVersion64}
Description: UCS - Linux kernel
 This meta-package installs the current vmware-player modules.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-image-2.6
Architecture: any
Depends: univention-kernel-image-2.6.18
Description: Transition package
 Package to ease upgrading from old package
 univention-kernel-image-2.6 to the new package.
 This package can be purged at anytime once the
 univention-kernel-image-2.6.18 package has been installed.

Package: univention-kernel-image-2.6-64gb
Architecture: any
Depends: univention-kernel-image-2.6.18-64gb
Description: Transition package
 Package to ease upgrading from old package
 univention-kernel-image-2.6-64gb to the new package.
 This package can be purged at anytime once the
 univention-kernel-image-2.6.18-64gb package has been installed.

Package: univention-kernel-image
Architecture: any
Depends: univention-kernel-image-2.6.18
Description: Transition package
 Package to ease upgrading from old package
 univention-kernel-image to the new package.
 This package can be purged at anytime once the
 univention-kernel-image-2.6.18 package has been installed.

Package: univention-kernel-image-64gb
Architecture: any
Depends: univention-kernel-image-2.6.18-64gb
Description: Transition package
 Package to ease upgrading from old package
 univention-kernel-image-64gb to the new package.
 This package can be purged at anytime once the
 univention-kernel-image-2.6.18-64gb package has been installed.

Package: univention-kernel-headers-2.6
Architecture: any
Depends: univention-kernel-headers-2.6.18
Description: Transition package
 Package to ease upgrading from old package
 univention-kernel-image to the new package.
 This package can be purged at anytime once the
 univention-kernel-image-2.6.18 package has been installed.

Package: univention-kernel-headers-2.6-64gb
Architecture: any
Depends: univention-kernel-headers-2.6.18-64gb
Description: Transition package
 Package to ease upgrading from old package
 univention-kernel-image-64gb to the new package.
 This package can be purged at anytime once the
 univention-kernel-image-2.6.18-64gb package has been installed.

Package: univention-kernel-headers
Architecture: any
Depends: univention-kernel-headers-2.6.18
Description: Transition package
 Package to ease upgrading from old package
 univention-kernel-image to the new package.
 This package can be purged at anytime once the
 univention-kernel-image-2.6.18 package has been installed.

Package: univention-kernel-headers-64gb
Architecture: any
Depends: univention-kernel-headers-2.6.18-64gb
Description: Transition package
 Package to ease upgrading from old package
 univention-kernel-image-64gb to the new package.
 This package can be purged at anytime once the
 univention-kernel-image-2.6.18-64gb package has been installed.
