#!/usr/bin/make -f
#
# Univention USB devices
#  rules file
#
# Copyright 2008-2010 Univention GmbH
#
# http://www.univention.de/
#
# All rights reserved.
#
# The source code of this program is made available
# under the terms of the GNU Affero General Public License version 3
# (GNU AGPL V3) as published by the Free Software Foundation.
#
# Binary versions of this program provided by Univention to you as
# well as other copyrighted, protected or trademarked materials like
# Logos, graphics, fonts, specific documentations and configurations,
# cryptographic keys etc. are subject to a license agreement between
# you and Univention and not subject to the GNU AGPL V3.
#
# In the case you use this program under the terms of the GNU AGPL V3,
# the program is provided in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public
# License with the Debian GNU/Linux or Univention distribution in file
# /usr/share/common-licenses/AGPL-3; if not, see
# <http://www.gnu.org/licenses/>.
#


configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: build-stamp
build-stamp: configure-stamp
	dh_testdir
	touch build-stamp

DM=$(CURDIR)/debian/univention-usbdevices-udm-module
DS=$(CURDIR)/debian/univention-usbdevices-schema
DL=$(CURDIR)/debian/univention-usbdevices

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -rf ${DS} ${DC}
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	install -m 644 schema/univention-usbdevices.schema ${DS}/usr/share/univention-ldap/schema/
	install -m 644 modules/usbdevices.py ${DM}/usr/lib/python2.4/site-packages/univention/admin/handlers/settings/
	install -m 644 modules/usbdevices.png ${DM}/usr/share/univention-webui-style/icon/settings/
	install -m 644 modules/usbdevices.gif ${DM}/usr/share/univention-webui-style/icon/settings/
	msgfmt -o ${DM}/usr/share/locale/de/LC_MESSAGES/univention-admin-handlers-settings-usbdevices.mo modules/de.po

	install -m 755 40univention-usbdevices.inst ${DS}/usr/lib/univention-install/


	univention-install-config-registry
	univention-install-config-registry-info
	univention-install-service-info
	dh_install


binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
