Source: python-heimdal
Section: python
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: python2.4, python2.4-dev, heimdal-dev, sharutils, debhelper (>= 4.0)
Standards-Version: 3.6.0

Package: python-heimdal
Architecture: all
Depends: python2.4-heimdal
Description: UCS - Kerberos interface module for Python. [dummy package]
 This module provides a Python interface to the Heimdal Kerberos library.
 .
 This dummy package just depends on the default version of python-heimdal.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: python2.4-heimdal
Architecture: any
Depends: ${shlibs:Depends}, python2.4, python2.4-ldap
Conflicts: python-heimdal (<<2.4), python2.3-heimdal
Description: UCS - Kerberos interface module for Python 2.4
 This module provides a Python interface to the Heimdal Kerberos library.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
