#!/usr/bin/make -f
#
# Univention Xen gplpv rules file
#
# Copyright 2011-2013 Univention GmbH
#
# http://www.univention.de/
#
# All rights reserved.
#
# The source code of this program is made available
# under the terms of the GNU Affero General Public License version 3
# (GNU AGPL V3) as published by the Free Software Foundation.
#
# Binary versions of this program provided by Univention to you as
# well as other copyrighted, protected or trademarked materials like
# Logos, graphics, fonts, specific documentations and configurations,
# cryptographic keys etc. are subject to a license agreement between
# you and Univention and not subject to the GNU AGPL V3.
#
# In the case you use this program under the terms of the GNU AGPL V3,
# the program is provided in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public
# License with the Debian GNU/Linux or Univention distribution in file
# /usr/share/common-licenses/AGPL-3; if not, see
# <http://www.gnu.org/licenses/>.

VERSION := $(shell dpkg-parsechangelog | sed -rne 's/^Version: (0\.)?([0-9.]+)\.[0-9]+-[0-9.]+$$/0.\2/p')
BUILD_NUMBER := $(shell dpkg-parsechangelog | sed -rne 's/^Version: [0-9.]+\.([0-9]+)-[0-9.]+$$/\1/p')
GPLPV_VERSION := ${VERSION}.${BUILD_NUMBER}

binary binary-arch binary-indep build build-arch build-indep clean install install-arch install-indep:
	dh $@

override_dh_auto_build:
	genisoimage -J -R -o "Xen Windows drivers (gplpv ${BUILD_NUMBER}).iso" msi-packages

get-orig-source: win-pvdrivers win-pvdrivers/build_number.bat win-pvdrivers/sign_config.bat
.PHONY: win-pvdrivers
win-pvdrivers:
	@echo "Cloning tag ${GPLPV_VERSION}..."
	quilt pop -a || test $$? = 2
	$(RM) -r "$@"
	hg clone -r "${GPLPV_VERSION}" http://xenbits.xensource.com/ext/win-pvdrivers "$@"
	cd "$@" && hg rename ShutdownMon/Properties/AssemblyInfo.cs shutdownmon/Properties/AssemblyInfo.cs
	cd "$@" && hg commit -m 'Fix file name case' -u packages@univention.de
	quilt push -a
win-pvdrivers/build_number.bat:
	@echo "Setting build numer ${BUILD_NUMBER}..."
	echo -n 'SET BUILD_NUMBER=${BUILD_NUMBER}\r\n' > "$@"
win-pvdrivers/sign_config.bat:
	@echo "Configuring certificates for signing..."
	: > "$@"
	echo -n 'SET CERT_FILENAME=univention.p12\r\n' >> "$@"
	echo -n 'SET CERT_PASSWORD=GEHEIM\r\n' >> "$@"
	echo -n 'SET CERT_CROSS_CERT_FILENAME=crosscert.pem\r\n' >> "$@"
	echo -n 'SET CERT_PUBLIC_FILENAME=univention.der\r\n' >> "$@"
	@echo "Edit the passowrd in $@"
	exit 1
