Source: univention-directory-manager
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.5.5
Build-Depends: debhelper, python2.4, python-xml, univention-config-dev

Package: univention-directory-manager
Architecture: all
Depends: python2.4, python-xml, python-univention-directory-manager, python-univention-directory-reports, univention-config-registry (>=1.3), univention-webui, python-m2crypto, univention-apache
Description: UCS - Web based administration tool
 Univention Admin is a web based program to manage UCS. It
 has an extensible architecture, using modules to implement
 its features. Among the features are:
 .
  + Managing users and groups
  + Managing networks and computers (including DNS and DHCP)
  + Managing shares and printers (for Windows and Unix
    computers)
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-admin
Architecture: any
Depends: univention-directory-manager
Description: Transition package
 Package to ease upgrading from old package
 univention-admin to the new package.  This package
 can be purged at anytime once the
 univention-directory-manager package has been installed.
