Source: univention-kde-kolab2-profile-mixed
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper, univention-config-dev
Standards-Version: 3.5.2

Package: univention-kde-kolab2-profile-mixed
Architecture: all
Replaces: univention-kde-ugsprofile-mixed
Provides: univention-kde-ugsprofile-mixed
Conflicts: univention-kde-ugsprofile-mixed (<< 1.1)
Depends: univention-kde-kolab2-profile
Description: KDE desktop configuration for Kolab2-based UGS in Mixed-Mode
 A KDE configuration for using kontact in mixed-mode 
 without having to configure it first
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
