#!/usr/bin/make -f
#
# Univention NT Password Sync
#  rules file for the nt-password-sync debian package
#
# Copyright (C) 2004, 2005, 2006, 2007 Univention GmbH
#
# http://www.univention.de/
# 
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 2 as
# published by the Free Software Foundation.
#
# Binary versions of this file provided by Univention to you as
# well as other copyrighted, protected or trademarked materials like
# Logos, graphics, fonts, specific documentations and configurations,
# cryptographic keys etc. are subject to a license agreement between
# you and Univention.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

export DH_COMPAT=3

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -f *~
	dh_clean

NT_SYNC_DEST=$(CURDIR)/debian/univention-nt-password-sync

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	install -m644 files/nt-password-sync.py $(NT_SYNC_DEST)/usr/lib/univention-ldap-listener/system
	install -m744 files/usr/share/univention-nt-password-sync/nt-password-sync.py $(NT_SYNC_DEST)/usr/share/univention-nt-password-sync

	install -D -m644 windows/ucs-ad-connector/msi-package/UCS\ AD\ Connector/ucs-ad-connector.msi $(NT_SYNC_DEST)/usr/share/univention-nt-password-sync/ucs-ad-connector.msi
	install -D -m644 windows/ucs-ad-connector/msi-package/UCS\ AD\ Connector/ucs-ad-connector.exe $(NT_SYNC_DEST)/usr/share/univention-nt-password-sync/ucs-ad-connector.exe


	touch $(NT_SYNC_DEST)/etc/univention-nt-password-sync/nt-account-password
	chmod 0600 $(NT_SYNC_DEST)/etc/univention-nt-password-sync/nt-account-password

	univention-install-baseconfig

binary-arch: build install

binary-indep: build install
	dh_testdir
	dh_testroot
#	dh_installdebconf	
	dh_installdocs
	dh_installexamples
	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
	dh_installinit --no-start -u"defaults 97"
	dh_installcron
	dh_installman
	dh_installinfo
#	dh_undocumented
	dh_installchangelogs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
