/**
 * $Horde: imp/themes/grey/screen.css,v 1.1.10.1 2007-12-20 14:00:46 jan Exp $
 */

.important, .flagged {
    background-color: #a56363;
}
.unseen {
    background-color: #d3d3d3;
}
.answered {
    background-color: #b7ccb7;
}
