/**
 * $Horde: imp/themes/postnuke/screen.css,v 1.1.10.1 2007-12-20 14:00:47 jan Exp $
 */

.deleted {
    background-color: #999999;
}
.important, .flagged {
    background-color: #ffcccc;
}
.unseen {
    background-color: #eeeeff;
}
.answered {
    background-color: #D9DCC2;
}
.quoted {
    color: #330066;
}
