Source: univention-multiarch-links
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.5.5
Build-Depends: debhelper (>= 7.0.50~)

Package: univention-multiarch-links
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Provide some multiarch links for UCS 4.0 build
 Provide some multiarch links for UCS 4.0 build
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/