Source: ucs-test-tools
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.5.5
Build-Depends: debhelper (>> 7),
 dh-python,
 python-all,
 python3-all,
 ucslint-univention,
 univention-config-dev

Package: ucs-test-tools
Architecture: all
Depends: ${misc:Depends},
 ${python:Depends},
 ${python3:Depends},
 python-univention-lib (>> 0.0.3-1),
 univention-directory-manager-tools,
 shell-univention-lib,
Provides:
 ${python:Provides},
 ${python3:Provides},
Description: Tool collection for UCS development
 This package contains tools to test UCS installations.
 .
 This package is only relevant for development and testing.
