Source: univention-check-printers
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>> 3.0.0),
 univention-config-dev,
 ucslint-univention
Standards-Version: 3.5.2

Package: univention-check-printers
Architecture: all
Depends: ${misc:Depends},
 univention-printserver,
 bsd-mailx
Description: UCS - USB printer monitoring
 A script monitoring the state of USB printers.
 It re-activates stopped printers and sends an status e-mail.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
