#!/usr/bin/make -f
#
# Univention Setup
#  rules file for the debian package
#
# Copyright (C) 2004, 2005, 2006 Univention GmbH
#
# http://www.univention.de/
#
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 2 as
# published by the Free Software Foundation.
#
# Binary versions of this file provided by Univention to you as
# well as other copyrighted, protected or trademarked materials like
# Logos, graphics, fonts, specific documentations and configurations,
# cryptographic keys etc. are subject to a license agreement between
# you and Univention.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	dh_clean

D=$(CURDIR)/debian/univention-setup

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	install -m 755 usr/sbin/univention-setup ${D}/usr/sbin/

	install -m 700 usr/lib/univention-setup/scripts/setup_utils.sh ${D}/usr/lib/univention-setup/scripts/
	install -m 700 usr/lib/univention-setup/scripts/ldap_available.sh ${D}/usr/lib/univention-setup/scripts/
	install -m 700 usr/lib/univention-setup/scripts/ldif_rewrite.py ${D}/usr/lib/univention-setup/scripts/
	install -m 700 usr/lib/univention-setup/scripts/keyboard/10keyboard ${D}/usr/lib/univention-setup/scripts/keyboard/
	install -m 700 usr/lib/univention-setup/scripts/timezone/10timezone ${D}/usr/lib/univention-setup/scripts/timezone/
	install -m 700 usr/lib/univention-setup/scripts/net/10interfaces ${D}/usr/lib/univention-setup/scripts/net/
	install -m 700 usr/lib/univention-setup/scripts/net/12gateway ${D}/usr/lib/univention-setup/scripts/net/
	install -m 700 usr/lib/univention-setup/scripts/net/14nameserver ${D}/usr/lib/univention-setup/scripts/net/
	install -m 700 usr/lib/univention-setup/scripts/net/16forwarder ${D}/usr/lib/univention-setup/scripts/net/
	install -m 700 usr/lib/univention-setup/scripts/net/18proxy ${D}/usr/lib/univention-setup/scripts/net/
	install -m 700 usr/lib/univention-setup/scripts/language/10language ${D}/usr/lib/univention-setup/scripts/language/
	install -m 700 usr/lib/univention-setup/scripts/language/11default_locale ${D}/usr/lib/univention-setup/scripts/defaultlocale/
	install -m 700 usr/lib/univention-setup/scripts/basis/10hostname ${D}/usr/lib/univention-setup/scripts/basis/
	install -m 700 usr/lib/univention-setup/scripts/basis/12domainname ${D}/usr/lib/univention-setup/scripts/basis/
	install -m 700 usr/lib/univention-setup/scripts/basis/14ldap_basis ${D}/usr/lib/univention-setup/scripts/basis/
	install -m 700 usr/lib/univention-setup/scripts/basis/16windows_domain ${D}/usr/lib/univention-setup/scripts/basis/
	install -m 700 usr/lib/univention-setup/scripts/basis/18root_password ${D}/usr/lib/univention-setup/scripts/basis/
	install -m 700 usr/lib/univention-setup/scripts/software/10software ${D}/usr/lib/univention-setup/scripts/software/
	dh_install

binary-arch: build install

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installexamples
	dh_installmenu
	dh_installinit --no-start -u"defaults 70"
	dh_installcron
	dh_installman
	dh_installinfo
	dh_installchangelogs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
