#category-bar {
	text-align: center;
	margin-bottom: 35px;
}

#category-bar .dijitButton {
	width: 120px;
	margin: 5px 0;
	position: relative;

	.dijitButtonNode {
		margin: auto;
		padding: 0;
		border: 0 none;
		background: none;
		filter: none;
		box-shadow: none;
		display: block;
	}

	.dijitButtonText {
		display: block;
		font-size: 1em;
		margin-top: 0.5em;
	}

	.dijitIcon {
		display: block;
		position: absolute;
		width: 100%;
		background-position: center top;
	}
}

