#header-right {
	//float: right;
	position: absolute;
	top: 5px;
	right: 5px;
	//display: inline;

}

#header-left {
	//float:left;
	left: 0;
	//top: 20px;
	position: absolute;
	background: url(images/univention.svg) no-repeat 10px 12px;
	height: 40px;
	top: 0;
	width: 200px;
}

#site-header {
	//display: inline-block;
	//height 100px;
	//padding-left: 20px;
	//padding-right: 20px;
	//padding-top: 5px;
}

#header-top {
	//display: inline-block;
}

.container {
	//position: absolute;
	//top: 100px;
	margin-left: auto;
	margin-right: auto;
}

#title {
	margin-bottom: 30px;
}

//#site-title {
//	border-bottom: solid thin #282828 ;
//	padding-bottom: 5px;
//	margin-top: 10px;
//}
//#header-claim {
//	margin-top: 0px;
//	padding-top: 5px;
//	font-weight: normal;
//	font-size: 1em;
//}



