#header-right {
	float: right;
	position: relative;
	top: 20px;
	//display: inline;
	right: 20;
}

#header-left {
	float:left;
	left: 0;
	top: 20px;
	position:relative;
}

#site-header {
	//display: inline-block;
	//height 100px;
	//padding-left: 20px;
	//padding-right: 20px;
	//padding-top: 5px;
}

#header-top {
	//display: inline-block;
}

.container {
	//position: absolute;
	//top: 100px;
	margin-left: auto;
	margin-right: auto;
}

#title {
	margin-bottom: 30px;
}
