.category-admin {
	.dijitIcon{
		background-image: url(icons/category-admin.svg);
		background-repeat: no-repeat;
		height: 100%;
	}
}
.category-services {
	.dijitIcon{
		background-image: url(icons/category-services.svg);
		background-repeat: no-repeat;
		height: 100%;
	}
}
