/* Sticky footer styles
-------------------------------------------------- */

/* Wrapper for page content to push down footer */
#wrapper {
	min-height: 100%;
}

/* Site footer with content */
#footer {
	height: 50px;
	margin-top: -50px;
	clear: both;

	li {
		display: inline;
		padding-right: 1em;
	}

	ul {
		padding-left: 2em;
	}
}

