Source: univention-thin-client-ltsp
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper, univention-config-dev, univention-thin-client-tools
Standards-Version: 3.6.2

Package: univention-thin-client-ltsp
Architecture: all
Depends: univention-thin-client-basesystem, ltspfs
Description: UCS - Thin client LTSP environment
 This package contains the base packages for an LTSP environment on thin clients.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-thin-client-ltsp-config
Architecture: all
Description: UCS - Thin client LTSP environment
 This package contains the base configuration for an LTSP environment on thin clients.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
