Source: winexe
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.9.8
Build-Depends: debhelper,
 build-essential,
 pkg-config,
 libtalloc-dev,
 libtevent-dev,
 samba-dev,
 gcc-mingw32,
 libc6-dev,
 mingw32-runtime,
 mingw-w64,
 python,
 quilt

Package: winexe
Architecture: any
Depends: libc6 (>= 2.8),
 libtalloc2 (>= 2.1.1),
 libtevent0 (>= 0.9.22),
 samba-libs (>= 4.2.0~rc2),
 ${misc:Depends},
 ${shlibs:Depends},
Description: Remote Windows®-command executor
 Winexe remotely executes commands on Windows® NT/2000/XP/2003 systems.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
