#!/usr/bin/make -f
#
# Univention Package Database
#  rules file for the debian package
#
# Copyright (C) 2004-2009 Univention GmbH
#
# http://www.univention.de/
#
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 2 as
# published by the Free Software Foundation.
#
# Binary versions of this file provided by Univention to you as
# well as other copyrighted, protected or trademarked materials like
# Logos, graphics, fonts, specific documentations and configurations,
# cryptographic keys etc. are subject to a license agreement between
# you and Univention.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

version=`dpkg-parsechangelog | grep "Version" | sed -e 's/Version: //'`

PYVERS=$(shell pyversions -vr)
PACKAGE_UMCMOD=univention-pkgdb
PACKAGE_IMAGES=univention-pkgdb
UMC_MODULES=$(shell find modules/univention -name '*.py')
UMC_MO_FILES=$(shell find modules/univention -name '*.po' | sed 's/\.po/\.mo/g')
UMC_IMAGES=$(shell find images -name '*.gif' -o -name '*.png')

D=${CURDIR}/debian/univention-pkgdb
DT=${CURDIR}/debian/univention-pkgdb-tools

%.mo:	%.po
	msgfmt -o $@ $<


build: build-stamp $(UMC_MO_FILES)
build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -rf debian/tmp
	rm -rf debian/univention-pkgdb
	rm -rf debian/univention-lib
	rm -rf debian/univention-pkgdb-tools
	dh_clean

install: install-stamp $(UMC_MO_FILES)
install-stamp: build-stamp $(PYVERS:%=install-ext-%)
install-ext-%: 
	# don't install Univention Console module
	# ./py_compile ./modpkgdb.py

	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# msgfmt -o pkgdb.mo pkgdb.po

	# install -m 0644 pkgdb.mo ${D}/usr/share/locale/de/LC_MESSAGES
	install -m 0444 pkgdb.sql ${D}/var/lib/postgres
	install -m 0500 pkgdb.bash ${D}/var/lib/postgres
	install -m 0700 pkgdb.indexes-0.13 ${D}/var/lib/postgres
	install -m 0700 pkgdb.indexes-2.0.2 ${D}/var/lib/postgres
	install -m 0400 conffiles/etc/cron.d/univention-pkgdb-check ${D}/etc/cron.d
	install -m 0755 conffiles/etc/cron.weekly/univention-pkgdb-clean ${D}/etc/cron.weekly
	install -m 0755 50univention-pkgdb.inst ${D}/usr/lib/univention-install
	install -m 0755 pkgdb.py ${D}/usr/lib/univention-directory-listener/system

	# install Univention Management Console Module
	install -d debian/$(PACKAGE_UMCMOD)/usr/share/pyshared/$(PACKAGE_UMCMOD)/site-packages
	@for i in $(UMC_MODULES); do\
		o=debian/$(PACKAGE_UMCMOD)/usr/share/pyshared/$(PACKAGE_UMCMOD)/site-packages/$${i#modules};\
		install -d "`dirname $$o`";\
		install -m755 $$i $$o;\
	done
	# install UMC locales
	@for i in $(UMC_MO_FILES); do\
		lang=`basename $$i .mo`;\
		domain=`dirname $$i | sed 's,^modules/,,;s,/,-,g'`;\
		o=debian/$(PACKAGE_UMCMOD)/usr/share/locale/$$lang/LC_MESSAGES/$$domain.mo;\
		install -d "`dirname $$o`";\
		install -m 644 $$i $$o;\
	done
	@for i in $(UMC_IMAGES); do\
		o=debian/$(PACKAGE_IMAGES)/usr/share/univention-management-console/www/themes/$$i;\
		install -d "`dirname $$o`";\
		install -m755 $$i $$o;\
	done


	# don't install Univention Console Module
	# install -m 0755 modpkgdb.pyo ${D}/usr/share/univention-console/uniconf
	# install -m 0755 pkgdb.gif ${D}/usr/share/univention-webui-style/icon

	install -m 0700 univention-pkgdb-check ${D}/usr/sbin

#	 Set package_version
	install -d debian/python-univention-pkgdb/usr/lib/python$*/site-packages/univention/
	cat univention_pkgdb.py| sed -e "s/@%@package_version@%@/${version}/" > debian/python-univention-pkgdb/usr/lib/python$*/site-packages/univention/pkgdb.py
	chmod 755 debian/python-univention-pkgdb/usr/lib/python$*/site-packages/univention/pkgdb.py

	install -m 0700 univention-pkgdb-scan ${DT}/usr/sbin
	install -m 0755 98univention-pkgdb-tools.inst ${DT}/usr/lib/univention-install

	univention-install-config-registry
	univention-install-config-registry-info

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdebconf
	dh_installdocs
	dh_installlogrotate
	dh_installcron
	dh_installchangelogs
	dh_pycentral -Nunivention-pkgdb-tools
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
