<?php
/*
 * Kronolith Keyword Definition File
 *
 * This file is where you define the list of keywords that can be used
 * to categorize events in Kronolith.
 *
 * There is no limit on how many keywords out of a specific category
 * an event can have; the categories are for logical groupings only.
 *
 * Each category will generate a table cell, with the category name in
 * bold and checkboxes for each entry in the category below it.
 *
 * $Horde: kronolith/config/keywords.php.dist,v 1.2 2002/02/19 18:00:42 chuck Exp $
 */

$keywords[_("Type")] = array(_("Birthday"), _("Meeting"), _("Game"));
