Source: univention-system-check-downloader
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 8.0.0),
 univention-config-dev
Standards-Version: 3.9.4
Homepage: univention.com

Package: univention-system-check-downloader
Architecture: all
Depends: ${shlibs:Depends},
 ${misc:Depends},
 curl,
 locales,
 ca-certificates,
 openssl
Description: Downloader for univention-system-check
 This package downloads the newest version of univention-system-check and updates it automatically.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

