/* Button | DropDownButton | ComboButton | ToggleButton
 * 
 * Styling Buttons mainly includes:
 * 
 * 1. Containers
 * 		.dijitButton
 * 		.dijitDropDownButton
 * 		.dijitComboButton
 * 		.dijitButtonNode - common button/arrow wrapper shared across all three button types 
 *
 * 2. Button text
 * 		.dijitButtonText
 * 
 * 3. Arrows - only for DropDownButton and ComboButton
 * 	     There are total four directions arrows - down, left, right, up:
 * 		.dijitArrowButtonInner - down arrow by default
 *      .dijitLeftArrowButton .dijitArrowButtonInner - left arrow
 *      .dijitRightArrowButton .dijitArrowButtonInner - right arrow
 *      .dijitUpArrowButton .dijitArrowButtonInner - up arrow
 * 
 * 4. States - Hover, Active, Disabled, e.g.
 * 		.dijitButtonHover .dijitButtonNode
 * 		.dijitButtonActive .dijitButtonNode
 * 		.dijitButtonDisabled .dijitButtonNode
 *      
 *      .dijitDisabled .dijitArrowButtonInner  - disabled arrow states 
 */

@import "../variables"

.umc
	.dijitButton,
	.dijitDropDownButton,
	.dijitToggleButton
		margin: material-grid(1)
		max-width: 100%

		.dijitButtonNode
			material-shadow(1)
			border: none
			padding: 0 material-grid(2)
			height: $material-button-height
			border-radius: $button-border-radius
			background-color: #fff
			transition: background-color 250ms, $material-shadow-transition-value
			display: flex
			align-items: center
			justify-content: center

.umc
	.dijitDropDownButton
		.dijitArrowButtonInner
			margin-left: material-grid(1)
			margin-right: material-grid(-1, true)

	.dijitButton
		.dijitIcon
			margin-right: material-grid(1)
			margin-left: material-grid(-1, true)

.umc
	.dijitButtonText
		font-size: $font-size-button
		color: $material-text-dark-high
		font-weight: 500
		text-transform: uppercase
		letter-spacing: 1.25px

/* hovered state */
.umc
	.dijitButtonHover,
	.dijitDropDownButtonHover,
	.dijitToggleButtonHover
		.dijitButtonNode
			background-color: $button-hovered-background-color

/* focused state */
.umc
	.dijitButtonFocused,
	.dijitDropDownButtonFocused,
	.dijitToggleButtonFocused
		.dijitButtonNode
			background-color: $button-hovered-background-color

/* active, checked state */
.umc
	.dijitButtonActive,
	.dijitDropDownButtonActive,
	.dijitToggleButtonActive
		.dijitButtonNode
			background-color: $button-pressed-background-color
			material-shadow(2)

/* disabled state */
.umc
	.dijitButtonDisabled,
	.dijitDropDownButtonDisabled,
	.dijitToggleButtonDisabled
		.dijitButtonNode
			box-shadow: none
			background-color: $disabled-background-color

		.dijitIcon,
		.dijitArrowButtonInner
			opacity: $material-text-disabled-alpha

		.dijitButtonText
			color: $material-text-dark-disabled

/* toggle button checked state */
.umc
	.dijitToggleButtonChecked
		.dijitButtonNode
			background-color: $button-checked-background-color

.umc
	.dijitArrowButtonInner
		icon-image(-160, -20, "../")

.umc
	.dijitLeftArrowButton .dijitArrowButtonInner
		background-position: -200px -20px

	.dijitRightArrowButton .dijitArrowButtonInner
		background-position: -220px -20px

	.dijitUpArrowButton .dijitArrowButtonInner
		background-position: -180px -20px

/* Uploader */
.umc
	.dijitUploader input
		cursor: pointer
		

// The syntax here is very deliberate so that the selectors in
// material-flat-button() and material-outlined-button() work properly
.umc .umcFlatButton
	&.dijitButton,
	&.dijitDropDownButton,
	&.dijitToggleButton
		material-flat-button()

.umc .umcOutlinedButton
	&.dijitButton,
	&.dijitDropDownButton,
	&.dijitToggleButton
		material-outlined-button()

.umc .umcIconButton
	&.dijitButton,
	&.dijitDropDownButton,
	&.dijitToggleButton
		umc-icon-button()

.umc .umcIconButton--aligned-to-textfield
	&.dijitButton,
	&.dijitDropDownButton,
	&.dijitToggleButton
		umc-icon-button($material-textfield-height)

