/* CheckBox
 * 
 * Styling CheckBox mainly includes:
 * 
 * 1. Containers
 * 		.dijitCheckBox|.dijitCheckBoxIcon - for border, padding, width|height and background image
 * 
 * 2. CheckBox within ToggleButton
 * 		.dijitToggleButton|.dijitToggleButtonChecked .* - for background image
 * 
 * 3. Checked state
 * 		.dijitCheckBoxChecked - for checked background-color|image
 * 		.dijitToggleButtonChecked - for border, background-color|image, display and width|height
 * 
 * 4. Hover state
 * 		.dijitCheckBoxHover|.dijitCheckBoxCheckedHover - for background image
 * 
 * 5. Disabled state
 * 		.dijitCheckBoxDisabled|.dijitCheckBoxCheckedDisabled - for background image
 */

@import "../variables"

.dijitCheckBox
	--local-border-color: var(--color-grey40)
	--local-background-color: transparent
	width: 1em
	height: @width
	border: 2px solid var(--local-border-color)
	border-radius: 2px
	background-color: var(--local-background-color)
	transition: opacity 250ms, background-color 250ms, border-color 250ms
	position: relative

	&:before
		content: ''
		display: block
		width: 100%
		height: @width
		position: absolute
		top: 0
		left: 0
		background: url(images/check_checked.svg)
		background-size: contain
		opacity: 0
		transition: opacity 250ms

	&Checked
		--local-border-color: var(--color-primary)
		&:before
			opacity: 1

	/.dojoxGridCellOver &,
	&Hover,
	&Focus,
	&Active
		--local-background-color: rgba(255, 255, 255, 0.14)

	&Disabled
		--local-border-color: var(--color-grey40)
		opacity: 0.4
		
.dijitCheckBoxInput
	display: block;
	width: 100%
	height: 100%
	opacity: 0
