/* CheckBox
 * 
 * Styling CheckBox mainly includes:
 * 
 * 1. Containers
 * 		.dijitCheckBox|.dijitCheckBoxIcon - for border, padding, width|height and background image
 * 
 * 2. CheckBox within ToggleButton
 * 		.dijitToggleButton|.dijitToggleButtonChecked .* - for background image
 * 
 * 3. Checked state
 * 		.dijitCheckBoxChecked - for checked background-color|image
 * 		.dijitToggleButtonChecked - for border, background-color|image, display and width|height
 * 
 * 4. Hover state
 * 		.dijitCheckBoxHover|.dijitCheckBoxCheckedHover - for background image
 * 
 * 5. Disabled state
 * 		.dijitCheckBoxDisabled|.dijitCheckBoxCheckedDisabled - for background image
 */

@import "../variables"

.umc .umcLabelPane-dijitCheckBox
	// display: inline-flex
	// align-items: flex-start

	.umcLabelPaneContainerNode
		// font-size: $font-size-caption

		.dijitCheckBox
			// vertical-align: baseline
			margin-right: 0.3em

	// .umcLabelPaneLabelNode
		// display: flex

		// label
			// padding: 0
		// .umcDescription
			// flex: 0 0 auto
			// margin: 0 0 0 0.6em

.dijitCheckBox
	--local-border-color: var(--color-grey40)
	--local-background-color: transparent
	width: 1em
	height: @width
	border: 2px solid var(--local-border-color)
	border-radius: 2px
	background-color: var(--local-background-color)
	transition: opacity 250ms, background-color 250ms, border-color 250ms
	box-sizing: content-box
	position: relative

	&:before
		content: ''
		display: block
		width: @width
		height: @width
		position: absolute
		top: 0
		left: 0
		background: url(images/check_checked.svg)
		background-size: contain
		opacity: 0
		transition: opacity 250ms

	&Checked
		--local-border-color: var(--color-primary)
		&:before
			opacity: 1

	/.dojoxGridCellOver &,
	&Hover,
	&Focus,
	&Active
		--local-background-color: rgba(255, 255, 255, 0.14)

	&Disabled
		--local-border-color: var(--color-grey40)
		opacity: 0.4
		
.dijitCheckBoxInput
	width: 100%
	height: 100%
