/* claro/form/Common.css */

/*========================= common css =========================*/

@import "../variables"

/* 'dijitTextBox' refers to 'dijit(TextBox|DateTextBox|CurrencyTextBox|...)' */

.umc .dijitValidationTextBoxError
	.dijitValidationContainer
		background-image: url("../" + $image-form-error)
		width: 20px
		height: 20px
		margin-right: material-grid(3, true)

	.dijitValidationIcon
		width: 0
		background-color: transparent /* so the INPUT doesn't obscure the border in rtl+a11y */


.umc .dijitTextBox,
.umc .dijitSelect
	border: none
	border-color: $border-color // the border-color is not used here directly but now we can inherit it on all children
	position: relative
	height: $material-textfield-height
	color: $material-text-dark-high
	width: 100%
	font-size: $font-size-subheading
	background-color: #fff
	border-radius: $material-border-radius
	transition: background-color, color, border
	transition-duration: 250ms

	&:after
		content: ''
		display: block
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		pointer-events: none
		border: $material-textfield-border-width-inactive solid transparent
		border-color: inherit
		border-radius: $material-border-radius

.umc .dijitTextBox
	display: flex
	flex-direction: row-reverse
	align-items: center

	> *
		flex: 0 0 auto

	.dijitInputContainer
		flex: 1 1 auto
		height: 100%

		.dijitInputInner,
		.umcInlineLabel,
		.dijitPlaceHolder
			height: 100%
			text-overflow: ellipsis
			padding: 11px ($material-textfield-text-padding + 1px) 10px !important // add 1px to $material-textfield-text-padding since the border is overlaid with position absolute
			line-height: 1.2em

		.umcInlineLabel,
		.dijitPlaceHolder
			position: absolute
			top: 0
			left: 0
			height: 100%
			width: 100%
			white-space: nowrap
			overflow: hidden
			pointer-events: none // we want the cursor for the inputfield not these placeholder elements
			color: $material-text-dark-medium

		.umcInlineLabel
			visibility: hidden
			&.umcEmptyValue
				visibility: visible
.umc
	.dijitTextArea
		padding: $textbox-padding
		font-size: 1em
		height: 110px
		border-width: 1px
		border-style: solid

.umc
	.dijitSelect,
	.dijitComboBox
		.dijitArrowButtonInner
			transition: opacity 250ms

/* hover */
.umc
	.dijitSelectHover,
	.dijitTextBoxHover
		border-color: $hovered-border-color

/* error state */
.umc
	.dijitSelectError,
	.dijitTextBoxError
		border-color: $error-border-color

/* focused state */
.umc
	.dijitSelectFocused,
	.dijitTextBoxFocused
		border-color: $focused-border-color
		&:after
			border-width: $material-textfield-border-width-focused
	.dijitTextAreaFocused
		border-width: $material-textfield-border-width-focused

.umc
	.dijitSelectErrorFocused,
	.dijitTextBoxErrorFocused
		border-color: $error-focused-border-color

/* disabled state */
.umc
	.dijitSelectDisabled,
	.dijitTextBoxDisabled
		background-color: $textbox-disabled-background-color
		color: $material-text-dark-medium // $material-text-dark-disabled is not readable
		border-color: $disabled-border-color

		.dijitArrowButtonInner
			opacity: $material-text-disabled-alpha


/*========================= for special widgets =========================*/

/* Input boxes with an arrow (for a drop down) */

.umc .dijitSelect,
.umc .dijitComboBox
	.dijitArrowButtonContainer
		margin-right: material-grid(3, true)
		border: none

		.dijitArrowButtonInner
			icon-image(0, 0, "../")
			height: 20px !important  // override dijit.css CSS rule

.umc .dijitToolbar .dijitComboBox .dijitArrowButtonInner
	border: none


.umc .dijitToolbar .dijitComboBox .dijitArrowButtonInner
	border: none

.umc
	.dijitComboBoxOpenOnClickHover,
	.dijitComboBox .dijitDownArrowButtonHover
		.dijitArrowButtonInner
			background-position: -20px 0
			opacity: 0.66

.umc .dijitComboBox .dijitDownArrowButtonActive .dijitArrowButtonInner
	background-position: -20px 0
	opacity: 1


.dj_iequirks .umc .dijitComboBox .dijitHasDropDownOpen
	padding: 1px 0

.umc .dijitComboBox .dijitHasDropDownOpen .dijitArrowButtonInner
	//background-position:-70px 53%
	border: 0 none

/* labels for form elements */
label
	/* overwrite bootstrap bold font weight */
	font-weight: normal

.umc .umcLabelPane
	display: inline-block
	vertical-align: top

	.umcLabelPaneLabelNode label
		font-size: $font-size-caption

	.umcLabelPaneLabeNodeBottom label
		padding-top: 0.25em

	.umcLabelPaneLabeNodeRight label
		display: inline-block
		padding: 0 1.25em 0 0

.umc .umcLabelPane .umcToolTip
	background-position: 0 -36px

	.umcToolTipHover
		background-position: -12px -36px
		opacity: 0.66

	.umcToolTipClicked
		background-position: -48px -36px


//// umcSearchForm ////
.umc .umcSearchForm
	.umcSearchFormSubmitButton
		width: $layoutrow-button-width
		position: relative // needed so that the submit button is visible in the UDM searchform. when the input field overlaps the umcSearchFormSubmitButton

		.dijitButton
			material-flat-button()
			umc-icon-button-aligned-to-textfield()
			margin: 0

	.umcLabelPane.umcSearchFormElementBeforeSubmitButton
		$layoutrow--make-space-for-buttons(1)

	// the :not(.dijitDisplayNone) is for the LDAP directory module with 'All types' selected
	.umcLabelPane-dijitCheckBox.umcSearchFormElementBeforeSubmitButton:not(.dijitDisplayNone) + .umcSearchFormSubmitButton
		margin-top: -8px

.umc .umcUDMSearchForm .umcLabelPane.umcSearchFormElementBeforeSubmitButton
	$layoutrow--make-space-for-buttons(2, 1)

.umc .umcUDMSearchForm .umcLabelPane.umcSearchFormElementBeforeSubmitButton .dijitComboBox
	padding-right: $material-textfield-height

.umc .umcUDMSearchForm.umcUDMSearchFormSimpleTextBox .umcLabelPane.umcSearchFormElementBeforeSubmitButton .dijitInputContainer
	margin-right: $material-textfield-height
//// umcSearchForm  END ////

.umc .umcImage
	background: url(images/checkerboard-pattern.png)
	width: 100%
	padding: 10px

	img
		width: auto
		max-width: 100%
		height: auto
		max-height: 300px
		display: block
		margin: 0 auto

/* outlined buttons for some elements */
.umc
	.umcUploader,
	.umcMultiUploader,
	.umcMultiObjectSelect
		.dijitButton
			material-outlined-button()
			&:first-of-type
				margin-left: 0
			&:last-of-type
				margin-right: 0



/*========================= hacks for browsers =========================*/
.dj_borderbox .umc .dijitComboBox .dijitHasDropDownOpen .dijitArrowButtonInner
	width:18px				// quirks mode means border-box sizing, so 18px with the border (same as 16px without border)

.dj_borderbox .umc .dijitComboBoxFocused .dijitHasDropDownOpen .dijitArrowButtonInner
	width:16px				// when no border, then back to 16px just like content-box sizing
