/* claro/form/Common.css */

/*========================= common css =========================*/

@import "../variables"

/* 'dijitTextBox' refers to 'dijit(TextBox|DateTextBox|CurrencyTextBox|...)' */

.umc .dijitTextBox,
//.umc .dijitInputInner
	color: $text-color
	width: 100%
	font-size: $font-size-subheading
	background-color: #fff

.umc .dijitValidationTextBoxError .dijitValidationContainer
	//background-color: $erroricon-background-color
	background-image: url("../" + $image-form-error)
	background-position: center right
	background-repeat: no-repeat
	background-size: contain
	//border: solid $erroricon-background-color 0
	width: 20px
	height: 20px
	margin: 6px 8px 0 0

// .umc .dijitTextBoxError .dijitValidationContainer
// 	border-left-width: 1px

.umc .dijitValidationTextBoxError .dijitValidationIcon
	width: 0
	background-color: transparent /* so the INPUT doesn't obscure the border in rtl+a11y */

/* Padding for the input area of TextBox based widgets, and corresponding padding for the
 * down arrow button and the placeholder.   placeholder is explicitly listed  because
 * dijitPlaceHolder is absolutely positioned, so padding set on dijitInputField
 * won't affect it
 */
.umc .dijitTextArea,
.umc .dijitInputField .dijitPlaceHolder
	padding: $textbox-padding
	font-size: 1em

.umc .dijitSelect,
.umc .dijitTextBox
	// Subtract 1px from top/bottom because we add 1px to other nodes, see rules below.
	// Although we are theoretically only adding 1px to top/bottom browsers seem to pad inputs by 1px on left/right,
	// although that varies by so compensate for that too.
	position: relative

.umc .dijitSelect:before,
.umc .dijitTextBox:before,
.umc .dijitSelect:after,
.umc .dijitTextBox:after
	content: ""
	position: absolute
	height: 5px
	bottom: 0

.umc .dijitSelect:before,
.umc .dijitTextBox:before
	border-left: thin solid $base-border-color
	left: 0

.umc .dijitSelect:after,
.umc .dijitTextBox:after
	right: 0
	border-right: thin solid $base-border-color

.umc .dijitSelect,
.umc .dijitSelect .dijitButtonContents,
.umc .dijitTextBox,
.umc .dijitTextBox .dijitButtonNode
	/* color for (outer) border on *TextBox widgets, and border between input and buttons on ComboBox and Spinner */
	border: 0 none
	border-bottom: 1px solid
	border-color: $base-border-color

.umc .dijitSelect,
.umc .dijitSelect .dijitButtonContents,
.umc .dijitTextBox,
.umc .dijitTextBox .dijitButtonNode,
.umc .dijitSelect:before,
.umc .dijitTextBox:before,
.umc .dijitSelect:after,
.umc .dijitTextBox:after
	transition-property: background-color, border, color
	transition-duration(0.25s)

.umc .dijitTextArea
	border-width: thin
	border-style: solid
	width: 100%
	height: 110px

.umc .dijitSelect,
.umc .dijitTextBox
	.dijitInputContainer
		padding: 0 10px

		.dijitInputInner,
		.umcInlineLabel,
		.dijitPlaceHolder
			line-height: 32px
			height: @line-height
			text-overflow: ellipsis

		.umcInlineLabel,
		.dijitPlaceHolder
			width: 100%
			position: absolute
			left: 0
			top: 0
			padding: @padding

		.umcInlineLabel
			visibility: hidden
			color: $text-color-lightest

			&.umcEmptyValue
				visibility: visible

/* hover */
.umc .dijitSelectHover,
.umc .dijitSelectHover .dijitButtonContents,
.umc .dijitTextBoxHover,
.umc .dijitTextBoxHover .dijitButtonNode,
.umc .dijitSelectHover:before,
.umc .dijitTextBoxHover:before,
.umc .dijitSelectHover:after,
.umc .dijitTextBoxHover:after
	border-color: $hovered-border-color
	transition-duration(.25s)

.umc .dijitTextBoxHover
	//background-color: $textbox-hovered-background-color
	textbox-background-image()

/* error state */
.umc .dijitSelectError,
.umc .dijitSelectError .dijitButtonContents,
.umc .dijitTextBoxError,
.umc .dijitTextBoxError .dijitButtonNode,
.umc .dijitSelectError:before,
.umc .dijitTextBoxError:before,
.umc .dijitSelectError:after,
.umc .dijitTextBoxError:after
	border-color: $error-border-color

/* focused state */
.umc .dijitSelectFocused,
.umc .dijitSelectFocused .dijitButtonContents,
.umc .dijitTextBoxFocused,
.umc .dijitTextBoxFocused .dijitButtonNode,
.umc .dijitSelectFocused:before,
.umc .dijitTextBoxFocused:before,
.umc .dijitSelectFocused:after,
.umc .dijitTextBoxFocused:after
	border-color: $focused-border-color
	transition-duration: .1s

.umc .dijitTextBoxFocused
	//background-color: $textbox-focused-background-color
	textbox-background-image()

.umc .dijitTextBoxFocused .dijitInputContainer
	//background: $textbox-focused-background-color

.umc .dijitSelectErrorFocused,
.umc .dijitSelectErrorFocused .dijitButtonContents,
.umc .dijitTextBoxErrorFocused,
.umc .dijitTextBoxErrorFocused .dijitButtonNode,
.umc .dijitSelectErrorFocused:before,
.umc .dijitTextBoxErrorFocused:before,
.umc .dijitSelectErrorFocused:after,
.umc .dijitTextBoxErrorFocused:after
	border-color: $error-focused-border-color

/* disabled state */
.umc .dijitSelectDisabled:before,
.umc .dijitTextBoxDisabled:before,
.umc .dijitSelectDisabled:after,
.umc .dijitTextBoxDisabled:after,
.umc .dijitSelectDisabled,
.umc .dijitSelectDisabled .dijitButtonContents,
.umc .dijitTextBoxDisabled,
.umc .dijitTextBoxDisabled .dijitButtonNode
	border-color: $disabled-border-color

.umc .dijitSelectDisabled,
.umc .dijitTextBoxDisabled
	background-color: $textbox-disabled-background-color

.umc .dijitSelectDisabled,
.umc .dijitTextBoxDisabled
	color: $disabled-text-color

/*========================= for special widgets =========================*/

/* Input boxes with an arrow (for a drop down) */

.umc .dijitSelect.dijitSelectDisabled,
.umc .dijitComboBox.dijitComboBoxDisabled,
.umc .dijitSelect,
.umc .dijitComboBox
	.dijitArrowButtonContainer
		margin: 6px 10px 0 0

		.dijitArrowButtonInner
			icon-image(0, 0, "../")
			height: 20px !important  // override dijit.css CSS rule

.umc .dijitToolbar .dijitComboBox .dijitArrowButtonInner
	border: none


.umc .dijitToolbar .dijitComboBox .dijitArrowButtonInner
	border: none


///* Add 1px vertical padding to the <input> where user types and the validation icon,
//   to match the 1px border on arrow button */
//.umc .dijitSelectLabel,
//.umc .dijitTextBox .dijitInputInner,
//.umc .dijitValidationTextBox .dijitValidationContainer
//	padding: 1px 0

.umc .dijitComboBox .dijitButtonNode
	//background-color: $arrowbutton-background-color
	standard-gradient("../")


/* Arrow "hover" effect:
 * The arrow button should change color whenever the mouse is in a position such that clicking it
 * will toggle the drop down.   That's either (1) anywhere over the ComboBox or (2) over the arrow
 * button, depending on the openOnClick setting for the widget.
 */
.umc .dijitComboBoxOpenOnClickHover .dijitButtonNode,
.umc .dijitComboBox .dijitDownArrowButtonHover,
.umc .dijitComboBoxFocused .dijitArrowButton
	//background-color:$arrowbutton-hovered-background-color

.umc
	.dijitComboBoxOpenOnClickHover,
	.dijitComboBox .dijitDownArrowButtonHover
		.dijitArrowButtonInner
			background-position: -20px 0
			opacity: 0.66

.umc .dijitComboBoxOpenOnClickHover .dijitArrowButtonInner,
.umc .dijitComboBox .dijitDownArrowButtonHover .dijitArrowButtonInner
	//background-position:-70px 53%

.umc .dijitComboBox .dijitDownArrowButtonActive .dijitArrowButtonInner
	background-position: -20px 0
	opacity: 1


/* Arrow Button change when drop down is open */
.umc .dijitComboBox .dijitHasDropDownOpen	// .dijitHasDropDown is on dijitArrowButton node
	//background-color: $pressed-background-color
	//active-gradient("../")
	//padding: 1px		// Since no border on arrow button (see rule below)

.dj_iequirks .umc .dijitComboBox .dijitHasDropDownOpen
	padding: 1px 0

.umc .dijitComboBox .dijitHasDropDownOpen .dijitArrowButtonInner
	//background-position:-70px 53%
	border: 0 none

/* disabled state */
.umc div.dijitComboBoxDisabled .dijitArrowButtonInner
	/* specific selector set to override background-position setting from Button.js
	 * (.umc .dijitComboBoxDisabled .dijitArrowButtonInner) */
	//background-position:0 50%
	//background-color:$disabled-background-color

/* labels for form elements */
label
	/* overwrite bootstrap bold font weight */
	font-weight: normal

.umc .umcLabelPane
	display: inline-block
	vertical-align: top

	.umcLabelPaneLabelNode label
		font-size: $font-size-caption

	.umcLabelPaneLabeNodeBottom label
		padding-top: 0.25em

	.umcLabelPaneLabeNodeRight label
		display: inline-block
		padding: 0 1.25em 0 0

.umc .umcLabelPane .umcToolTip
	background-position: 0 -36px

	.umcToolTipHover
		background-position: -12px -36px
		opacity: 0.66

	.umcToolTipClicked
		background-position: -48px -36px

.umc .umcSearchForm
	.umcSearchFormSubmitButton
		width: 3.5em
		margin: 0

		.dijitButton
			margin-top: 0
			box-shadow: none

		.dijitButtonNode
			background-color: transparent
			height: 32px

			.dijitButtonContents
				line-height: 32px
				padding: 0 3px

	.umcLabelPane.umcSearchFormElementBeforeSubmitButton
		margin-right: -3.5em
		padding-right: 3.5em

	.umcLabelPane-dijitCheckBox.umcSearchFormElementBeforeSubmitButton + .umcSearchFormSubmitButton
		margin-top: -7px

.umc .umcImage
	background: url(images/checkerboard-pattern.png)
	width: 100%
	padding: 10px

	img
		width: auto
		max-width: 100%
		height: auto
		max-height: 300px
		display: block
		margin: 0 auto

/* flat buttons for some elements */
.umc
	.umcUploader,
	.umcMultiObjectSelect
		.dijitButton
			material-flat-button()
			margin-left: -14px
			margin-right: 24px
			margin-bottom: 0

			&:last-child
				margin-right: -14px



/*========================= hacks for browsers =========================*/
/* it seems the input[type="hidden"] has a height (16px) too... this may cause the widget's height calculate error */
.dj_ff3 .umc .dijitInputField input[type="hidden"]
	display: none
	height: 0
	width: 0

.dj_borderbox .umc .dijitComboBox .dijitHasDropDownOpen .dijitArrowButtonInner
	width:18px				// quirks mode means border-box sizing, so 18px with the border (same as 16px without border)

.dj_borderbox .umc .dijitComboBoxFocused .dijitHasDropDownOpen .dijitArrowButtonInner
	width:16px				// when no border, then back to 16px just like content-box sizing
