/* RadioButton
 * 
 * Styling RadioButton mainly includes:
 * 
 * 1. Containers
 * 		.dijitRadio|.dijitRadioIcon - for border, padding, width|height and background image
 * 
 * 2. RadioButton within ToggleButton
 * 		.dijitToggleButton|.dijitToggleButtonChecked .* - for background image
 * 
 * 3. Checked state
 * 		.dijitRadioChecked - for checked background-color|image
 * 		.dijitToggleButtonChecked - for border, background-color|image, display and width|height
 * 
 * 4. Hover state
 * 		.dijitRadioHover|.dijitRadioCheckedHover - for background image
 * 
 * 5. Disabled state
 * 		.dijitRadioDisabled|.dijitRadioCheckedDisabled - for background image
 */

@import "../variables"

.umc .dijitToggleButton .dijitRadio,
.umc .dijitToggleButton .dijitRadioIcon
	//background-image: url("../" + $image-form-checkbox-and-radios)
	icon-image(0, -36, "../", "-small", 12px, 12px)


.dj_ie6 .umc .dijitToggleButton .dijitRadio,
.dj_ie6 .umc .dijitToggleButton .dijitRadioIcon
	//background-image: url("../" + $image-form-checkbox-and-radios-ie6)


.umc .dijitRadio,
.umc .dijitRadioIcon		/* inside a toggle button */
	//background-image: url("../" + $image-form-checkbox-and-radios) /* checkbox sprite image */
	//background-repeat: no-repeat
	//width: 15px
	//height: 15px
	icon-image(0, -36, "../", "-small", 12px, 12px)
	margin: -1px 0.3em 0 0
	padding: 0


.dj_ie6 .umc .dijitRadio,
.dj_ie6 .umc .dijitRadioIcon		/* inside a toggle button */
	//background-image: url("../" + $image-form-checkbox-and-radios-ie6) /* checkbox sprite image */


.umc .dijitRadio
	/* unselected */
	background-position: 0 -36px


.umc .dijitToggleButton .dijitRadioIcon
	/* unselected */
	background-position: 0 -36px


.umc .dijitRadioDisabled
	/* unselected and disabled */
	background-position: -24px -36px


.umc .dijitRadioHover
	/* hovering over an unselected enabled radio button */
	background-position: -12px -36px
	opacity: 0.66


.umc .dijitRadioChecked
	background-position: -48px -36px


.umc .dijitToggleButtonChecked .dijitRadioIcon
	background-position: -48px -36px


.umc .dijitRadioCheckedHover
	background-position: -60px -36px
	opacity: 0.66


.umc .dijitRadioCheckedDisabled
	/* selected but disabled */
	background-position: -72px -36px

