/* Select
 * 
 * Styling Select mainly includes:
 * 
 * 1. Containers
 * 		.dijitSelect - for border, background-color
 * 		.dijitButtonContents - for border
 *
 * 2. Arrow
 * 		.dijitArrowButton - for border, padding and background-color|image
 * 		.dijitArrowButtonInner - for border, background-color|image, display and width|height
 * 
 * 3. Menu
 * 		.dijitSelectMenu .* - for border, padding
 * 
 * 4. Various states
 * 		.dijitSelectHover|.dijitSelectFocused|.dijitSelectDisabled .* - for border, padding and background-color|image 
 */

@import "../variables"

.umc .dijitSelect
	width: 100%
	background-color: white

	.dijitButtonText
		font-size: inherit
		color: inherit
		text-transform: none
		font-weight: normal
		letter-spacing: normal

	.dijitButtonContents
		border: none

	.dijitSelectLabel
		padding: 11px 0 10px ($material-textfield-text-padding + 1px) !important // add 1px to $material-textfield-text-padding since the border is overlaid with position absolute

.umc .dijitSelectMenu.dijitMenu .dijitMenuItem td
	font-weight: normal
	padding: 5px 10px

/* normal status */
.umc .dijitSelect .dijitArrowButtonContainer
	border: none
	width: $width-icon
	padding: 0 $material-textfield-text-padding 0 0

.umc .dijitSelect .dijitArrowButton .dijitArrowButtonInner
	opacity: 1


/* hover status */
.umc .dijitSelectHover .dijitArrowButton .dijitArrowButtonInner
	background-position: -20px 0
	opacity: 0.66


/* focused status */
.umc .dijitSelectFocused .dijitArrowButton .dijitArrowButtonInner
	background-position: -20px 0
	opacity: 1


/* disable status */
.umc .dijitSelectDisabled
	border-color: $disabled-border-color
	background-color: $disabled-background-color
	background-image: none
	color: $disabled-text-color


.umc .dijitSelectDisabled .dijitArrowButton .dijitArrowButtonInner
	background-position: 0 0
	opacity: 0.5


/* Dropdown menu style for select */
.umc .dijitSelectMenu td.dijitMenuItemIconCell,
.umc .dijitSelectMenu td.dijitMenuArrowCell 
	/* so that arrow and icon cells from MenuItem are not displayed */
	display: none  


.umc .dijitSelectMenu td.dijitMenuItemLabel
	/* line up menu text with text in select box (in LTR and RTL modes) */
	padding: $textbox-padding


.umc .dijitSelectMenu .dijitMenuSeparatorTop
	border-bottom:1px solid $focused-border-color

