/* Slider 
 * 
 * Styling Slider mainly includes styling the Slider progress bar (dijitSliderProgressBar)
 * 
 * Slider progress bar:
 * 1. Slider progress bar (default styling): 
 * 		.dijitSliderProgressBarH - progress bar at the middle of horizontal slider
 * 		.dijitSliderLeftBumper - bar at the left of horizontal slider
 * 		.dijitSliderRightBumper - bar at the right of horizontal slider
 * 		.dijitSliderProgressBarV - progress bar at the middle of vertical slider
 * 		.dijitSliderTopBumper - bar at the top of vertical slider
 * 		.dijitSliderBottomtBumper - bar at the bottom of vertical slider
 * 
 * 2. hovered Slider progress bar (ie, mouse hover on progress bar)
 * 		.dijitSliderHover .dijitSliderProgressBarH(horizontal) - hovered bar style: background, border
 * 
 * 3. focused Slider progress bar (ie, mouse focused on progress bar)
 * 		.dijitSliderFocused .dijitSliderProgressBarH(horizontal) - focus bar style: background, border
 * 
 * 4. disabled/read-only Slider progress bar 
 * 		.dijitSliderDisabled .dijitSliderProgressBarH(horizontal) - bar styles when slider is disabled
 * 
 * 
 * Slider Thumbs:
 * 1. Slider Thumbs (default styling): 
 * 		.dijitSliderImageHandleH / .dijitSliderImageHandleV - styles for the controller on the progress bar
 * 
 * 2. hovered Slider Thumbs (ie, mouse hover on slider thumbs)
 * 		.dijitSliderHover .dijitSliderImageHandleH - hovered controller style
 * 
 * 3. focused Slider progress bar (ie, mouse focused on slider thumbs)
 * 		.dijitSliderFocused .dijitSliderImageHandleV - focused controller style
 * 
 * 
 * Slider Increment/Decrement Buttons:
 * 1. Slider Increment/Decrement Buttons (default styling): 
 * 		.dijitSliderDecrementIconH - decrement icon which lies at the left of horizontal slider
 * 		.dijitSliderIncrementIconH - increment icon which lies at the right of horizontal slider
 * 		.dijitSliderDecrementIconV - decrement icon which lies at the bottom of vertical slider
 * 		.dijitSliderIncrementIconV - increment icon which lies at the top of vertical slider
 * 
 * 2. hovered Slider Increment/Decrement Buttons (mouse hover on the icons)
 * 		.dijitSliderHover .dijitSliderDecrementIconH - for background, border
 * 
 * 3. active Slider Increment/Decrement Buttons (mouse down on the icons)
 * 		.dijitSliderActive .dijitSliderIncrementIconV - for background, border
 * 
 * 4. disabled/read-only Slider Increment/Decrement Buttons
 * 		.dijitSliderDisabled .dijitSliderDecrementIconH - styles for the icons in disabled slider
 * 		.dijitSliderReadOnly .dijitSliderIncrementIconV - styles for the icons in read-only slider
 */

@import "../variables"

.umc .dijitSliderBar
	border-style: solid
	outline: 1px

.umc .dijitSliderFocused .dijitSliderBar
	border-color: $focused-border-color

.umc .dijitSliderHover .dijitSliderBar
	border-color: $hovered-border-color

.umc .dijitSliderDisabled .dijitSliderBar
	background-image: none
	border-color: $disabled-border-color

.umc .dijitRuleLabelsContainer
	color: $text-color


/* Horizontal Slider */

.umc .dijitRuleLabelsContainerH
	padding: 2px 0

.umc .dijitSlider .dijitSliderProgressBarH,
.umc .dijitSlider .dijitSliderLeftBumper
	border-color: $border-color
	background-color: $slider-fullbar-background-color
	//alpha-white-gradient(top, (1 0px), (1 1px), (0 2px))

.umc .dijitSlider .dijitSliderRemainingBarH,
.umc .dijitSlider .dijitSliderRightBumper
	border-color: $border-color
	background-color: $slider-remainingbar-background-color

.umc .dijitSliderRightBumper
	border-right: solid 1px $border-color

.umc .dijitSliderLeftBumper
	border-left: solid 1px $border-color

.umc .dijitSliderHover .dijitSliderProgressBarH,
.umc .dijitSliderHover .dijitSliderLeftBumper
	background-color: $slider-hovered-fullbar-background-color
	border-color: $hovered-border-color

.umc .dijitSliderHover .dijitSliderRemainingBarH,
.umc .dijitSliderHover .dijitSliderRightBumper
	background-color: $slider-hovered-remainingbar-background-color
	border-color: $hovered-border-color

.umc .dijitSliderFocused .dijitSliderProgressBarH,
.umc .dijitSliderFocused .dijitSliderLeftBumper
	background-color: $slider-focused-fullbar-background-color
	border-color: $focused-border-color
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2)

.umc .dijitSliderFocused .dijitSliderRemainingBarH,
.umc .dijitSliderFocused .dijitSliderRightBumper
	background-color: $slider-focused-remainingbar-background-color
	border-color: $focused-border-color
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2)

.umc .dijitSliderDisabled .dijitSliderProgressBarH,
.umc .dijitSliderDisabled .dijitSliderLeftBumper
	background-color: $disabled-border-color		/* left side of slider, fill matches border */
	background-image:none

.umc .dijitSliderDisabled .dijitSliderRemainingBarH,
.umc .dijitSliderDisabled .dijitSliderRightBumper
	background-color: $disabled-background-color


/* Vertical Slider */

.umc .dijitRuleLabelsContainerV
	padding: 0 2px

.umc .dijitSlider .dijitSliderProgressBarV,
.umc .dijitSlider .dijitSliderBottomBumper
	border-color: $border-color
	background-color: $slider-fullbar-background-color
	//alpha-white-gradient(left, (1 0px), (0 1px))

.umc .dijitSlider .dijitSliderRemainingBarV,
.umc .dijitSlider .dijitSliderTopBumper
	border-color: $border-color
	background-color: $slider-remainingbar-background-color

.umc .dijitSliderBottomBumper
	border-bottom: solid 1px $border-color

.umc .dijitSliderTopBumper
	border-top: solid 1px $border-color

.umc .dijitSliderHover .dijitSliderProgressBarV,
.umc .dijitSliderHover .dijitSliderBottomBumper
	background-color: $slider-hovered-fullbar-background-color
	border-color: $hovered-border-color

.umc .dijitSliderHover .dijitSliderRemainingBarV,
.umc .dijitSliderHover .dijitSliderTopBumper
	background-color: $slider-hovered-remainingbar-background-color
	border-color: $hovered-border-color

.umc .dijitSliderFocused .dijitSliderProgressBarV,
.umc .dijitSliderFocused .dijitSliderBottomBumper
	background-color: $slider-focused-fullbar-background-color
	border-color: $focused-border-color
	box-shadow: inset 1px 0px 1px rgba(0, 0, 0, 0.2)

.umc .dijitSliderFocused .dijitSliderRemainingBarV,
.umc .dijitSliderFocused .dijitSliderTopBumper
	background-color: $slider-focused-remainingbar-background-color
	border-color: $focused-border-color
	box-shadow: inset 1px 0px 1px rgba(0, 0, 0, 0.2)

.umc .dijitSliderDisabled .dijitSliderProgressBarV,
.umc .dijitSliderDisabled .dijitSliderBottomBumper
	background-color: $disabled-border-color	/* bottom side of slider, fill matches border */

.umc .dijitSliderDisabled .dijitSliderRemainingBarV,
.umc .dijitSliderDisabled .dijitSliderTopBumper
	background-color: $disabled-background-color



/* ------- Thumbs ------- */

.umc .dijitSliderImageHandleH
	border: 0
	width: 18px
	height: 16px
	background-image: url("../" + $image-form-slider-thumbs)
	background-repeat:no-repeat
	background-position:0 0

.umc .dijitSliderHover .dijitSliderImageHandleH
	background-position:-18px 0

.umc .dijitSliderFocused .dijitSliderImageHandleH
	background-position:-36px 0

.umc .dijitSliderProgressBarH .dijitSliderThumbHover
	background-position:-36px 0

.umc .dijitSliderProgressBarH .dijitSliderThumbActive
	background-position:-36px 0

.umc .dijitSliderReadOnly .dijitSliderImageHandleH,
.umc .dijitSliderDisabled .dijitSliderImageHandleH
	background-position:-54px 0

.umc .dijitSliderImageHandleV
	border: 0
	width: 18px
	height: 16px
	background-image: url("../" + $image-form-slider-thumbs)
	background-repeat:no-repeat
	background-position:-289px 0

.umc .dijitSliderHover .dijitSliderImageHandleV
	background-position:-307px 0

.umc .dijitSliderFocused .dijitSliderImageHandleV
	background-position:-325px 0

.umc .dijitSliderProgressBarV .dijitSliderThumbHover
	background-position:-325px 0

.umc .dijitSliderProgressBarV .dijitSliderThumbActive
	background-position:-325px 0

.umc .dijitSliderReadOnly .dijitSliderImageHandleV,
.umc .dijitSliderDisabled .dijitSliderImageHandleV
	background-position:-343px 0


/* ---- Increment/Decrement Buttons ---- */

.umc .dijitSliderButtonContainerH
	padding: 1px 3px 1px 2px

.umc .dijitSliderButtonContainerV
	padding: 3px 1px 2px 1px

.umc .dijitSliderDecrementIconH,
.umc .dijitSliderIncrementIconH,
.umc .dijitSliderDecrementIconV,
.umc .dijitSliderIncrementIconV
	background-image: url("../" + $image-form-common-arrows)
	background-repeat:no-repeat
	background-color: $arrowbutton-background-color
	border-radius: 2px
	border: solid 1px $border-color
	font-size: 1px

.umc .dijitSliderDecrementIconH,
.umc .dijitSliderIncrementIconH
	height: 12px
	width: 9px

.umc .dijitSliderDecrementIconV,
.umc .dijitSliderIncrementIconV
	height: 9px
	width: 12px

.umc .dijitSliderActive .dijitSliderDecrementIconH,
.umc .dijitSliderActive .dijitSliderIncrementIconH,
.umc .dijitSliderActive .dijitSliderDecrementIconV,
.umc .dijitSliderActive .dijitSliderIncrementIconV,
.umc .dijitSliderHover .dijitSliderDecrementIconH,
.umc .dijitSliderHover .dijitSliderIncrementIconH,
.umc .dijitSliderHover .dijitSliderDecrementIconV,
.umc .dijitSliderHover .dijitSliderIncrementIconV
	/* dijitSliderActive should be treated as dijitSliderHover since "clicking the slider" has no meaning */
	border: solid 1px $hovered-border-color
	background-color: $slider-hoveredButton-background-color


.umc .dijitSliderDecrementIconH
	background-position:-357px 50%

.umc .dijitSliderActive .dijitSliderDecrementIconH
.umc .dijitSliderHover .dijitSliderDecrementIconH
	background-position:-393px 50%

.umc .dijitSliderIncrementIconH
	background-position:-251px 50%

.umc .dijitSliderActive .dijitSliderIncrementIconH
.umc .dijitSliderHover .dijitSliderIncrementIconH
	background-position:-283px 50%

.umc .dijitSliderDecrementIconV
	background-position:-38px 50%

.umc .dijitSliderActive .dijitSliderDecrementIconV
.umc .dijitSliderHover .dijitSliderDecrementIconV
	background-position:-73px 50%

.umc .dijitSliderIncrementIconV
	background-position:-143px 49%

.umc .dijitSliderActive .dijitSliderIncrementIconV
.umc .dijitSliderHover .dijitSliderIncrementIconV
	background-position:-178px 49%

.umc .dijitSliderButtonContainerV .dijitSliderDecrementButtonHover,
.umc .dijitSliderButtonContainerH .dijitSliderDecrementButtonHover,
.umc .dijitSliderButtonContainerV .dijitSliderIncrementButtonHover,
.umc .dijitSliderButtonContainerH .dijitSliderIncrementButtonHover
	background-color: $slider-button-hovered-background-color

.umc .dijitSliderButtonContainerV .dijitSliderDecrementButtonActive,
.umc .dijitSliderButtonContainerH .dijitSliderDecrementButtonActive,
.umc .dijitSliderButtonContainerV .dijitSliderIncrementButtonActive,
.umc .dijitSliderButtonContainerH .dijitSliderIncrementButtonActive
	background-color: $slider-button-pressed-background-color
	border-color:$pressed-border-color

.umc .dijitSliderButtonInner
	visibility: hidden

.umc .dijitSliderDisabled .dijitSliderBar
	border-color: $disabled-border-color

.umc .dijitSliderReadOnly *,.umc .dijitSliderDisabled *
	border-color: $disabled-border-color
	color: $disabled-text-color

.umc .dijitSliderReadOnly .dijitSliderDecrementIconH,
.umc .dijitSliderDisabled .dijitSliderDecrementIconH
	background-position:-321px 50%
	background-color:$disabled-background-color

.umc .dijitSliderReadOnly .dijitSliderIncrementIconH,
.umc .dijitSliderDisabled .dijitSliderIncrementIconH
	background-position:-215px 50%
	background-color:$disabled-background-color

.umc .dijitSliderReadOnly .dijitSliderDecrementIconV,
.umc .dijitSliderDisabled .dijitSliderDecrementIconV
	background-position:-3px 49%
	background-color:$disabled-background-color

.umc .dijitSliderReadOnly .dijitSliderIncrementIconV,
.umc .dijitSliderDisabled .dijitSliderIncrementIconV
	background-position:-107px 49%
	background-color:$disabled-background-color

