#!/usr/bin/make -f
#
# Univention Kernel Image 2.6.18
#  rules file for the debian package
#
# Copyright (C) 2006, 2007 Univention GmbH
#
# http://www.univention.de/
#
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 2 as
# published by the Free Software Foundation.
#
# Binary versions of this file provided by Univention to you as
# well as other copyrighted, protected or trademarked materials like
# Logos, graphics, fonts, specific documentations and configurations,
# cryptographic keys etc. are subject to a license agreement between
# you and Univention.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

export DH_COMPAT=4

POWERPC_SOURCE_VERSION=2.6.18
POWERPC_VERSION=2.6.18-ucs57-powerpc
POWERPC_VERSION_64=2.6.18-ucs57-powerpc64
I386_SOURCE_VERSION=2.6.18
I386_VERSION=2.6.18-ucs57-686
I386_VERSION_64=2.6.18-ucs57-686-bigmem
I386_VERSION_XEN=2.6.18-ucs57-xen-686
I386_VERSION_MANAGEDCLIENT=2.6.18-ucs57-686
I386_VERSION_MANAGEDCLIENT_64=2.6.18-ucs57-686-bigmem
I386_VERSION_MOBILECLIENT=2.6.18-ucs57-686
I386_VERSION_MOBILECLIENT_64=2.6.18-ucs57-686-bigmem

DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

ifneq (,$(findstring powerpc-linux,$(DEB_BUILD_GNU_TYPE)))
	SOURCEVERSION=${POWERPC_SOURCE_VERSION}
	KERNELVERSION=${POWERPC_VERSION}
	KERNELVERSION64=${POWERPC_VERSION_64}
else
	SOURCEVERSION=${I386_SOURCE_VERSION}
	KERNELVERSION=${I386_VERSION}
	KERNELVERSION64=${I386_VERSION_64}
	KERNELVERSIONXEN=${I386_VERSION_XEN}
	SOURCEVERSION_MANAGEDCLIENT=${I386_SOURCE_VERSION}
	KERNELVERSION_MANAGEDCLIENT=${I386_VERSION_MANAGEDCLIENT}
	KERNELVERSION_MANAGEDCLIENT64=${I386_VERSION_MANAGEDCLIENT_64}
	SOURCEVERSION_MOBILECLIENT=${I386_SOURCE_VERSION}
	KERNELVERSION_MOBILECLIENT=${I386_VERSION_MOBILECLIENT}
	KERNELVERSION_MOBILECLIENT64=${I386_VERSION_MOBILECLIENT_64}
endif



configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	dh_clean

D=$(CURDIR)/debian/univention-kernel-image

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installexamples
	dh_installmenu
	dh_installcron
	dh_installman
	dh_installinfo
	dh_installchangelogs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps

	# Server kernel packages
	dh_gencontrol -punivention-kernel-image-2.6.18 -u-VF:KernelVersion="${KERNELVERSION}"
	dh_md5sums -punivention-kernel-image-2.6.18
	dh_builddeb -punivention-kernel-image-2.6.18

	dh_gencontrol -punivention-kernel-headers-2.6.18 -u-VF:KernelVersion="${KERNELVERSION}"
	dh_md5sums -punivention-kernel-headers-2.6.18
	dh_builddeb -punivention-kernel-headers-2.6.18

	dh_gencontrol -punivention-kernel-source-2.6.18 -u-VF:KernelVersion="${SOURCEVERSION}"
	dh_md5sums -punivention-kernel-source-2.6.18
	dh_builddeb -punivention-kernel-source-2.6.18

	dh_gencontrol -punivention-kernel-image-2.6 -u-VF:KernelVersion="${KERNELVERSION}"
	dh_md5sums -punivention-kernel-image-2.6
	dh_builddeb -punivention-kernel-image-2.6

	dh_gencontrol -punivention-kernel-image-2.6-64gb -u-VF:KernelVersion="${KERNELVERSION}"
	dh_md5sums -punivention-kernel-image-2.6-64gb
	dh_builddeb -punivention-kernel-image-2.6-64gb

	dh_gencontrol -punivention-kernel-headers-2.6 -u-VF:KernelVersion="${KERNELVERSION}"
	dh_md5sums -punivention-kernel-headers-2.6
	dh_builddeb -punivention-kernel-headers-2.6

	dh_gencontrol -punivention-kernel-headers-2.6-64gb -u-VF:KernelVersion="${KERNELVERSION}"
	dh_md5sums -punivention-kernel-headers-2.6-64gb
	dh_builddeb -punivention-kernel-headers-2.6-64gb

	dh_gencontrol -punivention-kernel-image -u-VF:KernelVersion="${KERNELVERSION}"
	dh_md5sums -punivention-kernel-image
	dh_builddeb -punivention-kernel-image

	dh_gencontrol -punivention-kernel-image-64gb -u-VF:KernelVersion="${KERNELVERSION}"
	dh_md5sums -punivention-kernel-image-64gb
	dh_builddeb -punivention-kernel-image-64gb

	dh_gencontrol -punivention-kernel-headers -u-VF:KernelVersion="${KERNELVERSION}"
	dh_md5sums -punivention-kernel-headers
	dh_builddeb -punivention-kernel-headers

	dh_gencontrol -punivention-kernel-headers-64gb -u-VF:KernelVersion="${KERNELVERSION}"
	dh_md5sums -punivention-kernel-headers-64gb
	dh_builddeb -punivention-kernel-headers-64gb

ifeq (,$(findstring powerpc-linux,$(DEB_BUILD_GNU_TYPE)))
	dh_gencontrol -punivention-avm-capi-fcpci-modules-2.6.18 -u-VF:KernelVersion="${KERNELVERSION}"
	dh_md5sums -punivention-avm-capi-fcpci-modules-2.6.18
	dh_builddeb -punivention-avm-capi-fcpci-modules-2.6.18

	dh_gencontrol -punivention-cpqhealth-modules-2.6.18 -u-VF:KernelVersion="${KERNELVERSION}"
	dh_md5sums -punivention-cpqhealth-modules-2.6.18
	dh_builddeb -punivention-cpqhealth-modules-2.6.18

	dh_gencontrol -punivention-serverview-modules-2.6.18 -u-VF:KernelVersion="${KERNELVERSION}"
	dh_md5sums -punivention-serverview-modules-2.6.18
	dh_builddeb -punivention-serverview-modules-2.6.18

	dh_gencontrol -punivention-fsc-srv-modules-2.6.18 -u-VF:KernelVersion="${KERNELVERSION}"
	dh_md5sums -punivention-fsc-srv-modules-2.6.18
	dh_builddeb -punivention-fsc-srv-modules-2.6.18

	dh_gencontrol -punivention-vmware4-modules-2.6.18 -u-VF:KernelVersion="${KERNELVERSION}"
	dh_md5sums -punivention-vmware4-modules-2.6.18
	dh_builddeb -punivention-vmware4-modules-2.6.18

	dh_gencontrol -punivention-vmware5-modules-2.6.18 -u-VF:KernelVersion="${KERNELVERSION}"
	dh_md5sums -punivention-vmware5-modules-2.6.18
	dh_builddeb -punivention-vmware5-modules-2.6.18

	dh_gencontrol -punivention-vmware-gsx3-modules-2.6.18 -u-VF:KernelVersion="${KERNELVERSION}"
	dh_md5sums -punivention-vmware-gsx3-modules-2.6.18
	dh_builddeb -punivention-vmware-gsx3-modules-2.6.18

	dh_gencontrol -punivention-vmware-server-modules-2.6.18 -u-VF:KernelVersion="${KERNELVERSION}"
	dh_md5sums -punivention-vmware-server-modules-2.6.18
	dh_builddeb -punivention-vmware-server-modules-2.6.18

	dh_gencontrol -punivention-vmware-player-modules-2.6.18 -u-VF:KernelVersion="${KERNELVERSION}"
	dh_md5sums -punivention-vmware-player-modules-2.6.18
	dh_builddeb -punivention-vmware-player-modules-2.6.18
endif

ifeq (,$(findstring powerpc-linux,$(DEB_BUILD_GNU_TYPE)))
	dh_gencontrol -punivention-kernel-image-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION64}"
	dh_md5sums -punivention-kernel-image-2.6.18-64gb
	dh_builddeb -punivention-kernel-image-2.6.18-64gb

	dh_gencontrol -punivention-kernel-image-2.6.18-xen -u-VF:KernelVersionXen="${KERNELVERSIONXEN}"
	dh_md5sums -punivention-kernel-image-2.6.18-xen
	dh_builddeb -punivention-kernel-image-2.6.18-xen

	dh_gencontrol -punivention-kernel-headers-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION64}"
	dh_md5sums -punivention-kernel-headers-2.6.18-64gb
	dh_builddeb -punivention-kernel-headers-2.6.18-64gb

	dh_gencontrol -punivention-kernel-headers-2.6.18-xen -u-VF:KernelVersionXen="${KERNELVERSIONXEN}"
	dh_md5sums -punivention-kernel-headers-2.6.18-xen
	dh_builddeb -punivention-kernel-headers-2.6.18-xen

	dh_gencontrol -punivention-kernel-source-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION64}"
	dh_md5sums -punivention-kernel-source-2.6.18-64gb
	dh_builddeb -punivention-kernel-source-2.6.18-64gb

	dh_gencontrol -punivention-cpqhealth-modules-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION64}"
	dh_md5sums -punivention-cpqhealth-modules-2.6.18-64gb
	dh_builddeb -punivention-cpqhealth-modules-2.6.18-64gb

	dh_gencontrol -punivention-serverview-modules-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION64}"
	dh_md5sums -punivention-serverview-modules-2.6.18-64gb
	dh_builddeb -punivention-serverview-modules-2.6.18-64gb

	dh_gencontrol -punivention-fsc-srv-modules-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION64}"
	dh_md5sums -punivention-fsc-srv-modules-2.6.18-64gb
	dh_builddeb -punivention-fsc-srv-modules-2.6.18-64gb

	dh_gencontrol -punivention-vmware4-modules-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION64}"
	dh_md5sums -punivention-vmware4-modules-2.6.18-64gb
	dh_builddeb -punivention-vmware4-modules-2.6.18-64gb

	dh_gencontrol -punivention-vmware5-modules-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION64}"
	dh_md5sums -punivention-vmware5-modules-2.6.18-64gb
	dh_builddeb -punivention-vmware5-modules-2.6.18-64gb

	dh_gencontrol -punivention-vmware-gsx3-modules-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION64}"
	dh_md5sums -punivention-vmware-gsx3-modules-2.6.18-64gb
	dh_builddeb -punivention-vmware-gsx3-modules-2.6.18-64gb

	dh_gencontrol -punivention-vmware-server-modules-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION64}"
	dh_md5sums -punivention-vmware-server-modules-2.6.18-64gb
	dh_builddeb -punivention-vmware-server-modules-2.6.18-64gb

	dh_gencontrol -punivention-vmware-player-modules-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION64}"
	dh_md5sums -punivention-vmware-player-modules-2.6.18-64gb
	dh_builddeb -punivention-vmware-player-modules-2.6.18-64gb
endif

ifeq (,$(findstring powerpc-linux,$(DEB_BUILD_GNU_TYPE)))
	# Mobileclient kernel packages
	dh_gencontrol -punivention-kernel-image-mobileclient-2.6.18 -u-VF:KernelVersion="${KERNELVERSION_MOBILECLIENT}"
	dh_md5sums -punivention-kernel-image-mobileclient-2.6.18
	dh_builddeb -punivention-kernel-image-mobileclient-2.6.18

	dh_gencontrol -punivention-kernel-headers-mobileclient-2.6.18 -u-VF:KernelVersion="${KERNELVERSION_MOBILECLIENT}"
	dh_md5sums -punivention-kernel-headers-mobileclient-2.6.18
	dh_builddeb -punivention-kernel-headers-mobileclient-2.6.18

	dh_gencontrol -punivention-kernel-source-mobileclient-2.6.18 -u-VF:KernelVersion="${SOURCEVERSION_MOBILECLIENT}"
	dh_md5sums -punivention-kernel-source-mobileclient-2.6.18
	dh_builddeb -punivention-kernel-source-mobileclient-2.6.18

	dh_gencontrol -punivention-avm-capi-fcpci-modules-mobileclient-2.6.18 -u-VF:KernelVersion="${KERNELVERSION_MOBILECLIENT}"
	dh_md5sums -punivention-avm-capi-fcpci-modules-mobileclient-2.6.18
	dh_builddeb -punivention-avm-capi-fcpci-modules-mobileclient-2.6.18

	dh_gencontrol -punivention-cpqhealth-modules-mobileclient-2.6.18 -u-VF:KernelVersion="${KERNELVERSION_MOBILECLIENT}"
	dh_md5sums -punivention-cpqhealth-modules-mobileclient-2.6.18
	dh_builddeb -punivention-cpqhealth-modules-mobileclient-2.6.18

	dh_gencontrol -punivention-serverview-modules-mobileclient-2.6.18 -u-VF:KernelVersion="${KERNELVERSION_MOBILECLIENT}"
	dh_md5sums -punivention-serverview-modules-mobileclient-2.6.18
	dh_builddeb -punivention-serverview-modules-mobileclient-2.6.18

	dh_gencontrol -punivention-fsc-srv-modules-mobileclient-2.6.18 -u-VF:KernelVersion="${KERNELVERSION_MOBILECLIENT}"
	dh_md5sums -punivention-fsc-srv-modules-mobileclient-2.6.18
	dh_builddeb -punivention-fsc-srv-modules-mobileclient-2.6.18

	dh_gencontrol -punivention-vmware4-modules-mobileclient-2.6.18 -u-VF:KernelVersion="${KERNELVERSION_MOBILECLIENT}"
	dh_md5sums -punivention-vmware4-modules-mobileclient-2.6.18
	dh_builddeb -punivention-vmware4-modules-mobileclient-2.6.18

	dh_gencontrol -punivention-vmware5-modules-mobileclient-2.6.18 -u-VF:KernelVersion="${KERNELVERSION_MOBILECLIENT}"
	dh_md5sums -punivention-vmware5-modules-mobileclient-2.6.18
	dh_builddeb -punivention-vmware5-modules-mobileclient-2.6.18

	dh_gencontrol -punivention-vmware-gsx3-modules-mobileclient-2.6.18 -u-VF:KernelVersion="${KERNELVERSION_MOBILECLIENT}"
	dh_md5sums -punivention-vmware-gsx3-modules-mobileclient-2.6.18
	dh_builddeb -punivention-vmware-gsx3-modules-mobileclient-2.6.18

	dh_gencontrol -punivention-vmware-server-modules-mobileclient-2.6.18 -u-VF:KernelVersion="${KERNELVERSION_MOBILECLIENT}"
	dh_md5sums -punivention-vmware-server-modules-mobileclient-2.6.18
	dh_builddeb -punivention-vmware-server-modules-mobileclient-2.6.18

	dh_gencontrol -punivention-vmware-player-modules-mobileclient-2.6.18 -u-VF:KernelVersion="${KERNELVERSION_MOBILECLIENT}"
	dh_md5sums -punivention-vmware-player-modules-mobileclient-2.6.18
	dh_builddeb -punivention-vmware-player-modules-mobileclient-2.6.18

	dh_gencontrol -punivention-kernel-image-mobileclient-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION_MOBILECLIENT64}"
	dh_md5sums -punivention-kernel-image-mobileclient-2.6.18-64gb
	dh_builddeb -punivention-kernel-image-mobileclient-2.6.18-64gb

	dh_gencontrol -punivention-kernel-headers-mobileclient-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION_MOBILECLIENT64}"
	dh_md5sums -punivention-kernel-headers-mobileclient-2.6.18-64gb
	dh_builddeb -punivention-kernel-headers-mobileclient-2.6.18-64gb

	dh_gencontrol -punivention-kernel-source-mobileclient-2.6.18-64gb -u-VF:KernelVersion64="${SOURCEVERSION_MOBILECLIENT64}"
	dh_md5sums -punivention-kernel-source-mobileclient-2.6.18-64gb
	dh_builddeb -punivention-kernel-source-mobileclient-2.6.18-64gb

	dh_gencontrol -punivention-cpqhealth-modules-mobileclient-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION_MOBILECLIENT64}"
	dh_md5sums -punivention-cpqhealth-modules-mobileclient-2.6.18-64gb
	dh_builddeb -punivention-cpqhealth-modules-mobileclient-2.6.18-64gb

	dh_gencontrol -punivention-serverview-modules-mobileclient-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION_MOBILECLIENT64}"
	dh_md5sums -punivention-serverview-modules-mobileclient-2.6.18-64gb
	dh_builddeb -punivention-serverview-modules-mobileclient-2.6.18-64gb

	dh_gencontrol -punivention-fsc-srv-modules-mobileclient-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION_MOBILECLIENT64}"
	dh_md5sums -punivention-fsc-srv-modules-mobileclient-2.6.18-64gb
	dh_builddeb -punivention-fsc-srv-modules-mobileclient-2.6.18-64gb

	dh_gencontrol -punivention-vmware4-modules-mobileclient-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION_MOBILECLIENT64}"
	dh_md5sums -punivention-vmware4-modules-mobileclient-2.6.18-64gb
	dh_builddeb -punivention-vmware4-modules-mobileclient-2.6.18-64gb

	dh_gencontrol -punivention-vmware5-modules-mobileclient-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION_MOBILECLIENT64}"
	dh_md5sums -punivention-vmware5-modules-mobileclient-2.6.18-64gb
	dh_builddeb -punivention-vmware5-modules-mobileclient-2.6.18-64gb

	dh_gencontrol -punivention-vmware-gsx3-modules-mobileclient-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION_MOBILECLIENT64}"
	dh_md5sums -punivention-vmware-gsx3-modules-mobileclient-2.6.18-64gb
	dh_builddeb -punivention-vmware-gsx3-modules-mobileclient-2.6.18-64gb

	dh_gencontrol -punivention-vmware-server-modules-mobileclient-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION_MOBILECLIENT64}"
	dh_md5sums -punivention-vmware-server-modules-mobileclient-2.6.18-64gb
	dh_builddeb -punivention-vmware-server-modules-mobileclient-2.6.18-64gb

	dh_gencontrol -punivention-vmware-player-modules-mobileclient-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION_MOBILECLIENT64}"
	dh_md5sums -punivention-vmware-player-modules-mobileclient-2.6.18-64gb
	dh_builddeb -punivention-vmware-player-modules-mobileclient-2.6.18-64gb
endif

ifeq (,$(findstring powerpc-linux,$(DEB_BUILD_GNU_TYPE)))
	# Managedclient kernel packages
	dh_gencontrol -punivention-kernel-image-managedclient-2.6.18 -u-VF:KernelVersion="${KERNELVERSION_MANAGEDCLIENT}"
	dh_md5sums -punivention-kernel-image-managedclient-2.6.18
	dh_builddeb -punivention-kernel-image-managedclient-2.6.18

	dh_gencontrol -punivention-kernel-headers-managedclient-2.6.18 -u-VF:KernelVersion="${KERNELVERSION_MANAGEDCLIENT}"
	dh_md5sums -punivention-kernel-headers-managedclient-2.6.18
	dh_builddeb -punivention-kernel-headers-managedclient-2.6.18

	dh_gencontrol -punivention-kernel-source-managedclient-2.6.18 -u-VF:KernelVersion="${SOURCEVERSION_MANAGEDCLIENT}"
	dh_md5sums -punivention-kernel-source-managedclient-2.6.18
	dh_builddeb -punivention-kernel-source-managedclient-2.6.18

	dh_gencontrol -punivention-avm-capi-fcpci-modules-managedclient-2.6.18 -u-VF:KernelVersion="${KERNELVERSION_MANAGEDCLIENT}"
	dh_md5sums -punivention-avm-capi-fcpci-modules-managedclient-2.6.18
	dh_builddeb -punivention-avm-capi-fcpci-modules-managedclient-2.6.18

	dh_gencontrol -punivention-cpqhealth-modules-managedclient-2.6.18 -u-VF:KernelVersion="${KERNELVERSION_MANAGEDCLIENT}"
	dh_md5sums -punivention-cpqhealth-modules-managedclient-2.6.18
	dh_builddeb -punivention-cpqhealth-modules-managedclient-2.6.18

	dh_gencontrol -punivention-serverview-modules-managedclient-2.6.18 -u-VF:KernelVersion="${KERNELVERSION_MANAGEDCLIENT}"
	dh_md5sums -punivention-serverview-modules-managedclient-2.6.18
	dh_builddeb -punivention-serverview-modules-managedclient-2.6.18

	dh_gencontrol -punivention-fsc-srv-modules-managedclient-2.6.18 -u-VF:KernelVersion="${KERNELVERSION_MANAGEDCLIENT}"
	dh_md5sums -punivention-fsc-srv-modules-managedclient-2.6.18
	dh_builddeb -punivention-fsc-srv-modules-managedclient-2.6.18

	dh_gencontrol -punivention-vmware4-modules-managedclient-2.6.18 -u-VF:KernelVersion="${KERNELVERSION_MANAGEDCLIENT}"
	dh_md5sums -punivention-vmware4-modules-managedclient-2.6.18
	dh_builddeb -punivention-vmware4-modules-managedclient-2.6.18

	dh_gencontrol -punivention-vmware5-modules-managedclient-2.6.18 -u-VF:KernelVersion="${KERNELVERSION_MANAGEDCLIENT}"
	dh_md5sums -punivention-vmware5-modules-managedclient-2.6.18
	dh_builddeb -punivention-vmware5-modules-managedclient-2.6.18

	dh_gencontrol -punivention-vmware-gsx3-modules-managedclient-2.6.18 -u-VF:KernelVersion="${KERNELVERSION_MANAGEDCLIENT}"
	dh_md5sums -punivention-vmware-gsx3-modules-managedclient-2.6.18
	dh_builddeb -punivention-vmware-gsx3-modules-managedclient-2.6.18

	dh_gencontrol -punivention-vmware-server-modules-managedclient-2.6.18 -u-VF:KernelVersion="${KERNELVERSION_MANAGEDCLIENT}"
	dh_md5sums -punivention-vmware-server-modules-managedclient-2.6.18
	dh_builddeb -punivention-vmware-server-modules-managedclient-2.6.18

	dh_gencontrol -punivention-vmware-player-modules-managedclient-2.6.18 -u-VF:KernelVersion="${KERNELVERSION_MANAGEDCLIENT}"
	dh_md5sums -punivention-vmware-player-modules-managedclient-2.6.18
	dh_builddeb -punivention-vmware-player-modules-managedclient-2.6.18

	dh_gencontrol -punivention-kernel-image-managedclient-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION_MANAGEDCLIENT64}"
	dh_md5sums -punivention-kernel-image-managedclient-2.6.18-64gb
	dh_builddeb -punivention-kernel-image-managedclient-2.6.18-64gb

	dh_gencontrol -punivention-kernel-headers-managedclient-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION_MANAGEDCLIENT64}"
	dh_md5sums -punivention-kernel-headers-managedclient-2.6.18-64gb
	dh_builddeb -punivention-kernel-headers-managedclient-2.6.18-64gb

	dh_gencontrol -punivention-kernel-source-managedclient-2.6.18-64gb -u-VF:KernelVersion64="${SOURCEVERSION_MANAGEDCLIENT64}"
	dh_md5sums -punivention-kernel-source-managedclient-2.6.18-64gb
	dh_builddeb -punivention-kernel-source-managedclient-2.6.18-64gb

	dh_gencontrol -punivention-cpqhealth-modules-managedclient-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION_MANAGEDCLIENT64}"
	dh_md5sums -punivention-cpqhealth-modules-managedclient-2.6.18-64gb
	dh_builddeb -punivention-cpqhealth-modules-managedclient-2.6.18-64gb

	dh_gencontrol -punivention-serverview-modules-managedclient-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION_MANAGEDCLIENT64}"
	dh_md5sums -punivention-serverview-modules-managedclient-2.6.18-64gb
	dh_builddeb -punivention-serverview-modules-managedclient-2.6.18-64gb

	dh_gencontrol -punivention-fsc-srv-modules-managedclient-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION_MANAGEDCLIENT64}"
	dh_md5sums -punivention-fsc-srv-modules-managedclient-2.6.18-64gb
	dh_builddeb -punivention-fsc-srv-modules-managedclient-2.6.18-64gb

	dh_gencontrol -punivention-vmware4-modules-managedclient-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION_MANAGEDCLIENT64}"
	dh_md5sums -punivention-vmware4-modules-managedclient-2.6.18-64gb
	dh_builddeb -punivention-vmware4-modules-managedclient-2.6.18-64gb

	dh_gencontrol -punivention-vmware5-modules-managedclient-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION_MANAGEDCLIENT64}"
	dh_md5sums -punivention-vmware5-modules-managedclient-2.6.18-64gb
	dh_builddeb -punivention-vmware5-modules-managedclient-2.6.18-64gb

	dh_gencontrol -punivention-vmware-gsx3-modules-managedclient-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION_MANAGEDCLIENT64}"
	dh_md5sums -punivention-vmware-gsx3-modules-managedclient-2.6.18-64gb
	dh_builddeb -punivention-vmware-gsx3-modules-managedclient-2.6.18-64gb

	dh_gencontrol -punivention-vmware-server-modules-managedclient-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION_MANAGEDCLIENT64}"
	dh_md5sums -punivention-vmware-server-modules-managedclient-2.6.18-64gb
	dh_builddeb -punivention-vmware-server-modules-managedclient-2.6.18-64gb

	dh_gencontrol -punivention-vmware-player-modules-managedclient-2.6.18-64gb -u-VF:KernelVersion64="${KERNELVERSION_MANAGEDCLIENT64}"
	dh_md5sums -punivention-vmware-player-modules-managedclient-2.6.18-64gb
	dh_builddeb -punivention-vmware-player-modules-managedclient-2.6.18-64gb
endif



binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
