[Desktop Entry]
Comment=
Exec=gimp
GenericName=
Icon=gimp
Name=The GIMP
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
