[Desktop Entry]
Comment=
Exec=xine
GenericName=
Icon=multimedia
Name=Xine Media Player
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
