Source: univention-kernel-image-signed
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.2

Package: kernel-image-4.9.0-11-amd64-di-signed
Architecture: amd64
Section: debian-installer
Package-Type: udeb
Description: UCS - Linux kernel (standard)
 This package provides the signed version of:
 .
 The Linux kernel 4.9 and modules for use on PCs with AMD64, Intel 64 or
 VIA Nano processors.
 .
 This kernel also runs on a Xen hypervisor.  It supports both privileged
 (dom0) and unprivileged (domU) operation.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: linux-image-4.9.0-11-amd64-signed
Architecture: amd64
Depends: linux-image-4.9.0-11-amd64 (= 4.9.189-3+deb9u2),
Description: UCS - Linux kernel (standard)
 This package provides the signed version of:
 .
 The Linux kernel 4.9 and modules for use on PCs with AMD64, Intel 64 or
 VIA Nano processors.
 .
 This kernel also runs on a Xen hypervisor.  It supports both privileged
 (dom0) and unprivileged (domU) operation.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: linux-image-4.9.0-11-686-pae-signed
Architecture: i386
Depends: linux-image-4.9.0-11-686-pae (= 4.9.189-3+deb9u2),
Description: UCS - Linux kernel (standard)
 This package depends on the unsigned version of:
 .
 The Linux kernel 4.9 and modules for use on PCs with one or more
 processors supporting PAE.
 .
 This kernel requires PAE (Physical Address Extension). This feature is
 supported by the Intel Pentium Pro/II/III/4/4M/D, Xeon, Core and Atom; AMD
 Geode NX, Athlon (K7), Duron, Opteron, Sempron, Turion or Phenom;
 Transmeta Efficeon; VIA C7; and some other processors.
 .
 This kernel also runs on a Xen hypervisor.  It supports both privileged
 (dom0) and unprivileged (domU) operation.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
