Source: univention-scalix
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper, univention-config-dev
Standards-Version: 3.5.5

Package: univention-scalix
Architecture: all
Pre-Depends: scalix-univention-server (>= 11), sendmail, univention-scalix-tomcat
Depends: univention-directory-manager-tools, scalix-res (>= 11), scalix-sac (>= 11), scalix-univention-server (>= 11), scalix-swa (>= 11), scalix-mobile (>= 11), scalix-platform (>= 11), scalix-postgres (>= 11), scalix-sis (>= 11), scalix-tomcat (>= 5.5.16-44), scalix-tomcat-connector (>= 11), sendmail, libapache2-mod-jk, univention-ldap-config (>=1.43-10), python-univention-directory-manager, sun-j2re1.5, univention-apache (>= 2.0.15-2), univention-config-registry (>=1.54-46), univention-system-setup, stunnel
Conflicts: pop3-server, imap-server, cyrus-common, cyrus21-common, cyrus22-common, exim4, exim4-base, exim4-config
Suggests: univention-admin-scalix
Description: univention package for installation of scalix groupware
 -
 Meta package for installation and configuration of the Scalix
 groupware solution. This can be installed on any type of UCS
 system, but the package univention-admin-scalix has to be
 installed on the UCS Master (and preferably all UCS Backup)
 systems.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-scalix-tomcat
Architecture: all
Depends: scalix-tomcat (>= 5.5.16-44)
Description: univention package for integration of scalix tomcat
 -
 Package for adaption of the Scalix tomcat component to
 the default apache2 webserver configuration as used by Univention.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
