Source: univention-debug
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.5.5
Build-Depends: debhelper, autoconf, automake1.4, libtool, python, python-all-dev, python-central
XS-Python-Version: all

Package: libunivention-debug0
Architecture: any
Depends: ${shlibs:Depends}
Description: UCS - debugging and logging library
 This package includes the Univention debugging and logging
 library.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: libunivention-debug-dev
Architecture: all
Depends: libunivention-debug0
Description: UCS - debugging and logging library (development files)
 This package includes the development files for the
 Univention debugging and logging  library.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/


Package: python-univention-debug
Architecture: any
Replaces: python2.3-univention-debug, python2.4-univention-debug,
Conflicts: python2.3-univention-debug, python2.4-univention-debug,
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: UCS - debugging and logging library (Python interface)
 This package includes the Python interface to the
 Univention debugging and logging  library.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-debug-tools
Architecture: all
Depends: python
Description: UCS - tools for debugging and logging data
 This package contains the univention-viewlog tool to
 filter and view log files from the Univention debugging
 and logging library.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
