/*
@%@UCRWARNING= * @%@
 */

@import url("umc.real.css");
@!@
from univention.app_appliance import Apps, get_luminance
app = Apps().find(configRegistry.get('umc/web/appliance/id', ''))

# get app color values
css_background = app and app.appliance_css_background
secondary_color = app and app.appliance_secondary_color
primary_color = app and app.appliance_primary_color

# only print these CSS rules when appliance mode is enabled
if app and configRegistry.is_true('system/setup/boot/start') and css_background and secondary_color and primary_color:
	# decide which font/icon colors to take
	if get_luminance(primary_color) > .5:
		font_color = '#000'
		icon_color = ''
	else:
		font_color = '#fff'
		icon_color = '-white'

	print '''
/* style UMC for the app appliance branding during the setup process */

body.umc {
background: %(css_background)s;
}

.umc #umcFakeLoginLogo,
.umc .umcHeader .umcHeaderLeft {
background-image: url(images/appliance_header_logo.svg);
background-size: auto 50%%;
}

body.umc.umcHeadless #umcHeader {
border-bottom-color: %(secondary_color)s;
}

.umc #umcLanguageSwitch .dijitButtonNode .dijitArrowButtonInner {
background-image: url("images/icons%(icon_color)s.svg");
}

.umc #umcLanguageSwitch .dijitButtonText {
color: %(font_color)s;
}

.umc #umcSingleSignOn {
display: none;
}

body.umc.umcHeadless .umcTopContainer {
background: %(primary_color)s;
}

#umcLoginDialog.umcLoginLoading, .umcLoginDialog.umcLoginLoading {
/*background-image: none;*/
}
''' % {
	'css_background': css_background,
	'icon_color': icon_color,
	'font_color': font_color,
	'primary_color': primary_color,
	'secondary_color': secondary_color
}
@!@
