/* Select
 * 
 * Styling Select mainly includes:
 * 
 * 1. Containers
 * 		.dijitSelect - for border, background-color
 * 		.dijitButtonContents - for border
 *
 * 2. Arrow
 * 		.dijitArrowButton - for border, padding and background-color|image
 * 		.dijitArrowButtonInner - for border, background-color|image, display and width|height
 * 
 * 3. Menu
 * 		.dijitSelectMenu .* - for border, padding
 * 
 * 4. Various states
 * 		.dijitSelectHover|.dijitSelectFocused|.dijitSelectDisabled .* - for border, padding and background-color|image 
 */

@import "../variables";

.umc .dijitSelect {
	width: 100%;

	.dijitButtonText {
		font-size: $font-size-medium;
		color: $text-color;
		padding: 0;
	}

	.dijitButtonContents {
		border: none;
	}
}

/* normal status */
.claro .dijitSelect .dijitArrowButtonContainer {
	//border: 1px solid $arrowbutton-inner-border-color;
	border: none;
	width: $width-icon;
}

.claro .dijitSelect .dijitArrowButton {
	padding: 0;
	//background-color: $arrowbutton-background-color;
	//standard-gradient("../");
}

.claro .dijitSelect .dijitArrowButton .dijitArrowButtonInner {
	//height:16px;
	opacity: 1;
	margin-top: 0;
}

/* hover status */
.claro .dijitSelectHover {
	//background-color: $textbox-hovered-background-color;
	//textbox-background-image();
	//background-repeat: repeat-x;
}

.claro .dijitSelectHover .dijitArrowButton {
	//background-color:$arrowbutton-hovered-background-color;
}

.claro .dijitSelectHover .dijitArrowButton .dijitArrowButtonInner {
	background-position: -20px 0;
	opacity: 0.66;
}

/* focused status */
.claro .dijitSelectFocused .dijitArrowButton {
	//background-color:#7dbefa;		// TODO.  Mailed Jason about inconsistent ComboBox/Spinner behavior.
	//active-gradient("../");
}

.claro .dijitSelectFocused .dijitArrowButton {
	border: none;
	//padding: 1px;
}

.claro .dijitSelectFocused .dijitArrowButton .dijitArrowButtonInner {
	background-position: -20px 0;
	opacity: 1;
}

/* disable status */
.claro .dijitSelectDisabled {
	border-color: $disabled-border-color;
	background-color: $disabled-background-color;
	background-image: none;
	color: $disabled-text-color;
}

.claro .dijitSelectDisabled .dijitArrowButton .dijitArrowButtonInner {
	background-position: 0 0;
	opacity: 0.5;
}

/* Dropdown menu style for select */
.claro .dijitSelectMenu td.dijitMenuItemIconCell,
.claro .dijitSelectMenu td.dijitMenuArrowCell { 
	/* so that arrow and icon cells from MenuItem are not displayed */
	display: none;  
}

.claro .dijitSelectMenu td.dijitMenuItemLabel {
	/* line up menu text with text in select box (in LTR and RTL modes) */
	padding: $textbox-padding;
}

.claro .dijitSelectMenu .dijitMenuSeparatorTop {
	border-bottom:1px solid $focused-border-color;
}
