# TODO: Our vision is to move over time to the usage of "poetry" and
# benefit from it's lock file mechanism.
#
# Important! The versions in this file match the versions which are in use on a
# UCS system. We do keep this at least until the App Center integration has been
# implemented.

pytest==7.2.0
pytest-cov==4.0.0
pytest-mock==1.7.1
requests-mock==1.10.0
python-dateutil==2.7.3
pytest-tornado==0.8.1

