[Unit]
Description=Univention Portal server
After=apache2.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/usr/sbin/univention-portal-server
Restart=on-failure
