Source: univention-foomatic-ppds
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends:
 debhelper-compat (=13),
Standards-Version: 3.8.2

Package: univention-foomatic-ppds
Architecture: all
Depends:
 foomatic-db-compressed-ppds,
 ${misc:Depends},
Description: UCS transitional dummy package
 This packages provides foomatic printer ppds. It can be savely removed.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
