Source: papersize
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends:
 debhelper-compat (= 13),
 univention-config-dev (>= 15.0.3),
Standards-Version: 4.3.0.3

Package: papersize
Architecture: all
Depends:
 ${misc:Depends},
Description: An example package to configure the papersize
 This purpose of this package is to show how Univention Config
 Registry is used.
 .
 For more information about UCS, refer to:
 https://www.univention.de/
