#!/usr/bin/make -f

override_dh_strip:
	dh_strip --dbg-package=crudesaml-dbg

override_dh_auto_install:
	dh_auto_install --destdir=debian/crudesaml

override_dh_installdocs:
	dh_installdocs --link-doc=crudesaml

%:
	dh $@
