# SPDX-FileCopyrightText: 2021-2024 Univention GmbH
#
# SPDX-License-Identifier: AGPL-3.0-only

Sphinx
sphinx-autobuild
sphinx-sitemap
sphinx-copybutton
sphinx-last-updated-by-git

univention-sphinx-book-theme
univention-sphinx-extension

--extra-index-url https://git.knut.univention.de/api/v4/projects/529/packages/pypi/simple
--extra-index-url https://git.knut.univention.de/api/v4/projects/537/packages/pypi/simple

