#!/usr/bin/make -f
# -*- makefile -*-
#
# Univention Directory Manager Example Module
#  rules file for creating the deb package
#
# Copyright 2010-2011 Univention GmbH
#
# http://www.univention.de/
#
# All rights reserved.
#
# The source code of this program is made available
# under the terms of the GNU Affero General Public License version 3
# (GNU AGPL V3) as published by the Free Software Foundation.
#
# Binary versions of this program provided by Univention to you as
# well as other copyrighted, protected or trademarked materials like
# Logos, graphics, fonts, specific documentations and configurations,
# cryptographic keys etc. are subject to a license agreement between
# you and Univention and not subject to the GNU AGPL V3.
#
# In the case you use this program under the terms of the GNU AGPL V3,
# the program is provided in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public
# License with the Debian GNU/Linux or Univention distribution in file
# /usr/share/common-licenses/AGPL-3; if not, see
# <http://www.gnu.org/licenses/>.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
#export DH_OPTIONS

PACKAGE_NAME = univention-directory-manager-module-example

D  := debian/${PACKAGE_NAME}
DS := debian/${PACKAGE_NAME}-schema

PYVERS := $(shell pyversions -vr)

PO_FILES := $(shell find modules -name '*.po')
MO_FILES := $(PO_FILES:%.po=%.mo)

%.mo:	%.po
	msgfmt -o $@ $<

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch $@

build: configure-stamp build-stamp
build-stamp: $(MO_FILES)
	dh_testdir
	touch $@

clean:
	dh_testdir
	dh_clean
	$(RM) build-stamp configure-stamp
	$(RM) debian/*.conffiles
	$(RM) $(MO_FILES)
	$(RM) *~

install: build-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Install Schema for Univention Directory Manager Module into Schema Package

	install -m 0644 schema/ip-phone.schema ${DS}/usr/share/univention-ldap/schema/

	# Install Univention Directory Manager Modules

	@for i in $(shell find modules/univention/admin/ -name '*.py'); do\
		o=${D}/usr/share/pyshared/$${i#modules/};\
		install -d "`dirname "$$o"`";\
		install -m755 "$$i" "$$o";\
	done
	@for i in `find modules/univention/admin/handlers/ -name "*.png" -o -name "*.gif"`; do\
		o=${D}/usr/share/univention-webui-style/icon/$${i#modules/univention/admin/handlers/};\
		install -d "`dirname "$$o"`";\
		install -m 644 "$$i" "$$o";\
	done
	@for i in $(MO_FILES); do\
		lang=`basename "$$i" .mo`;\
		domain=`dirname "$$i" | sed 's,^modules/,,;s,/,-,g'`;\
		o=${D}/usr/share/locale/$$lang/LC_MESSAGES/$$domain.mo;\
		install -d "`dirname "$$o"`";\
		install -m 644 "$$i" "$$o";\
	done

	# Install example script

	install -m 0755 scripts/ip-phone-tool ${D}/usr/sbin/

	dh_install --exclude=".svn"

	# Install conffiles registered in debian/*.univention-config-registry
	univention-install-config-registry
	# Install Univention Config Registry Info files debian/*.univention-config-registry-variables
	univention-install-config-registry-info

binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installchangelogs -i
	dh_pycentral
	dh_shlibdeps
	dh_md5sums
	dh_gencontrol
	dh_installdeb
	dh_builddeb

binary-arch: build install

binary: binary-arch binary-indep
.PHONY: build clean binary-indep binary-arch binary install configure
