Source: xen-4.1
Section: misc
Priority: extra
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 4.1.0.0
Build-Depends: debhelper (>> 7),
XS-Python-Version: all

Package: xen-4.1
Architecture: any
Depends: ${misc:Depends},
 libxenstore3.0 (>= 4.1.6.1),
 libxen-4.1 (>= 4.1.6.1),
 xenstore-utils (>= 4.1.6.1),
 xen-utils-4.1 (>= 4.1.6.1),
 xen-hypervisor-4.1-${Arch} (>= 4.1.6.1) | xen-hypervisor-4.1-amd64 (>= 4.1.6.1) | xen-hypervisor-4.1-i386 (>= 4.1.6.1),,
Description: Xen Hypervisor - transition package
 Server Virtualization with the Xen Hypervisor

Package: libxen4.1
Architecture: all
Description: Xen Hypervisor - transition package
 Server Virtualization with the Xen Hypervisor

Package: xen-4.1-dbg
Architecture: all
Description: Xen Hypervisor - transition package
 Server Virtualization with the Xen Hypervisor
