Source: univention-directory-listener
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.5.5
Build-Depends: debhelper (>= 9),
 ucslint-univention,
 libssl-dev,
 libldap2-dev,
 liblmdb-dev,
 libdb3-dev,
 python-all-dev,
 libunivention-debug-dev (>= 0.8),
 libunivention-config-dev,
 libunivention-policy-dev,
 univention-config-dev,
 libunivention-policy-dev,
 libicu-dev,

Package: univention-directory-listener
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 ${python:Depends},
 univention-base-files,
 shell-univention-lib (>= 1.0.6),
 univention-runit,
 python2.7-univention,
 python2.7-univention-debug,
 python-univention-lib (>= 1.0.25-1)
Suggests: lmdb-utils
Conflicts: univention-ldap-listener (<< 2.2.2)
Description: UCS - Directory Listener
 UCS Directory Listener is a client for the UCS
 Directory Notifier which calls Python handlers upon changes. By
 keeping a local cache, it can detect the change of single
 attributes and only run the appropriate handlers, providing
 both, the old and new objects to the handler. Through
 modules, all sort of functionality such as LDAP replication
 or host specific configuration files can be implemented.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-directory-listener-dbg
Architecture: any
Section: debug
Priority: extra
Depends: univention-directory-listener (= ${binary:Version}),
 ${misc:Depends}
Description: debugging symbols for univention-directory-listener
 UCS Directory Listener is a client for the UCS Directory Notifier which calls
 Python handlers upon changes.
 .
 This package contains the debugging symbols for univention-directory-listener.

Package: univention-directory-listener-async
Architecture: any
Depends: univention-directory-listener (= ${binary:Version}),
 ${misc:Depends},
 ${python:Depends},
 python-univention,
 python-univention-debug,
 memcached,
 python-pylibmc,
 univention-celery
Description: UCS - Directory Listener asynchronous module support
 API and shared variable support for creating asynchronous and parallel
 listener modules.
