Source: univention-net-installer
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper,
 univention-config-dev,
 ucslint
Standards-Version: 3.8.2

Package: univention-net-installer
Architecture: all
Depends: ${misc:Depends},
 univention-directory-manager-tools (>> 7.0.147),
 univention-tftp,
 univention-config-registry
Description: UCS - automatic profile-based installation services
 This package contain the packages for the profile-based installation
 of UCS systems.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
