#!/usr/bin/make -f
#
# univention-net-installer
#  rules file for the meta package
#
# SPDX-FileCopyrightText: 2004-2025 Univention GmbH
# SPDX-License-Identifier: AGPL-3.0-only

%:
	dh $@ --with ucr
