Source: univention-directory-reports
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.5.5
Build-Depends: debhelper (>> 7),
 ucslint,
 python2.6-dev,
 python-support,
 univention-config-dev

Package: univention-directory-reports
Architecture: all
Depends: ${misc:Depends},
 python-univention-directory-reports,
 shell-univention-lib,
 texlive,
 texlive-latex-recommended,
 texlive-latex-extra,
 texlive-lang-german,
 python-univention-lib (>= 1.0.25-1)
Description: Creates reports for UCS Directory Manager objects
 UCS Report Generator creates reports in PDF format using
 LaTeX template files that contain a special template syntax to
 describe LDAP attributes and objects that should replace the patterns.

Package: python-univention-directory-reports
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 python-univention-directory-manager,
 univention-config-registry
Provides: ${python:Provides}
Description: Creates reports for UCS Directory manager objects
 UCS Report Generator creates reports in PDF format using
 LaTeX template files that contain a special template syntax to
 describe LDAP attributes and objects that should replace the patterns.
