Source: univention-directory-reports
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.8.2
Build-Depends: debhelper (>= 9),
 ucslint-univention,
 dh-python,
 python-all,
 python3-all,
 univention-config-dev

Package: univention-directory-reports
Architecture: all
Depends:
 ${misc:Depends},
 python-univention-directory-reports,
 shell-univention-lib,
 python-univention-lib (>= 1.0.25-1),
Description: Creates reports for UCS Directory Manager objects
 UCS Report Generator creates reports in PDF format using
 template files that contain a special template syntax to
 describe LDAP attributes and objects that should replace the patterns.

Package: python-univention-directory-reports
Architecture: all
Depends:
 ${misc:Depends}, ${python:Depends},
 python-univention-directory-manager,
 univention-config,
 python-trml2pdf,
Provides: ${python:Provides}
Description: Creates reports for UCS Directory manager objects
 UCS Report Generator creates reports in PDF format using
 RML template files that contain a special template syntax to
 describe LDAP attributes and objects that should replace the patterns.

Package: python3-univention-directory-reports
Architecture: all
Depends:
 ${misc:Depends}, ${python3:Depends},
 python3-univention-directory-manager,
 univention-config,
 python3-trml2pdf,
Provides: ${python3:Provides}
Description: Creates reports for UCS Directory manager objects
 UCS Report Generator creates reports in PDF format using
 RML template files that contain a special template syntax to
 describe LDAP attributes and objects that should replace the patterns.

Package: univention-directory-reports-latex
Architecture: all
Depends:
 univention-directory-reports,
 univention-config,
 texlive,
 texlive-latex-recommended,
 texlive-latex-extra,
 texlive-lang-german,
Description: Creates reports for UCS Directory manager objects
 UCS Report Generator creates reports in PDF format using
 LaTeX template files that contain a special template syntax to
 describe LDAP attributes and objects that should replace the patterns.
