Source: sork-passwd
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.5.5
Build-Depends: debhelper, quilt

Package: sork-passwd
Architecture: all
Depends: horde | horde-webmailer
Description: password change component for horde framework
 Passwd is the Horde password changing application.
 .
 There is a list of Horde applications and projects at
 http://www.horde.org/projects.php.

