/**
 * $Horde: imp/themes/simplex/screen.css,v 1.1.10.1 2007-12-20 14:00:53 jan Exp $
 */

.important, .flagged {
    background-color: #EBC2C2;
}
.unseen {
    background-color: #D3D3D3;
}
.answered {
    background-color: #CEDFEC;
}
