<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' xmlns:difx='http://schemas.microsoft.com/wix/DifxAppExtension' xmlns:iis='http://schemas.microsoft.com/wix/IIsExtension'>
  <?if $(env._BUILDARCH) = x86 ?>
    <?define ARCHDIR = i386 ?>
  <?elseif $(env._BUILDARCH) = AMD64 ?>
    <?define ARCHDIR = amd64 ?>
  <?endif ?>

  <Product Name='GPL PV Drivers for Windows' Id='*'
    UpgradeCode='4EDE5DEC-3208-4a1e-8E52-DAC44F7D7062'
    Language='1033' Codepage='1252' Version='$(env.GPLPV_VERSION)' Manufacturer='James Harper'>

    <Package Id='*' Keywords='Installer' Description="GPL PV Drivers for Windows"
      Comments='no comment' Manufacturer='James Harper'
      InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />

    <UI>
      <UIRef Id="WixUI_Mondo" />
      <UIRef Id="WixUI_ErrorProgressText" />
    </UI>
    
    <Media Id='1' Cabinet='gplpv.cab' EmbedCab='yes' />

    <?if $(env.DDK_TARGET_OS) != Win2K ?>
    <Binary Id='waitfordevices.vbs' SourceFile='waitnopendinginstallevents\waitfordevices.vbs'/>
    <Binary Id='waitnopendinginstallevents.exe' SourceFile='waitnopendinginstallevents\obj$(env.BUILD_ALT_DIR)\$(var.ARCHDIR)\waitnopendinginstallevents.exe'/>
    <?endif?>
    <CustomAction Id='InstallShutdownMonService' FileKey='shutdownmon.exe' ExeCommand='-i' Execute='deferred' Return='check'/>
    <CustomAction Id='UnInstallShutdownMonService' FileKey='shutdownmon.exe' ExeCommand='-u' Execute='deferred' Return='check' Impersonate='no'/>
    <?if $(env.DDK_TARGET_OS) != Win2K ?>
    <CustomAction Id='WaitForDevices' BinaryKey='waitfordevices.vbs' VBScriptCall='DoWaitForDevices' Execute='deferred' Return='check' Impersonate='no'/>
    <CustomAction Id='WaitNoPendingInstallEvents' BinaryKey='waitnopendinginstallevents.exe' ExeCommand='300000' Execute='deferred' Return='check' Impersonate='no'/>
    <CustomAction Id='CopyConfig' FileKey='copyconfig.exe' ExeCommand='' Execute='deferred' Return='check' Impersonate='no'/>
    <?endif?>

    <Property Id="SYSTEMSTARTOPTIONS">
      <RegistrySearch Id="SystemStartOptions"
		    Root="HKLM"
		    Key="SYSTEM\CurrentControlSet\Control"
		    Name="SystemStartOptions"
		    Type="raw" />
    </Property>

    <?ifdef env.CERT_PUBLIC_FILENAME?>
    <?if $(env._BUILDARCH) = AMD64?>
      <Condition Message="Testsigning must be on for x64 when installing on Vista or newer.">
        <![CDATA[(VersionNT < 600) OR (SYSTEMSTARTOPTIONS >< "TESTSIGNING")]]>
      </Condition>
    <?endif ?>
    <?endif ?>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='XenProgramFilesDir' Name='Xen PV Drivers'>
          <Directory Id='BinDir' Name='bin'>
            <Component Id='ShutdownMon' Guid='BF8DC887-4B46-4e77-ACD3-125E8A2BAB8E'>
              <File Id='shutdownmon.exe' Name='shutdownmon.exe' DiskId='1' Source='shutdownmon\obj$(env.BUILD_ALT_DIR)\$(var.ARCHDIR)\shutdownmon.exe' />
            </Component>
            <?if $(env.DDK_TARGET_OS) != Win2K ?>
            <Component Id='CopyConfig' Guid='C01F8A97-1410-41ce-A16E-76E6072FDFF8'>
              <File Id='copyconfig.exe' Name='copyconfig.exe' DiskId='1' Source='copyconfig\obj$(env.BUILD_ALT_DIR)\$(var.ARCHDIR)\copyconfig.exe' />
            </Component>
            <?endif ?>
          </Directory>
          <Directory Id='DocDir' Name='doc'>
            <Component Id='Docs' Guid='C827FAD8-F459-42bf-9F77-921E04261B72'>
              <File Id='Changelog.txt' Name='Changelog.txt' DiskId='1' Source='Changelog.txt' />
            </Component>
          </Directory>
          <Directory Id='DriversDir' Name='drivers'>
            <Directory Id='XenPciDir' Name='xenpci'>
              <Component Id='XenPci' Guid='D6BB9B5F-61F9-4b6e-8FAD-289706F5EBEB'>
                <File Id='xenpci.cat' Name='xenpci.cat' DiskId='1' Source='xenpci\obj$(env.BUILD_ALT_DIR)\$(var.ARCHDIR)\xenpci.cat' />
                <File Id='xenpci.inf' Name='xenpci.inf' DiskId='1' Source='xenpci\obj$(env.BUILD_ALT_DIR)\$(var.ARCHDIR)\xenpci.inf' />
                <File Id='xenpci.sys' Name='xenpci.sys' DiskId='1' Source='xenpci\obj$(env.BUILD_ALT_DIR)\$(var.ARCHDIR)\xenpci.sys' />
                <File Id='$(env.WDFFILENAME)' Name='$(env.WDFFILENAME)' DiskId='1' Source='xenpci\obj$(env.BUILD_ALT_DIR)\$(var.ARCHDIR)\$(env.WDFFILENAME)' />
                <difx:Driver Sequence='99' Legacy='yes' PlugAndPlayPrompt='no' ForceInstall='yes' />
              </Component>
            </Directory>
            <?if $(env.DDK_TARGET_OS) = Win2K OR $(env.DDK_TARGET_OS) = WinXP OR $(env.DDK_TARGET_OS) = WinNET ?>
            <Directory Id='XenVbdDir' Name='xenvbd'>
              <Component Id='XenVbd' Guid='1F05DC54-974C-40f6-BF41-0EFDB3EBD1DC'>
                <File Id='xenvbd.cat' Name='xenvbd.cat' DiskId='1' Source='xenvbd_scsiport\obj$(env.BUILD_ALT_DIR)\$(var.ARCHDIR)\xenvbd.cat' />
                <File Id='xenvbd.inf' Name='xenvbd.inf' DiskId='1' Source='xenvbd_scsiport\obj$(env.BUILD_ALT_DIR)\$(var.ARCHDIR)\xenvbd.inf' />
                <File Id='xenvbd.sys' Name='xenvbd.sys' DiskId='1' Source='xenvbd_scsiport\obj$(env.BUILD_ALT_DIR)\$(var.ARCHDIR)\xenvbd.sys' />
                <File Id='xenvbdfilter.sys' Name='xenvbdfilter.sys' DiskId='1' Source='xenvbd_scsiport\obj$(env.BUILD_ALT_DIR)\$(var.ARCHDIR)\xenvbdfilter.sys' />
                <difx:Driver Sequence='1' Legacy='yes' PlugAndPlayPrompt='no' ForceInstall='yes'/>
              </Component>
            </Directory>
            <?else ?>
            <Directory Id='XenVbdDir' Name='xenvbd'>
              <Component Id='XenVbd' Guid='1F05DC54-974C-40f6-BF41-0EFDB3EBD1DC'>
                <File Id='xenvbd.cat' Name='xenvbd.cat' DiskId='1' Source='xenvbd_storport\obj$(env.BUILD_ALT_DIR)\$(var.ARCHDIR)\xenvbd.cat' />
                <File Id='xenvbd.inf' Name='xenvbd.inf' DiskId='1' Source='xenvbd_storport\obj$(env.BUILD_ALT_DIR)\$(var.ARCHDIR)\xenvbd.inf' />
                <File Id='xenvbd.sys' Name='xenvbd.sys' DiskId='1' Source='xenvbd_storport\obj$(env.BUILD_ALT_DIR)\$(var.ARCHDIR)\xenvbd.sys' />
                <difx:Driver Sequence='1' Legacy='yes' PlugAndPlayPrompt='no' ForceInstall='yes'/>
              </Component>
            </Directory>
            <?endif ?>
            <Directory Id='XenNetDir' Name='xennet'>
              <Component Id='XenNet' Guid='F16B1EC7-35B1-42c2-9017-22DC23D80BE7'>
                <File Id='xennet.cat' Name='xennet.cat' DiskId='1' Source='xennet\obj$(env.BUILD_ALT_DIR)\$(var.ARCHDIR)\xennet.cat' />
                <File Id='xennet.inf' Name='xennet.inf' DiskId='1' Source='xennet\obj$(env.BUILD_ALT_DIR)\$(var.ARCHDIR)\xennet.inf' />
                <File Id='xennet.sys' Name='xennet.sys' DiskId='1' Source='xennet\obj$(env.BUILD_ALT_DIR)\$(var.ARCHDIR)\xennet.sys' />
                <difx:Driver Sequence='3' Legacy='yes' PlugAndPlayPrompt='no' ForceInstall='yes' />
              </Component>
            </Directory>
            <?if $(env.DDK_TARGET_OS) != Win2K ?>
            <Directory Id='XenUsbDir' Name='xenusb'>
              <Component Id='XenUsb' Guid='83746E68-DBCC-4feb-B521-09D5328D3BB0'>
                <File Id='xenusb.cat' Name='xenusb.cat' DiskId='1' Source='xenusb\obj$(env.BUILD_ALT_DIR)\$(var.ARCHDIR)\xenusb.cat' />
                <File Id='xenusb.inf' Name='xenusb.inf' DiskId='1' Source='xenusb\obj$(env.BUILD_ALT_DIR)\$(var.ARCHDIR)\xenusb.inf' />
                <File Id='xenusb.sys' Name='xenusb.sys' DiskId='1' Source='xenusb\obj$(env.BUILD_ALT_DIR)\$(var.ARCHDIR)\xenusb.sys' />
                <!-- we deliberately use the file from xenpci so that wix can deduplicate it -->
                <File Id='$(env.WDFFILENAME)_usb' Name='$(env.WDFFILENAME)' DiskId='1' Source='xenpci\obj$(env.BUILD_ALT_DIR)\$(var.ARCHDIR)\$(env.WDFFILENAME)' />
                <difx:Driver Sequence='3' Legacy='yes' PlugAndPlayPrompt='no' ForceInstall='yes' />
              </Component>
            </Directory>
            <?endif ?>
          </Directory>
        </Directory>
        <?ifdef env.CERT_PUBLIC_FILENAME?>
        <Component Id='Cert' Guid='11112EC8-8635-45fb-9AE8-C22310F1E82D'>
          <File Id='$(env.CERT_PUBLIC_FILENAME)' Name='$(env.CERT_PUBLIC_FILENAME)' DiskId='1' Source='$(env.CERT_PUBLIC_FILENAME)' />
          <iis:Certificate Id='$(env.CERT_PUBLIC_FILENAME)_root' Name='$(env.CERT_PUBLIC_FILENAME)' Request='no' BinaryKey='$(env.CERT_PUBLIC_FILENAME)' StoreLocation='localMachine' StoreName='root' Overwrite='no' />
          <iis:Certificate Id='$(env.CERT_PUBLIC_FILENAME)_trustedPublisher' Name='$(env.CERT_PUBLIC_FILENAME)' Request='no' BinaryKey='$(env.CERT_PUBLIC_FILENAME)' StoreLocation='localMachine' StoreName='trustedPublisher' Overwrite='no' />
        </Component>
        <?endif ?>
      </Directory>
    </Directory>

    <?ifdef env.CERT_PUBLIC_FILENAME?>
    <Binary Id='$(env.CERT_PUBLIC_FILENAME)' SourceFile='$(env.CERT_PUBLIC_FILENAME)' />
    <?endif ?>

    <?ifdef env.CERT_PUBLIC_FILENAME?>
    <Feature Id='Cert' Title='Install Certificate' Level='1' AllowAdvertise='no' InstallDefault='local' Absent='allow'>
      <ComponentRef Id='Cert' />
    </Feature>
    <?endif ?>
    <Feature Id='Docs' Title='Install Docs' Level='1' AllowAdvertise='no' InstallDefault='local' Absent='disallow'>
      <ComponentRef Id='Docs' />
    </Feature>
    <Feature Id='Drivers' Title='Drivers' Level='1' AllowAdvertise='no' InstallDefault='local' Absent='allow'>
      <Feature Id='XenPci' Title='XenPci Driver' Level='1' AllowAdvertise='no' InstallDefault='local' Absent='disallow'>
        <ComponentRef Id='XenPci' />
      </Feature>
      <Feature Id='XenVbd' Title='XenVbd Driver' Level='1' AllowAdvertise='no' InstallDefault='local' Absent='allow'>
        <ComponentRef Id='XenVbd' />
      </Feature>
      <Feature Id='XenNet' Title='XenNet Driver' Level='1' AllowAdvertise='no' InstallDefault='local' Absent='allow'>
        <ComponentRef Id='XenNet' />
      </Feature>
      <?if $(env.DDK_TARGET_OS) != Win2K ?>
      <Feature Id='XenUsb' Title='XenUsb Driver' Level='1' AllowAdvertise='no' InstallDefault='local' Absent='allow'>
        <ComponentRef Id='XenUsb' />
      </Feature>
      <?endif ?>
    </Feature>
    <Feature Id='ShutdownMon' Title='Shutdown Monitor' Level='1' AllowAdvertise='no' InstallDefault='local' Absent='allow'>
      <ComponentRef Id='ShutdownMon' />
    </Feature>
    <?if $(env.DDK_TARGET_OS) != Win2K ?>
    <Feature Id='CopyConfig' Title='Copy Network Config' Level='1' AllowAdvertise='no' InstallDefault='local' Absent='allow'>
      <ComponentRef Id='CopyConfig' />
    </Feature>
    <?endif ?>

    <InstallExecuteSequence>
      <ScheduleReboot After='InstallFinalize' />
      <Custom Action='UnInstallShutdownMonService' Before='StopServices'>$ShutdownMon=2</Custom> 
      <Custom Action='InstallShutdownMonService' After='StartServices'>$ShutdownMon>2</Custom> 
      <?if $(env.DDK_TARGET_OS) != Win2K ?>
      <Custom Action='WaitForDevices' After='MsiProcessDrivers'>1</Custom>
      <Custom Action='WaitNoPendingInstallEvents' After='WaitForDevices'>1</Custom>
      <Custom Action='CopyConfig' After='WaitNoPendingInstallEvents'>$CopyConfig>2</Custom>
      <?endif?>
    </InstallExecuteSequence>
  </Product>
</Wix>
