Source: univention-ad-connector
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.7.2
Build-Depends: debhelper (>= 7.0.50~),
 ucslint-univention,
 python-all,
 python3-all,
 dh-python,
 univention-management-console-dev (>= 11.0.4-37),
 univention-config-dev

Package: python-univention-connector
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 python-univention,
 python-univention-license,
 python-univention-directory-manager (>= 7.0.214),
 python-pysqlite2
Pre-Depends: univention-config (>= 2.6.8-5)
Provides: ${python:Provides}
Conflicts: univention-server-member
Description: UCS - Modules for connector sychronisation
 This package contains the modules that implement the
 features of UCS Active Directory (AD) Connector.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: python3-univention-connector
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
 python3-univention,
 python3-univention-license,
 python3-univention-directory-manager,
 python3-pysqlite2
Pre-Depends: univention-config (>= 2.6.8-5)
Provides: ${python3:Provides}
Conflicts: univention-server-member
Description: UCS - Modules for connector sychronisation
 This package contains the modules that implement the
 features of UCS Active Directory (AD) Connector.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: python-univention-connector-ad
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 python-univention,
 python-univention-license,
 python-univention-connector (= ${binary:Version}),
 python-pysqlite2
Pre-Depends: univention-config,
Provides: ${python:Provides}
Description: UCS - Modules for connector sychronisation
 This package contains the modules that implement the
 features of UCS Active Directory (AD) Connector.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: python3-univention-connector-ad
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
 python3-univention,
 python3-univention-license,
 python3-univention-connector (= ${binary:Version}),
 python3-pysqlite2
Pre-Depends: univention-config,
Provides: ${python3:Provides}
Description: UCS - Modules for connector sychronisation
 This package contains the modules that implement the
 features of UCS Active Directory (AD) Connector.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-ad-connector
Architecture: all
Depends: ${misc:Depends},
 univention-config,
 univention-directory-manager-tools (>= 13.0.21-21),
 univention-join (>= 10.0.0-12),
 python-univention-connector-ad (= ${binary:Version}),
 shell-univention-lib (>= 7.0.0-10),
 python-univention-lib (>= 7.0.0-10),
 univention-base-files,
 univention-management-console-module-adconnector (= ${binary:Version}),
 python-samba,
 python-ldb,
 samba-common-bin,
 smbclient
Recommends: univention-nagios-ad-connector,
 sqlite3
Description: UCS - Modules for sync UCS and Active Directory
 This package contains the modules that implement the
 features of UCS Active Directory (AD) Connector.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-ad-connector-exchange
Architecture: all
Depends: ${misc:Depends},
 univention-directory-manager-tools (>> 7.0.147),
 shell-univention-lib (>= 1.0.6)
Description: UCS - AD-connector Exchange configuration
 This package extends a configured Active Directory (AD) Connector
 to sync Microsoft-Exchange attributes by adding
 UCS LDAP-schema, custom attributes and activate
 mapping in univention baseconfig.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-management-console-module-adconnector
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 univention-management-console-server (>= 11.0.4-37),
 python-univention-lib (>= 3.0.26-62),
 python-samba,
 samba-dsdb-modules,
 python-notifier,
Description: UMC module for Univention AD Connector
 This package contains the Univention AD Connector UMC module.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

