Source: univention-ad-connector
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.7.2
Build-Depends: debhelper (>= 7.0.50~),
 ucslint-univention,
 python2.6-dev,
 python-support,
 univention-management-console-dev,
 univention-config-dev
XS-Python-Version: 2.6, 2.7

Package: python-univention-connector
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 python-univention,
 python-univention-license,
 univention-server-master | univention-server-backup,
 python-univention-directory-manager (>= 7.0.214),
 python-pysqlite2
Pre-Depends: univention-config-registry (>= 2.6.8-5)
Provides: ${python:Provides}
Conflicts: univention-server-slave,
 univention-server-member
Description: UCS - Modules for connector sychronisation
 This package contains the modules that implement the
 features of UCS Active Directory (AD) Connector.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: python-univention-connector-ad
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 python-univention,
 python-univention-license,
 python-univention-connector (= ${binary:Version}),
 python-m2crypto,
 python-pysqlite2
Pre-Depends: univention-config-registry
Provides: ${python:Provides}
Description: UCS - Modules for connector sychronisation
 This package contains the modules that implement the
 features of UCS Active Directory (AD) Connector.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-ad-connector
Architecture: all
Depends: ${misc:Depends},
 univention-config-registry,
 univention-directory-manager-tools (>> 7.0.147),
 python-univention-connector-ad (= ${binary:Version}),
 shell-univention-lib (>= 1.0.6),
 python-univention-lib (>= 4.0.5-2),
 univention-base-files,
 univention-management-console-module-adconnector (= ${binary:Version}),
 python-samba,
 python-ldb,
 samba-common-bin
Recommends: univention-nagios-ad-connector,
 sqlite3
Description: UCS - Modules for sync UCS and Active Directory
 This package contains the modules that implement the
 features of UCS Active Directory (AD) Connector.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-ad-connector-exchange
Architecture: all
Depends: ${misc:Depends},
 univention-server-master | univention-server-backup,
 univention-directory-manager-tools (>> 7.0.147),
 shell-univention-lib (>= 1.0.6)
Description: UCS - AD-connector Exchange configuration
 This package extends a configured Active Directory (AD) Connector
 to sync Microsoft-Exchange attributes by adding
 UCS LDAP-schema, custom attributes and activate
 mapping in univention baseconfig.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-management-console-module-adconnector
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 univention-management-console-server,
 python-univention-lib (>= 3.0.26-62),
 python-samba,
Description: UMC module for Univention AD Connector
 This package contains the Univention AD Connector UMC module.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

