#!/usr/bin/make -f
#
# Univention AD Connector
#  rules file for the ad connector debian package
#
# Copyright (C) 2004, 2005, 2006, 2007 Univention GmbH
#
# http://www.univention.de/
# 
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 2 as
# published by the Free Software Foundation.
#
# Binary versions of this file provided by Univention to you as
# well as other copyrighted, protected or trademarked materials like
# Logos, graphics, fonts, specific documentations and configurations,
# cryptographic keys etc. are subject to a license agreement between
# you and Univention.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

PYVERS=$(shell pyversions -vr)

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -f *~
	dh_clean

AD_TOOLS_DEST=$(CURDIR)/debian/univention-ad-connector
MODULES_CONNECTOR_DEST=$(CURDIR)/debian/python2.4-univention-connector
MODULES_CONNECTOR_AD_DEST=$(CURDIR)/debian/python2.4-univention-connector-ad
EXCHANGE_DEST=$(CURDIR)/debian/univention-ad-connector-exchange

install: install-stamp
install-stamp: build-stamp $(PYVERS:%=install-ext-%)
install-ext-%:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# AD Connector Tools
	install -m755 univention-ad-connector ${AD_TOOLS_DEST}/usr/sbin
	install -m755 univention-adsearch ${AD_TOOLS_DEST}/usr/sbin
	install -m755 univention-connector-list-rejected ${AD_TOOLS_DEST}/usr/sbin
	install -m600 conffiles/etc/univention/connector/ad/mapping.py ${AD_TOOLS_DEST}/etc/univention/connector/ad/mapping
	
	# Connector Modules
	install -d debian/python-univention-connector/usr/lib/python$*/site-packages/univention/connector/
	install -m 0644 modules/univention/connector/__init__.py debian/python-univention-connector/usr/lib/python$*/site-packages/univention/connector/

	# AD Connector Modules
	install -d debian/python-univention-connector-ad/usr/lib/python$*/site-packages/univention/connector/ad/
	install -m 0644 modules/univention/connector/ad/__init__.py debian/python-univention-connector-ad/usr/lib/python$*/site-packages/univention/connector/ad/
	install -m 0644 modules/univention/connector/ad/main.py debian/python-univention-connector-ad/usr/lib/python$*/site-packages/univention/connector/ad/
	install -m 0644 modules/univention/connector/ad/mapping.py debian/python-univention-connector-ad/usr/lib/python$*/site-packages/univention/connector/ad/
	install -m 0644 modules/univention/connector/ad/password.py debian/python-univention-connector-ad/usr/lib/python$*/site-packages/univention/connector/ad/

	# AD Connector Listener Module
	install -m 0644 ad-connector.py $(AD_TOOLS_DEST)/usr/lib/univention-directory-listener/system

	#baseconfig metainfo
	# cp files/etc/univention/base.meta/connector* $(MODULES_CONNECTOR_AD_DEST)/etc/univention/base.meta
	
	# password daemon
	install -D -m644 windows/ucs-ad-connector/msi-package/UCS\ AD\ Connector/ucs-ad-connector.msi $(AD_TOOLS_DEST)/usr/share/univention-ad-connector/ucs-ad-connector.msi

	# exchange extension
	install -m644  files/usr/share/univention-ad-connector/schema/univention-ad-connector-exchange.schema $(EXCHANGE_DEST)/usr/share/univention-ad-connector/schema/univention-ad-connector-exchange.schema

	# join script
	install -m 0755 42univention-ad-connector.inst debian/univention-ad-connector/usr/lib/univention-install/

	# apache config
	install -m 0644 apache2.conf debian/univention-ad-connector/etc/apache2/conf.d/univention-ad-connector

	# fill WWW dir
	install -d -m 0710 -o root -g www-data $(AD_TOOLS_DEST)/var/www/univention-ad-connector
	install -m 0644 files/var/www/univention-ad-connector/index.html $(AD_TOOLS_DEST)/var/www/univention-ad-connector/index.html

    # install UMC module
	make PACKAGE=python-univention-connector-ad install-modules
	make PACKAGE=python-univention-connector-ad install-locales-backend
	make PACKAGE=python-univention-connector-ad install-images

	univention-install-config-registry
	univention-install-config-registry-info

binary-arch: build install

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installexamples
	dh_installmenu
	dh_installinit --no-start -u"defaults 97"
	dh_installcron
	dh_installman
	dh_installchangelogs
	dh_pycentral -Nunivention-ad-connector
	dh_link
	dh_strip
	dh_compress
	dh_fixperms -X/var/www/univention-ad-connector
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
