<?xml version="1.0" encoding="UTF-8"?>
<!--DOCTYPE umc SYSTEM "management/univention-management-console/doc/module.dtd"-->
<umc version="2.0">
	<module id="udm" icon="udm-MODULE" version="1.0" translationId="MODULE" python="3">
		<name>...</name>
		<description>...</description>
		<flavor>...</flavor>
		<categories>
			<category name="domain"/>
		</categories>
		<command>...</command>
	</module>
</umc>
