html
  margin:0
  padding: 0
  font-size: var(--font-size-html)

body
  margin:0
  padding: 0
  font-family: 'Open Sans', sans-serif
  font-weight: normal
  line-height: var(--font-lineheight-normal)
  // font-size: var(--font-size-normal)
  font-size: var(--font-size-body)
  color: var(--font-color-contrast-high)
  margin-top: var(--portal-header-height)
  background-color: var(--bgc-content-body)
  box-sizing: border-box

button
  padding: 0 calc(2 * var(--layout-spacing-unit))
  height: var(--button-size)
  color: var(--font-color-contrast-high)
  font-size: var(--button-font-size)
  text-transform: uppercase
  border: none
  border-radius: var(--button-border-radius)
  background-color: var(--button-text-bgc)
  transition: var(--button-bgc-transition)
  transition: opacity 250ms
  display: flex
  align-items: center

  svg + span
    padding-left: var(--layout-spacing-unit-small)

  &[disabled]
    background-color: var(--button-bgc-overlay-disabled)

  &:hover,
  &:focus
    background-color: var(--bgc-content-body)
    cursor: pointer

  &.primary
    background-color: unquote('rgba(var(--color-primary-rgb), 0.7)')

    &:hover
      background-color: unquote('rgba(var(--color-primary-rgb), 0.85)')

    &:focus
      background-color: unquote('rgba(var(--color-primary-rgb), 1)')

h2
  font-size: var(--font-size-2)
  line-height: var(--font-lineheight-normal)
  font-weight: 600

input, select
  width: var(--inputfield-width)
  height: var(--inputfield-size)
  display: block
  padding: 0 calc(3 * var(--layout-spacing-unit-small)) !important;
  margin-bottom: var(--layout-spacing-unit)
  font-size: var(--font-size-3)
  color: var(--font-color-contrast-high)
  background-color: var(--inputfield-bgc)
  border: 1px solid var(--inputfield-bgc)
  border-radius: var(--border-radius-interactable)
  transition: background-color, color, border
  transition-duration: 250ms

  &:hover,
  &:focus
    border-color: var(--color-grey40)
    outline-style: none
    box-shadow: none

  &[invalid]
    border-color: var(--color-error)

  &[disabled]
    cursor: var(--cursor-disabled)
    color: var(--font-color-disabled)

select
  cursor: pointer
  appearance: none
  width: 5rem

label
  color: var(--color-grey62)
  font-size: var(--font-size-3)
  padding-bottom: calc(var(--layout-spacing-unit) * 1.25)
  position: relative

  input[type=checkbox]
    display: inline-block
    height: var(--font-size-3)
    width: var(--font-size-3)
    padding: 0 !important
    margin: 4px
    margin-right: var(--layout-spacing-unit)
    border: 2px solid var(--color-grey40)
    border-radius: var(--border-radius-tooltip)
    background-color: var(--color-grey0)
    cursor: pointer
    appearance: none
    &:focus
      background-color: var(--color-grey25)
    &:hover
      background-color: var(--color-grey8)
    &:checked
      border-color: var(--color-primary)
      & + span::before
        content: '\2713'
        color: var(--color-primary)
        position: absolute
        left: calc(var(--font-size-3) / 2 - 2px)
    & + span
      vertical-align: top
      cursor: pointer

// --------------
// global classes
.body__has-modal
  overflow: hidden

.portal-reset
  line-height: inherit

.portal
  &__off-screen
    position: absolute !important
    left: -10000px !important
    top: -10000px !important

// animation
.fade-enter-active,
.fade-leave-active
  transition: opacity .5s

.fade-enter,
.fade-leave-to
  opacity: 0

.icon-button
  &--admin
    user-select: none

    display: inline-block
    margin-right: var(--layout-spacing-unit)

    background-color: var(--color-grey0)
    background-size: 1em
    background-repeat: no-repeat
    background-position: center
    border-radius: 50%
    box-shadow: var(--box-shadow)

  &--default-cursor,
  &--default-cursor:hover
    cursor: default !important
