//
// Z-index master list custom
// --------------------------------------------------
// Control z-indexes by providing an easy structure.
// Don't edit the z-index scale.
// --------------------------------------------------
$zindex-0 =     0
$zindex-1 =   100
$zindex-2 =   200
$zindex-3 =   300
$zindex-4 =   400
$zindex-5 =   500
$zindex-6 =   600
$zindex-7 =   700
$zindex-8 =   800
$zindex-9 =   900
$zindex-10 = 1000


//
// Media queries
// --------------------------------------------------
//
// @media $mqSmartphone
//     // Styles go here

// @media $mqTablet
//     // Styles go here
// --------------------------------------------------
$smartphoneWidth = 748px
$tabletWidth     = 1012px

$mqSmartphone = "only screen and (max-width: " + $smartphoneWidth + ")"
$mqTablet     = "only screen and (max-width: " + tabletWidth     + ")"