// TODO: to be replaced with stylus variables in _variables.styl?
:root {
  --color-primary: #7ab51d;
  --color-grey0: #1e1e1d;
  --color-grey0-rgb: 30, 30, 29;
  --color-grey8: #333331;
  --color-grey8-rgb: 51, 51, 49;
  --color-grey25: #5f5f5c;
  --color-grey40: #868681;
  --color-grey40-rgb: 134, 134, 129;
  --color-grey62: #bdbdbb;
  --color-white: #fff;
  --color-black: #000;
  --color-error: #dd042d;
  --color-success: #5c8916;
  --layout-height-header: 3rem;
  --layout-height-header-seperator: var(--layout-spacing-unit-small);
  --bgc-content-header: var(--color-grey0);
  --bgc-content-body: var(--color-grey8);
  --bgc-content-container: var(--color-grey0);
  --font-size-html: 20px;
  --font-size-big: 1.4rem;
  --font-size-normal: 2rem;
  --font-size-small: 0.8rem;
  --font-size-header1: var(--font-size-big);
  --font-size-header2: var(--font-size-normal);
  --font-color-contrast-high: var(--color-white);
  --font-color-contrast-middle: var(--color-grey62);
  --font-color-contrast-low: var(--color-grey40);
  --font-color-dark: var(--color-black);
  --font-color-disabled: rgba(255, 255, 255, 0.4);
  --font-lineheight-normal: 1.5;
  --font-lineheight-compact: 1.25;
  --font-lineheight-header1: 1.3;
  --cursor-disabled: not-allowed;
  --border-radius-interactable: 0.5rem;
  --border-radius-container: 0.5rem;
  --border-radius-notification: var(--border-radius-container);
  --border-radius-tooltip: 0.25rem;
  --border-radius-circles: 50%;
  --border-radius-apptile: 12.5%;
  --border-radius-apptile-in-folder: 12.5%;
  --border-radius-apptile-in-tab: 12.5%;
  --border-radius-portal-folder: 10%;
  --layout-spacing-unit: 1rem;
  --layout-spacing-unit-small: calc(var(--layout-spacing-unit) / 2);
  --g-button-size: 2rem;
  --button-font-size: var(--font-size-small);
  --button-border-radius: var(--border-radius-interactable);
  --button-icon-border-radius: var(--border-radius-circles);
  --button-bgc-transition: background-color 250ms;
  --button-icon-bgc: transparent;
  --button-icon-bgc-overlay-hover: rgba(255, 255, 255, 0.08);
  --button-icon-bgc-overlay-active: rgba(255, 255, 255, 0.12);
  --button-icon-bgc-overlay-disabled: transparent;
  --button-icon-highlighted-bgc: var(--color-grey0);
  --button-primary-bgc: var(--color-primary);
  --button-primary-bgc-overlay-hover: rgba(255, 255, 255, 0.12);
  --button-primary-bgc-overlay-active: rgba(255, 255, 255, 0.2);
  --button-primary-bgc-overlay-disabled: var(--color-grey25);
  --button-bgc: var(--color-grey25);
  --button-bgc-overlay-hover: rgba(255, 255, 255, 0.08);
  --button-bgc-overlay-active: rgba(255, 255, 255, 0.16);
  --button-bgc-overlay-disabled: var(--color-grey25);
  --button-text-bgc: transparent;
  --button-text-bgc-overlay-hover: rgba(255, 255, 255, 0.08);
  --button-text-bgc-overlay-active: rgba(255, 255, 255, 0.12);
  --button-text-bgc-overlay-disabled: var(--color-grey25);
  --link-color: var(--color-primary);
  --inputfield-size: 3rem;
  --inputfield-bgc: var(--color-grey8);
  --inputfield-dark-bgc: var(--bgc-content-container);
  --box-shadow: 0rem 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
  --app-tile-side-length: 16rem;
  --portal-header-height: 6rem;
  --notification-success: #5c891699;
  --notification-warning: #dd042d99;
}
