@import "_vars.styl";
@import "dark.styl";
@import "_base.styl";

.story-container {
  padding: calc(2 * var(--layout-spacing-unit)) calc(2 * var(--layout-spacing-unit));
  background: var(--bgc-content-container);
  border-radius: var(--border-radius-container);
  max-width: calc(50 * var(--layout-spacing-unit));
  box-shadow: var(--box-shadow);
  min-width 20rem;
}
