Source: univention-ldap
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.5.5
Build-Depends: debhelper (>> 7),
 univention-config-dev,
 ucslint-univention

Package: univention-ldap-server
Architecture: all
Recommends: univention-virtual-machine-manager-schema
Pre-Depends: slapd (>= 2.4.35-1.162.201407020834),
 univention-ldap-client,
Depends: ${misc:Depends},
 univention-base-files,
 univention-directory-manager-tools (>> 7.0.147),
 db5.3-util,
 univention-ssl,
 univention-ldap-config (= ${binary:Version}),
 whois,
 makepasswd,
 univention-ipcalc,
 bind9-host,
 shell-univention-lib (>= 6.0.9-8),
 python-univention-lib (>= 8.0.1-29),
 univention-newsid,
 univention-join,
 univention-ldap-overlay-memberof
Conflicts: univention-5250 (<< 0.5)
Description: UCS - LDAP server configuration
 This package contains the configuration for the OpenLDAP
 server.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-ldap-client
Architecture: all
Recommends: univention-pam,
 univention-join
Depends: ${misc:Depends},
 ldap-utils,
 univention-config,
 libldap-2.4-2,
 python-univention-lib (>= 3.0.3-1)
Description: UCS - LDAP client configuration
 This package contains the configuration for the OpenLDAP
 client tools.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-ldap-config
Architecture: all
Pre-Depends: slapd
Depends: ${misc:Depends}
Conflicts: univention-5250 (<< 0.5.23),
 univention-5250-powerterm (<< 1.4.11)
Description: UCS - common LDAP configuration
 This package contains the general configuration for the
 OpenLDAP server such as the base LDIF file and the
 schema.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-ldap-acl-master
Architecture: all
Pre-Depends: slapd
Depends: ${misc:Depends},
 univention-ldap-server (= ${binary:Version}),
Conflicts: univention-ldap-acl-slave
Description: UCS - LDAP server ACLs for master servers
 This package contains the OpenLDAP server ACLs for master
 and backup domain controllers.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-ldap-acl-slave
Architecture: all
Depends: ${misc:Depends},
 univention-ldap-server (= ${binary:Version}),
Conflicts: univention-ldap-acl-master
Description: UCS - LDAP server ACLs for slave servers
 This package contains the OpenLDAP server ACLs for slave
 domain controllers.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
