Source: univention-legacy-kolab-schema
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.5.5
Build-Depends: debhelper (>> 7),
 univention-config-dev,
 ucslint

Package: univention-legacy-kolab-schema
Architecture: all
Depends: ${misc:Depends},
 univention-config-registry,
 shell-univention-lib,
 univention-ldap-server
Description: Legacy Kolab LDAP Schema
 This package contains the kolab2 LDAP schema for
 OpenLDAP server.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
