Source: univention-debmirror
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.5.5
Build-Depends: debhelper, univention-config-dev

Package: univention-debmirror
Architecture: all
Depends: univention-apache
Description: UCS - debmirror configuration
 This package contain the debmirror configuration.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

