[Unit]
Description=Start multiple UMC webserver and UMC server
PartOf=univention-management-console-web-server.service univention-management-console-server.service
