[Unit]
Description=Start multiple UMC-Webserver and UMC-Server
PartOf=univention-management-console-web-server.service univention-management-console-server.service
