@%@UCRWARNING=# @%@

@!@
import re

def read_config_from_ucr():
	RE = re.compile(r'^mysql/config/([^/]+)/([^/]+)(/?)$')
	config = {}
	for key, value in configRegistry.items():
		match = RE.match(key)
		if not match:
			continue
		group, opt_name, no_value = match.groups()
		settings = config.setdefault(group, {})
		settings[opt_name] = None if no_value else value
	return config

def write_config_as_ini(config):
	escape = {
		'\b': r'\b',
		'\t': r'\t',
		'\n': r'\n',
		'\r': r'\r',
		'\\': r'\\',
		' ': r'\s',
	}

	for group, settings in config.iteritems():
		print '[%s]' % (group,)
		for opt_name, value in settings.iteritems():
			if value is None:
				print opt_name
			else:
				escaped = ''.join(escape.get(c, c) for c in value)
				if "'" not in value:
					print "%s = '%s'" % (opt_name, escaped)
				elif '"' not in value:
					print '%s = "%s"' % (opt_name, escaped)
				else:
					print "# UCR ERROR: Don't know how to print '%s/%s'" % (
						group, opt_name)
		print

config = read_config_from_ucr()
write_config_as_ini(config)
@!@
