Source: univention-admin-diary
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7.0.50~),
 dh-python,
 univention-join,
 python-all,
 python3-all,
 ucslint,
 univention-management-console-dev (>= 11.0.4-37),
 univention-config-dev,
 stylus
Standards-Version: 3.7.2

Package: univention-admin-diary-backend
Architecture: all
Depends: ${misc:Depends},
 python-univention-admin-diary-backend (= ${binary:Version}),
 rsyslog-relp,
 python-pyparsing
Recommends:
 univention-postgresql | univention-mariadb
Suggests: univention-management-console-module-admindiary
Description: Univention Admin Diary backend
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: python-univention-admin-diary-backend
Architecture: all
Provides: ${python:Provides}
Depends: ${python:Depends}, ${misc:Depends},
 python-univention-admin-diary (= ${binary:Version}),
 python-psycopg2,
 python-mysqldb,
 python-sqlalchemy,
Description: Univention Admin Diary backend library
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: python3-univention-admin-diary-backend
Architecture: all
Provides: ${python3:Provides}
Depends: ${python3:Depends}, ${misc:Depends},
 python3-univention-admin-diary (= ${binary:Version}),
 python3-psycopg2,
 python3-mysqldb,
 python3-sqlalchemy,
Description: Univention Admin Diary backend library
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-management-console-module-admindiary
Architecture: all
Depends: ${python:Depends}, ${python3:Depends},
 univention-management-console-server (>= 11.0.4-37),
 python-univention-admin-diary-backend (= ${binary:Version})
Suggests: univention-admin-diary-backend
Description: UMC module for the Admin Diary
 This package contains the UMC module for the Admin Diary
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-admin-diary-client
Architecture: all
Depends: ${misc:Depends},
 rsyslog-relp,
 python-univention-admin-diary (= ${binary:Version})
Provides: ${python:Provides}, ${python3:Provides}
Description: Univention Admin Diary client
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: python-univention-admin-diary
Architecture: all
Depends: ${misc:Depends},
 ${python:Depends}
Provides: ${python:Provides}
Description: Univention Admin Diary lib
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: python3-univention-admin-diary
Architecture: all
Depends: ${misc:Depends},
 ${python3:Depends}
Provides: ${python3:Provides}
Description: Univention Admin Diary lib
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
