Source: univention-squid
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.9.8
Build-Depends: debhelper,
 univention-config-dev,
 ucslint-univention

Package: univention-squid
Architecture: all
Depends: ${misc:Depends},
 univention-directory-manager-tools (>> 7.0.147),
 squid (>> 3.5.23),
 univention-config (>= 8.0.2),
 winbind,
 univention-heimdal-common (>>5.0.24-1),
 python-ipaddr,
 python-crypto,
 python-univention-lib,
 python-pexpect,
Recommends: univention-nagios-squid
Suggests: univention-firewall
Description: UCS Squid web proxy integration
 This package integrates the Squid web proxy into UCS.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
