.setupwrapper {
	display: block;
	padding: 25px 25px 25px 35px;
	width: 690px;	

	margin-top: 75px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 45px;

	border-radius: 10px 10px 10px 10px;
	moz-border-radius: 10px 10px 10px 10px;
	webkit-border-radius: 10px 10px 10px 10px;

	background: rgb(239,239,239); /* Old browsers */
	background: -moz-radial-gradient(circle, rgba(255,255,255,1), rgba(239,239,239,1));
	background: -webkit-radial-gradient(circle, rgba(255,255,255,1), rgba(239,239,239,1));
	background: -o-radial-gradient(circle, rgba(255,255,255,1), rgba(239,239,239,1));
	background: -ms-radial-gradient(circle, rgba(255,255,255,1), rgba(239,239,239,1));
	background: radial-gradient(circle, rgba(255,255,255,1), rgba(239,239,239,1));
	/*ignore the filter as IE9 will otherwise not display box transitions and round borders*/
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ffffff',GradientType=1 );*/

	transition: box-shadow 0.5s;
	-webkit-transition: box-shadow 0.5s; /* Safari */
}

.setupicon{
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 175px;
}

.setuptitle {
	text-align: center;
	color: #000;
	font-size: 14px;
	font-weight: bold;
	display: block;
	padding-top: 5px;
	padding-bottom: 10px;
}

.setuptext {
	display: block;
        color: #575756;
	padding-bottom: 10px;
}

.setupcode {
	display: block;
	color: #575756;
	padding-bottom: 10px;
	font-family: monospace;
	font-size: 0.9em;
}

#setuplink a:hover {
	text-decoration: underline;
}
