Source: univention-printquota
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends:
 debhelper (>> 7),
 ucslint-univention,
 univention-config-dev,
Standards-Version: 3.8.2

Package: univention-printquota
Architecture: all
Depends:
 pkipplib,
 pkpgcounter,
 pykota,
 shell-univention-lib,
 univention-config,
 univention-printquotadb,
 univention-printserver,
 ${misc:Depends},
Pre-Depends:
 pykota,
 univention-config (>= 7.0.25),
Description: UCS - quotasupport for printserver
 This packages provides the printquota configuration. Quotas
 can be managed with UCS Directory Manager and UCS Management Console.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-printquotadb
Architecture: all
Pre-Depends:
 dpkg (>= 1.15.7.2),
 shell-univention-lib (>= 3.0.1-1),
 univention-config (>= 7.0.25),
 univention-postgresql,
Depends:
 pykota,
 univention-config (>= 8.0.2),
 ${misc:Depends},
Description: UCS - quotasupport for printserver
 This packages provides the printquota-database configuration. Quota-Database
 can be managed with UCS Directory Manager and UCS Management Console.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
