.tab {
	position: absolute;
	opacity: 1;
	visibility: visible;
	transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.hide-tab {
	visibility:hidden;
	opacity: 0;
	transition: visibility 0s linear 0.5s, opacity 0.5s ease-in-out;
}

div.PasswordServiceContent {
	max-width: 500px;
}

.stepLabel {
	display: inline-block;
	margin-bottom: 0.5em;
}

ol.PasswordOl {
	margin: 0
	padding-right: 0;
	padding-left: 0;
	list-style-type: none;

	li.step {
		counter-increment: step-counter;
	}

	li.step::before {
		content: counter(step-counter);
		margin-right: 5px;
		font-size: 80%;
		background-color: #FAC800;
		color: white;
		font-weight: bold;
		padding: 3px 8px;
		border-radius: 3px;
	}

	.buttonRow {
		text-align: right;

		.dijitButton {
			margin: 24px 0 0 !important; 

			&:not(:first-child) {
				margin-left: 8px !important;
			}
		}
	}

	.dijitTextBox {
		margin-bottom: 1.5em;
	}

	li:last-of-type .dijitTextBox:last-child {
		margin-bottom: 0;
	}

	&#PasswordForgottenSteps {
		li:last-of-type .dijitTextBox {
			margin-bottom: 0;
		}
	}
}

ol#PasswordForgottenSteps li.step::before {
	background-color: #FAC800;
}

ol#PasswordProtectSteps li.step::before {
	background-color: #FAC800;
}

div.stepContent {
	margin-top: 1.5em;
}

div.step {
	margin-bottom: 30px;
	overflow: hidden;
	opacity: 1;
	visibility: visible;
	transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;

	a {
		cursor: pointer;
	}
}

div.step.hide-step {
	opacity: 0;
	display: none;
	visibility: hidden;
	transition: visibility 0s linear 0.5s, opacity 0.5s ease-in-out;
}

div.step .dijitButton {
	margin-top: 9px;
}

.umcHeader {
	background-color: rgb(250, 200, 0);
}

.umcHeaderPage {
	font-size: 12px;
	text-align: center;
	
	a,
	span {
		display: inline-block;
	}

	a {
		color: #FAC800;
	}

	span {
		color: #787878;
	}

	* {
		padding: 0 7px;
		border-left: solid 1px #787878;

		&:first-child {
			border: none;
		}
	}
}

.contentDesc {
	margin-bottom: 2em;
}

.error {
	margin: 0 auto;
	max-width: 500px;
	padding: 1.3em;
	background-color: rgb(200, 30, 0);
}

.success {
	margin: 0 auto;
	max-width: 500px
	padding: 1.3em;
	background-color: rgb(20, 240, 10);
}

div.PasswordServiceContent
	padding: 24px 24px 8px !important
	padding: 0 !important

	.PasswordServiceContentChild
		padding: 24px 24px 8px
		overflow: visible

		h2
			line-height: 28px
			margin: 20px 0
		
		.PasswordOl .buttonRow
			margin: 0 -16px
