#navigation {
	text-align: center;
	margin-bottom: 35px;
}

#navigation {
	.PasswordServiceNav {
		display: inline-block;
		width: 14.2857%;
		min-width: 95px;
		max-width: 160px;
		margin: 5px 0;
		position: relative;
		vertical-align: top;
		cursor: pointer;
	}

	.PasswordServiceNav:active {
		font-weight: bold;
	}

	.PasswordServiceNavBubble {
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		background-color: aliceblue;
		width: 70px;
		height: 70px;
		margin: auto;
		background-repeat: no-repeat;
		background-position: 50% 40%;
	}
		.password_change {
			background-color: #8ebe43;
			background-image: url("../icons/password_change.png");
		}
		.password_forgotten {
			background-color: #fd5745;
			background-image: url("../icons/password_forgotten.png");
		}
		.protect_account_access {
			background-color: #f8cd23;
			background-image: url("../icons/protect_account_access.png");
		}

	.PasswordServiceNavTitle {
		display: block;
		font-size: 1em;
		margin-top: 0.5em;
		white-space: pre-line;
	}
}

.tab {
	position: absolute;
	opacity: 1;
	visibility: visible;
	transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.hide-tab {
	visibility:hidden;
	opacity: 0;
	transition: visibility 0s linear 0.5s, opacity 0.5s ease-in-out;
}

div.PasswordServiceContent {
	background: #ffffff
	padding: 1.3em;
	border: 0px solid #000000;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 6px rgba(1,0,0,0.118), 0 1px 4px rgba(0,1,0,0.118);
	-webkit-box-shadow: 0 1px 6px rgba(1,0,0,0.118), 0 1px 4px rgba(0,1,0,0.118);
	-moz-box-shadow: 0 1px 6px rgba(1,0,0,0.118), 0 1px 4px rgba(0,1,0,0.118);
}

ol.PasswordOl {
	margin-left: 0;
	padding-right: 0;
	padding-left: 0;
	list-style-type: none;

	li.step {
		counter-increment: step-counter;
		margin-bottom: 1em;

		div {
			margin-top: 0.1em;
		}

		.dijitButton {
			margin: 0.6em 0.6em 0 0;
		}
	}

	li.step::before {
		content: counter(step-counter);
		margin-right: 5px;
		font-size: 80%;
		background-color: rgb(200,200,200);
		color: white;
		font-weight: bold;
		padding: 3px 8px;
		border-radius: 3px;
	}

	div.stepLabel {
		display: inline;
	}
}

ol#PasswordChangeSteps li.step::before {
	background-color: #8ebe43;
}

ol#PasswordForgottenSteps li.step::before {
	background-color: #fd5745;
}

ol#PasswordProtectSteps li.step::before {
	background-color: #f8cd23;
}

div.stepContent {
	margin-top: 1.5em;
}

div.step {
	margin-bottom: 30px;
	overflow: hidden;
	opacity: 1;
	visibility: visible;
	transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;

	a {
		cursor: pointer;
	}
}

div.step.hide-step {
	opacity: 0;
	display: none;
	visibility: hidden;
	transition: visibility 0s linear 0.5s, opacity 0.5s ease-in-out;
}

div.step .dijitButton {
	margin-top: 9px;
}

.umcHeader {
	background-color: rgb(250, 200, 0);
}

.contentDesc {
	margin-bottom: 2em;
}
