#content {
	display: flex;
	justify-content: center;
	margin-top: calc(4 * var(--layout-spacing-unit));
}

.PasswordServiceContent {
	max-width: 500px;
	flex-grow: 1;
}

.stepLabel {
	display: block;
	margin-bottom: var(--layout-spacing-unit)
}

ol.PasswordOl {
	margin: 0
	padding-right: 0;
	padding-left: 0;
	list-style-type: none;

	li.step {
		counter-increment: step-counter;

		> .dijitTextBox,
		> .umcContainerWidget {
			margin-bottom: calc(3 * var(--layout-spacing-unit));
		}
	}

	.stepLabel::before {
		content: counter(step-counter);
		margin-right: 5px;
		font-size: 80%;
		background-color: var(--bgc-content-body);
		font-weight: var(--font-weight-bold);
		padding: 3px 8px;
		border-radius: 3px;
	}
}

.umcHeaderPage {
	font-size: var(--font-size-5);
	text-align: center;

	a,
	span {
		display: inline-block;
	}

	a {
		color: var(--font-color-contrast-middle);
	}

	* {
		padding: 0 7px;
		border-left: solid 1px var(--font-color-contrast-low);

		&:first-child {
			border: none;
		}
	}
}

.contentDesc {
	margin-bottom: calc(3 * var(--layout-spacing-unit));
}

.PasswordServiceContent
	.PasswordServiceContentChild
		overflow: visible
		h2
			margin: calc(2 * var(--layout-spacing-unit)) 0 var(--layout-spacing-unit)
