#navigation {
	text-align: center;
	margin-bottom: 35px;
}

#navigation {
	.PasswordServiceNav {
		display: inline-block;
		width: 14.2857%;
		min-width: 95px;
		max-width: 160px;
		margin: 5px 0;
		position: relative;
		vertical-align: top;
		cursor: pointer;
	}

	.PasswordServiceNav:active {
		font-weight: bold;
	}

	.PasswordServiceNavBubble {
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		background-color: aliceblue;
		width: 70px;
		height: 70px;
		margin: auto;
		background-repeat: no-repeat;
		background-position: 50% 40%;
	}
		.password_change {
			background-color: #8ebe43;
			background-image: url("../../icon/password_change.png");
		}
		.password_forgotten {
			background-color: #fd5745;
			background-image: url("../../icon/password_forgotten.png");
		}
		.protect_account_access {
			background-color: #f8cd23;
			background-image: url("../../icon/protect_account_access.png");
		}

	.PasswordServiceNavTitle {
		display: block;
		font-size: 1em;
		margin-top: 0.5em;
		white-space: pre-line;
	}
}

