Source: univention-kernel-image-2.6.32
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7), ucslint
Standards-Version: 3.8.2

Package: univention-kernel-image-2.6.32
Architecture: any
Pre-Depends: module-init-tools
Depends: linux-image-${F:KernelVersion}, univention-initrd, xfsprogs, firmware-atheros, firmware-bnx2, firmware-bnx2x, firmware-brcm80211, firmware-intelwimax, firmware-ipw2x00, firmware-ivtv, firmware-iwlwifi, firmware-linux, firmware-linux-nonfree, firmware-netxen, firmware-qlogic, firmware-ralink, firmware-realtek, zd1211-firmware
Description: UCS - Linux kernel (standard)
 This meta-package installs the current kernel image.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-image-2.6.32-xen
Architecture: any
Pre-Depends: module-init-tools
Depends: linux-image-${F:KernelVersionXen}, univention-initrd, xfsprogs, firmware-atheros, firmware-bnx2, firmware-bnx2x, firmware-brcm80211, firmware-intelwimax, firmware-ipw2x00, firmware-ivtv, firmware-iwlwifi, firmware-linux, firmware-linux-nonfree, firmware-netxen, firmware-qlogic, firmware-ralink, firmware-realtek, zd1211-firmware
Description: UCS - Linux kernel (Xen)
 This meta-package installs the current kernel image.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-image-2.6.32-64gb
Architecture: any
Depends: linux-image-${F:KernelVersion64}, univention-initrd, xfsprogs, firmware-atheros, firmware-bnx2, firmware-bnx2x, firmware-brcm80211, firmware-intelwimax, firmware-ipw2x00, firmware-ivtv, firmware-iwlwifi, firmware-linux, firmware-linux-nonfree, firmware-netxen, firmware-qlogic, firmware-ralink, firmware-realtek, zd1211-firmware
Description: UCS - Linux kernel (PAE)
 This meta-package installs the current kernel image.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-headers-2.6.32
Architecture: any
Depends: linux-headers-${F:KernelVersion}
Description: UCS - Linux kernel headers (standard)
 This meta-package installs the current kernel headers.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-headers-2.6.32-64gb
Architecture: any
Depends: linux-headers-${F:KernelVersion64}
Description: UCS - Linux kernel headers (PAE)
 This meta-package installs the current kernel headers.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-headers-2.6.32-xen
Architecture: any
Depends: linux-headers-${F:KernelVersionXen}
Description: UCS - Linux kernel headers (Xen)
 This meta-package installs the current kernel headers.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-source-2.6.32
Architecture: any
Depends: linux-source-${F:KernelVersion}
Description: UCS - Linux kernel source (standard)
 This meta-package installs the current kernel source.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-source-2.6.32-64gb
Architecture: any
Depends: linux-source-${F:KernelVersion64}
Description: UCS - Linux kernel source (PAE)
 This meta-package installs the current kernel source.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-image-2.6.18
Architecture: any
Depends: univention-kernel-image-2.6.32
Description: UCS - Linux kernel
 Transitional package to facilitate the upgrade to the
 2.6.32 based kernel.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-image-2.6.18-xen
Architecture: any
Depends: univention-kernel-image-2.6.32-xen
Description: UCS - Linux kernel
 Transitional package to facilitate the upgrade to the
 2.6.32 based kernel.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-image-2.6.18-64gb
Architecture: any
Depends: univention-kernel-image-2.6.32-64gb
Description: UCS - Linux kernel
 Transitional package to facilitate the upgrade to the
 2.6.32 based kernel.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-headers-2.6.18
Architecture: any
Depends: univention-kernel-headers-2.6.32
Description: UCS - Linux kernel headers
 Transitional package to facilitate the upgrade to the
 2.6.32 based kernel.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-headers-2.6.18-64gb
Architecture: any
Depends: univention-kernel-headers-2.6.32-64gb
Description: UCS - Linux kernel headers
 Transitional package to facilitate the upgrade to the
 2.6.32 based kernel.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-headers-2.6.18-xen
Architecture: any
Depends: univention-kernel-headers-2.6.32-xen
Description: UCS - Linux kernel headers
 Transitional package to facilitate the upgrade to the
 2.6.32 based kernel.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-source-2.6.18
Architecture: any
Depends: univention-kernel-source-2.6.32
Description: UCS - Linux kernel source
 Transitional package to facilitate the upgrade to the
 2.6.32 based kernel.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-kernel-source-2.6.18-64gb
Architecture: any
Depends: univention-kernel-source-2.6.32-64gb
Description: UCS - Linux kernel source
 Transitional package to facilitate the upgrade to the
 2.6.32 based kernel.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
