Source: univention-lib
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9),
 python-all,
 python3-all,
 dh-python,
 univention-config-dev,
 ucslint-univention

Package: python-univention-lib
Architecture: all
Depends: ${python:Depends},
 ${misc:Depends},
 python-univention (>= 12.0.0-4),
 python-univention-config-registry (>= 10.0.0-1),
 pwgen,
 python-magic,
 python-ipaddr,
 dnsutils,
 python-ldb,
 python-samba,
 python-ldap,
 python-imaging,
 python-six,
 python-apt,
 python-dnspython,
Provides: ${python:Provides}
Breaks: python-univention-connector-s4 (<< 13.0.2-11),
Description: UCS - common scripting functions for Python 2 scripts
 This package contains Python functions used by various
 components of UCS.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: python3-univention-lib
Architecture: all
Depends: ${python3:Depends},
 ${misc:Depends},
 python3-univention,
 python-univention-lib,
 python3-univention-config-registry,
 pwgen,
 python3-magic,
 python3-ipaddr,
 dnsutils,
 python3-ldb,
 python3-samba,
 python3-ldap | python3-pyldap,
 python3-pil,
 python3-six,
 python3-apt,
 python3-dnspython,
Provides: ${python3:Provides}
Description: UCS - common scripting functions for Python 3 scripts
 This package contains Python functions used by various
 components of UCS.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: shell-univention-lib
Architecture: all
Depends: ${misc:Depends},
 univention-config (>= 12),
 python-univention-lib (= ${binary:Version}),
 pwgen
Description: UCS - common scripting functions for shell scripts
 This package contains shell functions used by various
 components of UCS.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
