fieldset.umcGroupBox {
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-webkit-box-shadow: 0 1px 3px rgba(40,40,40,0.45);
	border: solid 1px #4682B4;
}

.umcGroupBox legend {
	cursor: pointer;
	font-weight: bold;
	padding-left: 6px;
}

.umcGroupBoxLegendNode {
	padding-left: 3px;
}

.umcGroupBoxLegend-hover .umcGroupBoxLegendNode,
.umcGroupBoxFocused .umcGroupBoxLegendNode {
	text-decoration: underline;
}

.umcGroupBoxContentInner {
	outline: none;
	padding: 2px 8px 4px 8px;
}

.claro .umcGroupBox .dijitArrowNode {
  background-image: url('../../../dijit/themes/claro/images/spriteArrows.png');
  background-repeat: no-repeat;
  height: 8px;
  width: 7px;
}
.claro .umcGroupBox .dijitClosed .dijitArrowNode {
	background-position: -14px 0;
}

.claro .umcGroupBox .dijitOpen .dijitArrowNode {
	background-position: 0 0;
}

.claro .umcGroupBox .dijitArrowNodeInner {
	display: none;
}
