Source: univention-pam
Section: univention
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.5.5
Build-Depends: debhelper, univention-config-dev

Package: univention-pam
Architecture: all
Depends: univention-config-registry, libpam-ldap (>=161), libnss-ldap (>=204), libpam-smbpass | libpam-smbpass-bdc | samba-common (>=4.0), libpam-heimdal, libpam-cracklib, pam-runasroot, univention-skel, nscd, univention-home-mounter
Replaces: univention-ldap-client (<< 1.15), univention-ldap-server (<< 1.15)
Conflicts: univention-ldap-client (<< 1.15), univention-ldap-server (<< 1.15)
Description: UCS - login configuration
 This package contains the configuration for the pluggable
 authentication modules (PAM) and the network name switch
 modules (NSS). It allows for the authentication using flat
 files, LDAP, Kerberos 5 and Windows NT Domains.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
