[Desktop Entry]
Name=Univention - be open
Exec=firefox localhost
Icon=/usr/share/icons/hicolor/scalable/apps/univention.svg
Type=Application
Categories=System;
GenericName=Server Administration
Terminal=false
Encoding=UTF-8
StartupNotify=false
