[Desktop Entry]
Name=Univention - be open
Exec=firefox https://$(hostname --fqdn)
Icon=univention
Type=Application
Categories=System;
GenericName=Server Administration
Terminal=false
Encoding=UTF-8
StartupNotify=false
