/* ======= Styling for the document itself (overriding dojo.css) ======== */

@import "variables";
@import url("../../../dojo/resources/dojo.css");

*:focus {
	// remove outline in chromium
	outline: 0;
}

.claro {
  font-family: Clear Sans, Arial, Helvetica, sans-serif;
  font-size: .75em;
  color: $document-text-color;
}

html {
	height: 100%;
	background: white;
}

body.claro {
	background: #eeeeef url(images/background.jpg) no-repeat center 0;
}

body.umcOverviewShown {
	min-height: 100%;
}
body.umcOverviewNotShown {
}

/* Headings */
.claro h1 {
	font-size: $font-size-medium;
	font-weight: bold
	margin-bottom:0.727em;
}
.claro h2 { 
	font-size: $font-size-medium;
	//line-height: 1.455em; 
	margin-top:1em; 
	margin-bottom:0.60em;
	font-weight: normal;
}
.claro h3, .claro h4, .claro h5, .claro h6 {
	font-size:1em; 
	font-weight: bold; 
}

/* paragraphs, quotes and lists */
.claro p { 
	//line-height: 1.3em;
}

/* pre and code */
.claro pre, .claro code { 
	font-family:inherit; 
	background-color: $document-shadedsection-background-color; 
	border: 1px solid $document-border-color;
}

/* tables */
.claro table.dojoTabular thead, .claro table.dojoTabular tfoot { 
	background-color: $document-shadedsection-background-color; 
	border: 1px solid $document-border-color; 
}
