/* ======= Styling for the document itself (overriding dojo.css) ======== */

@import "variables";
@import url("../../../dojo/resources/dojo.css");

*:focus {
	// remove outline in chromium
	outline: 0;
}

.claro {
  font-family: Clear Sans, Arial, Helvetica, sans-serif;
  font-size: .75em;
  color: $document-text-color;
}

html {
	height: 100%;
	background: white;
}

body.claro {
	/* Chrome,Safari4+ */
	background: url(images/background-tile.png) repeat, -webkit-gradient(linear, left bottom, right top, color-stop(0%,#cdcdcd), color-stop(50%,#efefef), color-stop(100%,#cccccc));
	/* Chrome10+,Safari5.1+ */
	background: url(images/background-tile.png) repeat, -webkit-linear-gradient(to right top, #cdcdcd 0%,#efefef 50%,#cccccc 100%);
	/* W3C */
	background: url(images/background-tile.png) repeat, unquote("linear-gradient(to right top, #cdcdcd 0%, #efefef 50%, #cccccc 100%)");
}

.dj_ie9 body.claro,
.dj_ie8 body.claro {
	/* fallback on horizontal gradient for IE8/9 */
	filter: unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#cccccc',GradientType=1)");
	background: #cdcdcd;
}

.dj_ie9 body.claro:before,
.dj_ie8 body.claro:before {
	/* add the repeating background for IE9 additionally */
	content: "";
	background: url(images/background-tile.png) repeat;
	position: absolute;
	width: 100%;
	height: 210px;
}

.dj_ie9 body.claro.umcOverviewShown:before,
.dj_ie8 body.claro.umcOverviewShown:before,
body.claro.umcOverviewShown {
	min-height: 100%;
}
body.claro.umcOverviewNotShown {
}

body.claro.umcHeadless {

	#umcHeader,
	#umcHeader .umcHeaderLeft {
		height: 42px;
	}
	.umcModuleHeader {
		height: 2px!important;
		min-height: 2px!important;
		padding-top: 0!important;
	}
	.umcModuleHeader > div {
		display: none;
	}
}

/* Headings */
.claro h1 {
	font-size: $font-size-medium;
	font-weight: bold
	margin-bottom:0.727em;
}
.claro h2 { 
	font-size: $font-size-medium;
	//line-height: 1.455em; 
	margin-top:1em; 
	margin-bottom:0.60em;
	font-weight: normal;
}
.claro h3, .claro h4, .claro h5, .claro h6 {
	font-size:1em; 
	font-weight: bold; 
}

/* paragraphs, quotes and lists */
.claro p { 
	//line-height: 1.3em;
}

/* pre and code */
.claro pre, .claro code { 
	font-family:inherit; 
	background-color: $document-shadedsection-background-color; 
	border: 1px solid $document-border-color;
}

/* tables */
.claro table.dojoTabular thead, .claro table.dojoTabular tfoot { 
	background-color: $document-shadedsection-background-color; 
	border: 1px solid $document-border-color; 
}
