@import "variables";

.umc .dojoxGrid {
	height: 300px !important;
}

.umcGrid .dojoxGridScrollbox {
  overflow-y: scroll;
  overflow-x: hidden;
}
.umc .umcGridHeader {
  padding-bottom: 0.5em;
  height: 45px;
}
//.umc .umcGridHeader .dijitToggleButton,
//.umc .umcGridHeader .dijitButton,
//.umc .umcGridHeader .dijitDropDownButton,
//.umc .umcGridHeader .dijitComboButton {
//  font-size: 1em;
//  padding: 0.0em 0.15em 0.05em 0.15em;
//  margin-right: 0.5em;
//}
//.umc .umcGridHeader {
//	.dijitButton,
//	.dijitDropDownButton {
//		.dijitButtonNode {
//			padding: 0;
//		}
//		.dijitButtonText {
//			padding: 0 0.2em;
//			font-size: 1em;
//		}
//	}
//}

.umc .dojoxGridHeader {
	background-color: $text-color;
	.dojoxGridCell {
		background-color: $text-color;
		color: $text-color-dark-background;a
	}
	.dojoxGridCellOver {
		background-color: $primary-color;
	}
	.dojoxGridCellFocus,
	.dojoxGridCell,
	.dojoxGridCellOver {
		border: none;
	}
}
.umc .dojoxGrid {
	font-family: inherit;

	.dojoxGridRow {
		background-color: white;
		border: none;
	}
	.dojoxGridRowOdd {
		background-color: $grey-lightest;
	}
	.dojoxGridRowSelected {
		background-color: $grey-medium;
	}
	.dojoxGridCell {
		background-image: none;
		border: none;
	}
}

.umcGrid .umcGridDefaultAction:hover {
	text-decoration: underline;
}

.umc .umcGridFooter {
  margin-bottom: 0.5em;
  border-top: thin solid $text-color;
}
.umc .dojoxGridArrowButtonChar {
	display: none;
	float: right;
}
.umc .dojoxGridSortUp .dojoxGridArrowButtonNode {
	background-position: -21px 50%;
}
.umc .dojoxGridArrowButtonNode {
	background: transparent url(../../../dijit/themes/umc/images/spriteArrows.png) no-repeat scroll left center;
	display: block;
	float: right;
	height: 1em;
	margin: 2px 4px 0 5px;
	padding-left: 0;
	width: 7px;
}
