@import "variables";

.umcGrid .dojoxGridScrollbox {
  overflow-y: scroll;
  overflow-x: hidden;
}

.umc .umcGridHeader {
	padding-bottom: 0.5em;
	display: inline-block;

	.dijitButton,
	.dijitDropDownButton {
		.dijitButtonNode {
			padding: 3px;
		}
		.dijitButtonText {
			font-size: 1em;
		}
	}
}

.umc .umcGridHeader > *:after {
	content: " ";
	display: block;
	clear: both;
	height: 0px;
	visibility: hidden;
}

.umc .dojoxGridHeader {
	background-color: $text-color;
	.dojoxGridCell {
		background-color: $text-color;
		color: $text-color-dark-background;a
	}
	.dojoxGridCellOver {
		background-color: $primary-color;
	}
	.dojoxGridCellFocus,
	.dojoxGridCell,
	.dojoxGridCellOver {
		border: none;
	}
	.dijitCheckBox {
		$_iconImage = replace("^(.*)(\.\w*)$", "$1-small-white$2", $image-icons)
		background-image: url($_iconImage);
	}
}
.umc .dojoxGrid {
	font-family: inherit;
	background: none;

	.dojoxGridRow {
		background-color: white;
		border: none;
	}
	.dojoxGridRowOdd {
		background-color: $grey-lightest;
	}
	.dojoxGridRowSelected {
		background-color: $grey-medium;
	}
	.dojoxGridCell {
		background-image: none;
		border: none;

		.dijitButton {
			.dijitIcon {
				margin-top: -3px;
				margin-bottom: -2px;
			}

			.dijitButtonText {
				font-size: 1em;
				margin-top: -3px;
				margin-bottom: 0px;
				padding: 0;
			}

			.dijitButtonNode {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
	}
}

.umcGrid .umcGridDefaultAction:hover {
	text-decoration: underline;
}

.umc .umcGridFooter {
  margin-bottom: 0.5em;
  border-top: thin solid $text-color;
}
.umc .dojoxGridArrowButtonChar {
	display: none;
	float: right;
}
.umc .dojoxGridSortUp .dojoxGridArrowButtonNode {
	background-position: -60px 0px;
}
.umc .dojoxGridArrowButtonNode {
	background: url("images/icons-small-white.svg") -48px 0px no-repeat;
	display: block;
	float: right;
	margin: 2px 4px 0 5px;
	padding-left: 0;
	width: 12px;
	height: 12px
}
