/*
@%@UCRWARNING= * @%@
 */

@import url("ucs.real.css");
@!@
from univention.app_appliance import Apps, get_luminance

app = Apps().find(configRegistry.get('umc/web/appliance/id', ''))

# get app color values
css_background = app and app.appliance_css_background
primary_color = app and app.appliance_primary_color
secondary_color = app and app.appliance_secondary_color

if css_background and primary_color and secondary_color:
	# decide which font/icon colors to take
	if get_luminance(primary_color) > .5:
		font_color = '#000'
		icon_color = ''
	else:
		font_color = '#fff'
		icon_color = '-white'

	print '''
body {
	background: %(css_background)s;
}

body #header-left {
	background-image: url(/css/icons/appliance_header_logo.svg);
	background-size: auto 50%%;
}

body #header-right #languagesDropDown #languagesDropDown_label {
	color: %(font_color)s;
}

body #header-right #languagesDropDown .dijitArrowButtonInner {
	background-image: url(/css/icons/icons%(icon_color)s.svg) !important;
}

body .container #title {
	color: %(font_color)s;
}

body .container #title h1 {
	border-color: %(font_color)s;
}

body .container #content {
	color: %(font_color)s;
}

.ucs .dijitTextBox {
	color: %(font_color)s;
}

body #content .dijitTextBox .umcInlineLabel {
	color: %(font_color)s;
	opacity: 0.7;
}

body #content .dijitTextBox .dijitInputInner {
	color: %(font_color)s;
}

body .container a {
	color: %(font_color)s;
	text-decoration: underline;
}
body .container a:hover {
	color: %(secondary_color)s;
}
''' % {
	'font_color': font_color,
	'secondary_color': secondary_color,
	'icon_color': icon_color,
	'css_background': css_background
}
@!@
