/*
@%@UCRWARNING= * @%@
 */

@import url("umc.real.css");
@!@
if configRegistry.is_true('system/setup/boot/start'):
	# only print these CSS rules when appliance mode is enabled
	print '''
/* style UMC for the app appliance branding during the setup process */

body.umc {
	background: #345279; /* Old browsers */
	background: -moz-linear-gradient(top, #345279 0%, #1d2c41 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #345279 0%,#1d2c41 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #345279 0%,#1d2c41 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#345279', endColorstr='#1d2c41',GradientType=0 ); /* IE6-9 */
}

.umc #umcFakeLoginLogo,
.umc .umcHeader .umcHeaderLeft {
	background-image: url("images/app-logo-umc-header.png");
}

body.umc.umcHeadless #umcHeader {
	border-bottom-color: #428bca;
}

.umc #umcLanguageSwitch .dijitButtonNode .dijitArrowButtonInner {
	background-image: url("images/icons-white.svg");
}

.umc #umcLanguageSwitch .dijitButtonText {
	color: white;
}

.umc #umcSingleSignOn {
	display: none;
}

body.umc.umcHeadless .umcTopContainer {
	background: #1D2D44;
}

#umcLoginDialog.umcLoginLoading, .umcLoginDialog.umcLoginLoading {
	/*background-image: none;*/
}
'''
@!@
