/*
@%@UCRWARNING= * @%@
 */

@import url("umc.real.css");
@!@
from univention.app_appliance import AppManager
app = AppManager.find(configRegistry.get('umc/web/appliance/id', ''))

if configRegistry.is_true('system/setup/boot/start') and app:
	# only print these CSS rules when appliance mode is enabled
	css_background = app.appliance_css_background or '#eeeeee'
	appliance_secondary_color = app.appliance_secondary_color or '#000000'
	if not appliance_secondary_color[0] == '#':
		appliance_secondary_color = '#' + appliance_secondary_color
	appliance_primary_color = app.appliance_primary_color or '#eeeeee'
	if not appliance_primary_color[0] == '#':
		appliance_primary_color = '#' + appliance_primary_color
	print '''
/* style UMC for the app appliance branding during the setup process */

body.umc {
	background: %(css_background)s;
}

.umc #umcFakeLoginLogo,
.umc .umcHeader .umcHeaderLeft {
	background-image: url("images/app-logo-umc-header.png");
}

body.umc.umcHeadless #umcHeader {
	border-bottom-color: %(appliance_secondary_color)s;
}

.umc #umcLanguageSwitch .dijitButtonNode .dijitArrowButtonInner {
	background-image: url("images/icons-white.svg");
}

.umc #umcLanguageSwitch .dijitButtonText {
	color: white;
}

.umc #umcSingleSignOn {
	display: none;
}

body.umc.umcHeadless .umcTopContainer {
	background: %(appliance_primary_color)s;
}

#umcLoginDialog.umcLoginLoading, .umcLoginDialog.umcLoginLoading {
	/*background-image: none;*/
}
''' % {
	'css_background': css_background,
	'appliance_primary_color': appliance_primary_color,
	'appliance_secondary_color': appliance_secondary_color
}
@!@
