Source: univention-management-console-frontend
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7.0.50~),
 ucslint,
 univention-dojo-dev,
 univention-config-dev,
 univention-management-console-dev,
 imagemagick,
 rsync

Package: univention-management-console-frontend
Architecture: all
Depends: ${misc:Depends},
 univention-apache
Description: UCS Management Console - Web based computer administration tool
 UCS Management Console is a web based program to manage computers.
 It has an extensible architecture, using modules to implement
 its features. This package contains the AJAX web-frontend
 application. It is written using the Dojo Toolkit and allows to
 access the univention management console web-services through
 the web browser.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-management-console-web-server
Architecture: all
Depends: ${misc:Depends},
 univention-management-console-frontend,
 univention-management-console-server,
 python-univention-management-console,
 python-cherrypy3,
 python-daemon,
 python-simplejson
Description: UCS Management Console - Web server
 UCS Management Console is a web based program to manage computers.
 It has an extensible architecture, using modules to implement
 its features. This package contains the web server providing
 HTTP access to the UMC server.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-management-console-fontend-dev
Architecture: all
Depends: ${misc:Depends},
 univention-dojo,
 univention-management-console-dev,
 imagemagick,
 rsync
Description: UCS Management Console - development files
 UCS Management Console is a web based program to manage computers.  It has
 an extensible architecture, using modules to implement its
 features. This package is a meta package that contains dependencies
 to packages that are necessary for the framework development.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
