Source: univention-nagios-smart
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper,
 univention-config-dev,
 build-essential,
 ucslint-univention
Standards-Version: 3.8.2

Package: univention-nagios-smart
Architecture: any
Depends: ${misc:Depends},
 univention-nagios-client,
 univention-directory-manager-tools (>> 7.0.147),
 smartmontools
Description: nagios smart plugin
 This package installs a nagios plugin to monitor SMART
 status of harddisks.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
