#!/usr/bin/make -f
#
# Univention License
#  rules file for the debian package
#
# Copyright (C) 2004, 2005, 2006, 2007 Univention GmbH
#
# http://www.univention.de/
#
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 2 as
# published by the Free Software Foundation.
#
# Binary versions of this file provided by Univention to you as
# well as other copyrighted, protected or trademarked materials like
# Logos, graphics, fonts, specific documentations and configurations,
# cryptographic keys etc. are subject to a license agreement between
# you and Univention.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

PACKAGE_NAME=univention-license
MODULE_NAME=univention-license

version=`dpkg-parsechangelog | grep "Version" | sed -e 's/Version: //'`
copyrightyear=`date +%Y`

PYVERS=$(shell pyversions -vr)

manpages: manpages-stamp
manpages-stamp:
	dh_testdir
	./dh_doxygen create
	touch manpages-stamp

configure: configure-stamp
configure-stamp:
	dh_testdir
	aclocal
	autoconf
	automake -a
	./configure --prefix=/usr
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp: $(PYVERS:%=build-ext-%)
	dh_testdir
	touch $@
build-ext-%:
	dh_testdir
	make
	(cd python && PYTHON=python$* make)
	(cd internal-tools && make)
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp manpages-stamp
	rm -f *~
	test -f Makefile && make distclean || true
	find -name Makefile.in -o -name Makefile -path './python' -prune | xargs rm -f
	rm -f aclocal.m4 config.* install-sh ltmain.sh missing mkinstalldirs configure
	./dh_doxygen clean
	(cd python && make clean)
	dh_clean

install: install-stamp
install-stamp: build-stamp $(PYVERS:%=install-ext-%)
install-ext-%:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	make install DESTDIR=`pwd`/debian/tmp

	install -m 0644 python/license.so debian/python-univention-license/usr/lib/python$*/site-packages/univention

	install -m 0755 internal-tools/univentionLicenseCreateSignature debian/univention-license-tools/usr/sbin/
	install -m 0755 internal-tools/univentionLicenseGenerate debian/univention-license-tools/usr/sbin/
	install -m 0755 internal-tools/make_license.sh debian/univention-license-tools/usr/sbin/univention_make_license
	install -m 0755 frontend/tklicensegen.py debian/univention-license-tools/usr/bin/tklicensegen
	
	cat tools/univention-license-import | sed -e "s/@%@package_version@%@/${version}/" > tools/univention-license-import_tmp
	cat tools/univention-license-import_tmp | sed -e "s/@%@copyright_lastyear@%@/${copyrightyear}/" > tools/univention-license-import_tmp2
	install -m 0755 tools/univention-license-import_tmp2 debian/univention-license-import/usr/sbin/univention-license-import
	rm tools/univention-license-import_tmp*

binary-indep: build install manpages

binary-arch: build install manpages
	dh_testdir
	dh_testroot
	dh_movefiles
#	dh_installdebconf	
	dh_installdocs
	dh_installexamples
	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
	dh_installcron
	dh_installman
	dh_installinfo
	dh_pycentral
#	dh_undocumented
	dh_installchangelogs 
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
