:root
	// color palette
	$color-grey0  = #1E1E1D
	$color-grey8  = #333331
	$color-grey25 = #5F5F5C
	$color-grey40 = #868681
	$color-grey62 = #BDBDBB


	/* used to accent some elements: checkbox/radiobox, checked toggle buttons/checked input fields */
	--color-accent:       #659A0D

	// background colors
	--bgc-content-body:      #FFFFFF
	--bgc-content-header:    #EFEFEE
	--bgc-content-container: #EFEFEE

	--bgc-inputfield-on-container: #D7D7D6
	--bgc-inputfield-on-body:      var(--bgc-content-container)

	--bgc-checkbox-hover: rgba(0, 0, 0, 0.06)
	--bgc-checkbox-focus: rgba(0, 0, 0, 0.12)

	--bgc-loading-circle: var(--font-color-contrast-middle)

	--bgc-user-menu-item-hover:  rgba(0, 0, 0, 0.1)
	--bgc-user-menu-item-active: rgba(0, 0, 0, 0.2)

	--bgc-header-number-circle: $color-grey25

	--bgc-tab-separator: $color-grey40

	--bgc-popup:               $color-grey62
	--bgc-popup-item-hover:    rgba(255, 255, 255, 0.15)
	--bgc-popup-item-active:   rgba(255, 255, 255, 0.3)
	--bgc-popup-item-selected: rgba(255, 255, 255, 0.3)

	--bgc-grid-row-hover:    rgba(0, 0, 0, 0.04)
	--bgc-grid-row-selected: var(--bgc-grid-row-hover)
	--bgc-tree-row-hover:    var(--bgc-grid-row-hover)
	--bgc-tree-row-selected: rgba(0, 0, 0, 0.2)

	--bgc-apptile-default:      $color-grey62
	--bgc-appcenter-app-hover:  rgba(0, 0, 0, 0.08)
	--bgc-appcenter-app-active: rgba(0, 0, 0, 0.12)

	--bgc-progressbar-empty:    $color-grey62
	--bgc-progressbar-progress: var(--bgc-success)

	--bgc-titlepane-hover: rgba(0, 0, 0, 0.04)

	--bgc-underlay: s('rgba(%s, %s, %s, 0.8)', red($color-grey40), green($color-grey40), blue($color-grey40))

	--bgc-checkerboard: repeating-conic-gradient(var(--bgc-inputfield-on-container) 0% 25%, transparent 0% 50%) 50% / 20px 20px

	--bgc-error:   #FF8597
	--bgc-warning: #F5B568
	--bgc-success: #76B413


	// font
	--font-size-1: 1.5rem
	--font-size-2: 1.25rem
	--font-size-3: 1rem
	--font-size-4: 0.875rem
	--font-size-5: 0.75rem

	--font-size-html: 1rem
	--font-size-body: var(--font-size-4)

	--font-lineheight-normal: 1.5
	--font-lineheight-compact: 1.25
	--font-lineheight-header: 1.3
	--font-weight-bold: 600

	--font-color-contrast-high:   $color-grey0
	--font-color-contrast-middle: #4E4E4B
	--font-color-contrast-low:    #6C6C6C
	--font-color-error:           #9F3323
	--font-color-warning:         #976026
	--font-color-success:         #547321


	// buttons
	--button-primary-bgc:          #7AB51D
	--button-primary-bgc-hover:    blend(rgba(255, 255, 255, 0.08), @--button-primary-bgc)
	--button-primary-bgc-active:   blend(rgba(255, 255, 255, 0.18), @--button-primary-bgc)
	--button-primary-bgc-disabled: $color-grey62

	--button-bgc:          $color-grey62
	--button-bgc-hover:    blend(rgba(255, 255, 255, 0.16), $color-grey62)
	--button-bgc-active:   blend(rgba(255, 255, 255, 0.26), $color-grey62)
	--button-bgc-disabled: $color-grey62

	--button-text-bgc:          transparent
	--button-text-bgc-hover:    var(--button-bgc-hover)
	--button-text-bgc-active:   var(--button-bgc-active)
	--button-text-bgc-disabled: transparent

	--button-icon-bgc:          transparent
	--button-icon-bgc-hover:    var(--button-bgc-hover)
	--button-icon-bgc-active:   var(--button-bgc-active)
	--button-icon-bgc-disabled: transparent

	--button-icon-highlighted-bgc:          var(--bgc-inputfield-on-body)
	--button-icon-highlighted-bgc-hover:    var(--button-bgc-hover)
	--button-icon-highlighted-bgc-active:   var(--button-bgc-active)
	--button-icon-highlighted-bgc-disabled: transparent


	// border-radius
	--border-radius-interactable: 0.25rem
	--border-radius-container:    0.5rem


	// focus
	--color-focus: var(--font-color-contrast-high)


	// popups
	--popup-border: 1px solid $color-grey62


	// shadows
	--box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16)


	// server overview
	--serveroverview-tile-hover-bgc:   #00ACB6
	--serveroverview-tile-hover-color: #1E1E1D


	// portal
	--bgc-portal-tab:                    #d7d7d6
	--bgc-portal-tab-active:             $color-grey62
	--bgc-portal-tab-hover:              $color-grey62
	--bgc-portal-tab-close-button-hover: #d7d7d6
	--bgc-portal-scrollbar:              $color-grey62

	--color-portal-iframe-border:        $color-grey62
	--color-portal-user-icon:            $color-grey62

	--select-arrow-portal: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAANZJREFUSIntkj1uwkAQRp8XdqMcIOAU2IVbU1GnCHQgcVxXcYE4AhQ0SDYU+blAZA+SaRwFnAU7/b5yfr4njQYcDodnKwbBaA08al3O9/vPr3sBUTQciJgE+D4cji/Nvrqx9wBMREwaRcNBS3gKTOqdP1gFZSkLYAPEInoVhuFzc8b3/ScR8wbEUO2U6i1tWdYT/QQYo1NgDNXO83rTPM/fbT2l+q9Zln38S3BLUhTFqWt4qwCu7hwD27ocA1uty1nbE7QKLBK6hncWXEgSgC7v63A4fjkDjfBXrz31k0cAAAAASUVORK5CYII=')
