Source: univention-saml
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 9),
 ucslint-univention,
 univention-config-dev,
 dh-python,
 python-all,
 python3-all,
 univention-management-console-dev (>= 11.0.4-37),
Standards-Version: 3.8.4

Package: univention-saml
Architecture: all
Depends: ${misc:Depends},
 python-univention-lib,
 shell-univention-lib,
 univention-apache,
 libapache2-mod-php7.0,
 php-xml,
 php-mcrypt,
 php-ldap,
 openssl,
 simplesamlphp (>= 1.11.0-1),
 univention-directory-manager-tools,
 univention-saml-schema (= ${source:Version}),
 php-memcache,
 memcached,
 stunnel4 (>=3:5.18-1),
 apache2-suexec-pristine,
 php-cgi,
 adduser,
 php-krb5,
 univention-heimdal-common,
Breaks: univention-saml-schema (<< 3.0.16-1)
Description: Integrates simpleSAMLphp Identity Provider into UCS
 This packages provides the basic configuration for the
 simpleSAMLphp Identity Provider which is an authentication and federation application
 supporting several protocols simpleSAMLphp, with its support for several authentication
 mechanisms and federation protocols, can be used for local authentication, as a
 service provider or identity provider. It currently supports the
 following protocols:
 .
  * SAML 2.0 as a Service or Identity Provider.
  * Shiboleth 1.3 as a Service or Identity Provider.
  * A-Select as a Service or Identity Provider
  * CAS for remote authentication
  * OpenID as a Provider or Consumer
  * WS-Federation as a Service Provider
 .
 It is part of Univention Corporate Server (UCS), an
 integrated Single Sign-On technology for corporate usage.
 For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-saml-schema
Architecture: all
Depends: univention-config,
 ${misc:Depends}, ${python:Depends}, ${python3:Depends},
 python-univention-directory-manager (>= 14.0.14-14),
Description: UCS simpleSAMLphp ldap integration
 This package integrates the simpleSAMLphp ldap schema into the domain
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
