#umcLoginDialog {
	background-image: url('images/login_bg.png');
	background-color: transparent;
	width: 300px;
	height: 300px;
	margin: auto;
	padding: 6px 7px 7px 6px;
	position: relative !important;
}

#umcLoginDialog * {
	overflow: hidden;
}

#umcLoginDialog.umcLoginLoading {
	background-image: url('images/login_bg.gif');
}
#umcLoginDialog .logo {
	background-image: url('images/login_logo.png');
	height: 150px;
	background-size: 100px;
	background-repeat: no-repeat;
	background-position: center center;
}
#umcLoginDialog .umcLoginForm {
	margin: 15px;
}
#umcLoginDialog .umcLoginForm label {
	width: 100%;
	height: 30px;
	display: block;
	padding: 0;
	margin: 20px 0;
	border-bottom: thin solid #969696;
}
#umcLoginDialog .umcLoginForm input {
	padding: 0;
	margin: 0;
	border: 0 none;
	outline: none;
	background: transparent;
	font-size: 1.7em;
	font-weight: bold;
	color: #787878;
	width: 100%;
	height: 100%;
}
#umcLoginDialog .umcLoginForm input[type=submit] {
	width: 10%;
	float: left;
	background-image: url('images/login-submit.svg');
	background-repeat: no-repeat;
	color: transparent;
}
#umcLoginDialog .umcLoginForm label:nth-last-child(1) input {
	float: left;
}
#umcLoginDialog .umcLoginForm label:nth-last-child(1) input:first-child {
	width: 89%;
}
#umcLoginMessages {
	margin: 0 auto;
	padding: 1em 16px;
	width: 280px;
	background-color: #696969;
	border: thin solid #a8a8a8;
	color: #ffffff;
	font-size: 0.9em;
}
#umcLoginMessages hr {
	border: 0 none;
	border-bottom: thin inset #ffffff;
}
#umcLoginMessages h1 {
	font-size: 1.7em;
	font-weight: bold;
	margin: 0;
	margin-top: 0.5em;
}

#umcLanguageSwitch {
	position: absolute;
	top: 0;
	right: 0;
}

/** OLD STYLES **/
/*.umcLoginDialog .umcText {
	padding: 0;
	width: 260px !important;
	margin: 0 auto 15px auto;
}
*/
/*
.umcLoginDialog .umcContainerWidget {
	width: 225px;
	margin: 0 auto;
}

.umc .umcLoginDialog .dojoxDialogPaneContent {
	margin: 0 auto !important;
	height: 410px !important;
}
.umcLoginDialog .dojoxDialogPaneContent .contentNode {
	margin-bottom: 10px;
}

.umcLoginDialogFormContainer {
	width: 225px;
	height: 17.5em;
}

.umcLoginForm {
	overflow: hidden;
}

#umcLoginForm {
	width: auto !important;
	height: 100% !important;
	margin-top: 0 !important;
	margin-bottom: 0;
}

.umcLoginForm .umcSubmitButton {
	margin-top: 0.8em;
	margin-right: 8px;
	float: right;
	position: relative;
	top: 4em;
}

.umcLoginForm .umcLabelPane {
	margin-bottom: 0 !important;
}

.umcLoginDialogFormContainer .umcLabelPane {
	position: relative;
	top: -8.3em;
}

.umcLoginForm .dijitTextBox {
	width: 215px !important;
}
*/
