@import "variables";

html {
	background: url(images/page.jpg) repeat center #eeeeef;
}

body {
	/* disable scrollbars for the main window, long combo boxes may cause scrollbars to be shown */
	overflow-y: hidden;
	color: @grayShip;
}

*:focus {
	// remove outline in chromium
	outline: 0;
}

a {
	color: @greenMantis;
}

/* umc input sizes */
.umc {
	.umcSize-One {
		width: 25em;
	}

	.umcSize-OneThird {
		width: 9em;
	}

	.umcSize-Half {
		width: 12em;
	}

	.umcSize-TwoThirds {
		width: 15em;
	}

	.umcSize-FourThirds {
		width: 35em;
	}

	.umcSize-OneAndAHalf {
		width: 38em;
	}

	.umcSize-FiveThirds {
		width: 41em;
	}
}

.umc .umcHeader {
	height: 96px;
	overflow: visible;
//	padding: 10px 26px 0 26px;
	padding: 0;
	background: url(univention_logo.png) no-repeat 5px 7px;

	.umcHeaderRight {

		.umcHeaderSeparator {
			height: 24px;
			margin: 5px 5px;
		//	border-right: 1px solid #58585a;
			display: inline-block;
			float: left;
		}

		/* style for user and host information */
		.umcHeaderText {
			display: block;
			float: left;
			background: none;
			box-shadow: none;
			font-size: 15px;
			padding: 9px 0 5px 0;
			margin: 0;
			height: 24px;
		}

		.dijitDropDownButton {
			#umcMenuHelp, #umcMenuSettings {
				.dijitArrowButtonInner {
					display: none;
				}
			}
		}

		/* special style for buttons */
		.dijitDropDownButton.dijitDropDownButtonHover,
		.dijitButton.dijitButtonHover {
			.box-shadow(none);
		}

		.dijitDropDownButton,
		.dijitButton {
			margin: 0;
			display: block;
			float: left;
			height: 24px;
			padding: 5px 0 5px 0;
			border: none;
			background: none;

			.dijitButtonText {
			//	display: none;
			}

			.dijitButtonNode {
				padding: 0 4px;
			}
		}
	}

	.dijitButton .dijitButtonNode {
		padding-right: 7px;
	}

	.dijitButtonNode {
		height: auto !important;
		background: none;
		border-radius: 0;
		border: none;
		padding: 0;
		box-shadow: none;
	}

	span[widgetid=umcMenuUsername].dijitDropDownButton,
	span[widgetid=umcMenuHost].dijitDropDownButton {
		// for vertical alignment with the other header elements
		padding-top: 9px;
		// force the separating lines to have the same distance
		margin-right: -7px;
	}

	#umcMenuUsername,
	#umcMenuHost {
		outline: none;
	}

	#umcMenuUsername .dijitButtonText,
	#umcMenuHost .dijitButtonText {
		display: inline-block;
		background: none;
		box-shadow: none;
		font-size: 15px;
		//height: 15px;
	}

	.dijitDisabled #umcMenuHost .dijitArrowButtonInner {
		width: 0;
	}
}

.dj_ie8 .umc .umcHeader,
.has-mozilla .umc .umcHeader {
	.umcHeaderRight {
		.umcHeaderText {
			padding: 10px 0 5px 0;
		}
	}
}

/**
 * style the main container of UMC
 */

.umc .umcTopContainer {
//	height: 100%;
//	width: 960px;
//	width: 100%;
//	margin: 0 auto;

	.SingleChild-child {
		border: none !important;
	}

	.dijitTabContainerTabListNested {
		background-color: #ededee;
		border: none;
		border-top: 1px solid #fff;
		display: block;

		.dijitTabChecked {
			background-color: #000000;
		}
	}

	.dijitTabContainerNested .dijitTabContainerTop-container {
		float: left;
		max-width: 80%!important;
		position: static!important;
	}
	.dijitTabContainerNested .dijitTabContainerTop-tabs {
		float: left;
		width: auto!important;
		position: static!important;
		.dijitTabInnerDiv {
			background: none;
			border-right: 1px solid #fff;
		}

		.dijitTabContent {
			display: block;
			padding: 5px 7px;
			border-bottom: thin solid #000000;
		}
		.dijitTabChecked .dijitTabContent {
			//padding: 5px 7px;
			background-color: #000000;
		}

		.dijitTabChecked .dijitTabContent .tabLabel {
			color: #fff;
		}

		.dijitTabHover .dijitTabContent {
			border: none;
		}

		.dijitTabHover .dijitTabInnerDiv {
			background-color: #ddd;
		}

		.dijitTabActive .dijitTabContent {
			border: none;
		}

		.dijitTabContainerTop-tabs {
			border: none;
		}
	}
}

/* notifications */

.umc .umcNotificationTopWrapper {
	position: relative;
	margin: 0 auto;
	height: 0;
	overflow: visible;
	z-index: 20;
	width: 960px;
	width: 100%;
}

.umc .umcNotification {
	position: absolute;
	display: block;
	box-sizing: border-box;
	top: 70px;
	top: 0;
	left: 0;
	overflow: hidden;
	background-color: rgba(65, 65, 66, 0.8);
	max-width: 100%;
	width: 100%;

	.umcNotificationWrapper {
		padding: 0.5em 20px 0.5em 26px;

		.umcNotificationScroller {
			max-height: 300px;
			overflow-y: auto;
			padding-right: 6px;

			.umcNotificationMessage {
				padding: 0.5em 0;
				border-bottom: solid 1px white;
				width: 100%;
				display: inline-block;
			}

			.umcNotificationMessageInfo {
				float: right;

			}

			.umcNotificationMessage.umcNewNotification {
				font-style:italic;
			}
		}

		.umcNotificationCloseButton {
			background: none;
			border: none;
			font-size: 100%;

			/* account for right alignment with the message time stamp */
			padding-right: 0;
			margin-right: 6px;

			.dijitButtonNode {
				padding-right: 0;

				.dijitButtonText {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}

		.umcNotificationCloseButton.dijitButtonHover .dijitButtonText {
			text-decoration: underline;
		}
	}
}

.umc .umcNotificationBubble {
	position: absolute;
	right: 55px;
	top: 7px;
	background-image: url("images/red_circle.png");
	width: 17px;
	height: 17px;
	color: white;
	font-size: 9px;
	line-height: 17px;
	text-align: center;
	font-weight: bold;
}


/**/

.umc .umcBackToOverview {
	background: none;
	border: 0 none;
	box-shadow: none;
}
.umc .umcBackToOverview .dijitButtonNode {
	background-image: url('icons/24x24/up.png');
	background-repeat: no-repeat;
	background-size: 16px;
	padding-top: 16px;
	background-position: top center;
}
.umc .umcBackToOverview .dijitButtonText {
	visibility: hidden;
}
.umc .umcBackToOverview.dijitFocus .dijitButtonText,
.umc .umcBackToOverview.dijitHover .dijitButtonText {
	visibility: visible;
}

.umc .umcModuleTopBar {
	width: 100%;
	height: 91px;
	margin-bottom: 2em;
	.umcModuleTopBarWrapper {
		margin: auto;
		width: 70%;
		height: 50%;
	}
}

.umc .umcModule {
	background-color: #ffffff;
	.umcModuleWrapper {
		width: 70%;
		margin: 0 auto;
//		background-color: #ffffff;
		.umcModuleContent {
			height: 400px;
			min-height: 400px;
		}
	}
	.umcPageLeft {
		float: left;
		width: 20%;
	}
	.umcPageRight {
		float: left;
		width: 69%!important;
	}
	.umcPageFooter {
		clear: left;
		height: 30px;
		width: 100%;
	}
}

.umcTree {
	height: 500px;
}

/* Main tab container */

.umc .umcMainTabContainer {
//	padding: 20px 30px 10px 30px;
}
.umc .umcMainTabContainer > div > div {
//	// modules
//	padding: 0 !important;
//	margin: 0 !important;
//	top: 0 !important;
//	left: 0 !important;
}
.umc .umcMainTabController {
	height: 30px;
	z-index: 3;
	background-color: #e5e5e5;

	.dijitTab {
		padding: 7px;
		padding-left: 2em;
		height: 16px;
		float: left;
		background-image: url('layout/images/bg-tab.svg');
		background-repeat: repeat-x;
//		background-size: ;
		border: 0 none;
		border-left: thin solid #d3d3d3;
		border-right: thin solid #d3d3d3;
		.dijitTabCloseButton {
			visibility: hidden;
		}
	}
	.dijitTab.dijitTabHover, .dijitTab.dijitTabChecked {
		background-image: none;
		.dijitTabCloseButton {
			visibility: visible;
		}
	}
}

.umc .umcOverviewContainer {
	margin: 0 auto!important;
	width: 70%;
//	width: 960px;
//	.dijitTabPaneWrapper {
//		background: none;
//	}
}

/* Category tabs */
.umc #umcCategoryBar {
	margin: 0 0 20px;

	.dijitButton {
		margin: 0;
		padding: 0;
		border: 0 none;
		background: none;
		box-shadow: none;
	}
	.dijitButtonContents {
		margin: 10px 32px;
		padding: 0;
		border: 0 none;
		background-size: 64px;
		width: 65px;
		padding-top: 83px;
		background-repeat: no-repeat;
	}
}

/* LiveSearchSidebar */
.umcLiveSearchSidebar {
	.dijitButton {
		font-size: 100%;
		background: none;
		border: none;
		display: block;
		margin: 0.4em 0 0 0;
		padding: 0;

		.dijitButtonContents {
			outline: none;
		}

		.dijitButtonText {
			text-decoration: none;
			padding-left: 0.416em;
			padding-right: 0.416em;
		}

/*		.dijitButtonNode {
			text-align: left;
			display: block;
		}*/
	}

	.umcButton.umcCategorySelected .dijitButtonText {
		font-weight: bold;
	}

	.dijitButtonHover,
	.dijitButtonActive {
		.box-shadow(none);
		background-color: @grayAthens;
		.border-radius(5px);
		.transition-duration(0.3s);

		.dijitButtonNode {
			text-shadow: none;
			background: none;
		}
	}
}

/* GalleryPane */
.umcGalleryPane.dgrid {
	overflow: auto;
	//height: auto;
	border: none;

	.dgrid-scroller {
		outline: none;
	}

	.dgrid-selected {
		background-color: inherit;
	}
}

.umcGalleryPane {
	// disable selection on touch devices
	// taken from: http://stackoverflow.com/a/11237968
	-webkit-touch-callout:none;
	-webkit-user-select:none;

	.umcGalleryCategoryHeader {
		display: block;
		border-bottom: 1px solid @border-color;
		padding-bottom: 0.416em;
		margin-bottom: 5px;
		font-size: 1.166em;
		clear: left;
		// on the android tablet the border would only be displayed at width ~300px
		// this background image hack fixes the problem, see:
		//   http://stackoverflow.com/a/13550951
		background-image:url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
	}

	.umcGalleryItem {
		position: relative;
		float: left;
		outline: none;
	//	.box-sizing(border-box);
		background-color: #f5f5f5;

		// definitions in px instead of em due to size of image in px
		padding: 15px 20px;
		margin: 0 12px 10px 0;
		height: 70px;
		width: 260px;

		.umcGalleryName,
		.umcGalleryDescription {
			text-align: left;
			display: block;
//			padding-left: 72px;
		}

		.umcGalleryDescription {
			border-top: thin solid @gray;
		}

		.umcGalleryDescription {
			color: @gray;
		}

		.umcGalleryIcon {
			margin: 0;
			padding-bottom: 0;
//			position: absolute;
//			visibility: hidden;
//			display: none;
			height: 70px;
			float: left;
		}

		.umcGalleryStatusIcon {
			position: absolute;
			top: 5px;
			left: 66px;
			width: 24px;
			height: 24px;
		}

		.umcGalleryCategoryFavorite {
			position: absolute;
			top: 0;
			right: 20px;
			width: 10px;
			height: 5px;
		}

		.umcGalleryContextIcon {
			background-size: 18px;
			position: absolute;
			top: 5px;
			left: auto;
			right: 10px;
			width: 24px;
			height: 24px;
		}
	}

	.umcGalleryItemActive,
	.umcGalleryItem:hover {
	//	background-color: @grayAthens;
	//	.border-radius(5px);
		cursor: pointer;
		.umcGalleryCategoryFavorite {
			background-color: #ffffff!important;
		}
	}

}

/* UMC overview page icons */
.umcOverviewPane {
//	.umcGalleryItemActive .umcGalleryContextIcon,
//	.umcGalleryItem:hover .umcGalleryContextIcon {
//		visibility: visible!important;
//	}
//	.umcGalleryItem	.umcGalleryContextIcon {
//		visibility: hidden;
//	}

	.umcGalleryName,
	.umcGalleryDescription {
		//padding-left: 60px !important;
	}
}

/** some tests **/
.umc .dijitTextBox,
.umc .dijitSelect {
	background: none;
	border: 0 none;
	border-bottom: thin solid black;
}
