
.umc .umcHeader {
	//padding-top: 5px;
	height: 34px;
	overflow: hidden;
	background: url(bg_images/top.png) repeat-x top;

	/* special rule for the Univention logo */
	.univentionLogo {
		background: url(univention_logo.png) no-repeat;
		width: 145px;
		height: 18px;
		position: absolute;
		left: 10px;
		top: 8px;
	}

	/* style for user and host information */
	.umcHeaderText {
		display: block;
		float: left;
		color: #fff;
		background: none;
		box-shadow: none;
		font-size: 15px;
		border-right: 1px solid #58585a !important;
		padding: 9px;
		margin: 0;
		height: 15px;
	}

	/* adjust the space between buttons, separator, and info text */
	#umcMenuUsername {
		margin-right: 6px;
	}

	/* special style for buttons */
	.dijitDropDownButton,
	.dijitButton {
		margin: 0;
		display: block;
		float: left;
		height: 24px;
		padding: 5px 0 5px 0;

		.dijitButtonText {
			display: none;
		}

		.dijitArrowButtonInner {
			display: none;
		}

		.dijitButtonNode {
			padding: 0 4px;
		}
	}

	.dijitButton .dijitButtonNode {
		padding-right: 7px;
	}

	.dijitButtonNode {
		height: auto !important;
		background: none;
		border-radius: 0;
		border: none;
		padding: 0;
		box-shadow: none;
	}

	#umcMenuHost {
		outline: none;
	}

	#umcMenuHost .dijitButtonText {
		display: inline-block;
		color: #ffffff;
		background: none;
		box-shadow: none;
		font-size: 15px;
		height: 15px;
	}

	#umcMenuHost .dijitArrowButtonInner {
		display: inline-block;
		border-right: 1px solid #58585a !important;
		padding: 11px 6px 8px 0;
		margin: -5px 0 -5px 0;
		height: 15px;
		background-image: url(form/images/umcHostInfoArrows.png);
	}

}
.has-mozilla, .has-ie {
	// Firefox and IE displays the host menu text 1px dispositioned
	.umc .umcHeader {
		.umcHeaderText {
			padding: 7px 9px 12px;
		}
		#umcMenuHost .dijitButtonText {
			height: inherit;
		}
	}
}

/* make sure that the header menu are positioned correctly */
div[dijitpopupparent=umcMenuHost],
div[dijitpopupparent=umcMenuSettings],
div[dijitpopupparent=umcMenuHelp] {
	top: 35px !important;
}

/**
 * style the main BorderContainer of UMC
 */

.umc .umcTopContainer {
	height: 100%;
	width: 960px;
	margin: 0 auto;
	background: #fff;

	.SingleChild-child {
		border: none !important;
	}

	.dijitTabContainerTabListNested {
		background-color: #ededee;
		border: none;
		border-top: 1px solid #fff;
	}

	.dijitTabContainerNested .dijitTabContainerTop-tabs {
		.dijitTabInnerDiv {
			background: none;
			border-right: 1px solid #fff;
		}

		.dijitTabContent {
			padding: 5px 7px;
		}
		.dijitTabChecked .dijitTabContent {
			padding: 5px 7px;
			background-color: #74be4b;
		}

		.dijitTabChecked .dijitTabContent .tabLabel {
			color: #fff;
		}

		.dijitTabHover .dijitTabContent {
			border: none;
		}

		.dijitTabHover .dijitTabInnerDiv {
			background-color: #ddd;
		}

		.dijitTabActive .dijitTabContent {
			border: none;
		}

		.dijitTabContainerTop-tabs {
			border: none;
		}
	}
}

.umc .umcMainTabContainer {
	padding: 20px 30px 10px 30px;
}

