html {
	background: url(../images/bg/page.png) repeat-y center #eeeeef;
}

body {
	font-family: Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
	color: #414142;
}

a {
	color: #74be4b;
}

form {
	margin-bottom: 15px;
}

.umcTopContainer {
	height: 100%;
	width: 960px;
	margin: 0 auto;
	background: #fff;
}

.dijitLayoutContainer {
	overflow: visible !important;
}

/* @group Header */

.umcHeader {
	height: 34px;
	overflow: hidden;
	background: url(../images/bg/top.png) repeat-x top;
}

.umcHeader .umcHeaderButton {
	margin: 0;
}

.umcHeader .umcHeaderButton .dijitButtonNode {
	height: auto;
	background: none;
	border-radius: 0;
	border: none;
	padding: 0;
	box-shadow: none;
}

.umcHeader .umcHeaderButton .dijitButtonNode .dijitInline {
	padding: 9px;
	font-size: 15px;
	color: #fff;
	
	background: url(../images/bg/top-link.png) repeat-y left 5px;
}
.umcHeader .dijitButtonHover,
.umcHeader .dijitDropdownButtonHover {
	background-color: #4d4d4f;
}

/* Useless spans? */
.umcHeader .umcHeaderButton .dijitButtonNode .dijitIcon {
	width: auto;
	height: auto;
	padding: 0;
	background: none;
}

/* Logout-Button */
.umcHeader .umcHeaderButton .dijitButtonNode #dijit_form_Button_3_label {
	padding: 0;
	background: none;
}

.umc .umcHeader .dijitButtonText {
	display: inline-block;
	height: auto;
}

/* @group User-Dropdown */

#dijit_form_DropDownButton_0 {
	border-right: 5px solid #313133;
}

#dijit_form_DropDownButton_0_label {
	padding-right: 5px;
}

/* @end */

.umcHeader .umcHeaderButton .dijitButtonNode .dijitArrowButtonInner {
	width: 8px;
	height: 5px;
	padding: 0 10px 0 0;
	background-image: url(../images/arrow-down.png);
}

/* @end */

#dijit_layout_TabContainer_0 {
	padding: 20px 30px;
}

.umcPageHeader h1 {
	margin: 15px 0;
	padding: 0 0 10px 7px;
	border-bottom: 1px solid #989a9c;
}

.umcPageHelpText {
	margin-bottom: 15px;
}

.dijitTitlePane {
	margin: 0 0 15px 0;
}

/* @group Main Icons */

#dijit_layout_TabContainer_0 .modLaunchButton {
	position: relative;
	float: left;
	height: 85px;
	width: 85px;
	padding: 15px;
	margin: 0 30px 20px 0;
	background-position: center 10px;
}
#dijit_layout_TabContainer_0 #umc_widgets__CategoryItem_14 {
	height: 105px;
}

/* @end */

.modLaunchButton div {
	margin-top: 70px;
	text-align: center;
}

#dijit_layout_TabContainer_0 .modLaunchButtonHover {
	background-color: #ededee;
	cursor: pointer;
	border-radius: 5px;
}

#dijit_layout_TabContainer_0 .dojoxGridCell .dijitButtonNode {
	background: none;
}

#dijit_layout_TabContainer_0 .dojoxGridRowOver tr {
	background-color: #dedede !important;
}

.umcGridFooter {
	margin-bottom: 10px;
	padding-top: 10px !important;
	background-color: #ededee;
	border-top: 1px solid #000;
	border-bottom: 2px solid #919395;
}

.umcGridFooter {
	padding-top: 10px !important;
}

#dijit_layout_TabContainer_0 .umcGridFooter .dijitButtonNode {
	padding-top: 0 !important;
}

/* @group Forms */

.umcLabelPane {
	margin-right: 5px;
}

.dijitDialog .dijitTextBox {
	width: auto;
}

.dojoxDialog .umcLabelPane {
	width: auto;
}

.umcLabelPaneLabelNode {
	margin-bottom: 3px;
}

.dijitAlignBottom .umcSubmitButton .dijitButtonText {
	display: inline-block;
    height: 13px;
    padding: 5px 8px 5px;
	background-color: #74BE4B !important;
    background-image: url("../images/button.png") !important;
    background-position: left top !important;
    background-repeat: repeat-x !important;
    color: #FFFFFF;
    font-size: 14px;
    text-decoration: none !important;
}

/* @end */

/* @group Dialog */

.dojoxDialog {
	position: absolute;
	z-index: 999;
	outline:0;
	background-color: #fff;
}

.dijitDialog p {
	margin-top: 0;
}

.dijitDialog form {
	margin-bottom: 0;
}

.dijitDialog form,
.dijitDialog #umc_widgets_Text_0 {
	width: auto !important;
	margin-top: 0 !important;
}

.dijitDialog .umcLabelPane {
	margin-bottom: 8px;
}

.dijitDialog .dijitButtonNode {
	margin-left: 0 !important;
}

/* @group Login */

#umc_widgets_LoginDialog_0 {
	width: 320px;
	height: 350px !important;
}

#umc_widgets_LoginDialog_0 * {
	overflow: hidden;
}

#umc_widgets_LoginDialog_0 .dojoxDialogPaneContent {
	width: 202 !important;
	height: 320px !important;
	margin: 0 auto !important;
	padding: 35px 45px 0 45px !important;
}

#umc_widgets_LoginDialog_0 .dojoxDialogPaneContent .contentNode {
	margin-bottom: 10px;
}

#umc_widgets_LoginDialog_0 .umcLabelPane {
	margin-bottom: 0;
}

#umc_widgets_LoginDialog_0 .dijitTextBox {
	width: 200px;
}

#umc_widgets_LoginDialog_0 #umc_widgets_ContainerWidget_4 {
	margin-top: 10px;
}

#umc_widgets_LoginDialog_0 .umcSubmitButton {
	float: right;
}

#umc_widgets_Button_0_label .dijitButtonNode {
	background: none;
}

/* @end */

/* @end */

#dijit_layout_TabContainer_0 .dijitAlignBottom .dijitButtonNode {
	background: none;
	color: #414142;
}
#dijit_layout_TabContainer_0 .dijitAlignBottom .dijitButtonContents {
	display: inline;
}
#dijit_layout_TabContainer_0 .dijitAlignBottom .dijitButtonText {
	display: inline-block;
	padding: 0 0 0 5px;
	height: auto;
	text-align: left;
}

#dijit_layout_TabContainer_0 .dijitAlignBottom .dijitButtonNode .dijitButtonText {
	text-decoration: underline;
}

.umcgrid {
	border-width: 2px;
	border-bottom-width: 0;
}

.umcMultiSelect {
	width: 25em;
}
