html {
	background: url(../images/bg/page.png) repeat-y center #eeeeef;
}

body {
	font-family: Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
	color: #414142;
	/* disable scrollbars for the main window, long combo boxes may cause scrollbars to be shown */
	overflow-y: hidden;
}

a {
	color: #74be4b;
}

form {
	margin-bottom: 15px;
}

p {
	margin-bottom: 0.25em;
	margin-top: 0.25em;
}

.umcSize-OneThird {
	width: 94px !important;
}

.umcSize-Half {
	width: 143px !important;
}

.umcSize-TwoThirds {
	width: 190px !important;
}

.umcSize-One {
	width: 300px !important;
}

.umcSize-FourThirds {
	width: 382px !important;
}

.umcSize-OneAndAHalf {
	width: 442px !important;
}

.umcSize-FiveThirds {
	width: 490px !important;
}

.umcTopContainer {
	height: 100%;
	width: 960px;
	margin: 0 auto;
	background: #fff;
}

.dijitLayoutContainer {
	overflow: visible !important;
}

/* @group Header */

.umcUNIXAccessRights-table {
	width: auto;
	padding-top: 4px;
	padding-bottom: 10px;
	padding-right: 15px;
}

.umcUNIXAccessRights-valueCell {
	width: auto;
	padding:4px;
}

.umcHeader {
	height: 34px;
	overflow: hidden;
	background: url(../images/bg/top.png) repeat-x top;
}

.umcHeaderText {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	height: auto;
	background: none;
	border-radius: 0;
	border: none;
	padding: 0;
	box-shadow: none;
	padding: 9px;
	font-size: 15px;
}

.umcHeader .umcHeaderButton {
	margin: 0;
}

.umcHeader .umcHeaderButton .dijitButtonNode {
	height: auto !important;
	background: none;
	border-radius: 0;
	border: none;
	padding: 0;
	box-shadow: none;
}

.umcHeader .umcHeaderButton .dijitButtonNode .dijitInline {
	padding: 9px;
	font-size: 15px;
	color: #fff;
	background: url(../images/bg/top-link.png) repeat-y left 5px;
}
.umcHeader .dijitButtonHover,
.umcHeader .dijitDropdownButtonHover {
	background-color: #4d4d4f;
}

/* Useless spans? */
.umcHeader .umcHeaderButton .dijitButtonNode .dijitIcon {
	width: auto;
	height: auto;
	padding: 0;
	background: none;
}

/* Logout-Button */
.umcHeader .umcHeaderButton .dijitButtonNode #dijit_form_Button_3_label {
	padding: 0;
	background: none;
}

.umc .umcHeader .dijitButtonText {
	display: inline-block;
	height: auto;
}

/* @group User-Dropdown */

#dijit_form_DropDownButton_0 {
	border-right: 5px solid #313133;
}

#dijit_form_DropDownButton_0_label {
	padding-right: 5px;
}

/* @end */

.umcHeader .umcHeaderButton .dijitButtonNode .dijitArrowButtonInner {
	width: 8px;
	height: 5px;
	padding: 0 10px 0 0;
	background-image: url(../images/arrow-down.png);
}

/* @end */

.umcMainTabContainer {
	padding: 20px 30px;
}

.umcPageHeader h1 {
	margin: 15px 0;
	padding: 0 0 10px 7px;
	border-bottom: 1px solid #989a9c;
}

.umcPageNote {
	margin-bottom: 15px;
	border: 2px solid #DBDBDB;
	padding: 10px;
}

.dijitTitlePane {
	margin: 0 0 15px 0;
}



/* @group search-form */
/*.umcSearchForm .umcLabelPane {
  float: left;
  display: block !important;
}

#umc_widgets_ContainerWidget_16,
#umc_widgets_ContainerWidget_17 {
  overflow: hidden;
}

#umc_widgets_LabelPane_5 .dijitReset .dijitButtonNode {
  background: none !important;
  color: #414142 !important;
  padding-top: 2px;
  font-size: 12px;
  text-decoration: underline;
}

#umc_widgets_LabelPane_5 .umcLabelPaneLabeNodeTop,
#umc_widgets_LabelPane_4 .umcLabelPaneLabeNodeTop {
  display: none !important;
}

#umc_widgets_LabelPane_5,
#umc_widgets_LabelPane_4 {
  float: right;
}


#umc_widgets_LabelPane_3 {
  width: 300px !important;
}

.umcSearchForm .dijitcontentpane {
  overflow: hidden !important;
}

.umcSearchForm .umcLabelPaneLabeNodeTop {
  width: 90px !important;
  float: left;
}

.umcSearchForm .umcLabelPaneLabeNodeTop label {
  padding-top: 5px;
  display: block;
}

.umcSearchForm .umcMixedInput {
  width: 200px !important;
}

.umcSearchForm .dijitTextBox {
  width: 190px !important;
}

.umcMultiInputAddButton .dijitButtonNode,
.umcMultiInputRemoveButton .dijitButtonNode {
  background: none !important;
  padding-top: 3px !important;
}

.umcLabelPaneLabeNodeRight {
  padding-left: 5px;
}*/
/* @end */

.umc .dijitButton .dijitButtonNode {
  height: 20px;
  padding: 0 2px;
}

/* @group notifications */
.dijitToasterContent {
  padding-top: 2px !important;
  padding-bottom: 5px !important;
  font-size: 12px !important;
}
/* @end */

/* @group footer */
.umcPageFooter {
  border-top: 1px solid #414142;
  margin-top: 10px;
  padding-top: 10px;
}
/* @end */

.umcUnsetPolicy {
	text-decoration:underline; 
	color:#888;
}

.univentionLogo {
	background-image: url(../images/univention_logo.png) !important;
	background-position: 10px 0 !important;
	width: 165px !important;
	height: 18px !important;
	background-repeat: no-repeat !important;
}
