/* import other style sheets */
/*@import url('icons.css');*/
/*@import url('button.css');*/

/* general definitions */
html, body
{
	height: 100%;
    width: 100%;
	height: 100%;
    border: 0;
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
	overflow: hidden;
	/*background: url('../images/mainBackground.png') repeat-x 0px 0px;*/
}

p {
	margin-top: 0em;
	margin-bottom: 0.5em;
}

.umcTopContainer {
	height: 100%;
	max-width: 970px;
	margin-left: auto;
	margin-right: auto;
}

/* the header element and its buttons */
.umcHeader
{
	/*background: url('../images/header.png') no-repeat 0px 0px;*/
	background-color: #000;
	padding: 5px !important;
	height: 25px;
	text-align: right;
	color: #FFF;
}

.umcHeaderButton .dijitButtonText {
	color: #FFF;
}

.umcHeaderButton .dijitButtonNode {
	background: none !important;
	border: none !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

/* the footer element */
.umcFooter
{
	background: url('../images/logo.png') bottom right no-repeat;
	height: 40px;
	text-align: right;
}

/* define style sheets for umc.widgets.Page */
.umcPageHeader {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
.umcPageFooter {
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000;
	margin-top: 10px;
	padding-top: 5px;
}

/* no border for the top tab container */
.dijitTabContainerTop-container {
	border-width: 0px;
}

/* define properties for floating buttons with margins */
div.modLaunchButton {
	width: 130px !important;
	/*height: 80px !important;*/
	white-space: normal !important; /* allow wrapping of text in button */
	margin: 5px !important;
    background-position: 8 center;
	background-repeat: no-repeat;
    padding-left:80px;
    height:80px;
	list-style: none;
	display: inline-block;

	/**
	 * hack for IE, see:
	 * http://robertnyman.com/2010/02/24/css-display-inline-block-why-it-rocks-and-why-it-sucks/
	 */
	zoom:1;
	*display:inline;
}

div.modLaunchButton div {
	padding-top:30px;
	/*position: absolute;
	width:80px;*/
}

div.modLaunchButtonHover {
	border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	background-color: #eee;
}

div.modLaunchButtonClick {
	background-color: #e8e8e8;
}

.umcSubmitButton {
	font-weight: bold !important;
}

/* css data for umc.widgets.LabelPane */
.umcLabelPane {
	margin: 2px 10px 5px 0;
}

.umcLabelPaneLabelNode {
	margin-bottom: 2px;
}

/* help text for umc.widgets.Page */
.umcPageHelpText {
	margin: 10px 0 10px 0;
}

/* adapatation for the drop-down buttons in the grid :) */
.umcDisplayNone {
	display: none !important;
}

/* more adapatations for the module widget */
.umcModulePane {
	padding: 8px;
}

.umcNoBorder {
	border: 0px !important;
}

.umcNoPadding {
	padding: 0px !important;
}

/* fix for bug with form submission: http://bugs.dojotoolkit.org/ticket/12331 */
.dijitOffScreen {
	visibility: visible !important;
}

/* adaptations for the grid */

.dojoxGridCell {
	border: none !important;
}

/* adaptations for the toaster */
.dijitToasterContainer {
	width: 300px;
	/*clip: none !important;*/
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.dijitToasterContent {
	font: 12px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
	text-align: center;
	color: #000;
	background: url('../images/toasterHeader.png') repeat-x 0px 0px;
	border: 1px solid #999;
	border-top: none;
	background-color: #e8e8e8;
}
.dijitToasterContent,
.dijitToasterContainer {
	border-radius: 0px 0px 8px 8px;
	-moz-border-radius: 0px 0px 8px 8px;
	-webkit-border-radius: 0px 0px 8px 8px;
}
.dijitToasterMessage {
	color: #000;
}

/* adapatations for the TitlePane in forms for level 1 */
.umcFormLevel1 .dijitTitlePaneTitle {
	background-color: transparent;
	background-image: none;
	border: none;
	font-weight: bold;
}

.umcFormLevel1 .dijitTitlePaneContentOuter {
	border: none;
}

/* force scrollbars for grids */
.umcGrid .dojoxGridScrollbox {
	overflow-y: scroll;
	overflow-x: hidden;
}
