/*
 * Copyright 2012-2014 Univention GmbH
 *
 * http://www.univention.de/
 *
 * All rights reserved.
 *
 * The source code of this program is made available
 * under the terms of the GNU Affero General Public License version 3
 * (GNU AGPL V3) as published by the Free Software Foundation.
 *
 * Binary versions of this program provided by Univention to you as
 * well as other copyrighted, protected or trademarked materials like
 * Logos, graphics, fonts, specific documentations and configurations,
 * cryptographic keys etc. are subject to a license agreement between
 * you and Univention and not subject to the GNU AGPL V3
 *
 * In the case you use this program under the terms of the GNU AGPL V3,
 * the program is provided in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Publi
 * License with the Debian GNU/Linux or Univention distribution in file
 * /usr/share/common-licenses/AGPL-3; if not, see
 * <http://www.gnu.org/licenses/>.
*/


@import url("../dijit.css");
@import url("../../icons/commonIcons.css");/*sprite containing common icons to be used by all themes*/
@import url("Common.css");
@import url("form/Common.css");
@import url("form/Button.css");
@import url("form/Checkbox.css");
@import url("form/RadioButton.css");
@import url("form/Select.css");
@import url("layout/TabContainer.css");
@import url("Dialog.css");
@import url("layout/AccordionContainer.css");
@import url("layout/ContentPane.css");
@import url("Calendar.css");
@import url("Menu.css");
@import url("form/Slider.css");
@import url("ColorPalette.css");
@import url("InlineEditBox.css");
@import url("ProgressBar.css");
@import url("TimePicker.css");
@import url("layout/BorderContainer.css");
@import url("Tree.css"); 
@import url("Toolbar.css");
@import url("Editor.css");/*in order to test button or menu item with icon */
@import url("../../icons/editorIcons.css"); /*sprite for editor icons to be used by all themes*/
@import url("TitlePane.css");
@import url("form/NumberSpinner.css");

@import url("claro_rtl.css");

@import url("umc-modifications.css"); /* umc specific modifications to claro */
@import url("site.css");
@import url("touch-devices.css");
@import url("icons.css");
