@import "../claro/variables";




@select-matchedtext-background-color: #74be4b;
@border-color: #7d8da;
@textbox-hovered-background-color: #e0eed5;
@disabled-border-color: #d3d3d3;
@hovered-border-color: #999;
@textbox-disabled-background-color: #ededee;
@pressed-background-color: #74deb4;
@arrowbutton-background-color: #ededee;
@disabled-background-color: #ededee;
@arrowbutton-hovered-background-color: #74be4b;
@focused-border-color: #74be4b;
@unselected-background-color: #ededee;
@hovered-background-color: #dcdcdc;
@selected-background-color: #ededee;
@text-color: #414142;
@button-background-color: #e0eed5;
@hovered-border-color: #74be4b;
@selected-text-color: #414142;
@hovered-text-color: #000000;
@pressed-background-color: #59a331;
@nestedtab-selected-background-color: 74be4b;
@dialog-titlebar-background-color: #74be4b;
@popup-background-color: #414142;
@popup-border-color: #fff;
@selected-border-color: #74be4b;
@calendar-background-color: #e0eed5;
@calendar-adjacentmonth-background-color: #e0eed5;
@calendar-button-hovered-background-color: #e0eed5;
@calendar-date-selected-background-color: #74be4b;
@popup-border-color: #74be4b;
@menu-background-color: #ffffff;
@bar-background-color: #ededee;
@slider-fullbar-background-color: #e0eed5;
@slider-hovered-fullbar-background-color: #74be4b;
@slider-focused-fullbar-background-color: #74be4b;
@slider-button-hovered-background-color: #e0eed5;
@slider-button-pressed-background-color: #74be4b;
@pressed-border-color: #74be4b;
@timepicker-minorvalue-background-color: #ededee;
@timepicker-majorvalue-background-color: #e0eed5;
@timepicker-value-hovered-background-color: #59a331;
@timepicker-arrow-hovered-background-color: #74be4b;
@splitter-hovered-background-color: #e0eed5;
@dnd-dropseparator-color: #74be4b;
@arrowbutton-pressed-background-color: #74be4b;
