Source: ucslint
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends:
 debhelper (>> 9),
 dh-python,
Standards-Version: 3.6.1

Package: ucslint
Architecture: all
Description: test
