a, a:hover, a:focus {
	color: #619410;
}

#content {
	margin: 0 auto;
	width: 652px;
}

.passwordreset-text {
	display: block;
	margin: 0 auto;
	font-size: 1.1em;
	width: 652px;
	padding: 15px 10px;
}
