Source: univention-management-console-module-updater
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7.0.50~),
 python-support,
 univention-management-console-dev,
 python-all
Standards-Version: 3.5.2
XS-Python-Version: all

Package: univention-management-console-module-updater
Architecture: all
Depends: univention-management-console-server
Description: UMC module for Univention updater
 This package contains the UMC module for the Univention updater.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
