/**
 * $Horde: imp/themes/lucblue/screen.css,v 1.1.2.3 2007-12-20 14:00:47 jan Exp $
 */

.folders {
    font-size: 90%;
}

form#search div.smallheader {
    font-family: Verdana,Helvetica,sans-serif;
}
