Source: univention-python
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper, python2.4, python-all-dev, python-central
XS-Python-Version: 2.4

Package: python-univention
Architecture: all
Depends: ${python:Depends}, python-ldap, python-dns, python-univention-debug, python-cracklib
Conflicts: univention-dhcp (<< 1.2), univention-dns, python2.3-univention, python-univention, univention-python, python2.4-univention (<<2.2.1)
Replaces: univnetion-python
Provides: ${python:Provides}, univention-python
XB-Python-Version: ${python:Versions}
Description: UCS - common Python modules
 This package contains Python modules used by various
 components of UCS.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: python2.4-univention
Architecture: any
Depends: python-univention
Description: Transition package
 Package to ease upgrading from old package
 python2.4-univention to the new package.  This package
 can be purged at anytime once the
 python-univention package has been installed.
