Source: univention-python
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 7.0.50~),
 dh-python,
 python-debian,
 python3-debian,
 ucslint-univention,
 python-all,
 python3-all

Package: python-univention
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 python-ldap,
 python-dns,
 python-univention-debug,
 python-cracklib
Provides: ${python:Provides}
Replaces: python-univention-config-registry
Breaks: python-univention-config-registry (<< 7)
Description: UCS - common Python 2 modules
 This package contains Python modules used by various
 components of UCS.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: python3-univention
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
 python3-ldap | python3-pyldap,
 python3-dns,
 python3-univention-debug,
 python3-cracklib
Provides: ${python3:Provides}
Description: UCS - common Python 3 modules
 This package contains Python modules used by various
 components of UCS.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
