Source: univention-s4-connector
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.5.5
Build-Depends: debhelper (>> 7),
 ucslint,
 python2.6-dev,
 python-support,
 univention-config-dev

Package: python-univention-connector-s4
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 python-univention,
 python-univention-license,
 python-univention-heimdal (>= 4.0.2-2),
 python-univention-directory-manager (>= 7.0.232-2),
 python-pysqlite2
Provides: ${python:Provides}
Description: UCS - Modules for connector sychronisation
 This package contains the modules that implement the
 features of UCS Samba4 Connector.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-s4-connector
Architecture: all
Depends: ${misc:Depends},
 python-univention-connector-s4 (= ${binary:Version}),
 shell-univention-lib (>= 1.0.6),
 python-univention-lib (>= 1.0.25-1),
 samba4-clients,
 univention-samba4,
 univention-directory-manager-tools,
 univention-heimdal-common
Recommends: sqlite3
Description: UCS - Modules for sync UCS and Samba4 LDB directory
 This package contains the modules that implement the
 features of UCS Samba4 Connector for Samba4.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
