[Desktop Entry]
Comment=
Exec=gv
GenericName=
Icon=gv
Name=GV
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
