Source: univention-thin-client
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: univention-thin-client
Architecture: all
Depends: univention-thin-client-basesystem, univention-client-boot-pxe,  univention-client-kernel-image, univention-session, univention-nfs-server, ntp-server
Description: UCS: thin client support
 This package installs the required packages to allow thin
 clients to boot from your UCS.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
