@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans'), local('OpenSans'), url(fonts/ClearSans-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Open Sans'), local('OpenSans'), url(fonts/ClearSans-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Clear Sans';
  font-style: italic;
  font-weight: normal;
  src: local('Open Sans'), local('OpenSans'), url(fonts/ClearSans-Italic.woff) format('woff');
}
@font-face {
  font-family: 'Clear Sans';
  font-style: italic;
  font-weight: bold;
  src: local('Open Sans'), local('OpenSans'), url(fonts/ClearSans-BoldItalic.woff) format('woff');
}
