#!/usr/bin/make -f
#
# Univention Kolab2 Webclient
#  rules file for the debian package
#
# Copyright (C) 2004-2009 Univention GmbH
#
# http://www.univention.de/
#
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 2 as
# published by the Free Software Foundation.
#
# Binary versions of this file provided by Univention to you as
# well as other copyrighted, protected or trademarked materials like
# Logos, graphics, fonts, specific documentations and configurations,
# cryptographic keys etc. are subject to a license agreement between
# you and Univention.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

# This is the debhelper compatability version to use.
MODULES=modules/voip

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: configure-stamp build-stamp

build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	dh_clean

D=$(CURDIR)/debian/univention-kolab2-webclient
SHARE=$(D)/usr/share/univention-kolab2-webclient
HORDESHARE=$(D)/usr/share/horde3/
php_dir=$(D)/usr/share/horde3/lib
doc_dir=$(D)/usr/share/horde3/lib/docs
data_dir=$(D)/usr/share/horde3/lib/data
bin_dir=$(D)/usr/share/horde3/lib/bin
test_dir=$(D)/usr/share/horde3/lib/tests

PEAR=pear -d php_dir=$(php_dir) -d doc_dir=$(doc_dir) -d test_dir=$(test_dir) -d bin_dir=$(bin_dir) -d data_dir=$(data_dir) install -n -f
ARCHIVES:=$(pear/*.tgz)

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	mkdir -p $(SHARE)
	install -m 644 scripts/create.database_and_user.sql $(SHARE)
	install -m 644 scripts/create.pgsql.sql $(SHARE)
	install -m 644 scripts/horde_datatree.sql $(SHARE)
	install -m 644 scripts/horde_prefs.sql $(SHARE)
	install -m 644 scripts/kronolith.pgsql.sql $(SHARE)
	install -m 644 scripts/turba_objects.pgsql.sql $(SHARE)
	install -m 644 scripts/horde_histories.sql $(SHARE)
	install -m 644 scripts/3.1_to_3.2.pgsql.sql $(SHARE)
	install -m 644 scripts/syncml_map_update.sql $(SHARE)
	install -m 755 scripts/turba-permissions.py $(SHARE)
	install -m 755 scripts/syncml_interrupt.sh $(SHARE)
	install -m 755 scripts/syncml_reset_user.sh $(SHARE)

	$(PEAR) pear/Archive_Tar-1.3.2.tgz
	$(PEAR) pear/Console_Getopt-1.2.3.tgz
	$(PEAR) pear/XML_RPC-1.5.1.tgz
	$(PEAR) pear/PEAR-1.3.3.tgz
	$(PEAR) pear/PEAR-1.4.9.tgz
	$(PEAR) pear/Net_Socket-1.0.8.tgz
	$(PEAR) pear/Net_Sieve-1.1.5.tgz
	$(PEAR) pear/Net_IMAP-1.0.3.tgz
	$(PEAR) pear/Date-1.4.7.tgz
	$(PEAR) pear/Log-1.9.11.tgz
	$(PEAR) pear/XML_Parser-1.2.8.tgz
	$(PEAR) pear/Mail-1.1.14.tgz
	$(PEAR) pear/Mail_Mime-1.4.0.tgz
	$(PEAR) pear/Auth_SASL-1.0.2.tgz
	$(PEAR) pear/Net_SMTP-1.2.11.tgz

	(cd usr/share/horde3/ && find . ! -path "*CVS*" ! -path "*.svn*" -type d -exec install  -d $(HORDESHARE){} \;)
	(cd usr/share/horde3/ && find . ! -path "*CVS*" ! -path "*.svn*" -type f -exec install -m 0644 {} $(HORDESHARE){} \;)

	install -m 755 webaccess-share.py ${D}/usr/lib/univention-directory-listener/system/
	install -m 755 horde-prefs.py ${D}/usr/lib/univention-directory-listener/system/

	rm -Rf .pc
	QUILT_PATCHES=debian/patches quilt push -a || test $$? = 2

	univention-install-baseconfig

binary-arch: build install

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install configure
