Source: univention-mysql
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 8),
 ucslint-univention,
 univention-config-dev
Standards-Version: 3.8.2

Package: univention-mysql
Architecture: all
Depends: ${misc:Depends},
 univention-mariadb,
Description: UCS - MySQL configuration
 This package depends on the MySQL server package and provides the UCS
 specific configuration.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
