Source: ucs-ec2-tools
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7),
 ucslint-univention
Standards-Version: 3.7.2
XS-Python-Version: 2.6, 2.7

Package: ucs-ec2-tools
Architecture: all
Depends: ${misc:Depends},
 python-boto (>> 2.2.2),
 python-paramiko,
 python
Description: Tools to create test environments via EC2
 This package contains various command line tools
 to build ucs test environments via EC2 for example 
 with Amazon AWS.
 .
 For more information about UCS, refer to:
 http://www.univention.de/
