Source: univention-postgresql
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.8.2
Build-Depends: debhelper,
 ucslint-univention,
 univention-config-dev

Package: univention-postgresql
Architecture: all
Pre-Depends: ${misc:Pre-Depends},
Depends: ${misc:Depends},
 univention-postgresql-8.4 | univention-postgresql-9.1,
 shell-univention-lib (>= 3.0.4-1),
 univention-config,
Description: UCS - PostgreSQL configuration
 This meta-package depends on the package with the configuration for
 the specific postgresql-*.* package.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-postgresql-9.1
Architecture: all
Depends: ${misc:Depends},
 shell-univention-lib (>= 3.0.4-1),
 postgresql-9.1,
 univention-config,
Breaks: univention-postgresql (<< 8),
 univention-bacula (<< 7.0.1-2),
 univention-pkgdb (= 8.1.1-2.196.201411290017),
 univention-pkgdb (= 8.1.1-1.194.201410271559),
 univention-pkgdb (= 7.0.11-8.195.201410271620),
 univention-pkgdb (= 7.0.11-7.182.201407031238),
 univention-pkgdb (= 7.0.11-1.177.201309301727),
 univention-pkgdb (= 6.0.18-1.163.201303111607),
 univention-pkgdb (= 6.0.17-4.162.201211281536),
 univention-pkgdb (= 5.0.18-1.136.201111241244),
Replaces: univention-postgresql (<< 8),
Description: UCS - PostgreSQL 9.1 configuration
 This package contains the configuration for the
 postgresql-9.1 package.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: univention-postgresql-8.4
Architecture: all
Depends: ${misc:Depends},
 shell-univention-lib (>= 3.0.4-1),
 postgresql-8.4,
 univention-config,
Breaks: univention-postgresql (<< 8),
 univention-bacula (<< 7.0.1-2),
 univention-pkgdb (= 8.1.1-2.196.201411290017),
 univention-pkgdb (= 8.1.1-1.194.201410271559),
 univention-pkgdb (= 7.0.11-8.195.201410271620),
 univention-pkgdb (= 7.0.11-7.182.201407031238),
 univention-pkgdb (= 7.0.11-1.177.201309301727),
 univention-pkgdb (= 6.0.18-1.163.201303111607),
 univention-pkgdb (= 6.0.17-4.162.201211281536),
 univention-pkgdb (= 5.0.18-1.136.201111241244),
Replaces: univention-postgresql (<< 8),
Description: UCS - PostgreSQL 8.4 configuration
 This package contains the configuration for the
 postgresql-8.4 package.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
