Source: univention-client-boot-pxe
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends-Indep: debhelper, univention-config-dev
Standards-Version: 3.5.5

Package: univention-client-boot-pxe
Architecture: all
Depends: univention-tftp, syslinux | syslinux-bin
Pre-Depends: univention-config-registry (>> 1.54-30)
Description: UCS - network boot infrastructure (PXE)
 The PreExecution Environment (PXE) allows for computers to
 boot from the network. No local storage is required. PXE
 is used to boot Univention Thin Clients and to install
 other computers.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
