Source: univention-apache
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7.0.50~),
 univention-config-dev,
 ucslint-univention,
Standards-Version: 3.8.2

Package: univention-apache
Architecture: all
Depends: ${misc:Depends},
 apache2,
 univention-config (>= 8.0.2),
 libapache2-mod-authnz-pam,
 python2.7
Recommends: univention-apache-vhost
Conflicts: apache
Description: UCS - Apache2 configuration
 This packages provides the basic configuration for the
 Apache web server.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: univention-apache-vhost
Architecture: all
Depends: ${misc:Depends},
 univention-apache,
 python-click,
 python-univention-directory-manager,
 univention-ssl
Description: UCS - Apache2 vhost
 This packages provides a tool to add virtual hosts to
 Apache web server.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
