Source: univention-apache
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>> 3.0.0), univention-config-dev
Standards-Version: 3.5.5

Package: univention-apache
Architecture: all
Depends: univention-ssl, apache2, libapache2-mod-auth-pam, python, univention-config-registry, php5, univention-webui-style-base
Conflicts: apache
Description: UCS - Apache2 configuration
 This packages provides the basic configuration for the
 Apache web server.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
