{#
SPDX-FileCopyrightText: 2025-2026 Univention GmbH
SPDX-License-Identifier: AGPL-3.0-only
#}
{% for copyright_line in copyright_lines %}
{{ copyright_line }}
{% endfor %}
{% for contributor_line in contributor_lines %}
SPDX-FileContributor: {{ contributor_line }}
{% endfor %}
{% for expression in spdx_expressions %}
SPDX-License-Identifier: {{ expression }}
{% endfor %}
