Source: univention-letsencrypt
Maintainer: Univention GmbH <packages@univention.de>
Priority: optional
Section: univention
Standards-Version: 3.9.6
Build-Depends: debhelper (>> 7),
 univention-config-dev,
 ucslint-univention,
 libunivention-config-dev

Package: univention-letsencrypt
Architecture: all
Depends: python, univention-config
Recommends: apache2
Description: univention-letsencrypt - automatically request SSL certificates
 This package contains acme_tiny.py for semi-automatic request of SSL
 certificates from Let's Encrypt project.
