Source: 0016-2-3
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7.0.50~),
 univention-config-dev,
 ucslint
Standards-Version: 3.7.2

Package: 0016-2-3
Architecture: all
Depends: ${misc:Depends}
Description: Dummy modules
 Dummy modules
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
