Source: univention-demo-configuration
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.8.2
Build-Depends: debhelper (>= 7.0.50~),
 ucslint-univention,
 univention-config-dev,
 stylus,
 univention-ucs-translation-template

Package: univention-demo-configuration
Architecture: all
Description: restricted configuration for demo.univention.de
Depends: univention-config | ${misc:Depends},
 univention-nagios-server
