Source: univention-demo-configuration
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.8.2
Build-Depends:
 debhelper,
 node-stylus,
 univention-config-dev,
 univention-l10n-dev,

Package: univention-demo-configuration
Architecture: all
Description: restricted configuration for demo.univention.de
Depends:
 univention-config | ${misc:Depends},
