/* Calendar
 *
 * Styling Calendar mainly includes:
 * 
 * 1. Calendar container
 * 		.dijitCalendar - main container
 * 		.dijitCalendarHover / .dijitCalendarActive - states e.g. hover,active
 * 
 * 2. Month
 * 		.dijitCalendarMonthContainer
 * 		.dijitCalendarMonthLabel
 *      .dijitCalendarDecrease / .dijitCalendarDecrease - icons for switching to previous/next month
 *      .dijitCalendarArrowActive .dijitCalendarDecrease - states e.g. hover,active
 * 
 * 3. Date
 * 		.dijitCalendarDayLabelTemplate - week day column header e.g. S M T W T F S
 * 		.dijitCalendarDateTemplate - date label wrapper
 * 		.dijitCalendarPreviousMonth .dijitCalendarDateLabel - special labels for previous or next month
 *      .dijitCalendarSelectedDate .dijitCalendarDateLabel - styles for selected date
 * 		.dijitCalendarDisabledDate .dijitCalendarDateLabel - styles for disabled date
 * 		.dijitCalendarActiveDate .dijitCalendarDateLabel - states e.g. hover,active
 * 
 * 4. Year
 * 		.dijitCalendarYearContainer
 * 		.dijitCalendarYearLabel
 * 		.dijitCalendarPreviousYear /.dijitCalendarNextYear
 *      .dijitCalendarNextYearHover / .dijitCalendarPreviousYearHover - states e.g. hover,active
 *      
 * 5. Dropdown Month Menu
 * 		.dijitCalendarMonthMenu - menu container     
 * 		.dijitCalendarMonthMenu .dijitCalendarMonthLabel - month label in menu item
 * 		.dijitCalendarMonthMenu .dijitCalendarMonthLabelHover - menu item hover state
 */

@import "variables"

/* Styling of Calendar container */
.umc .dijitCalendar
	border: solid 1px $base-border-color
	vertical-gradient-and-filter($secondary-color, $grey-medium)
	material-shadow(1)
	padding: 6px 0px 3px

	/* Styling for month container (previous/next month and month dropdown button) */
	.dijitCalendarMonthContainer
		padding-bottom: 8px

		/* Styling for month arrows */
		.dijitCalendarArrow
			height: 36px
			width: @height
			display: flex
			justify-content: center
			align-items: center
			cursor: pointer

			// icons
			.dijitCalendarIncrease
				icon-image(-72, -12, "", "-small", 12px, 12px)

			.dijitCalendarDecrease
				icon-image(-48, -12, "", "-small", 12px, 12px)

			&.dijitCalendarArrowHover
				opacity: 0.66

				.dijitCalendarIncrease
					icon-image(-84, -12, "", "-small", 12px, 12px)

				.dijitCalendarDecrease
					icon-image(-60, -12, "", "-small", 12px, 12px)

			&.dijitCalendarArrowActive
				opacity: 1

				.dijitCalendarIncrease
					icon-image(-84, -12, "", "-small", 12px, 12px)

				.dijitCalendarDecrease
					icon-image(-60, -12, "", "-small", 12px, 12px)

			.dijitA11ySideArrow
				/* text +/- labels instead of arrow icons, for high contrast mode */
				display: none

		/* Styling for month DropDownButton */
		.dijitDropDownButton
			material-flat-button()
			margin: 0

			// arrow styling
			.dijitArrowButtonInner
				icon-image(0, -12, "", "-small", 12px, 12px)

			&.dijitDropDownButtonHover .dijitArrowButtonInner
				icon-image(-12, -12, "", "-small", 12px, 12px)
				opacity: 0.66

			&.dijitDropDownButtonActive .dijitArrowButtonInner
				icon-image(-12, -12, "", "-small", 12px, 12px)
				opacity: 1

	/* Styling for the date cells */
	table
		width: 100%

		/* day label style (monday - sunday) */
		.dijitCalendarDayLabelTemplate
			text-align: center
			border-bottom: 1px solid $border-color
			padding: 0 3px 2px
			font-weight: bold

			.dijitCalendarDayLabel
				font-size:0.909em

		/* date cells style - basic*/
		.dijitCalendarDateTemplate
			font-size: 0.909em
			letter-spacing: 0.05em
			text-align: center
			padding: 0

			&:focus
				outline: 1px solid $text-color

			.dijitCalendarDateLabel
				display: block
				padding: 6px

		/* Dates of previous next months */
		.dijitCalendarPreviousMonth,
		.dijitCalendarNextMonth
			background-color: $primary-color
			
			.dijitCalendarDateLabel
				color: $calendar-adjacentmonth-text-color

		/* Hovored date */
		.dijitCalendarHoveredDate
			background-color: $base-border-color

			.dijitCalendarDateLabel
				color: $hovered-text-color

		/* Active date */
		.dijitCalendarActiveDate
			background-color: $calendar-date-pressed-background-color

			.dijitCalendarDateLabel
				color: $hovered-text-color

		/* Selected date */
		.dijitCalendarSelectedDate
			background-color: $calendar-date-selected-background-color

			.dijitCalendarDateLabel
				color: $selected-text-color
				font-weight: bold

		/* Disabled Calendar Style*/
		.dijitCalendarDisabledDate
			.dijitCalendarDateLabel
				color: $disabled-text-color
				text-decoration: line-through

	/* Styling for year container */
	.dijitCalendarYearContainer
		padding-top: material-grid(1)

		.dijitCalendarYearLabel
			display: flex
			align-items: center

			.dijitCalendarNextYear,
			.dijitCalendarPreviousYear
				text-align: center
				width: 100%
				font-size: $font-size-button
				color: $text-color-lighter
				font-weight: 500
				text-transform: uppercase
				letter-spacing: 1.25px

				&Hover
					color: $text-color-dark-background

				&Active
					background-color: $primary-color

			.currentYearInput
				background-color: transparent
				border-color: #5a5a5a

				.dijitInputInner
					text-align: center

/* Styling for month drop down list */
.umc .dijitCalendarMonthMenu
	border-color: $popup-border-color
	background-color: $menu-background-color
	text-align: center
	background-image: none

	.dijitCalendarMonthLabel
		border-top: 1px solid $menu-background-color
		border-bottom: solid 1px $menu-background-color
		padding: 2px 0

		&Hover
			border-color: $hovered-border-color
			border-width: 1px 0
			background-color: $hovered-background-color
			color: $text-color-dark-background

		&Active
			background-color: $primary-color

/* Styling for the hot keys tootip table */
.umc .calendarHotKeysTable th
	font-weight: bold
