/* ========= Styling rules to affect widgets ========= */

@require "variables.styl"

.umc .dijitFocusedLabel
	/* for checkboxes or radio buttons, hatch border around the corresponding label, to indicate focus */
	outline: 1px dotted var(--font-color-contrast-middle)
