/* CookieBanner */

@import "variables"

.umc .dijitDialog.umcConfirmDialog.umcCookieBanner
	position: fixed
	bottom: 0px
	max-width: 100%

	.umcText
		font-size 11pt

	.dijitDialogTitleBar,
	.dijitDialogPaneContent
		padding 0 52px

	.dijitDialogTitleBar
		padding-top 20px
		padding-bottom 5px

		.dijitDialogTitle 
			font-size 14pt
	
	.dijitDialogPaneContent
		padding-top 5px
		padding-bottom 25px
		display table

		.umcContainerWidget
			display table-row

			.umcText,
			.umcButtonRow
				display table-cell

			.umcButtonRow
				padding-left 30px
				vertical-align bottom
		
