/* Dialog
 *
 * Styling Dialog includes two sections: Dialog and Tooltip & TooltipDialog
 *
 * Dialog:
 * 1. Dialog (default styling):
 * 		.dijitDialog - styles for dialog's bounding box
 *
 * 2. Dialog title
 * 		.dijitDialogTitleBar - styles for the title container at the top of dialog
 * 		.dijitDialogTitle - the text container in dialog title
 *
 * 3. Dialog content
 * 		.dijitDialogPaneContent - main container for content area and action bar
 * 		.dijitDialogPaneContentArea - styles for content container
 *
 * 4. Dialog action bar
 * 		.dijitDialogPaneActionBar - styles for action buttons lie at the bottom of dialog pane content
 *
 * 5. Dialog underlay
 * 		.dijitDialogUnderlay - div under the dialog which used for separate dialog and page content
 *
 *
 * Tooltip & TooltipDialog:
 * 1. tooltip content container:
 * 		.dijitTooltipContainer - tooltip content container
 *
 * 2. tooltip connector:
 * 		.dijitTooltipConnector - tooltip anchor includes 4 direction(up, down, left, right)
 */

@require "variables.styl"
@require "HTMLElements.styl"


.umc .dijitDialogUnderlay
	background: var(--bgc-underlay)
	opacity: 1

.umc .dijitDialog
	box-shadow: var(--box-shadow)
	max-width: $dialog-max-width
	border-radius: var(--border-radius-container)
	background-color: var(--bgc-content-container)

	@media (max-width: $dialog-max-width)
		max-width: 100%

	&.umcLargeDialog
		width: 100%
		@media (min-width: ($dialog-max-width + 1))
			width: $dialog-max-width

		@media (min-width: ($dialog-max-width / $dialog-large-width))
			width: (100%*$dialog-large-width)

.umc .dijitDialogTitleBar
	/* outer container for the titlebar of the dialog */
	padding: spacing(2)
	display: flex
	align-items: center
.umc .dijitDialogCloseIcon
	margin-left: auto
.umc .dijitDialogTitle
	@extends h2
	margin-right: spacing(1)

.umc .dijitDialogPaneContent
	padding: 0 spacing(2)
	margin-bottom: spacing(2)
	overflow: auto

.umc .umcDialogActionBar
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	border-top: thin solid var(--bgc-content-body)
	padding: spacing(1) spacing(2)
	// gap: spacing(1) // replace margin with this if supported in all browsers
	margin: spacing(-1, true)
	> .ucsButton
		margin: spacing(1, true)


.umc .dijitDialog .umcPageFooter
	border-top: thin solid var(--bgc-content-body)
	padding-top: spacing(2)


// TODO
.umc .dijitDialog .umcPage > *
	padding-left: 0
	padding-right: 0


// TODO
.umc .umcServerErrorMessage
	color: var(--font-color-contrast-middle)
	overflow: auto
	max-height: 200px
