/* Dialog
 *
 * Styling Dialog includes two sections: Dialog and Tooltip & TooltipDialog
 *
 * Dialog:
 * 1. Dialog (default styling):
 * 		.dijitDialog - styles for dialog's bounding box
 *
 * 2. Dialog title
 * 		.dijitDialogTitleBar - styles for the title container at the top of dialog
 * 		.dijitDialogTitle - the text container in dialog title
 *
 * 3. Dialog content
 * 		.dijitDialogPaneContent - main container for content area and action bar
 * 		.dijitDialogPaneContentArea - styles for content container
 *
 * 4. Dialog action bar
 * 		.dijitDialogPaneActionBar - styles for action buttons lie at the bottom of dialog pane content
 *
 * 5. Dialog underlay
 * 		.dijitDialogUnderlay - div under the dialog which used for separate dialog and page content
 *
 *
 * Tooltip & TooltipDialog:
 * 1. tooltip content container:
 * 		.dijitTooltipContainer - tooltip content container
 *
 * 2. tooltip connector:
 * 		.dijitTooltipConnector - tooltip anchor includes 4 direction(up, down, left, right)
 */

@import "variables"

.umc .dijitDialog
	material-shadow(5)
	max-width: $dialog-max-width

	@media (max-width: $dialog-max-width)
		max-width: 100%

	&.umcLargeDialog
		width: 100%
		@media (min-width: ($dialog-max-width + 1))
			width: $dialog-max-width

		@media (min-width: ($dialog-max-width / $dialog-large-width))
			width: (100%*$dialog-large-width)

	.umcPageFooter,
	.umcButtonRow
		padding-top: 24px
		margin-top: 0 !important

		.dijitButton
			material-flat-button()
			margin: 0
			&:not(:first-child)
				margin-left: 8px

			.dijitButtonNode
				min-width: 64px

		.dijitDefaultButton .dijitButtonText
			color: $ucs-green

	.umcButtonRow
		margin-right: -16px
		text-align: right
	
	.dijitContainer
		overflow: visible

	.umcWizard
		overflow: visible

		.umcPage
			&:after
				content: ''
				display: block
				clear: both

			.umcPageFooter
				left: -16px
				width: calc(100% + 32px)

.umc .dijitDialogPaneContent
	background: black
	/* have 1px padding on top to capture overflowing margins */
	padding: 1px 24px 8px 24px
	position: relative

.umc .dijitDialogPaneContent,
.umc .dijitDialogTitleBar
	width: 100%
	max-width: none


.umc .dijitDialogPaneContentArea
	/* trick to get action bar (gray bar at bottom with OK/cancel buttons) to span from
	 * left to right but still indent dialog content
	 */
	margin: -10px -8px
	padding: 10px 8px

.umc .dijitDialogPaneActionBar
	/* gray bar at bottom of dialog with OK/Cancel buttons */
	//background-color: $bar-background-color
	padding: 3px 5px 2px 7px
	text-align: right
	border-top: 1px solid $minor-border-color
	margin: 10px -8px -10px

.umc .dijitDialogPaneActionBar .dijitButton
	float: none

.umc .dijitDialogTitleBar
	/* outer container for the titlebar of the dialog */
	background-color: white
	padding: 24px 24px 19px 24px


.umc .dijitDialogTitle
	/* typography and styling of the dialog title */
	font-size: $font-size-title
	font-weight: 500
	line-height: 28px
	color: $text-color

.umc .dijitDialogUnderlay
	background: $dialog-underlay-color


.umc .dijitDialog .umcPage > *
	padding-left: 0
	padding-right: 0


.umc .umcServerErrorMessage
	color: $text-color-lightest
	overflow: auto
	max-height: 200px


/** inline dialogs **/
/* inline wizards */
.umc .umcWizard.umcInlineDialog,
.umc .umcModule .umcWizard
	background-color: #fff
	material-shadow(1)
	margin: 7px 15px
	padding: 24px 9px 8px
	overflow: visible
	
	.umcPage
		&:after
			content: ''
			display: block
			clear: both

		.umcPageNav
			.umcPageHeader h1
				line-height: 28px
				margin-bottom: 20px

		.umcPageFooter
			padding: 0
			margin-top: 24px
			width: calc(100% + 2px)
			left: -1px

			.dijitButton
				material-flat-button()
				margin: 0
				&:not(:first-child)
					margin-left: 8px

			.dijitDefaultButton,
			.dijitUploader
				.dijitButtonText
					color: $ucs-green

	.dijitTextBox,
	.dijitSelect
		background-color: #fafafa

	.dijitTextBoxDisabled
		background: $textbox-disabled-background-color

.umc .umcWizard.umcInlineDialog
	margin: 48px auto


/* Help Dialogs from Menu */
/* Help, About UMC, Usage Statistics */
.umc .umcAppDialog
	.umcPageFooter
		display: none

/* App Center inline dialogs */
.umc .umcAppCenterDialog
	margin: 7px 15px
	&:after
		content: ''
		display: block
		clear: both

	.umcPageMain
		background-color: #fff
		material-shadow(1)
		padding: 24px 24px 8px

		.umcPageHeader h1
			margin: 0 0 20px
			line-height: 28px

		.umcButtonRow
			margin: 0 -16px
			padding-top: 32px

			.dijitButton
				material-flat-button()
				margin: 0
				&:not(:first-child)
					margin-left: 8px

	.umcPageFooter
		display: none

	.dijitTextBox,
	.dijitSelect
		background-color: #fafafa

	.dijitTextBoxDisabled
		background: $textbox-disabled-background-color
