/* Dialog
 *
 * Styling Dialog includes two sections: Dialog and Tooltip & TooltipDialog
 *
 * Dialog:
 * 1. Dialog (default styling):
 * 		.dijitDialog - styles for dialog's bounding box
 *
 * 2. Dialog title
 * 		.dijitDialogTitleBar - styles for the title container at the top of dialog
 * 		.dijitDialogTitle - the text container in dialog title
 *
 * 3. Dialog content
 * 		.dijitDialogPaneContent - main container for content area and action bar
 * 		.dijitDialogPaneContentArea - styles for content container
 *
 * 4. Dialog action bar
 * 		.dijitDialogPaneActionBar - styles for action buttons lie at the bottom of dialog pane content
 *
 * 5. Dialog underlay
 * 		.dijitDialogUnderlay - div under the dialog which used for separate dialog and page content
 *
 *
 * Tooltip & TooltipDialog:
 * 1. tooltip content container:
 * 		.dijitTooltipContainer - tooltip content container
 *
 * 2. tooltip connector:
 * 		.dijitTooltipConnector - tooltip anchor includes 4 direction(up, down, left, right)
 */

@import "variables"

.umc .dijitDialog
	material-shadow(5)
	max-width: $dialog-max-width

	@media (max-width: $dialog-max-width)
		max-width: 100%

	&.umcLargeDialog
		width: 100%
		@media (min-width: ($dialog-max-width + 1))
			width: $dialog-max-width

		@media (min-width: ($dialog-max-width / $dialog-large-width))
			width: (100%*$dialog-large-width)

	.umcPageFooter,
	.umcButtonRow
		padding-top: 24px
		margin-top: 0 !important

		.dijitButton
			material-flat-button()
			margin: 0
			&:not(:first-child)
				margin-left: 8px

			.dijitButtonNode
				min-width: 64px

		.dijitDefaultButton .dijitButtonText
			color: $ucs-green

	.umcButtonRow
		margin-right: -16px
		text-align: right
	
	.dijitContainer
		overflow: visible

	.umcWizard
		overflow: visible

		.umcPage
			&:after
				content: ''
				display: block
				clear: both

			.umcPageFooter
				left: -16px
				width: calc(100% + 32px)

.umc .dijitDialogPaneContent
	background: $pane-background-color
	/* have 1px padding on top to capture overflowing margins */
	padding: 1px 24px 8px 24px
	position: relative

.umc .dijitDialogPaneContent,
.umc .dijitDialogTitleBar
	width: 100%
	max-width: none


.umc .dijitDialogPaneContentArea
	/* trick to get action bar (gray bar at bottom with OK/cancel buttons) to span from
	 * left to right but still indent dialog content
	 */
	margin: -10px -8px
	padding: 10px 8px

.umc .dijitDialogPaneActionBar
	/* gray bar at bottom of dialog with OK/Cancel buttons */
	//background-color: $bar-background-color
	padding: 3px 5px 2px 7px
	text-align: right
	border-top: 1px solid $minor-border-color
	margin: 10px -8px -10px

.umc .dijitTooltipDialog .dijitDialogPaneActionBar
	-webkit-border-bottom-right-radius: 4px
	-webkit-border-bottom-left-radius: 4px
	border-bottom-right-radius: 4px
	border-bottom-left-radius: 4px
	-moz-border-radius-bottomright: 4px
	-moz-border-radius-bottomleft: 4px
	margin: 10px -10px -8px

.umc .dijitDialogPaneActionBar .dijitButton
	float: none

.umc .dijitDialogTitleBar
	/* outer container for the titlebar of the dialog */
	background-color: white
	padding: 24px 24px 19px 24px


.umc .dijitDialogTitle
	/* typography and styling of the dialog title */
	font-size: $font-size-title
	font-weight: 500
	line-height: 28px
	color: $text-color

/* Tooltip and TooltipDialog */

.umc .dijitTooltip,
.umc .dijitTooltipDialog
	/* the outermost dom node, holding the connector and container */
	background: transparent	/* make the area on the sides of the arrow transparent */
	padding: 4px
	//box-sizing: content-box

.umc .dijitTooltip
	box-sizing: content-box


.umc .dijitTooltipDialog,
.umc .dijitTooltip.dijitTooltipBelow
	/* leave room for arrow above content */
	padding-top: 11px


.umc .dijitTooltip.dijitTooltipAbove
	/* leave room for arrow below content */
	padding-bottom: 11px

.umc .dijitTooltip.dijitTooltipLeft
	/* leave room for arrow before content */
	padding-right: 13px

.umc .dijitTooltip.dijitTooltipRight
	padding-left: 13px

.umc .dijitTooltipContainer
	/* the part with the text */
	background-color:$popup-background-color
	//linear-gradient(bottom, $tooltip-gradient-color 0px, $popup-background-color 10px)
	background-position:bottom
	border:1px solid $popup-border-color
	padding:6px 8px
	border-radius: 4px
	box-shadow: 0 0px 10px rgba(0,0,0,0.15)
	font-size: 1em
	color: $text-color
	max-width: 400px


.umc .dijitTooltipConnector
	/* the arrow piece */
	border: 0
	z-index: 2
	background-image:url($image-tooltip)
	background-repeat:no-repeat
	width:20px
	height:18px

.dj_ie6 .umc .dijitTooltipConnector
	background-image:url($image-tooltip-ie6)


.umc .dijitTooltipDialog .dijitTooltipConnector,
.umc .dijitTooltipBelow .dijitTooltipConnector
	/* the arrow piece for tooltips below an element */
	top: -6px
	//left: 3px
	background-position:-41px -1px


.umc .dijitTooltipDialog .dijitTooltipConnector
	left: 12px


.umc .dijitTooltipAbove .dijitTooltipConnector
	/* the arrow piece for tooltips above an element */
	bottom: -6px
	//left: 3px
	background-position:-21px -1px

.dj_ie7 .umc .dijitTooltipAbove .dijitTooltipConnector,
.dj_ie6 .umc .dijitTooltipAbove .dijitTooltipConnector
	//bottom: -1px


.umc .dijitTooltipABRight .dijitTooltipConnector
	/* above or below tooltip, but the arrow appears on the right,
		and the right edges of target and tooltip are aligned rather than the left.
		Override above rules for .dijitTooltipBelow, .dijitTooltipAbove */
	//left: auto
	right: 4px


.umc .dijitTooltipLeft
	//padding-right: 14px

.umc .dijitTooltipLeft .dijitTooltipConnector
	/* the arrow piece for tooltips to the left of an element, bottom borders aligned */
	right: -6px
	background-position:-1px -1px


.umc .dijitTooltipRight
	//padding-left: 14px

.umc .dijitTooltipRight .dijitTooltipConnector
	/* the arrow piece for tooltips to the right of an element, bottom borders aligned */
	left: -6px
	background-position:-61px -1px


.umc .dijitDialogUnderlay
	background: $dialog-underlay-color


.umc .dijitDialog .umcPage > *
	padding-left: 0
	padding-right: 0


.umc .umcServerErrorMessage
	color: $text-color-lightest
	overflow: auto
	max-height: 200px


.umc .umcDescriptionIcon
	icon-image(-24, 0, "./", "-small", 12px, 12px)
	margin: 0.4em 0 0  0.3em
	display: inline-block


.umc .umcDescriptionIcon:hover
	/* unselected */
	background-position: -36px 0
	opacity: 0.66


.umc .umcDescriptionIcon:active
	/* unselected */
	opacity: 1


/** inline dialogs **/
/* inline wizards */
.umc .umcWizard.umcInlineDialog,
.umc .umcModule .umcWizard
	background-color: #fff
	material-shadow(1)
	margin: 7px 15px
	padding: 24px 9px 8px
	overflow: visible
	
	.umcPage
		&:after
			content: ''
			display: block
			clear: both

		.umcPageNav
			.umcPageHeader h1
				line-height: 28px
				margin-bottom: 20px

		.umcPageFooter
			padding: 0
			margin-top: 24px
			width: calc(100% + 2px)
			left: -1px

			.dijitButton
				material-flat-button()
				margin: 0
				&:not(:first-child)
					margin-left: 8px

			.dijitDefaultButton,
			.dijitUploader
				.dijitButtonText
					color: $ucs-green

	.dijitTextBox,
	.dijitSelect
		background-color: #fafafa

	.dijitTextBoxDisabled
		background: $textbox-disabled-background-color

.umc .umcWizard.umcInlineDialog
	margin: 48px auto


/* Help Dialogs from Menu */
/* Help, About UMC, Usage Statistics */
.umc .umcAppDialog
	.umcPageFooter
		display: none

/* App Center inline dialogs */
.umc .umcAppCenterDialog
	margin: 7px 15px
	&:after
		content: ''
		display: block
		clear: both

	.umcPageMain
		background-color: #fff
		material-shadow(1)
		padding: 24px 24px 8px

		.umcPageHeader h1
			margin: 0 0 20px
			line-height: 28px

		.umcButtonRow
			margin: 0 -16px
			padding-top: 32px

			.dijitButton
				material-flat-button()
				margin: 0
				&:not(:first-child)
					margin-left: 8px

	.umcPageFooter
		display: none

	.dijitTextBox,
	.dijitSelect
		background-color: #fafafa

	.dijitTextBoxDisabled
		background: $textbox-disabled-background-color
