/* ======= Styling for the document itself (overriding dojo.css) ======== */

@import "variables"

// TODO discuss if we want to hide the focus generally or should either keep it or disable it individually
// *:focus
	// remove outline in chromium
	// outline: 0

html,
body
	background-color: var(--bgc-content-body)

body
	overflow-x: hidden
	min-height: 100vh

.umc td,
.umc th
	padding: 0em 1em 0.3em 0em

.umc .umcGalleryItem a
	text-decoration: none

/* paragraphs, quotes and lists */

.umc hr
	border-top: 2px solid $border-color

/* pre and code */
.umc pre, .umc code 
	//font-family:inherit 
	//background-color: $document-shadedsection-background-color 
	border: 1px solid $document-border-color
	word-wrap: normal


/* tables */
.umc table.dojoTabular thead, .umc table.dojoTabular tfoot 
	background-color: $document-shadedsection-background-color 
	border: 1px solid $document-border-color 

/* white cards as described by Google Material Design */
.umc .umcCard
	margin: 48px auto
	background: #fff
	padding: 14px
	border: none
	material-shadow(1)

	h2,
	h1
		&:first-child
			margin-top: 10px

	.dijitTextBox,
	.dijitSelect
		background-color: #fafafa

	.dijitTextBoxDisabled
		background: $textbox-disabled-background-color

	.umcPageFooter
		.dijitButton
			material-flat-button()

