/* ======= Styling for the document itself (overriding dojo.css) ======== */

@require "variables.styl"

// TODO discuss if we want to hide the focus generally or should either keep it or disable it individually
// *:focus
	// remove outline in chromium
	// outline: 0

html,
body
	background-color: var(--bgc-content-body)

body
	overflow-x: hidden
	min-height: 100vh

/* white cards as described by Google Material Design */
.umc .umcCard
	margin: 48px auto
	background: #fff
	padding: 14px
	border: none
	material-shadow(1)

	h2,
	h1
		&:first-child
			margin-top: 10px

	.dijitTextBox,
	.dijitSelect
		background-color: #fafafa

	.dijitTextBoxDisabled
		background: $textbox-disabled-background-color

	.umcPageFooter
		.dijitButton
			material-flat-button()


.umcCard2
	padding: spacing(2)
	background-color: var(--bgc-content-container)
	border-radius: var(--border-radius-container)
