@require "fontface.styl"

html
	font-size: var(--font-size-html)

body
	font-family: 'Open Sans', sans-serif
	font-weight: normal
	line-height: var(--font-lineheight-normal)
	font-size: var(--font-size-normal)
	color: var(--font-color-contrast-high)
