/* open-sans-regular - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url(fonts/OpenSans-Regular.woff2) format('woff2'), /* Super Modern Browsers */
       url(fonts/OpenSans-Regular.woff) format('woff'), /* Modern Browsers */
       url(fonts/OpenSans-Regular.ttf) format('truetype'); /* Safari, Android, iOS */
}

/* open-sans-italic - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url(fonts/OpenSans-Italic.woff2) format('woff2'), /* Super Modern Browsers */
       url(fonts/OpenSans-Italic.woff) format('woff'), /* Modern Browsers */
       url(fonts/OpenSans-Italic.ttf) format('truetype'); /* Safari, Android, iOS */
}

/* open-sans-600 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url(fonts/OpenSans-SemiBold.woff2) format('woff2'), /* Super Modern Browsers */
       url(fonts/OpenSans-SemiBold.woff) format('woff'), /* Modern Browsers */
       url(fonts/OpenSans-SemiBold.ttf) format('truetype'); /* Safari, Android, iOS */
}
