@import "variables"
@require "icons.styl"

$umcGrid-edge-padding = 24px
.umc .umcGrid
	background-color: var(--color-grey0)
	border-radius: var(--border-radius-container)
	overflow: hidden // clip the scrollbar

	.umcGridHeader
		flex: 0 0 auto
		display: flex
		flex-wrap: wrap
		padding: 1rem

	.umcGridHeader .dijitButton
		margin-right: 0.5rem

	.umcGrid__contextWrapper
		max-width: 100%
		flex: 1 0 auto
		display: flex
		justify-content: flex-end

	.umcGridStatusWrapper
		flex: 0 1 auto
		display: flex
		align-items: center
		font-size: var(--font-size-small)
		color: var(--font-color-contrast-middle)
		padding-right: 2rem
		overflow: hidden

	.umcGridStatus
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis

	.umcGrid__contextActionsToolbar
		flex: 1 0 auto

	.umcGridRowIcon
		margin-right: 0.3em

	.dgrid-cell
		border: none
		vertical-align: middle
		padding: 0.75em 0
		white-space: nowrap
		text-overflow: ellipsis

		&.dgrid-selector
			width: 3rem
			padding-left: 1rem
			padding-right: 1rem

	.dgrid-cell:not(.dgrid-selector) *
		display: inline

	.dgrid-sort-arrow
		width: 16px // same width as the udm icons
		height: 1em
		line-height: 1
		float: none
		display: inline-block !important
		background-position: center
		margin: 0 0.3em 0 0
	.dgrid-sort-up .dgrid-sort-arrow
		@extends .iconChevronUp
	.dgrid-sort-down .dgrid-sort-arrow
		@extends .iconChevronDown

	.dgrid
		border: none
		border-top: 1px solid var(--color-grey8)

	.dgrid-header
		background-color: inherit
		border-bottom: 1px solid var(--color-grey8)

	.dgrid-row
		transition: background-color 250ms
		border-top: 1px solid var(--color-grey8)
		&:nth-child(2) /* can't use first-child since the .dgrid-preload element is at first place */
			border-top: none

		&:hover,
		&.dgrid-selected
			background-color: rgba(255, 255, 255, 0.04)

	.umcGridRowSelectorCheckBox
		display: block // center the checkbox in the row

.umc .umcGrid--filtering
	.dgrid
		max-height: 0px !important

.umcGrid .dgrid-scroller
	max-height: inherit

.umcGrid .umcGridDefaultAction:hover
	text-decoration: underline
	cursor: pointer

.umc .umcGridFooter
	display: none
