input
	color: inherit

a
	color: inherit
	transition: color 250ms
	text-decoration: underline

	&:hover,
	&:focus
		color: var(--color-primary)

	&:active
		text-decoration: none

p
	margin-bottom: 0.7rem

h1
	font-size: var(--font-size-header1)
	line-height: var(--font-lineheight-header1)
	font-weight: 600

h2, h3, h4, h5, h6
	font-size: var(--font-size-header2)
	line-height: var(--font-lineheight-normal)
	font-weight: 600
