@require "variables.styl"


a
	color: inherit
	transition: color 250ms
	text-decoration: underline

	&:hover,
	&:focus
		color: var(--color-primary)

	&:active
		text-decoration: none
a.sameColorInStates
	&:hover,
	&:focus
		color: inherit


p
	margin-bottom: 0.7rem

h1
	font-size: var(--font-size-1)
	line-height: var(--font-lineheight-header)
	font-weight: 600

h2, h3, h4, h5, h6
	font-size: var(--font-size-2)
	line-height: var(--font-lineheight-normal)
	font-weight: 600

ul
	padding-inline-start: 2ch
	margin-bottom: spacing(1)
	list-style-type: disc
	list-style-position: outside
li::marker
	color: var(--font-color-contrast-low)


pre,
code
	padding: 0.8em 0.5em
	margin: 0
	font-size: var(--font-size-4)
	line-height: var(--font-lineheight-compact)
	word-wrap: normal
	color: inherit
	background-color: var(--bgc-content-body)
	border: none
	border-radius: var(--border-radius-container)
