@import "variables"

// helper function to generate rules for hover and active states
icon-rule(iconName, xoffset, yoffset, height=20px, width=20px, expandRule=true, alternativeName='')
	for suffix in '' White
		iconImageSuffix=''
		opacityHover = 0.66
		opacityActive = 1
		if (suffix == 'White')
			iconImageSuffix += '-white'
			opacityHover = 1
			opacityActive = 0.66

		ruleName = '.umc%sIcon%s' % (iconName unquote(suffix))
		rulesStr = ruleName
		if (alternativeName && !suffix)
			rulesStr = rulesStr + ', .' + alternativeName

		{rulesStr}
			icon-image(xoffset, yoffset, '', iconImageSuffix, width, height)

		if (expandRule)
			.dijitHover {ruleName}
				background-position: (xoffset - 20px) unit(yoffset, px)
				opacity: opacityHover

			.dijitActive {ruleName}
				background-position: (xoffset - 20px) unit(yoffset, px)
				opacity: opacityActive





icon-rule(Down, 0, 0)
icon-rule(Up, -40, 0)
icon-rule(Left, -80, 0)
icon-rule(Right, -120, 0)

icon-rule(ArrowDown, 0, -20)
icon-rule(ArrowUp, -40, -20)
icon-rule(ArrowLeft, -80, -20)
icon-rule(ArrowRight, -120, -20)

icon-rule(SimpleDown, -160, -20, expandRule: false)
icon-rule(SimpleUp, -180, -20, expandRule: false, alternativeName: umcIconUp)
icon-rule(SimpleLeft, -200, -20, expandRule: false)
icon-rule(SimpleRight, -220, -20, expandRule: false)

icon-rule(DoubleDown, -240, -20, expandRule: false)
icon-rule(DoubleUp, -260, -20, expandRule: false)
icon-rule(DoubleLeft, -280, -20, expandRule: false)
icon-rule(DoubleRight, -300, -20, expandRule: false)

icon-rule(Plus, -160, -40, expandRule: false, alternativeName: umcIconAdd)
icon-rule(Minus, -180, -40, expandRule: false, alternativeName: umcIconDelete)
icon-rule(Edit, -200, -40, expandRule: false, alternativeName: umcIconEdit)
icon-rule(Report, -220, -40, expandRule: false, alternativeName: umcIconReport)
icon-rule(Document, -220, -40, expandRule: false)
icon-rule(Refresh, -240, -40, expandRule: false, alternativeName: umcIconRefresh)
icon-rule(Search, -260, -40, expandRule: false)
icon-rule(Shop, -280, -40, expandRule: false)
icon-rule(Update, -300, -40, expandRule: false)

icon-rule(Play, -160, -60, expandRule: false, alternativeName: umcIconPlay)
icon-rule(Pause, -180, -60, expandRule: false, alternativeName: umcIconPause)
icon-rule(Stop, -200, -60, expandRule: false, alternativeName: umcIconStop)
icon-rule(View, -220, -60, expandRule: false, alternativeName: umcIconView)
icon-rule(SimpleContextMenu, -240, -60, expandRule: false)

icon-rule(ContextMenu, 0, -40)
icon-rule(Close, 0, -60)
icon-rule(Minimize, 0, -80)
icon-rule(Empty, 0, -100)
icon-rule(EmptyDisabled, 40, -100)
icon-rule(Checked, 0, -120)
icon-rule(CheckedDisabled, 40, -120)
icon-rule(Selected, 0, -140)
icon-rule(SelectedDisabled, 40, -140)

icon-rule(User, 0, -140, expandRule: false)
icon-rule(Server, -20, -140, expandRule: false)
icon-rule(LargeRight, 0, -160)
icon-rule(LargeClose, 0, -180)
icon-rule(Save, 0, -200)
icon-rule(Help, -40, -200)
icon-rule(ExtendedAttr, -80, -200)
icon-rule(Lang, 0, -220, 25px)

icon-rule(LoggedIn, -60, -140, expandRule: false)
icon-rule(LoggedOut, -40, -140, expandRule: false)

icon-rule(Cross, -240, -80, expandRule: false)
icon-rule(Eye, -260, -60, expandRule: false)
icon-rule(EyeCrossedOut, -280, -60, expandRule: false)

icon-rule(Upload, -200, -120, expandRule: false)
icon-rule(Download, -220, -120, expandRule: false)
icon-rule(Trash, -240, -120, expandRule: false)

.umcLoggedInIcon,
.umcLoggedOutIcon
	opacity: 1

	&:hover
		opacity: 0.66

	&:active
		opacity: 1


.umcIconLoading,  // old name
.umcLoadingIcon
	background-image: url("images/loadingAnimation.gif")
	width: 20px
	height: 20px


.umcIconNoIcon
	width: 0px
	height: 20px


.umcErrorIcon
	background: url("form/images/error.svg") 0px 0px no-repeat
	width: 20px
	height: 20px


.umcHelpIconSmall
	icon-image(-24, 0, "", "-small", 12px, 12px)
	opacity: 1

	&:hover
		background-position: -36px 0px
		opacity: 0.66

	&:active
		background-position: -36px 0px
		opacity: 1

.umcHelpIconSmall
	icon-image(-24, 0, "", "-small", 12px, 12px)
	opacity: 1

	&:hover
		background-position: -36px 0px
		opacity: 0.66

	&:active
		background-position: -36px 0px
		opacity: 1

