.dijitPopup
	box-shadow: var(--box-shadow)
	border-radius: 8px
	overflow: hidden

.dijitMenu,
.dijitTimePicker
	border: none
	background: var(--color-grey0)
	font-size: var(--font-size-small)

// cell spacing
.dijitMenuItem td,
.dijitComboBoxMenu .dijitMenuItem,
.dijitTimePickerItem
	padding: 0.3em 0.5em

.dijitMenuItem td
	&.dijitMenuItemIconCell
		padding-left: 0.8em
		padding-right: 0
	&.dijitMenuArrowCell
		padding-right: 0.8em
		padding-left: 0

.dijitTimePickerItem
	cursor: pointer


// state
.dijitMenuItemHover,
.dijitMenuItemSelected,
.dijitTimePickerItemHover
	background-color: rgba(255, 255, 255, 0.04)
	color: inherit
.dijitTimePickerItemSelected
	background-color: var(--color-grey8)


// icons
.dijitMenuItem .featherIcon
	display: block

//// Select
/* Dropdown menu style for select */
.umc .dijitSelectMenu td.dijitMenuItemIconCell,
.umc .dijitSelectMenu td.dijitMenuArrowCell 
	/* so that arrow and icon cells from MenuItem are not displayed */
	display: none  

.umc .dijitSelectMenu .dijitMenuSeparatorTop
	border-bottom:1px solid $focused-border-color
