/* ProgressBar
 *
 * Styling of the ProgressBar when RTL direction is specified
 */

@require "variables.styl"

.umc .dijitProgressBarRtl .dijitProgressBarFull
	border-left-width: 1px
	border-right-width: 0px

