// reset browser defaults that are not covered by bootstrap.css
// and overwrite unwanted bootstrap defaults

*,
p,
label,
h1, h2, h3, h4, h5, h6,
input
	margin: 0
	padding: 0
	border: 0
	font: inherit
	color: inherit

input[type="checkbox"]
	cursor: pointer

// overwrite bootstrap.css:137
button[disabled],
html input[disabled]
	cursor: var(--cursor-disabled)
