/* TimePicker */

@import "variables"

.dj_ie .umc .dijitTimePickerRtl .dijitTimePickerTickHover,
.dj_ie .umc .dijitTimePickerRtl .dijitTimePickerMarkerHover,
.dj_ie .umc .dijitTimePickerRtl .dijitTimePickerMarkerSelected,
.dj_ie .umc .dijitTimePickerRtl .dijitTimePickerTickSelected
	margin-left:-6px
	margin-right:-8px
	width: 114%	

