/* TitlePane and Fieldset
 * 
 * Styling TitlePane means styling the TitlePane title and its content container  (dijitTitlePane)
 * 
 * TitlePane title:
 * 1. TitlePane title (default styling): 
 * 		.dijitTitlePaneTitle - TitlePane's title div style: background-color, border
 *
 * 2. hovered TitlePane title (ie, mouse hover on a title bar)
 * 		.dijitTitlePaneTitleHover - styles when mouse hover on the title div
 * 
 * 3. active TitlePane title (ie, mouse down on a title bar)
 * 		.dijitTitlePaneTitleActive - styles when mouse down on the title div
 * 
 * 
 * TitlePane Content Container:
 * 1. outer/inner container: 
 * 		.dijitTitlePaneContentOuter / dijitTitlePaneContentInner - styles for the content outer div
 */

@import "variables"

.umc .dijitTitlePane
	margin-bottom: 3em
	overflow: visible


.umc .dijitTitlePane:last-child
	margin-bottom: 0


.umc .dijitTitlePane .dijitTitlePane
	  margin-left: 3em
	  margin-top: 3em
	  margin-bottom: 0

.umc .dijitTitlePane .dijitTitlePane .dijitTitlePaneTitle
	  font-size: 1.4em


.umc .dijitTitlePaneTitle
	//background-color: $unselected-background-color
	standard-gradient()
	border-top: 2.5px solid $border-color
	padding: 0.5em 0 1em 0
	min-height:17px
	color: $unselected-text-color
	font-size: $font-size-title
	font-weight: 500

.umc .dijitFieldset
	border-radius: 4px

.umc .dijitTitlePaneTitleOpen, .umc .dijitTitlePaneTitleFixedOpen
	//background-color: $selected-background-color
	color: $text-color

.umc .dijitTitlePaneTitleHover
	//background-color: $hovered-background-color
	border-color: $hovered-border-color

.umc .dijitTitlePaneTitleActive
	//background-color: $pressed-background-color
	border-color: $pressed-border-color
	active-gradient()

.umc .dijitTitlePaneTitleFocus
	//margin-top:3px
	//padding-bottom:2px

.umc .dijitTitlePane .dijitArrowNode, .umc .dijitFieldset .dijitArrowNode
	//background-image: url($image-sprites)
	//background-repeat: no-repeat
	//height: $width-arrow-sprite
	//width: $width-arrow-sprite
	float: right
	icon-image(-80, 0)

.umc .dijitTitlePaneTitleOpen .dijitArrowNode, .umc .dijitFieldsetTitleOpen .dijitArrowNode
	background-position: 0 0

.umc .dijitTitlePane, .umc .dijitFieldset
	.dijitTitlePaneTitleHover .dijitArrowNode
		background-position: -20px 0
		opacity: 0.66

	.dijitTitlePaneTitleActive .dijitArrowNode
		opacity: 1



.umc .dijitTitlePane
	.dijitTitlePaneTitleClosed .dijitArrowNode
		background-position: -80px 0

	.dijitTitlePaneTitleClosed.dijitTitlePaneTitleHover .dijitArrowNode
		background-position: -100px 0



.umc .dijitTitlePaneContentOuter
	//background: $pane-background-color
	//border:1px solid $border-color
	//border-top:none

.umc .dijitTitlePaneContentInner
	padding: 10px 0

.umc .dijitFieldsetContentInner
	padding: 4px

.umc .dijitTitlePaneTextNode, .umc .dijitFieldsetLegendNode
	//margin-left: 4px
	//margin-right: 4px
	vertical-align:text-top


/* special styling of tracebacks */
.umc .umcTracebackPane
	.dijitTitlePaneTitle
		font-weight: normal
		border: none
		font-size: $font-size-button


	.dijitArrowNode
		float: left
		margin-right: 5px


	.dijitTitlePaneTitleHover
		text-decoration: underline


	.dijitTitlePaneTitleClosed .dijitArrowNode
		background-position: -120px 0


	.dijitTitlePaneTitleClosed.dijitTitlePaneTitleHover .dijitArrowNode
		background-position: -140px 0


