@require "variables.styl"


.dijitTooltipContainer
	max-width: 400px
	font-size: var(--font-size-4)
	color: var(--color-grey8) // why not contrast-*
	border-radius: var(--border-radius-tooltip)
	border: none
	padding: spacing(1)
	background: rgba(255, 255, 255, 0.6)
	overflow-wrap: break-word

.dijitTooltipAbove
	padding-bottom: spacing(1)

.dijitTooltipBelow
	padding-top: spacing(1)

.dijitTooltipLeft
	padding-right: spacing(1)

.dijitTooltipRight
	padding-right: spacing(1)
