.dijitTooltipContainer
	max-width: 400px
	font-size: var(--font-size-small)
	color: var(--color-grey8) // why not contrast-*
	border-radius: var(--border-radius-tooltip)
	border: none
	padding: 0.6em 0.9em
	background: rgba(255, 255, 255, 0.6)
	backdrop-filter: blur(20px)

.dijitTooltipAbove
	padding-bottom: 0.5rem

.dijitTooltipBelow
	padding-top: 0.5rem

.dijitTooltipLeft
	padding-right: 0.5rem

.dijitTooltipRight
	padding-right: 0.5rem
