/* Tree
 *
 * Styling Tree mostly means styling the TreeRow (dijitTreeRow)
 * There are 4 basic states to style:
 *
 * Tree Row:
 * 1. tree row (default styling):
 * 		.dijitTreeRow - styles for each row of the tree
 *
 * 2. hovered tree row (mouse hover on a tree row)
 * 		.dijitTreeRowHover - styles when mouse over on one row
 *
 * 3. active tree row (mouse down on a tree row)
 * 		.dijitTreeRowActive - styles when mouse down on one row
 *
 * 4. selected tree row
 * 		dijitTreeRowSelected - style when the row has been selected
 *
 * Tree Expando:
 * 	    dijitTreeExpando - the expando at the left of the text of each tree row
 *
 * Drag and Drop on TreeNodes: (insert line on dijitTreeContent node so it'll aligned w/ target element)
 * 		.dijitTreeNode .dojoDndItemBefore/.dojoDndItemAfter - use border style simulate a separate line
 */

@import "variables"

.umc .umcPageNav .umcGridTree
	margin-bottom: 30px

.umc .umcGridTree
	background-color: #fff
	material-shadow(1)

	.dgrid
		border: none

		.dgrid-cell
			border: none
			padding: 0
			word-break: break-all

		.dgrid-row
			color: rgba(0, 0, 0, 0.87)
			line-height: 32px
			box-sizing: content-box
			transition: background-color 0.2s

			&:hover
				background-color: #eeeeee

			&.dgrid-selected
				background-color: #f5f5f5

			.ui-icon
				background: none

			.dgrid-expando-icon
				height: 32px
				padding: ((@height - 20px)/2) // icon-image height and width is 20px
				width: @height
				position: relative

				&:after
					content: ''
					display: block
					position: absolute
					top: @padding
					left: @padding
					// styling of expando icons
					// default
					icon-image(-220, -20)
					// expanded row
					^[-2].dgrid-row-expanded ^[-2..-1]
						icon-image(-160, -20)
					// loading
					^[-2].childrenUnknown ^[-2..-1]
						background: url($image-loading-animation) !important
					// empty container
					^[-2].noChildren ^[-2..-1]
						background: none !important

.umc .dijitTreeNode
    zoom: 1	/* force layout on IE (TODO: may not be needed anymore) */

.umc .dijitTreeIsRoot
    background-image: none

/* Styling for basic tree node (unhovered, unselected)
 * Also use this styling when dropping between items on the tree (in other words, don't
 * use hover effect)
 */
.umc .dijitTreeRow,
.umc .dijitTreeNode .dojoDndItemBefore,
.umc .dijitTreeNode .dojoDndItemAfter
	/* so insert line shows up on IE when dropping after a target element */
	padding: 4px 0 2px 0

	background-color: none	// IE6 doesn't understand rgba() or transparent below
	background-color: transparent	// IE8 doesn't understand rgba() below
	background-color: rgba(171,214,255,0)	// rgba() instead of transparent to prevent flash on hover fade-in
	background-position:0 0
	background-repeat:repeat-x

	border: solid 0 transparent

	color: $text-color

	transition-property: background-color, border-color
	transition-duration: .25s
	transition-timing-function: ease-out

.umc .dijitTreeRowSelected
	background-color: $selected-background-color
	standard-gradient()
	padding: 3px 0 1px
	border-color: $selected-border-color
	border-width: 1px 0
	color: $selected-text-color

.umc .dijitTreeRowHover
	background-color: $hovered-background-color
	standard-gradient()
	padding: 3px 0 1px
	border-color: $hovered-border-color
	border-width: 1px 0
	color: $hovered-text-color
	transition-duration: .25s

.umc .dijitTreeRowActive
	background-color:$pressed-background-color
	active-gradient()
	padding: 3px 0 1px
	border-color: $pressed-border-color
	border-width: 1px 0
	color: $selected-text-color

.umc .dijitTreeRowFocused
	background-repeat: repeat

/* expando (open/closed) icon */
.umc .dijitTreeExpando
	background-image: url($image-tree-expand)
	width: 16px
	height: 16px
	background-position: -35px 0		/* for dijitTreeExpandoOpened */

.dj_ie6 .umc .dijitTreeExpando
	background-image: url($image-tree-expand-ie6)

.umc .dijitTreeRowHover .dijitTreeExpandoOpened
	background-position: -53px 0

.umc .dijitTreeExpandoClosed
	background-position: 1px 0

.umc .dijitTreeRowHover .dijitTreeExpandoClosed
	background-position: -17px 0

.umc .dijitTreeExpandoLeaf,
.dj_ie6 .umc .dijitTreeExpandoLeaf
	background-image:none

.umc .dijitTreeExpandoLoading
	background-image: url($image-loading-animation)

/* Drag and Drop on TreeNodes
 * Put insert line on dijitTreeContent node so it's aligned w/
 * (ie, indented equally with) target element, even
 * though dijitTreeRowNode is the actual "drag object"
 */
.umc .dijitTreeNode .dojoDndItemBefore .dijitTreeContent
	border-top: 2px solid $dnd-dropseparator-color		// TODO: normal separator is just 1px, why is this 2px?

.umc .dijitTreeNode .dojoDndItemAfter .dijitTreeContent
	border-bottom: 2px solid $dnd-dropseparator-color	// TODO: normal separator is just 1px, why is this 2px?

.umc .dgrid-row-table .dgrid-tree-icon
	margin-right: 5px
