//// Google Material Styling
// grid layout
$material-grid8 ?= 8px
$material-grid4 ?= 4px
material-grid(multiplicant, use4dp=false)
	if typeof(use4dp) != 'boolean'
		error('use4dp has to be a boolean')
	spacing = $material-grid8
	if use4dp
		spacing = $material-grid4
	spacing * multiplicant

$material-border-radius ?= 2px

// typography
$material-text-high-emphasis-alpha ?= 0.87
$material-text-medium-emphasis-alpha ?= 0.6
$material-text-disabled-alpha ?= 0.38
$material-text-dark-high = rgba(0, 0, 0, $material-text-high-emphasis-alpha)
$material-text-dark-medium = rgba(0, 0, 0, $material-text-medium-emphasis-alpha)
$material-text-dark-disabled = rgba(0, 0, 0, $material-text-disabled-alpha)
// $material-text-light-high = rgba(255, 255, 255, $material-text-high-emphasis-alpha)
// $material-text-light-medium = rgba(255, 255, 255, $material-text-medium-emphasis-alpha)
// $material-text-light-disabled = rgba(255, 255, 255, $material-text-disabled-alpha)


// General

$primary-color ?= #5a5a5a													// Base color for entire theme
$secondary-color ?= #e6e6e6												// Base color for bar-backgrounds
$text-color ?= #282828													// Text color for enabled widgets
$text-color-lighter ?= #5a5a5a
$text-color-lightest ?= #787878
$grey-lightest ?= #f0f0f0
$grey-medium ?= #c8c8c8
$grey-dark ?= #6e6e6e
$disabled-color ?= #d3d3d3												// Base for disabled backgrounds and borders
$error-color ?= #db062e
$ucs-green ?= #7ab51d
$text-color-dark-background ?= #fff

$font-size-button ?= 14px
$font-size-headline ?= 24px
$font-size-title ?= 20px
$font-size-subheading ?= 16px
$font-size-body ?= 14px
$font-size-caption ?= 12px

// bootstrap media query breakpoints
$xxs-max = 549px
$xs-min = 550px
$xs-max = 767px
$sm-min = 768px
$sm-max = 991px
$md-min = 992px
$md-max = 1199px
$lg-min = 1200px

$container-background-color ?= #fff										// Backgrounds for various content areas such as TitlePane, ContentPane and Inputs (if changed, adjust selected tab to match)

$minor-selected-color ?= $grey-medium						// Color for various arrows and buttons
$base-border-color ?= #b4b4b4		// Augmented and used directly by variables to create border colors for various widgets
$unfocused-clickable-color ?= spin(saturate(lighten($primary-color, 5), 10), 0)				// Background color for enabled buttons, text inputs
$border-color ?= $base-border-color
$minor-border-color ?= $disabled-color									// Color of borders inside widgets: horizontal line in Calendar between weeks, around color swatches in ColorPalette, above Dialog action bar
$popup-border-color ?= $secondary-color								// Border for Dialog, Menu, Tooltip.   Must also update tooltip.png (the arrow image file) to match
$gallery-border-color ?= #dcdcdc


$disabled-border-color ?= $disabled-color								// Border color for disabled/readonly Button, TextBox etc. widgets
$disabled-background-color ?= $secondary-color							// Disabled button, textbox, etc.
$disabled-text-color ?= $text-color-lightest											// Text color for disabled/readonly widgets

$unselected-background-color ?= $secondary-color							// Background color for unselected/unopened tab button, accordion pane, TitlePane, Menu items
$unselected-text-color ?= darken($secondary-color, 65)										// Text color for unselected/unopened tab button, accordion pane, TitlePane, Menu items

$hovered-border-color ?= #e0e0e0								// Hover of textbox, tab label, BorderContainer splitter, Calendar, etc.
$hovered-background-color ?= #969696	// Background color for hover of Button, MenuBar, Accordion pane, Calendar... anything that has a (non-white) color to start with and gets darker on hover
$hovered-text-color ?= $text-color-dark-background										// Used for title of select Accordion pane, label of select tab, hovered Menu item, etc.

$pressed-border-color ?=  $base-border-color								// During click on Calendar day, Slider up/down buttons, tab button, etc.
$pressed-background-color ?= spin(saturate(darken($primary-color, 16), 12), 0)					// Background color while clicking on Accordion/TitlePane title bar, tab button, Calendar day, Toolbar button, Tree row.

$selected-border-color ?= $base-border-color  							// Selected AccordionPane, tab of nested TabContainer (but plain TabContainer is special)
$selected-background-color ?= $primary-color								// Selected Accordion pane, nested tab label, Tree row
$selected-text-color ?= $text-color-dark-background										// title of selected Accordion pane, label of selected tab, hovered Menu item, etc.

$bar-background-color ?= $secondary-color								// MenuBar, Toolbar, action bar at bottom of dialog
$pane-background-color ?= $container-background-color					// Background color of Accordion panes, Dialogs, etc.
$popup-background-color ?= $container-background-color					// Background for Dialog.   TODO: currently use for ColorPalette, maybe should change.



// Buttons
$material-button-height ?= material-grid(9, true)
$button-border-color ?=  $focused-border-color				// Border for (stand-alone) buttons in normal, hovered, or active state
$button-background-color ?= $unfocused-clickable-color		// Background color for (unhovered) buttons
$button-hovered-background-color ?= rgba(0, 0, 0, 0.0784)	// Background color for hovered buttons
$button-pressed-background-color ?= rgba(0, 0, 0, 0.16)		// Background color for active buttons
$button-checked-background-color ?= rgba(0, 0, 0, 0.16)		// Background color for checked toggle buttons
$button-border-radius ?= 2px								// Rounded corner radius for buttons (except in toolbar)

// Buttons in LayoutRow
// the exact space the Button takes up (padding included)
$_layoutrow-button-width = "%s + %s + %s" % ($material-textfield-height $labelpane-padding-left $labelpane-padding-right)
$layoutrow-button-width = "calc(%s)" % ($_layoutrow-button-width)

$layoutrow--make-space-for-buttons(amount-of-physical-buttons, amount-of-visual-buttons=null)
	if not amount-of-visual-buttons
		amount-of-visual-buttons = amount-of-physical-buttons

	// Make physical space. With only this the button and the element before the button will overlap. Need to make visual space too
	margin-right:  "calc( -1 * (%s * (%s))      )" % (amount-of-physical-buttons $_layoutrow-button-width)

	// Make visual space.
	padding-right: "calc(  1 * (%s * (%s)) + %s )" % (amount-of-visual-buttons $_layoutrow-button-width $labelpane-padding-right)


// Input widgets
$focused-border-color ?= $base-border-color								// Focused textbox, editor, select, etc.
$error-border-color ?= $error-color											// Border for textbox in error state
$error-focused-border-color ?= darken($error-color, 5)									// Border of textbox in error state, and focused
$erroricon-background-color ?= $error-color									// Background color for exclamation point validation icon (for TextBox in error state)
$textbox-background-color ?= #eeeeee					// Default background color of TextBox based widgets
$textbox-hovered-background-color ?= $unfocused-clickable-color			// Background color when hovering a unfocused TextBox, Select, Editor, or other input widget
$textbox-focused-background-color ?= $textbox-background-color
$textbox-error-background-color ?= $textbox-background-color
$textbox-disabled-background-color ?= $disabled-background-color
$textbox-padding ?= 0 5px	// Padding for Textbox, Textarea, etc.
$material-textfield-height ?= material-grid(5)
$material-textfield-text-padding ?= material-grid(3, true)
$material-textfield-border-width-base      ?= 1px
$material-textfield-border-width-inactive  ?= $material-textfield-border-width-base
// $material-textfield-border-width-hover     ?= $material-textfield-border-width-base
$material-textfield-border-width-focused   ?= 2px
// $material-textfield-border-width-activated ?= $material-textfield-border-width-base
// $material-textfield-border-width-disabled  ?= $material-textfield-border-width-base
// $material-textfield-border-width-error     ?= $material-textfield-border-width-base

// CheckBox, RadioButton
$focus-outline-color ?= darken($secondary-color, 65)											// Color for artificial focus outline around labels of checkboxes

// TabContainer
$nestedtab-hovered-background-color ?= $unfocused-clickable-color
$nestedtab-hovered-border-color ?= $primary-color
$nestedtab-selected-border-color ?= $selected-border-color
$nestedtab-selected-background-color ?= $minor-selected-color
$tab-disabled-background-color ?= $disabled-color						// For disabled tabs of a TabContainer (not officially supported)
$tab-gradient-top-color ?= #c8c8c8
$tab-gradient-bottom-color ?= #b4b4b4

// Arrow buttons (stand alone, or inside ComboBox / ComboButton / Spinner / etc.
$arrowbutton-background-color ?= $secondary-color
$arrowbutton-hovered-background-color ?= $minor-selected-color			// Color of arrow when hovering ComboBox.   But hovering Spinner doesn't change arrow color (TODO)
$arrowbutton-pressed-background-color ?= $minor-selected-color
$arrowbutton-inner-border-color ?= $container-background-color									// Typically the arrows have an inner white border (a.k.a. padding) and then an outer black-ish border

// Slider
// Note: any changes here require corresponding changes in form/images/sliderThumbs.png
$slider-fullbar-background-color ?= $primary-color							// Background color for part of slider bar before (to the left or below) the handle
$slider-remainingbar-background-color ?= $container-background-color			// Background color for part of slider bar after (to the right or above) the handle
$slider-hovered-fullbar-background-color ?= $minor-selected-color			// Background color for part of bar of hovered slider before (to the left or below) the handle
$slider-hovered-remainingbar-background-color ?= $container-background-color	// Background color for part of bar of hovered slider after (to the right or above) the handle
$slider-hoveredButton-background-color ?= $container-background-color		// Background color of slider increment/decrement buttons when mouse is over slider but not over the buttons
$slider-focused-fullbar-background-color ?= $minor-selected-color			// Background color for part of bar of focused slider before (to the left or below) the handle
$slider-focused-remainingbar-background-color ?= $container-background-color	// Background color for part of bar of focused slider after (to the right or above) the handle
$slider-button-hovered-background-color ?= $primary-color					// Background color of slider increment/decrement buttons when mouse is over the buttons
$slider-button-pressed-background-color ?= $minor-selected-color				// Background color of slider increment/decrement buttons while button is depressed

// Select, ComboBox
$select-dropdownitem-background-color ?= $container-background-color			// Background color for items in the drop down list of a ComboBox/Select
$select-dropdownitem-hovered-background-color ?= $pressed-background-color	// Background color for the hovered item in the drop down list of a ComboBox/Select
$select-matchedtext-background-color ?= $minor-selected-color				// Background color of text in ComboBox drop down that matches typed in phrase

// Menus
$menu-background-color ?= $popup-background-color

// Calendar
$calendar-background-color ?= $primary-color
$calendar-currentmonth-background-color ?= $container-background-color		// Background color for days of the current month
$calendar-adjacentmonth-background-color ?= $unfocused-clickable-color		// Background color used for days from previous or next month
$calendar-adjacentmonth-text-color ?= $base-border-color						// Text color used for days from previous or next month
$calendar-date-pressed-border-color ?= $container-background-color			// For some reason pressing a day of the month (as opposed to hovering it) makes the border go away, is this intentional?
$calendar-date-pressed-background-color ?= $pressed-background-color
$calendar-date-selected-border-color ?= $selected-border-color
$calendar-date-selected-background-color ?= ($grey-medium + $primary-color)/2
$calendar-button-hovered-background-color ?= $unfocused-clickable-color		// for hover or next/previous year, and month drop down (TODO: border and background are built in to calendarArrows.png, can't control from here)
$calendar-button-hovered-border-color ?= $container-background-color			// for hover or next/previous year, and month drop down
$calendar-button-pressed-background-color ?= $pressed-background-color
$calendar-button-pressed-border-color ?= $pressed-border-color


// ProgressBar
$progressbar-border-color ?= $popup-border-color								// Border color of progress bar
$progressbar-full-background-color ?=  $text-color    			// Background color for part of progress bar indicating amount completed
$progressbar-empty-background-color ?=  vertical-gradient-and-filter(#e6e6e6, #c8c8c8) /*$container-background-color;*/			// Background color for part of progress bar indicating amount remaining
$progressbar-text-color ?= $text-color										// Color of progress bar text (ex: "35%").  Must contrast with both empty and full background colors.
$progressbar-height = 20px

// TimePicker
$timepicker-minorvalue-background-color ?= $secondary-color	// For 3:15, 3:30, 3:45 but not 3:00 or 4:00
$timepicker-minorvalue-text-color ?= darken($secondary-color, 43)
$timepicker-majorvalue-background-color ?= $unfocused-clickable-color	// For 3:00, 4:00, 5:00, etc.
$timepicker-value-hovered-background-color ?= $pressed-background-color
$timepicker-value-hovered-text-color ?= $hovered-text-color
$timepicker-arrow-hovered-background-color ?= $minor-selected-color

// ColorPalette
$colorpalette-background-color ?= $container-background-color
$swatch-border-color ?= $minor-border-color
$swatch-hovered-border-color ?= #000
$swatch-selected-border-color ?= #000

// Dialog
$dialog-underlay-color ?= $primary-color			// the thing that grays out the screen when a dialog is shown
$dialog-titlebar-border-color ?= $container-background-color	// Inner border around the title sectionof a Dialog, inside the main border of the Dialog and the border between title and content
$dialog-titlebar-background-color ?= $grey-dark
$dialog-max-width ?= 650px
$dialog-large-width ?= 0.8

// Tooltip
$tooltip-gradient-color ?= rgba($primary-color, 0.1)		// a little swath of color at the bottom of tooltips

// BorderContainer
$splitter-hovered-background-color ?= $primary-color	// Color of splitter when user hovers it, before mouse down
$splitter-dragged-background-color ?= $minor-selected-color	// Color of splitter while it's being dragged

// Toolbar
$toolbar-button-checked-background-color ?= $container-background-color								// a toggled-on button in the toolbar
$toolbar-combobutton-hovered-unhoveredsection-background-color ?= spin(saturate(lighten($primary-color, 8), 19), -29)	// when user hovers a ComboButton in a Toolbar, the other half of the button turns this color
$toolbar-button-border-radius ?= 2px			// Rounded corner radius for buttons for buttons in toolbar

// DnD
$dnd-avatar-background-color ?= $container-background-color					// Background color of little Dialog-type box indicating dragged items
$dnd-avatar-header-background-color ?= #f58383		// Title bar for dragged items
$dnd-avatar-candrop-header-background-color ?= #97e68d// Title bar for dragged items when they can be dropped
$dnd-dropseparator-color ?= $base-border-color					// Color of line indicating that user is about to drop between items A & B

// Document level
$document-text-color ?= $text-color								// Text color for document itself (text outside of widgets)
$document-shadedsection-background-color ?= $bar-background-color// background color used for <pre>, <code>, and table header rows
$document-border-color ?= $disabled-color								// Border for <pre>, <code>, tables, etc.

// Icons, arrows, etc.
$image-icons ?= "images/icons.svg"
$width-icon ?= 20px
$image-arrow-sprite ?= $image-icons
$width-arrow-sprite ?= $width-icon
$image-calendar-arrows ?= "images/icons-small.svg"
$image-calendar-arrows-ie6 ?= "images/calendarArrows8bit.png"
$image-checkmark ?= "images/checkmarkNoBorder.png"
$image-checkmark-ie6 ?= "images/checkmarkNoBorder.gif"
$image-dialog-close ?= "images/dialogCloseIcon.png"
$image-dialog-close-ie6 ?= "images/dialogCloseIcon8bit.png"
$image-dnd ?= "images/dnd.png"
$image-editor-icons-enabled ?= "../../icons/images/editorIconsEnabled.png"
$image-form-button-arrows ?= "form/images/buttonArrows.png"
$image-form-checkbox-and-radios ?= "form/images/checkboxRadioButtonStates.png"
$image-form-checkbox-and-radios-ie6 ?= "form/images/checkboxAndRadioButtons_IE6.png"
$image-form-common-arrows ?= "form/images/commonFormArrows.png"
$image-form-error ?= "form/images/error.svg"
$image-form-slider-thumbs ?= "form/images/sliderThumbs.png"
$image-layout-tab-close ?= $image-icons	// [x] icon to close a tab
$image-loading-animation ?= "images/loadingAnimation.gif"
$image-tooltip ?= "images/tooltip.svg"	// arrow connectors
$image-tooltip-ie6 ?= "images/tooltip8bit.png"	// arrow connectors (8 bit)
$image-tree-expand ?= "images/treeExpandImages.png"
$image-tree-expand-ie6 ?= "images/treeExpandImages8bit.png"
$image-progressbar-anim ?= "images/progressBarAnim.gif"

// LabelPane
$labelpane-padding-top    ?= 0
$labelpane-padding-right  ?= 0.5em
$labelpane-padding-bottom ?= 1em
$labelpane-padding-left   ?= 0.5em
$labelpane-padding        ?= $labelpane-padding-top $labelpane-padding-right $labelpane-padding-bottom $labelpane-padding-left

//// Mixins

// TODO can be removed. Was previously used for prefixing but that is not necessary anymore (caniuse.com)
border-radius()
	border-radius: arguments


// TODO can be removed. Was previously used for prefixing but that is not necessary anymore (caniuse.com)
box-shadow()
	box-shadow: arguments


transform()
	transform: arguments

	//replace translate3d with translate for ie
	newArgs = ''
	for arg in arguments
		argString = s('%s ', arg)
		if match('translate3d', argString)
			//delete '3d' from 'translate3d'
			newArgString = replace('3d', '', argString)
			//remove the z index parameter
			newArgString = replace(',\s*\d*(px)?\s*\)', ')', newArgString)
			argString = newArgString

		newArgs += argString

	-ms-transform: unquote(newArgs)


// TODO can be removed. Was previously used for prefixing but that is not necessary anymore (caniuse.com)
transition()
	transition: arguments

// TODO can be removed. Was previously used for prefixing but that is not necessary anymore (caniuse.com)
transition-property()
	transition-property: arguments

// TODO can be removed. Was previously used for prefixing but that is not necessary anymore (caniuse.com)
transition-duration()
	transition-duration: arguments

// TODO can be removed. Was previously used for prefixing but that is not necessary anymore (caniuse.com)
transition-timing-function()
	transition-timing-function: arguments


$material-shadow-transition-value = box-shadow 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms
material-shadow-common()
	transition: $material-shadow-transition-value


material-shadow(level)
	if level == 1
		box-shadow: 0 1px 6px rgba(1,0,0,0.117647), 0 1px 4px rgba(0,1,0,0.117647)
	else if level == 2
		box-shadow: 0 3px 10px rgba(1,0,0,0.156863), 0 3px 10px rgba(0,1,0,0.227451)
	else if level == 3
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
	else if level == 4
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
	else if level == 5
		box-shadow: 0px 14px 45px rgba(0, 0, 0, 0.25), 0px 10px 18px rgba(0, 0, 0, 0.22)
	else
		box-shadow: none


material-flat-button()
	.dijitButtonNode
		box-shadow: none
		background-color: rgba(255, 255, 255, 0)
		padding: 0 material-grid(1)

	&^[-1..-1]Hover,
	&^[-1..-1]Focused
		.dijitButtonNode
			background-color: $button-hovered-background-color
	&^[-1..-1]Active
		.dijitButtonNode
			background-color: $button-pressed-background-color
	&^[-1..-1]Disabled
		.dijitButtonNode
			background-color: rgba(255, 255, 255, 0)
	&^[-1..-1]Checked
		.dijitButtonNode
			background-color: $button-checked-background-color

	.dijitArrowButtonInner
		margin-right: 0
	.dijitIcon
		margin-left: 0

material-outlined-button()
	material-flat-button()
	.dijitButtonNode
		border: 1px solid #c8c8c8 // TODO
		padding: 0 material-grid(2)

	.dijitArrowButtonInner
		margin-right: material-grid(-1, true)
	.dijitIcon
		margin-left: material-grid(-1, true)

umc-icon-button(side-length=$material-button-height)
	.dijitButtonNode
		padding: 0
		height: side-length
		width: side-length
	.dijitButtonText,
	.dijitArrowButtonInner
		display: none
	.dijitIcon
		margin: 0

umc-icon-button-aligned-to-textfield()
	umc-icon-button($material-textfield-height)


icon-image(xoffset=0, yoffset=0, dirprefix="", filesuffix="", width=20px, height=20px)
	_iconImage = replace("^(.*)(\.\w*)", "$1" + filesuffix + "$2", $image-icons)
	_url = dirprefix + _iconImage
	_urlPNG = replace("\.svg$", ".png", _url)
	background: url(_url) unit(xoffset, px) unit(yoffset, px) no-repeat
	background-size: image-size(_url)
	width: width
	height: height

	html.dj_trident &,
	html.dj_ie &
		background-image: url(_urlPNG)



linear-gradient() {
	// summary:
	//		Expands to browser specific background-image specifications for a linear-gradient
	// Ensure that arguments are rendered comma-delimited
	$value = (length(arguments) > 1 ? unquote(join(", ", arguments)) : arguments[0])
 	background-image: -moz-linear-gradient($value) // FF3.6+
 	background-image: -webkit-linear-gradient($value) // Chrome10+, Safari5.1+
 	background-image: -o-linear-gradient($value) // Opera 11.10+
	// Use quoting + sprintf to avoid infinite recursion on linear-gradient(...)
 	background-image: "linear-gradient(%s)" % $value // W3C, FF16+, IE10+
}

alpha-white-gradient()
	// summary:
	//		For setting up white background-image with variable transparency.
	// example:
	//		Gradient starts at top (0%) with 30% opacity, and then ends at bottom (100%) with full transparency
	//		|	alpha-white-gradient((0.3 0%), (0 100%))
	
	$args = ()
	if (type(arguments[0]) == "ident")
		// Immediately add first argument if it is an ident e.g. left, top
		push($args, arguments[0])

	
	// Iterate arguments, skipping first if already added above
	for $stop in arguments[length($args)...length(arguments)]
		// Each "stop" is a tuple consisting of alpha and position along gradient
		push($args, "rgba(255,255,255,%s) %s" % ($stop[0] $stop[1]))

	
	linear-gradient(unquote(join(", ", $args)))


// These functions allow expansion of 3-digit colors to 6-digit
// necessary for IE filters.
digit($n)
	// Returns a string containing the hex equivalent of a number in the range 0-15.
	return "" + $n if $n < 10
	return "a" if $n == 10
	return "b" if $n == 11
	return "c" if $n == 12
	return "d" if $n == 13
	return "e" if $n == 14
	return "f" if $n == 15

hex($n)
	// Returns the "expanded" version of a one- or two-digit hex value.
	$h = floor($n / 16) % 16
	$l = $n % 16
	return digit($h) + digit($l)

fullcolor($x)
	// Given a 3-digit color value, expands to 6-digits. (e.g. #fff -> #ffffff)
	return "#" + hex(red($x)) + hex(green($x)) + hex(blue($x))


gradient-and-filter($color, $fade1, $fade2)
	// summary:
	//		Sets up a background color with a vertical gradient.
	//		In order to make transitions work properly on mozilla and webkit, this is done by combining
	//		a background-color which will be changed based on state (ex: hover) with a constant
	//		white alpha-transparency background-image.  On IE it creates a DXImageTransform filter.
	// $color:
	//		The color
	// $fade1:
	//		The percent to fade at the top
	// $fade2:
	//		The percent to fade at the bottom
	
	background-color: $color // the base color
	linear-gradient(#fff0 + rgba(0, 0, 0, $fade1 / 100), #fff0 + rgba(0, 0, 0, $fade2 / 100))
	filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=%s, endColorstr=%s)" % (fullcolor(lighten($color, $fade1)) fullcolor(lighten($color, $fade2))) // IE

horizontal-gradient-and-filter($color, $fade1, $fade2)
	// summary:
	//		Sets up a background color with a horizontal gradient.
	//		In order to make transitions work properly on mozilla and webkit, this is done by combining
	//		a background-color which will be changed based on state (ex: hover) with a constant
	//		white alpha-transparency background-image.  On IE it creates a DXImageTransform filter.
	// $color:
	//		The color
	// $fade1:
	//		The percent to fade at the top
	// $fade2:
	//		The percent to fade at the bottom
	
	background-color: $color // the base color
	linear-gradient(left, #fff0 + rgba(0, 0, 0, $fade1 / 100), #fff0 + rgba(0, 0, 0, $fade2 / 100))
	filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=%s, endColorstr=%s, gradientType=1)" % (fullcolor(lighten($color, $fade1)) fullcolor(lighten($color, $fade2))) // IE

vertical-gradient-and-filter($color-top, $color-bottom)
	background: $color-top /* old browsers */
	linear-gradient(to bottom, $color-top 0%, $color-bottom 100%) /* W3C */
	filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=%s, endColorstr=%s, gradientType=0)" % ($color-top $color-bottom) /* IE6-9 */


// Mixins defining gradients


standard-gradient($pathToRoot = "")
	// summary:
	//		Light to dark background-image used by widgets with short height (~16px) including:
	//			- MenuBar, and hovered MenuItem/MenuBarItem
	//			- arrow icon wrapper for Select, ComboBox, Spinner
	//			- Toolbar and hovered Toolbar buttons
	//			- TitlePane title bar, AccordionContainer title bar, Dialog title bar

	// Fallback for IE
	//background-image: url($pathToRoot + "images/standardGradient.png")
	//background-repeat: repeat-x

	// CSS gradient for other browsers
	//alpha-white-gradient((0.7 0%), (0 100%))

	// IE6 can't handle a background-image with transparency and a background-color the color is blocked out
	//_background-image: none

active-gradient($pathToRoot = "")
	// summary:
	//		Light to dark background-image with an inset gray shadow at the top,
	//		used by widgets when they are active (ie: mousedown) or selected, including:
	//			- active MenuItem/MenuBarItem
	//			- arrow icon wrapper for Select, ComboBox, Spinner when active or drop down is open
	//			- active Toolbar buttons
	//			- active TitlePane title bar, AccordionContainer title bar

	// Fallback for IE
	//background-image: url($pathToRoot + "images/activeGradient.png")
	//background-repeat: repeat-x

	// CSS gradient for other browsers
	//linear-gradient(rgba(190,190,190,0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%)

	// IE6 can't handle a background-image with transparency and a background-color the color is blocked out
	//_background-image: none


clearfix(when=after) {
	&:{when} {
		content: " "
		clear: both
		display: block
		height: 0px
	}
}

