@require "widgets/Calendar.styl"
@require "widgets/CheckBox.styl"
@require "widgets/ComboBox.styl"
@require "widgets/Image.styl"
@require "widgets/ImageUploader.styl"
@require "widgets/LabelPane.styl"
@require "widgets/MultiInput.styl"
@require "widgets/MultiObjectSelect.styl"
@require "widgets/MultiSelect.styl"
@require "widgets/MultiUploader.styl"
@require "widgets/NotificationsButton.styl"
@require "widgets/NotificationSnackbar.styl"
@require "widgets/Page.styl"
@require "widgets/RadioButton.styl"
@require "widgets/SearchBox.styl"
@require "widgets/SearchForm.styl"
@require "widgets/Select.styl"
@require "widgets/StandbyCircle.styl"
@require "widgets/TabController.styl"
@require "widgets/TitlePane.styl"
@require "widgets/Wizard.styl"
