@require "widgets/StandbyCircle.styl"
@require "widgets/LabelPane.styl"
@require "widgets/MultiSelect.styl"
@require "widgets/MultiObjectSelect.styl"
@require "widgets/Image.styl"
@require "widgets/ImageUploader.styl"
