.dojoDndAvatarHeader
	display: none

.dojoDndItem
	padding: 0
	// border: none !important


.dndPlaceholderHideout
	display: none

.portal__category__tiles--dnd.dojoDndSourceMoved
	&.dojoDndContainerOver
		.dojoDndItemAnchor,
		.dojoDndItemSelected
			display: none

.draggingCategory
	.portal__category__title--edit
		pointer-events: none
	.portal__category__tiles--dnd
		pointer-events: none
		// display: none

.categoryPlaceholer
	height: 2em
	border: 3px dashed grey
