// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

html
	font-size: var(--font-size-normal)

body
	font-family: 'Open Sans', sans-serif
	color: var(--font-color-contrast-high)

.h1
	font-size: var(--font-size-header1)
	line-height: var(--font-lineheight-header1)
	font-weight: 600

h1
	@extends .h1

.h2
	font-size: var(--font-size-header2)
	line-height: var(--font-lineheight-normal)
	font-weight: 600

h2, h3, h4, h5, h6
	@extends .h2
