// TODO generalize
$icon
	background-size: contain

.iconTabs
	@extends $icon
	background-image: url(icons/tabs_white.svg)

	.dijitToggleButtonChecked &
		background-image: url(icons/tabs_checked.svg)
.iconSearch
	@extends $icon
	background-image: url(icons/search_white.svg)

	.dijitToggleButtonChecked &
		background-image: url(icons/search_checked.svg)
.iconBell
	@extends $icon
	background-image: url(icons/bell_white.svg)

	.dijitToggleButtonChecked &
		background-image: url(icons/bell_checked.svg)
.iconMenu
	@extends $icon
	background-image: url(icons/menu_white.svg)

	.dijitToggleButtonChecked &
		background-image: url(icons/menu_checked.svg)
.iconGear
	@extends $icon
	background-image: url(icons/gear_white.svg)

	.dijitToggleButtonChecked &
		background-image: url(icons/gear_checked.svg)

.iconX
	@extends $icon
	background-image: url(icons/x_white.svg)

.iconEdit
	@extends $icon
	background-image: url(icons/edit_white.svg)

.iconUpload
	@extends $icon
	background-image: url(icons/upload_white.svg)

.iconTrash
	@extends $icon
	background-image: url(icons/trash_white.svg)

.iconPlus
	@extends $icon
	background-image: url(icons/plus_white.svg)

.iconCheck
	@extends $icon
	background-image: url(icons/check_white.svg)

.iconSave
	@extends $icon
	background-image: url(icons/save_white.svg)

.iconWarningTriangle
	@extends $icon
	background-image: url(icons/alert-triangle_white.svg)

.iconCheckCircle
	@extends $icon
	background-image: url(icons/check-circle_white.svg)
