.umcMultiSelect
	border-radius: 8px
	background: var(--color-grey8)
	font-family: inherit
	font-size: var(--font-size-small)

	th
		font-weight: normal

	.dojoxGridHeader
		background: @background

	.dojoxGridArrowButtonChar
		display: none

	.dojoxGridView
		border-top: 1px solid var(--color-grey0)

	.dojoxGridScrollbox
		background: var(--color-grey8)

	.dojoxGridRow
		border: none

	.dojoxGridCell
		background: var(--color-grey8)
		border: none
		outline: none

	.dojoxGridRowSelector
		outline: none

	.dojoxGridRowSelectorStatusText
		display: none

.umcMultiSelect:not(.umcMultiSelectWithContent),
.umcMultiSelectNoHeader
	.dojoxGridHeader
		display: none
