.umcLayoutRow
	display: flex
	align-items: center

.umcLabelPane
	padding: 0 0 1em 0
	display: inline-block

.umcLabelPaneLabelNode label
	font-size: var(--font-size-small)

.umcLabelPane-dijitCheckBox .dijitCheckBox
	margin-right: 0.5em


.umcSize-One,
.umcSize-FourThirds,
.umcSize-OneAndAHalf,
.umcSize-FiveThirds,
.umcSize-Two
	width: 100%
