#portal {
	min-height: 100%;
	overflow-x: hidden;
	/* Chrome,Safari4+ */
	background: url(images/background-tile.png) repeat, -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(179,179,179,1)), color-stop(31%, rgba(224,224,224,1)), color-stop(51%, rgba(240,240,240,1)), color-stop(61%, rgba(235,235,235,1)), color-stop(74%, rgba(224,224,224,1)), color-stop(100%, rgba(189,189,189,1)));
	/* Chrome10+,Safari5.1+ */
	background: url(images/background-tile.png) repeat, -webkit-linear-gradient(to right top, rgba(179,179,179,1) 0%, rgba(224,224,224,1) 31%, rgba(240,240,240,1) 51%, rgba(235,235,235,1) 61%, rgba(224,224,224,1) 74%, rgba(189,189,189,1) 100%);
	/* W3C */
	background: url(images/background-tile.png) repeat, unquote("linear-gradient(to right top, rgba(179,179,179,1) 0%, rgba(224,224,224,1) 31%, rgba(240,240,240,1) 51%, rgba(235,235,235,1) 61%, rgba(224,224,224,1) 74%, rgba(189,189,189,1) 100%)");
}

#portal .wrapper {
	margin-left: 50px;
	margin-right: 30px;
}

#portal .header {
	height: 45px;
	box-sizing: content-box;
}

#portal .headerLeft {
	float: left;
	height: 100%;
}

#portal .headerLeft h1 {
	margin: 0;
	padding-top: 7px;
	font-weight: bold;
	font-size: 2.5em;
}

#portal .headerRight {
	float: right;
	height: 100%;
}

#portal .headerRight .logo {
	/* display: inline-block; */
	float: right;
	height: 100%;
	width: 160px;
	background: url("/univention/js/dijit/themes/umc/images/univention.svg") no-repeat;
	background-position: center;
}

#portal .content {
	margin-top: 50px;
}

#portal .portalCategory {
	margin-bottom: 30px;
}

#portal .portalCategory:last-child {
	margin-bottom: 0;
}

#portal .portalCategory .title {
	font-size: 2.5em;
	line-height: 42px;
}

#portal .umcAppCenterGallery {
	overflow: visible;
	display: inline-block;
}

#portal .umcAppCenterGallery .dgrid-scroller {
	margin: 0;
}

#portal .umcGalleryWrapperItem {
	padding: 0;
	margin: 12px 40px 12px 0;
}

#portal .umcGalleryWrapperItem:last-child {
	margin-right: 0;
}

#portal .appInnerWrapper {
	background: url('portal-tile.svg');
	background-color: transparent;
}

#portal .appInnerWrapper .appContent {
	padding: 0.3em 0.6em;
	text-align: center;
}

#portal .boxShadow {
	width: 142px;
	height: 152px;
	position: absolute;
	background-color: white;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: box-shadow 0.4s;
}

#portal .boxShadow.bl {
	bottom: 0;
	left: 0;
}

#portal .boxShadow.tr {
	top: 0;
	right: 0;
}

#portal .boxShadow .hoverBackground {
	width: 142px;
	height: 70px;
	position: absolute;
	z-index: 1;
	transition: bottom 0.4s;
	bottom: -70px;
	background-image: linear-gradient(to bottom, #878787 0%, #6e6e6e 100%);
	background-color: #878787;
}

#portal .boxShadow.tr .hoverBackground {
	bottom: -83px;
}

#portal .umcGalleryWrapperItem.hover .boxShadow {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#portal .umcGalleryWrapperItem.hover .boxShadow .hoverBackground {
	bottom: 0 !important;
}

#portal .umcGalleryWrapperItem.hover .boxShadow.tr .hoverBackground {
	bottom: -13px !important;
}

#portal .umcGalleryWrapperItem.hover .contentWrapper {
	bottom: 0;
}

#portal .umcGalleryWrapperItem.hover .appIcon {
	opacity: 0.05;
}

#portal .appHover {
	background: none;
	transform: none;
	z-index: 1;
}

#portal .umcGalleryWrapperItem .contentWrapper {
	position: absolute;
	width: 100%;
	height: 140px;
	bottom: -70px;
	transition: bottom 0.4s;
}

#portal .umcGalleryWrapperItem .appIcon {
	width: 100%;
	height: 90px;
	position: absolute;
	background-size: contain;
	background-position: center center;
	z-index: 1;
	transition: opacity 0.4s;
}

#portal .umcGalleryWrapperItem {
	width: 155px;
	height: 165px;
}

#portal .search {
	float: right;
	height: 100%;
	width: 200px;
	transition: width 0.3s;
}

#portal .search.collapsed {
	width: 60px;
}

#portal .search .umcSearchBox {
	margin-top: 7px;
}

#portal .search.collapsed .umcSearchBox,
#portal .search.collapsed .umcSearchBox:before,
#portal .search.collapsed .umcSearchBox:after {
	border-color: transparent;
}

#portal .search.collapsed .dijitInputField {
	opacity: 0;
}

#portal .search .dijitInputField {
	transition: opacity 0.25s;
}

#portal .search .umcSearchIcon {
	transition: opacity 0.25s, right 0.25s;
}

#portal .search.collapsed .umcSearchIcon {
	right: 20px;
}
