/*
 * Copyright 2017 Univention GmbH
 *
 * http://www.univention.de/
 *
 * All rights reserved.
 *
 * The source code of this program is made available
 * under the terms of the GNU Affero General Public License version 3
 * (GNU AGPL V3) as published by the Free Software Foundation.
 *
 * Binary versions of this program provided by Univention to you as
 * well as other copyrighted, protected or trademarked materials like
 * Logos, graphics, fonts, specific documentations and configurations,
 * cryptographic keys etc. are subject to a license agreement between
 * you and Univention and not subject to the GNU AGPL V3.
 *
 * In the case you use this program under the terms of the GNU AGPL V3,
 * the program is provided in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License with the Debian GNU/Linux or Univention distribution in file
 * /usr/share/common-licenses/AGPL-3; if not, see
 * <http://www.gnu.org/licenses/>.
 */

.umc
	min-height: 100%
	/* Chrome,Safari4+ */
	background: url(../js/dijit/themes/umc/images/background-tile.png) repeat, -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(179,179,179,1)), color-stop(31%, rgba(224,224,224,1)), color-stop(51%, rgba(240,240,240,1)), color-stop(61%, rgba(235,235,235,1)), color-stop(74%, rgba(224,224,224,1)), color-stop(100%, rgba(189,189,189,1)))
	/* Chrome10+,Safari5.1+ */
	background: url(../js/dijit/themes/umc/images/background-tile.png) repeat, -webkit-linear-gradient(to right top, rgba(179,179,179,1) 0%, rgba(224,224,224,1) 31%, rgba(240,240,240,1) 51%, rgba(235,235,235,1) 61%, rgba(224,224,224,1) 74%, rgba(189,189,189,1) 100%)
	/* W3C */
	background: url(../js/dijit/themes/umc/images/background-tile.png) repeat, unquote("linear-gradient(to right top, rgba(179,179,179,1) 0%, rgba(224,224,224,1) 31%, rgba(240,240,240,1) 51%, rgba(235,235,235,1) 61%, rgba(224,224,224,1) 74%, rgba(189,189,189,1) 100%)")

	.wrapper
		margin-left: 50px
		margin-right: 30px

		.umcHeader
			box-sizing: content-box
			overflow: visible

			.umcHeaderLeft
				float: left
				height: 100%

				h1
					margin-top: 15px

			.umcHeaderRight
				float: right
				height: 100%
				margin-right: 0

				.logo
					/* display: inline-block */
					float: right
					height: 100%
					width: 160px
					background: url("/univention/js/dijit/themes/umc/images/univention.svg") no-repeat
					background-position: center

			.umcLiveSearch .dijitTextBox
					&:before,
					&:after,
					&
						border-color: #282828


		.content
			margin-top: 50px

			.portalCategory
				margin-bottom: 30px

				&:last-child
					margin-bottom: 0

				.umcAppCenterGallery
					overflow: visible
					display: inline-block

					.dgrid-scroller
						margin: 0

.umc.portal
	.umcGalleryWrapperItem
		width: 155px
		height: 165px
		padding: 0
		margin: 12px 40px 12px 0

		&:last-child
			margin-right: 0

		.umcGalleryItem,
		.umcGalleryItem:hover
			box-shadow: none

		.boxShadow
			width: 142px
			height: 152px
			position: absolute
			background-color: white
			border-radius: 10px
			overflow: hidden
			box-shadow: 0 1px 6px rgba(1,0,0,0.117647), 0 1px 4px rgba(0,1,0,0.117647)
			transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms

			.hoverBackground
				width: 142px
				height: 70px
				position: absolute
				z-index: 1
				transition: bottom 0.4s
				bottom: -70px
				background-image: linear-gradient(to bottom, #878787 0%, #6e6e6e 100%)
				background-color: #878787

			&.bl
				bottom: 0
				left: 0

			&.tr
				top: 0
				right: 0

				.hoverBackground
					bottom: -83px

		.appIcon
			width: 100%
			height: 80px
			margin: 5px 0
			position: absolute
			background-size: contain
			background-position: center center
			z-index: 1
			transition: opacity 0.4s

		.appInnerWrapper
			background: url('portal-tile.svg')
			background-color: transparent

			.contentWrapper
				position: absolute
				width: 100%
				height: 140px
				bottom: -70px
				transition: bottom 0.4s

				.appContent
					padding: 0.3em 0.6em
					text-align: center

				.appHover
					background: none
					transform: none
					z-index: 1

		&.hover
			.boxShadow
				.hoverBackground
					bottom: 0 !important

				&.tr
					.hoverBackground
						bottom: -13px !important;

			.contentWrapper
				bottom: 0

			.appIcon
				opacity: 0.05
		
		&:active
			.boxShadow
				box-shadow: 0 3px 10px rgba(1,0,0,0.156863), 0 3px 10px rgba(0,1,0,0.227451)
