.dijitTooltip
	&Above
		padding-bottom: var(--layout-spacing-unit)
	&Below
		padding-top: var(--layout-spacing-unit)
	&Left
		padding-right: var(--layout-spacing-unit)
	&Right
		padding-left: var(--layout-spacing-unit)

.dijitTooltipConnector
	display: none

.dijitTooltipContainer
	border: none
	color: var(--font-color-dark)
	background: rgba(255, 255, 255, 0.6)
	border-radius: 4px
	font-size: var(--font-size-small)
	padding: 0.5em
