.button
	--bgc: red
	background: var(--bgc)

	&Hover
		--bgc: blue

:root
	--color-primary:   #7AB51D
	--color-grey0:     #1E1E1D
	--color-grey0-rgb: red(@--color-grey0), green(@--color-grey0), blue(@--color-grey0)
	--color-grey8:     #333331
	--color-grey8-rgb: red(@--color-grey8), green(@--color-grey8), blue(@--color-grey8)
	--color-grey25:    #5F5F5C
	--color-grey40:    #868681
	--color-grey40-rgb: red(@--color-grey40), green(@--color-grey40), blue(@--color-grey40)
	--color-grey62:    #BDBDBB
	--color-white:     #FFF
	--color-black:     #000
	--color-error:     #DD042D
	--color-success:   #5C8916

	--bgc-content-header: var(--color-grey0)
	--bgc-content-body:   var(--color-grey8)

	// fonts
	--font-size-big:    28px
	--font-size-normal: 20px
	--font-size-small:  16px
	--font-size-header1: var(--font-size-big)
	--font-size-header2: var(--font-size-normal)
	--font-color-contrast-high: var(--color-white)
	--font-color-contrast-middle: var(--color-grey62)
	--font-color-contrast-low: var(--color-grey40)
	--font-color-dark: var(--color-black)
	--font-lineheight-normal: 1.5
	--font-lineheight-header1: 1.3


	// layout
	--layout-spacing-unit: 8px
	--layout-spacing-unit-small: 4px

	// buttons
	--button-icon-bgc-hover: rgba(255, 255, 255, 0.08)
	--button-icon-bgc-active: rgba(255, 255, 255, 0.12)
	--button-icon-bgc-transition: background-color 250ms
	--button-primary-bgc-hover: #8abe38
	--button-primary-bgc-active: #95c44a
	--button-primary-bgc-disabled: #5f5f5c

	--box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12)
