@import "Image.styl"
@import "Uploader.styl"
@import "ImageUploader.styl"

.dijitPopup
	box-shadow: var(--box-shadow)
	border-radius: 8px
	overflow: hidden // TODO maybe not

.dijitMenu
	border: none
	background: var(--color-grey0)

.dijitMenuPassive,
.dijitMenuItemHover,
.dijitMenuItemSelected
	background: var(--color-grey8)

.dijitMenuItem td
	padding: 0.1em 0.2em

.dijitMenuArrowCell > span
	display: flex
	align-items: center

	.dijitIcon
		background: url(icons/chevron-right_white.svg)
		width: 1em
		height: 1em
