Source: univention-snmpd
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.8.2
Build-Depends: debhelper,
 univention-config-dev,
 ucslint-univention

Package: univention-snmpd
Architecture: all
Depends: ${misc:Depends},
 univention-config,
 snmpd,
 snmp
Description: UCS - snmpd configuration
 This package contains the configuration for the
 snmpd package.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
