.portal-header__left {
	margin-left: -13px;
}
.portal-header__left-image {
	height: var(--font-size-2);
	width: var(--font-size-2);
}
.portal__background {
	background-position: bottom right;
}
.portal-folder__name, .portal-tile__name, .portal-category__title {
	color: var(--color-grey0);
}
.portal-folder__thumbnails--in-modal .portal-tile__name {
	color: var(--color-white);
}
#portalCategories > div[aria-live=assertive] h2 {
	color: var(--color-grey0);
}
